<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<div class="container" ng-hide="isCorporateActive()">
    <div class="bottom-block home-message" layout="column" layout-align="center center">
        <span>L'accès aux fonctionnalités de votre espace collaboratif n'est pas actif.</span>
        <span>Merci de vous adresser au contact opérationnel de votre espace.</span>
    </div>
</div>

<md-content>
    <div layout="row" class="pad-h-30 pad-v-45" md-colors="::{background : 'registre-background-50'}">
        <h1 md-colors="::{color : 'registre-primary-400'}" class="md-title md-title-big" flex="40">
            {{espaceName}}
        </h1>
    </div>
    <md-content layout="row" layout-align="center center" class="pad-h-50 pad-v-30 ng-scope _md md-registre-theme">
        <md-content layout="column" flex="80" class="pad-v-30">
            <span class="paragraph">
Sur cette page, vous pourrez très prochainement communiquer vos déclarations d’activités à la Haute Autorité. Celles-ci seront alors rendues publiques sur le  <a class="link" ng-href="{{lien_repertoire}}" target="_blank">répertoire numérique</a> en ligne. 
 
Pour toute demande de renseignements, merci d’envoyer un courriel à nos services à  <a class="link" ng-href="mailto:{{email_contact_repertoire}}">{{email_contact_repertoire}}</a>.<br>

            </span>
        </md-content>

    </md-content>

</md-content>