<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<md-content>

    <div layout="row" class="pad-h-30 pad-v-45">
        <h1 md-colors="::{color : 'registre-primary-400'}" class="md-title md-title-big" flex="40">
            Gestion des espaces collaboratifs
        </h1>
    </div>
    <md-content style="padding: 20px;">
        <md-button md-no-ink class="md-primary" ng-click="initTable()" ng-if="search" >Effacer les filtres</md-button>
        <md-subheader class="md-no-sticky" ng-hide="espaces.length > 0">Aucun espace organisation enregistré.
        </md-subheader>
        <md-table-container>
            <table md-table md-progress="espacesTableOptions.promise">
                <thead md-head  class="md-table-head"
                       md-colors="::{color: 'registre-background-50',background: 'registre-primary-400'}">
                <tr md-row>
                    <th md-column md-order-by="denomination">
                        <md-input-container>

                            <input placeholder="Dénomination ou nom d'usage" md-colors="::{color: 'registre-background-50'}"
                                   type="text"
                                   ng-model="denominationSearch"
                                   onclick="event.stopPropagation()"
                                   ng-keydown="$event.keyCode === 13 && callSearch('denomination')"
                            >
                        </md-input-container>
                    </th>
                    <th md-column md-order-by="identifiant">
                        <md-input-container>
                            <input placeholder="Identifiant" md-colors="::{color: 'registre-background-50'}" type="text"
                                   ng-model="identifiantSearch" onclick="event.stopPropagation()"
                                   ng-keydown="$event.keyCode === 13 && callSearch('identifiant')"
                            >
                        </md-input-container>
                    </th>
                    <th md-column md-order-by="contacts">
                        <md-input-container>
                            <input placeholder="Contact(s)" md-colors="::{color: 'registre-background-50'}"
                                   type="text"
                                   ng-model="contactsSearch"
                                   onclick="event.stopPropagation()"
                                   ng-keydown="$event.keyCode === 13 && callSearch('contacts')"
                            >
                        </md-input-container>
                    </th>
                    <th md-column md-order-by="creationDate">
                        <md-input-container>
                            <input placeholder="Date de création" md-colors="::{color: 'registre-background-50'}" md-colors="::{color: 'registre-background-50'}" type="text"
                                   ui-mask="99/99/9999" ui_mask_placeholder="__/__/____" ui-mask-placeholder-char="space"
                                   ng-pattern="/^((0[1-9]|[12][0-9]|3[01])[\/](0[1-9]|1[012])[\/](19|20)[0-‌​9]{2})$/"
                                   ng-model="creationDateSearch"
                                   onclick="event.stopPropagation()"
                                   ng-keydown="$event.keyCode === 13 && callSearch('creationDate')"
                            >
                        </md-input-container>
                    </th>
                    <th md-column md-order-by="validationDate">
                        <md-input-container>
                            <input placeholder="Date de validation" md-colors="::{color: 'registre-background-50'}" md-colors="::{color: 'registre-background-50'}" type="text"
                                   ui-mask="99/99/9999" ui_mask_placeholder="__/__/____" ui-mask-placeholder-char="space"
                                   ng-pattern="/^((0[1-9]|[12][0-9]|3[01])[\/](0[1-9]|1[012])[\/](19|20)[0-‌​9]{2})$/"
                                   ng-model="validationDateSearch"
                                   onclick="event.stopPropagation()"
                                   ng-keydown="$event.keyCode === 13 && callSearch('validationDate')"
                            >
                        </md-input-container>
                    </th>
                    <th md-column>
                        <md-input-container>
                            <md-select style="background-color: white;" md-colors="::{color: 'grey-A100'}" ng-model="statutSearch" placeholder="Statut" ng-change="statutChanged(statutSearch)" class="md-no-underline">
                                <md-option md-colors="::{color: 'grey-A200'}" ng-value="statut.code" ng-repeat="statut in statuts track by $index">{{statut.label}}</md-option>
                            </md-select>
                        </md-input-container>
                    </th>
                    <th md-colors="::{color: 'registre-background-50'}" md-column class="center"></th>
                </tr>
                </thead>
                <tbody md-body>
                <tr md-row
                    ng-repeat="e in espaces | filter: espacesTableOptions.filter"
                    ng-click="accessDetails($event, e)" class="back-office">
                    <td md-cell>{{e.nomUsage ? e.nomUsage : e.nomUsageHatvp ? e.nomUsageHatvp : e.denomination}}</td>
                    <td md-cell>{{e.identifiant}}</td>
                    <td md-cell>{{e.contacts}}</td>
                    <td md-cell>{{e.creationDate}}</td>
                    <td md-cell>{{e.validationDate }}</td>
                    <td md-cell>{{e.statut}}</td>
                    <td md-cell class="center">
                        <i class="material-icons" ng-if="e.locked">lock
                            <md-tooltip>verrouillé</md-tooltip>
                        </i>
                    </td>
                </tr>
                </tbody>
            </table>
            <md-table-pagination md-label="{{espacesTableOptions.labels}}"
                                 md-page="espacesTableOptions.page" md-limit="espacesTableOptions.limit"
                                 md-total="{{espaces.totalNumber}}"
                                 md-limit-options="espacesTableOptions.limitOptions"
                                 md-on-paginate="search ? onPaginateSearch : onPaginate"
                                 md-page-select></md-table-pagination>
        </md-table-container>
    </md-content>
</md-content>