<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<style>
md-backdrop {
	position: fixed;
}
</style>

<md-dialog aria-label="fiches pratiques"> 
	<md-dialog-content	md-autofocus>
		<div class="md-dialog-header"
			md-colors="::{background: 'registre-background-50'}" layout="row"
			layout-align="space-between start">
			<span class="md-title" md-colors="::{color: 'registre-primary-100'}">Fiche
				pratique</span>
		</div>
		<md-content layout="column">
		<fieldset class="standard">
			<p>Vous vous apprêtez à remplir une fiche d’activités.</p>
			<p>Nous vous invitons à prendre connaissance de notre fiche
				pratique relative à la déclaration de l’objet de cette fiche
				d’activités avant de commencer à déclarer.</p>
		</fieldset>
		</md-content> 
		<md-content layout="column" layout-margin>
			<form ng-cloak>
			
				<div class="md-dialog-content">
					<img style="margin: auto; max-width: 100%;" alt="Fiche Pratique1"
						ng-src="{{images_dir}}/fichePratique1.jpg"> <img
						style="margin: auto; max-width: 100%;" alt="Fiche Pratique2"
						ng-src="{{images_dir}}/fichePratique2.jpg">
					
						
						<md-content class="md-fab _md md-registre-theme layout-gt-sm-row layout-align-center-center flex" layout-gt-sm="row" layout-align="center center" flex="">
							<p>J’ai bien pris connaissance de ces éléments et je commence à	déclarer</p>
							<md-button md-colors="::{background: 'registre-primary-A700'}"
								class="md-fab  md-primary md-hue-3" aria-label="retour"
								ng-click="closeGuidelines(exercice)"> <md-icon
								md-svg-icon="{{images_dir}}/icons/ic_edit.svg"
								style="fill: white;"></md-icon> 
								</md-button> 
							</md-content> 
			
				</div>
			</form>
		</md-content> 
	</md-dialog-content> 
</md-dialog>