<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<div class="container" ng-hide="isCorporateActive()">
    <div class="bottom-block home-message" layout="column" layout-align="center center">
        <span>L'accès aux fonctionnalités de votre espace collaboratif n'est pas actif.</span>
        <span>Merci de vous adresser au contact opérationnel de votre espace.</span>
    </div>
</div>

<md-content>
    <div layout="row" class="pad-h-30 pad-v-45" md-colors="::{background : 'registre-background-50'}">
        <h1 md-colors="::{color : 'registre-primary-400'}" class="md-title md-title-big" flex="40">
            {{espaceName}}
        </h1>
        <span ng-if="satutDesinscription == 'DEMANDEE'" style="color:red;">Demande de désinscription en cours de traitement</span>
        <span ng-if="satutDesinscription == 'VALIDEE'" style="color:red;">Désinscription validée HATVP</span>
        <span ng-if="satutDesinscription == 'DESINSCRIT'" style="color:red;">Désinscrit</span>
    </div>  

    <md-nav-bar md-selected-nav-item="currentNavItem">
        <md-nav-item md-nav-sref="rapports.declaration" name="declaration">Description des activités</md-nav-item>
        <md-nav-item md-nav-sref="rapports.moyens" name="moyens">Moyens alloués à la Représentation d'intérêts</md-nav-item>
    </md-nav-bar>

    <div class="pad-h-30 pad-v-45" >
        <span ui-view={{currentNavItem}}></span>
    </div>

</md-content>