<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<md-content flex>
    <md-subheader class="md-no-sticky">Profil</md-subheader>
    <md-list >
        <md-divider></md-divider>
        <md-list-item ui-sref="userdata">
            <p>Données personnelles</p>
            <md-icon class="md-secondary" md-svg-icon={{images_dir + "/icons/ic_format_list_bulleted_black_24px.svg"}}></md-icon>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item ng-click="logout()">
            <p>Déconnexion</p>
            <md-icon class="md-secondary" md-svg-icon={{images_dir + "/icons/ic_vertical_align_top_black_24px.svg"}}></md-icon>
        </md-list-item>
        <md-divider></md-divider>
    </md-list>
</md-content>