<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title th:remove="all">Répertoire</title>
    <style>
        body {
            font-family: Arial, Helvetica, Tahoma, sans-serif;
            font-size: 16px;
        }

        pre {
            font-family: Arial, Helvetica, Tahoma, sans-serif;
            font-size: 12px;
        }
    </style>
</head>

<body style="line-height: 1.2">
<table width="780" border="0" align="center" cellpadding="0" cellspacing="0">
    <tbody>
    <tr>
        <td align="left" valign="top" style="background: rgb(27, 43, 75); height: 6px;"></td>
    </tr>
    <tr>
        <td align="center" valign="top" bgcolor="#f1f69d"
            style="background-color: rgb(250,250,250);color:#000000;padding:10px;border-left: 4px solid rgb(27, 43, 75);border-right: 4px solid rgb(27, 43, 75);">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-size: 12px;margin-top:10px;">
                <tbody>
                <tr>
                    <td align="left" valign="top" style="color:#525252;">
                        <img src="logo.png" th:src="|cid:${imageResourceName}|" height="100px"
                             style="margin-left:10px;padding: 20px;" align="right"/>
                        <div>
                            <p style="margin-bottom: 25px"><span th:text="${civilite}">Civilité</span>,</p>

                            <p>Ce mail est adressé aux surveillants suivants:
                                <th:block th:each="surveillant : ${listSurveillant}">
                                    <span th:text="${surveillant}"></span>
                                </th:block>
                            </p>

                            <p>Une <span th:text="${actePrimaire}">type d'acte primaire</span> (<span
                                th:text="${acteSecondaire}">type d'acte secondaire</span>) a été observée le
                                <span th:text="${date}">JJ-MM-AAAA à HH:MM</span> pour l'organisation <span
                                    th:text="${denomination}">ORGA</span>
                                (<span th:text="${nomUsage != null} ? ${nomUsage} + ' ,'">NOM D'USAGE</span><span
                                    th:text="${idNational}">IDENTIFIANT</span>).</p>

                            <p style="margin-top: 25px" th:if="${denominationClient != null}"> Nom client ajouté: <span
                                th:text="${denominationClient}">dénomination client</span></p>
                            <p style="margin-top: 25px" th:if="${denominationCommeTiers != null}"> Nom de l'organisation
                                responsable de l'ajout comme client: <span th:text="${denominationCommeTiers}">dénomination ajout comme client</span>
                            </p>
                            
							
							<div style="page-break-after: always;" th:if="${activite != null}" class="activite">

                                <p style="text-transform:uppercase;font-size:18px; font-weight:bold;"
                                   th:text=" ${activite.objet}"></p>
                                <table>
                                    <tr>
                                        <td th:text="'Code : '+ ${activite.idFiche}" style="font-size:12px;"></td>
                                    </tr>
                                    <tr>
                                        <td th:text="'Statut : ' + ${activite.statut}" style="font-size:12px;"></td>
                                    </tr>
                                </table>
                                <br/>
                                <div>
                                    <br>
                                    Domaine(s) d'intervention :
                                    <ul style="list-style-type: none">
                                        <li th:each="domaine : ${activite.domaines}">
                                            <ul>
                                                <li th:each="subDomaine : ${domaine.value}"
                                                    th:text="${subDomaine+' ('+domaine.key+')'}">
                                            </ul>
                                        </li>
                                    </ul>
                                </div>

                                <div th:each="action,iterStat : ${activite.actions}" class="action">

                                    <div style="border-top:1px solid black;" th:text="'Bénéficiaire(s) : '"></div>
                                    <span th:each="tier, iterStat : ${action.tiers}"
                                          th:text="!${iterStat.last} ? ${tier} + ', ' : ${tier}"></span>
                                    <br/>
                                    <div>

                                    </div>
                                    <br/>

                                    <div>
                                        Responsable(s) public(s) :
                                        <ul style="list-style-type: square">
                                            <li th:each="responsable : ${action.reponsablesPublics}">
                                                <div th:text="${responsable.key}"></div>
                                                <ul>
                                                    <li th:each="subResponsable : ${responsable.value}"
                                                        th:text="${subResponsable}">
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>

                                    <div>
                                        Décision(s) concernée(s) :
                                        <ul>
                                            <li th:each="decision : ${action.decisionsConcernees}"
                                                th:text="${decision}"/>
                                        </ul>
                                    </div>

                                    <div>
                                        Action(s) menée(s) :
                                        <ul>
                                            <li th:each="act : ${action.actionsMenees}" th:text="${act}"/>
                                        </ul>
                                    </div>

                                    <div th:each="observation : ${action.observation}"
                                         th:text="'Observations : ' + ${observation}"></div>
                                    <br/>

                                </div>
                            </div>
                            <p th:if="${motif != null && motif != ''}"  style="margin-top: 25px">Motif de la surveillance: <span th:text="${motif}">motif surveillance</span>
                            </p>
                        </div>
                        <div style="width: 25%">&nbsp;</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td align="left" valign="top" bgcolor="#478730" style="background-color: rgb(27, 43, 75);">
            <table width="100%" border="0" cellspacing="0" cellpadding="15">
                <tbody>
                <tr style="text-align: center">
                    <td align="left" valign="top" style=" text-align: center; color:#ffffff;">
                        <a href="https://repertoire.hatvp.fr/"
                           style="font-size:13px; color:#ffffff; text-decoration: none;">repertoire.hatvp.fr</a>
                    </td>
                    <td>&nbsp;</td>
                    <td>
                        <a href="mailto:repertoire@hatvp.fr"
                           style="color:#ffffff; font-size:13px; text-decoration: none">repertoire@hatvp.fr</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>