<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<md-dialog aria-label="Modification du compte utilisateur" flex="70">

    <md-dialog-content>
        <div class="md-dialog-header" md-colors="::{background: 'registre-background-50'}" layout="row"
             layout-align="space-between start">
                <span class="md-title"
                      md-colors="::{color: 'registre-primary-100'}">Formulaire incomplet</span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-icon="{{images_dir}}/icons/cross.svg" aria-label="Close dialog"></md-icon>
                <md-tooltip md-direction="bottom">Fermer</md-tooltip>
            </md-button>
        </div>
        <div style="overflow-x: hidden">
            <p>Il semble que vous n’ayez pas précisé le ou les éléments obligatoires suivants :</p>
            <md-list ng-cloak>
                <md-list-item ng-if="errors.categOrga">
                    <p>&bull; le type de votre organisation{{ errorsIndex[countErrors-1] === 'categOrga' ? '.'
                        : ' ;'}}</p>
                </md-list-item>
                <md-list-item ng-if="errors.dirigeants">
                    <p>&bull; le ou les dirigeants de votre organisation{{ errorsIndex[countErrors-1] === 'dirigeants' ? '.'
                        : ' ;'}}</p>
                </md-list-item>
                <md-list-item ng-if="errors.collaborateurs">
                    <p>&bull; la ou les personnes physiques en charge de l’activité de représentation d’intérêts pour votre
                        organisation{{ errorsIndex[countErrors-1] === 'collaborateurs' ? '.' : ' ;'}}</p>
                </md-list-item>
                <md-list-item ng-if="errors.clients">
                    <p>&bull; les clients ou mandants pour lesquels vous avez réalisé des actions de représentation
                        d’intérêts{{ errorsIndex[countErrors-1] === 'clients' ? '.' : ' ;'}}</p>
                </md-list-item>
                <md-list-item ng-if="errors.associations">
                    <p>&bull; les organisations professionnelles ou syndicales ou les associations en lien avec les intérêts
                        que représentent votre organisation{{ errorsIndex[countErrors-1] === 'associations' ? '.' :
                        ' ;'}}</p>
                </md-list-item>
                <md-list-item ng-if="errors.activites">
                    <p>&bull; le champ des activités de représentation d’intérêts de votre organisation{{
                        errorsIndex[countErrors-1] === 'activites' ? '.' : ' ;'}}</p>
                </md-list-item>
            </md-list>
            <p>Nous vous invitons à les modifier dans votre espace contribution. Dans le cas où vous n’auriez pas les
                droits suffisants pour accéder à cet espace, merci de vous adresser à votre contact opérationnel ou à un
                contributeur.</p>
        </div>

    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button flex="50"
                   md-colors="::{background: 'registre-background-50', color: 'registre-primary-400'}"
                   type="submit" layout="row" layout-align="center center" class="md-raised md-primary"
                   ng-click="cancel()">
            Annuler
        </md-button>
        <md-button flex="50" ng-click="redirectToEdit($event)"
                   md-colors="::{background: 'registre-primary-400', color: 'registre-background-50'}"
                   type="submit" layout="row" layout-align="center center" class="md-raised md-primary">
            Modifier mes informations
        </md-button>
    </md-dialog-actions>
</md-dialog>