<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<md-content>
    <md-content layout="column" layout-padding>
    <!--NOTICE-->
        <md-content layout="column" >
            <fieldset class="pad-h-5 pad-v-5 paragraph">
                ATTENTION : 
                <br/><br/>dernière étape avant publication afin de publier votre "espace / vos mises à jour" sur le répertoire 
                public des représentants d'intérêts, nous vous invitons à lire attentivement le récapitulatif ci-dessous.
                <br/><br/>
                <span style="color: rgb(104,170,247);font-weight: 1000;">Une fois en bas de page, en attestant la validité des informations le bouton "publier ces informations à la Haute Autorité" s'activera.</span>
                <br/><br/>
                La publication des éléments se fait dans un délai de 60 minutes maximum, vous pouvez vérifier votre publication 
                sur le répertoire (<a class="link" target="_blank" ng-href="{{lien_repertoire}}">hatvp.fr</a>)
                <br/><br/>
                Pour rappel : seul le(s) contact(s) opérationnel(s) et les déclarants disposant du rôle de "publicateur" 
                sont en capacité de publier, assurez-vous de disposer de ces rôles.
            </fieldset>
        </md-content>        
    </md-content>

    <md-divider></md-divider>

    <md-content layout-padding layout="column">
        <!--Dirigeants-->
        <md-content class="pub_ie_bloc">
            <div style="text-align: center;"><h2>Nos dirigeants</h2></div>
            <div layout="row">
                <div flex="30"><span style="margin-left:9px"
                                     ng-if="oldPublication">{{oldDirigeants.length > 0 ? 'Publication du ' + dateDeCreation : 'Aucun contenu à la dernière publication.'}}</span>
                </div>
                <div flex="70"><span class="pub_ie_text_right" style="margin-right:9px"
                                     ng-if="oldPublication">Publication à venir</span></div>
            </div>
            <div flex layout="column" layout-gt-md="row">
                <md-card class="pub-min-card" flex>
                    <md-card-content>
                        <ng-include flex="100" src="block.dirigeant.ancien"
                                    style="display: block"></ng-include>
                    </md-card-content>
                </md-card>
                <md-card class="pub-min-card" flex>
                    <md-card-content>
                        <ng-include flex="100" src="block.dirigeant.nouveau"
                                    style="display: block"></ng-include>
                    </md-card-content>
                </md-card>
            </div>
            <div layout="row" class="pub_ie_text_right">
                <span flex></span>
                <md-switch ng-model="dirigeant.active" aria-label="Afficher les différences"
                           ng-change="compareArrays(oldDirigeants, newDirigeants, 1)">
                    Afficher les différences
                </md-switch>
            </div>
        </md-content>

        <!--Collaborateurs-->
        <md-divider></md-divider>
        <md-content class="pub_ie_bloc">
            <div style="text-align: center;"><h2>Notre équipe</h2></div>
            <div layout="row">
                <div flex="30"><span style="margin-left:9px" ng-if="oldPublication">{{oldCollaborateurs.length > 0 ? 'Publication du ' + dateDeCreation : 'Aucun contenu à la dernière publication.'}}</span>
                </div>
                <div flex="70"><span class="pub_ie_text_right" style="margin-right:9px" ng-if="oldPublication">Publication à venir</span>
                </div>
            </div>
            <div flex layout="column" layout-gt-md="row">
                <md-card class="pub-min-card" flex>
                    <md-card-content>
                        <ng-include flex="100" src="block.collaborateur.ancien"
                                    style="display: block"></ng-include>
                    </md-card-content>
                </md-card>
                <md-card class="pub-min-card" flex>
                    <md-card-content>
                        <ng-include flex="100" src="block.collaborateur.nouveau"
                                    style="display: block"></ng-include>
                    </md-card-content>
                </md-card>
            </div>
            <div layout="row" class="pub_ie_text_right">
                <span flex></span>
                <md-switch ng-model="collaborateur.active" aria-label="Afficher les différences"
                           ng-change="compareArrays(oldCollaborateurs, newCollaborateurs, 2)">
                    Afficher les différences
                </md-switch>
            </div>
        </md-content>

        <!--client-->
        <md-divider></md-divider>
        <md-content class="pub_ie_bloc">
            <div style="text-align: center;"><h2>Nos mandants et clients</h2></div>
            <div layout="row">
                <div flex="30"><span style="margin-left:9px"
                                     ng-if="oldPublication">{{oldClients.length > 0 ? 'Publication du ' + dateDeCreation : 'Aucun contenu à la dernière publication.'}}</span>
                </div>
                <div flex="70"><span class="pub_ie_text_right" style="margin-right:9px" ng-if="oldPublication">Publication à venir</span>
                </div>
            </div>
            <div flex layout="column" layout-gt-md="row">
                <md-card class="pub-min-card" flex>
                    <md-card-content>
                        <ng-include flex="100" src="block.client.ancien"
                                    style="display: block"></ng-include>
                    </md-card-content>
                </md-card>
                <md-card class="pub-min-card" flex>
                    <md-card-content>
                        <ng-include flex="100" src="block.client.nouveau" style="display: block"></ng-include>
                    </md-card-content>
                </md-card>
            </div>
            <div layout="row" class="pub_ie_text_right">
                <span flex></span>
                <md-switch ng-model="client.active" aria-label="Afficher les différences"
                           ng-change="compareArrays(oldClients, newClients, 3)">
                    Afficher les différences
                </md-switch>
            </div>
        </md-content>

        <!--Associations-->
        <md-divider></md-divider>
        <md-content class="pub_ie_bloc">
            <div style="text-align: center;"><h2>Nos affiliations</h2></div>
            <div layout="row">
                <div flex="30"><span style="margin-left:9px"
                                     ng-if="oldPublication">{{oldAssociations.length > 0 ? 'Publication du ' + dateDeCreation : 'Aucun contenu à la dernière publication.'}}</span>
                </div>
                <div flex="70"><span class="pub_ie_text_right" style="margin-right:9px" ng-if="oldPublication">Publication à venir</span>
                </div>
            </div>
            <div flex layout="column" layout-gt-md="row">
                <md-card class="pub-min-card" flex>
                    <md-card-content>
                        <ng-include flex="100" src="block.association.ancien"
                                    style="display: block"></ng-include>
                    </md-card-content>
                </md-card>
                <md-card class="pub-min-card" flex>
                    <md-card-content>
                        <ng-include flex="100" src="block.association.nouveau" style="display: block"></ng-include>
                    </md-card-content>
                </md-card>
            </div>
            <div layout="row" class="pub_ie_text_right">
                <span flex></span>
                <md-switch ng-model="association.active" aria-label="Afficher les différences"
                           ng-change="compareArrays(oldAssociations, newAssociations, 4)">
                    Afficher les différences
                </md-switch>
            </div>
        </md-content>

        <!--Activite-->
        <md-divider></md-divider>
        <md-content class="pub_ie_bloc">
            <div style="text-align: center;"><h2>Le champ de nos activités</h2></div>
            <div layout="row">
                <div flex="30"> <span style="margin-left:9px"
                                      ng-if="oldPublication">{{oldNiveauIntervention.length > 0 || oldSecteurActivite.length > 0 ?
                            'Publication du ' + dateDeCreation : 'Aucun contenu à la dernière publication.'}}</span>
                </div>
                <div flex="70"><span class="pub_ie_text_right" style="margin-right:9px" ng-if="oldPublication">Publication à venir</span>
                </div>
            </div>
            <div flex layout="column" layout-gt-md="row">
                <md-card class="pub-min-card" flex>
                    <md-card-content>
                        <ng-include flex="100" src="block.activite.ancien" ng-hide="oldNiveauIntervention.length <= 0 &&
                                    oldSecteurActivite.length <= 0" style="display: block"></ng-include>
                    </md-card-content>
                </md-card>
                <md-card class="pub-min-card" flex>
                    <md-card-content>

                        <ng-include flex="100" src="block.activite.nouveau" style="display: block"></ng-include>
                    </md-card-content>
                </md-card>
            </div>
            <div layout="row" class="pub_ie_text_right">
                <span flex></span>
                <md-switch ng-model="activite.active" ng-change="compareActivityArrays();"
                           aria-label="Afficher les différences">
                    Afficher les différences
                </md-switch>
            </div>
        </md-content>

        <!--Profil-->
        <md-divider></md-divider>
        <md-content class="pub_ie_bloc">
            <div style="text-align: center;"><h2>Profil de l'organisation</h2></div>
            <div layout="row">
                <div flex="30"><span style="margin-left:9px" ng-if="oldPublication">{{oldPublication.categorieOrganisation ||
                                    oldPublication.denomination ||
                                    oldPublication.identifiantNational ||
                                    oldPublication.typeIdentifiantNational ?
                    'Publication du '+ dateDeCreation : 'Aucun contenu à la dernière publication.'}}</span>
                </div>

                <div flex="70"><span class="pub_ie_text_right" style="margin-right:9px" ng-if="oldPublication">Publication à venir</span>
                </div>
            </div>
            <div flex layout="column" layout-gt-md="row">
                <md-card class="pub-min-card" flex>
                    <md-card-content>
                        <ng-include flex="100" src="block.profil.ancien" ng-hide="oldPublication.categorieOrganisation === '' &&
                                    oldPublication.denomination === '' &&
                                    oldPublication.identifiantNational === '' &&
                                    oldPublication.typeIdentifiantNational === ''"
                                    style="display: block"></ng-include>
                    </md-card-content>
                </md-card>
                <md-card class="pub-min-card" flex>
                    <md-card-content>

                        <ng-include flex="100" src="block.profil.nouveau" style="display: block"></ng-include>
                    </md-card-content>
                </md-card>
            </div>
            <div layout="row" class="pub_ie_text_right">
                <span flex></span>
                <md-switch ng-model="profil.active" aria-label="Afficher les différences">
                    Afficher les différences
                </md-switch>
            </div>
        </md-content>

        <!--Localisation-->
        <md-divider></md-divider>
        <md-content class="pub_ie_bloc">
            <div style="text-align: center;"><h2>Localisation</h2></div>
            <div layout="row">
                <div flex="30"><span style="margin-left:9px" ng-if="oldPublication">{{oldPublication.adresse ||
                                    oldPublication.codePostal ||
                                    oldPublication.ville ||
                                    oldPublication.pays ?
                    'Publication du '+ dateDeCreation : 'Aucun contenu à la dernière publication.'}}</span>
                </div>
                <div flex="70"><span class="pub_ie_text_right" style="margin-right:9px" ng-if="oldPublication">Publication à venir</span>
                </div>
            </div>
            <div flex layout="column" layout-gt-md="row">
                <md-card class="pub-min-card" flex>
                    <md-card-content>
                        <ng-include flex="100" src="block.localisation.ancien" ng-hide="
                                    oldPublication.adresse === '' &&
                                    oldPublication.codePostal === '' &&
                                    oldPublication.ville === '' &&
                                    oldPublication.pays === ''"
                                    style="display: block"></ng-include>
                    </md-card-content>
                </md-card>
                <md-card class="pub-min-card" flex>
                    <md-card-content>
                        <ng-include flex="100" src="block.localisation.nouveau"
                                    style="display: block"></ng-include>
                    </md-card-content>
                </md-card>
            </div>
            <div layout="row" class="pub_ie_text_right">
                <span flex></span>
                <md-switch ng-model="localisation.active" aria-label="Afficher les différences">
                    Afficher les différences
                </md-switch>
            </div>
        </md-content>

        <!--Contact-->
        <md-divider></md-divider>
        <md-content class="pub_ie_bloc">
            <div style="text-align: center;"><h2>Informations de contact</h2></div>
            <div layout="row">
                <div flex="30"><span style="margin-left:9px" ng-if="oldPublication">
                    {{oldPublication.telephoneDeContact || oldPublication.emailDeContact ?
                    'Publication du '+ dateDeCreation : 'Aucun contenu à la dernière publication.'}}</span>
                </div>
                <div flex="70"><span style="margin-right:9px" class="pub_ie_text_right" ng-if="oldPublication">Publication à venir</span>
                </div>
            </div>
            <div flex layout="column" layout-gt-md="row">
                <md-card class="pub-min-card" flex>
                    <md-card-content>
                        <ng-include flex="100" src="block.contact.ancien" ng-hide="oldPublication.telephoneDeContact === ''
                        && oldPublication.emailDeContact === ''" style="display: block">
                        </ng-include>
                    </md-card-content>
                </md-card>
                <md-card class="pub-min-card" flex>
                    <md-card-content>

                        <ng-include flex="100" src="block.contact.nouveau" style="display: block"></ng-include>
                    </md-card-content>
                </md-card>
            </div>
            <div layout="row" class="pub_ie_text_right">
                <span flex></span>
                <md-switch ng-model="contact.active" aria-label="Afficher les différences">
                    Afficher les différences
                </md-switch>
            </div>
        </md-content>

        <!--Internet-->
        <md-divider></md-divider>
        <md-content class="pub_ie_bloc">
            <div style="text-align: center;"><h2>Internet et réseaux sociaux</h2></div>
            <div layout="row">
                <div flex="30"><span style="margin-left:9px"
                                     ng-if="oldPublication">{{oldPublication.lienSiteWeb ||
                                    oldPublication.lienPageTwitter ||
                                    oldPublication.lienPageLinkedin ||
                                    oldPublication.lienPageFacebook ?
                    'Publication du '+ dateDeCreation : 'Aucun contenu à la dernière publication.'}}</span>
                </div>
                <div flex="70"><span style="margin-right:9px" class="pub_ie_text_right" ng-if="oldPublication">Publication à venir</span>
                </div>
            </div>
            <div flex layout="column" layout-gt-md="row">
                <md-card flex>
                    <md-card-content>
                        <ng-include flex="100" src="block.internet.ancien" ng-hide="oldPublication.lienSiteWeb === '' &&
                                    oldPublication.lienPageTwitter === '' &&
                                    oldPublication.lienPageLinkedin === '' &&
                                    oldPublication.lienPageFacebook === ''"
                                    style="display: block"></ng-include>
                    </md-card-content>
                </md-card>
                <md-card flex>
                    <md-card-content>
                        <ng-include flex="100" src="block.internet.nouveau" style="display: block"></ng-include>
                    </md-card-content>
                </md-card>
            </div>
            <div layout="row" class="pub_ie_text_right">
                <span flex></span>
                <md-switch ng-model="internet.active" aria-label="Afficher les différences">
                    Afficher les différences
                </md-switch>
            </div>
        </md-content>
        <!--checkbox validation-->
        <md-divider></md-divider>
        <div class="copy-md-checkbox" style="margin: auto; padding:2px;" ng-if="isPublisher()">
            <label layout="center" layout-align="center center" style="max-width: 100%;">
                <input type="checkbox" id="check" ng-model="checkBasPage" ng-click="modificationEtatBoutonPublication()">
                <span class="checkbox"></span>
                J’atteste que toutes mes informations sont à jour.
            </label>               
        </div>

    </md-content>
</md-content>
