<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<div class="container" ng-hide="isCorporateActive()">
    <div class="bottom-block home-message" layout="column" layout-align="center center">
        <span>L’accès aux fonctionnalités de votre espace collaboratif n'est pas actif.</span>
        <span>Merci de vous adresser au contact opérationnel de votre espace.</span>
    </div>
</div>

<md-content id="synthese" scroll>
    <div layout="row" class="pad-h-30 pad-v-45" md-colors="::{background : 'registre-background-50'}">
        <h1 md-colors="::{color : 'registre-primary-400'}" class="md-title md-title-big" flex="60">
            {{espaceName}}
        </h1>
    </div>

    <md-tabs md-selected="data.selectedIndex" md-align-tabs="top" md-dynamic-height md-border-bottom>
        <md-tab ng-disabled="!isCorporateActive()">
            <md-tab-label>Nos données à publier</md-tab-label>
            <md-tab-body>
                <md-content class="pad-h-50 pad-v-30">
                    <ng-include src="block.tab.identite"></ng-include>
                </md-content>
            </md-tab-body>
        </md-tab>
    </md-tabs>

    <md-button id="floatyPublication2" ng-if="isContributor() && canUpdateAndPublish()" ui-sref="identite"
            md-colors="{background: 'registre-primary-50', color: 'registre-background-50'}"
            aria-label="Publication" class="md-raised md-primary md-cornered" layout="row" layout-align="space-around center"
            style="z-index:1;">
        <span>Modifier ces informations</span> 
    </md-button>
    
    <md-button id="floatyPublication" ng-if="isPublisher()" ng-click="publier($event)"
               md-colors="checkBasPage ? {background: 'registre-primary-50', color: 'registre-background-50'} : {background: 'registre-background-800', color: 'registre-primary-100'}"
            aria-label="Publication" class="md-raised md-primary md-cornered" layout="row" layout-align="space-around center"
            style="z-index:1;" ng-disabled="!checkBasPage">
            <md-tooltip md-direction="bottom" ng-if="!checkBasPage">Merci de d'attester que toutes les informations ci-dessous sont à jour
            </md-tooltip>
        <span>Publier ces informations à la Haute Autorité</span>
    </md-button>
</md-content>