<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<div class="container" ng-hide="isCorporateActive()">
    <div class="bottom-block home-message" layout="column" layout-align="center center">
        <span>L’accès aux fonctionnalités de votre espace collaboratif n'est pas actif.</span>
        <span>Merci de vous adresser au contact opérationnel de votre espace.</span>
    </div>
</div>

<md-content>
    <md-content md-colors="::{background : 'registre-background-50'}" class="pad-h-30 pad-v-15">
        <div layout="row">
            <h1 md-colors="::{color : 'registre-primary-400'}" class="md-title md-title-big" flex="60">
                {{espaceName}}
            </h1> 
            <span ng-if="satutDesinscription == 'DEMANDEE'" style="color:red;">Demande de désinscription en cours de traitement</span>
            <span ng-if="satutDesinscription == 'VALIDEE'" style="color:red;">Désinscription validée HATVP</span>
            <span ng-if="satutDesinscription == 'DESINSCRIT'" style="color:red;">Désinscrit</span>
            <md-content flex="40" style="margin-top:70px;" ng-if="isCorporateActive() && isContributor() && corporate.statut.code === 'COMPLEMENT_DEMANDE_ENVOYEE'" layout-align="end" layout="row">
                <md-button ng-click="complement($event)" md-colors="::{background: 'registre-primary-50', color: 'registre-background-50'}"
                           aria-label="Verser les pièces manquantes"
                           class="md-primary pieces-complementaires-button" layout="row" layout-align="space-around center">
                    <md-icon md-svg-src="{{images_dir}}/icons/plus.svg" aria-label="Verser les pièces manquantes"></md-icon>
                    <span>Verser les pièces manquantes</span>
                </md-button>
            </md-content>
            <md-content flex="40" style="margin-top:70px;" ng-if="isCorporateActive() && isContributor() && corporate.statut.code === 'COMPLEMENTS_DEMANDE_DESINSCRIPTION'" layout-align="end" layout="row">
                <md-button ng-click="complementDesinscription($event)" md-colors="::{background: 'registre-primary-50', color: 'registre-background-50'}"
                           aria-label="Verser les pièces manquantes"
                           class="md-primary pieces-complementaires-button" layout="row" layout-align="space-around center">
                    <md-icon md-svg-src="{{images_dir}}/icons/plus.svg" aria-label="Verser les pièces manquantes"></md-icon>
                    <span>Verser les pièces manquantes</span>
                </md-button>
            </md-content>
        </div>
        <!-- Bouton 1ère publication -->
        <md-button id="floaty" ng-click="popUpInfoPublication(espaceName)" ng-if="!corporate.hasPublication"
                    md-colors="corporate.elementsAPublier && !currentCorporate().informationManquante ? {background: 'registre-primary-50', color: 'registre-background-50'} : {background: 'registre-background-800', color: 'registre-primary-100'}"
                   aria-label="Publication" class="md-raised md-primary md-cornered" layout="row" layout-align="space-around center"
                   ng-disabled="!corporate.elementsAPublier || currentCorporate().informationManquante" style="z-index:1;">
            <md-tooltip md-direction="bottom">Vous avez saisi des éléments, mais ceux-ci n'ont pas encore été communiqués à la Haute Autorité.
                Cliquez ci-dessus pour les communiquer.
            </md-tooltip>
            <span>Communiquer mes éléments à la Haute Autorité</span>
        </md-button>
        <!-- Bouton maj publication -->
        <md-button id="floaty" ui-sref="publicationIdentite" ng-if="corporate.hasPublication"
                    md-colors="corporate.elementsAPublier && !currentCorporate().informationManquante ? {background: 'registre-primary-50', color: 'registre-background-50'} : {background: 'registre-background-800', color: 'registre-primary-100'}"
                   aria-label="Publication" class="md-raised md-primary md-cornered" layout="row" layout-align="space-around center"
                   ng-disabled="!corporate.elementsAPublier || currentCorporate().informationManquante" style="z-index:1;">
            <md-tooltip md-direction="bottom">Vous avez saisi de nouveaux éléments, mais ceux-ci n'ont pas encore
                été communiqués à la Haute Autorité. Cliquez ci-dessus pour les communiquer.
            </md-tooltip>
            <span>Communiquer mes nouveaux éléments à la Haute Autorité</span>
        </md-button>
        <br/>
    </md-content>
    <md-tabs md-selected="selectedIndex" md-align-tabs="top" md-dynamic-height md-border-bottom>
        <md-tab ng-disabled="!isCorporateActive()">
            <md-tab-label>
                Fiche d'identité
                <span ng-show="currentCorporate().identiteIsValide" class="material-icons" style="color:green">done</span>
                <span ng-show="!currentCorporate().identiteIsValide" class="material-icons" style="color:red">clear</span>
            </md-tab-label>
            <md-tab-body>
                <md-content class="pad-h-50 pad-v-30">
                    <ng-include src="tabs_content.CORPORATE_INFORMATION"></ng-include>
                </md-content>
            </md-tab-body>
        </md-tab>
        <md-tab ng-disabled="!isCorporateActive()">
            <md-tab-label>
                Nos dirigeants
                <span ng-show="currentCorporate().dirigeantIsValide" class="material-icons" style="color:green">done</span>
                <span ng-show="!currentCorporate().dirigeantIsValide" class="material-icons" style="color:red">clear</span>
            </md-tab-label>
            <md-tab-body>
                <md-content class="pad-h-50 pad-v-30">
                    <ng-include src="tabs_content.DIRIGEANTS"></ng-include>
                </md-content>
            </md-tab-body>
        </md-tab>
        <md-tab ng-disabled="!isCorporateActive()">
            <md-tab-label>
                Notre équipe
                <span ng-show="currentCorporate().equipeIsValide" class="material-icons" style="color:green">done</span>
                <span ng-show="!currentCorporate().equipeIsValide" class="material-icons" style="color:red">clear</span>
            </md-tab-label>
            <md-tab-body>
                <md-content class="pad-h-50 pad-v-30">
                    <ng-include src="tabs_content.CORPORATE_COLLABORATORS"></ng-include>
                </md-content>
            </md-tab-body>
        </md-tab>
        <md-tab ui-sref="identite.initClient" ng-disabled="!isCorporateActive()">
            <md-tab-label>
                Nos mandants et clients
                <span ng-show="currentCorporate().clientIsValide" class="material-icons" style="color:green">done</span>
                <span ng-show="!currentCorporate().clientIsValide" class="material-icons" style="color:red">clear</span>
            </md-tab-label>
            <md-tab-body>
                <md-content class="pad-h-50 pad-v-30">
                    <div ui-view="client"></div>
                </md-content>
            </md-tab-body>
        </md-tab>
        <md-tab ui-sref="identite.initAssociation" ng-disabled="!isCorporateActive()">
            <md-tab-label>
                Nos affiliations
                <span ng-show="currentCorporate().affiliationIsValide" class="material-icons" style="color:green">done</span>
                <span ng-show="!currentCorporate().affiliationIsValide" class="material-icons" style="color:red">clear</span>
            </md-tab-label>
            <md-tab-body>
                <md-content class="pad-h-50 pad-v-30">
                    <div ui-view="association"></div>
                </md-content>
            </md-tab-body>
        </md-tab>
        <md-tab ng-disabled="!isCorporateActive()">
            <md-tab-label>
                Le champ de nos activités
                <span ng-show="currentCorporate().champActiviteIsValide" class="material-icons" style="color:green">done</span>
                <span ng-show="!currentCorporate().champActiviteIsValide" class="material-icons" style="color:red">clear</span>
            </md-tab-label>
            <md-tab-body>
                <md-content class="pad-h-50 pad-v-30">
                    <ng-include src="tabs_content.REPRESENTATION_INTERET"></ng-include>
                </md-content>
            </md-tab-body>
        </md-tab>
    </md-tabs>
</md-content>