<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<form name="passwordForm" ng-submit="editPassword()" novalidate>
    <md-dialog aria-label="Administration de déclarant">

        <md-dialog-content>
            <div class="md-dialog-header" md-colors="::{background: 'registre-background-50'}" layout="row"
                 layout-align="space-between start">
                <span class="md-title" md-colors="::{color: 'registre-primary-100'}">Modifier mon mot de passe</span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-icon="{{images_dir}}/icons/cross.svg" aria-label="Close dialog"></md-icon>
                    <md-tooltip md-direction="bottom">Fermer</md-tooltip>
                </md-button>
            </div>
            <md-content layout-padding>
                <md-input-container class="md-block">
                    <label>Veuillez saisir ici votre mot de passe actuel</label>
                    <input type="password" name="prev_password" ng-model="user.prev_password"
                           md-no-asterisk required md-autofocus>
                    <ng-messages for="passwordForm.prev_password.$error">
                        <ng-message when="required">Ce champ est obligatoire.</ng-message>
                    </ng-messages>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Veuillez saisir ici votre nouveau mot de passe</label>
                    <input type="password" name="password" ng-model="user.password" md-no-asterisk
                           minlength="8" ng-pattern="/^(?=.*?[a-zA-Z])(?=.*?[0-9]).{8,}$/" required>
                    <ng-messages for="passwordForm.password.$error">
                        <ng-message when="required">Ce champ est obligatoire.</ng-message>
                        <ng-message when="minlength">Le mot de passe doit contenir au moins 8 caractères, dont au moins
                            un chiffre et une lettre.
                        </ng-message>
                        <ng-message when="pattern">Le format votre mot de passe est incorrect. Il doit contenir au moins
                            un chiffre et une lettre.
                        </ng-message>
                    </ng-messages>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Veuillez confirmer ici votre nouveau mot de passe</label>
                    <input type="password" name="password2" ng-model="user.password2" md-no-asterisk
                           required password-verify="user.password">
                    <ng-messages for="passwordForm.password2.$error">
                        <ng-message when="required">Ce champ est obligatoire.</ng-message>
                        <ng-message when="passwordVerify">Les deux mots de passe saisis ne sont pas identiques.
                            Veuillez réessayer.
                        </ng-message>
                    </ng-messages>
                </md-input-container>
            </md-content>

            <md-dialog-actions layout="row" layout="center center">
                <md-button md-colors="::{background: 'registre-primary-400', color: 'registre-background-50'}"
                           type="submit" layout="row" layout-align="center center" class="md-raised md-primary"
                           ng-disabled="passwordForm.$invalid">
                    Enregistrer
                </md-button>
            </md-dialog-actions>
        </md-dialog-content>

    </md-dialog>
</form>