<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<md-table-container ng-show="oldAssociations.length > 0">
    <table md-table md-progress="progress">
        <thead md-head md-order="assocTableOptions.order" class="md-table-head"
               md-colors="::{color: 'registre-background-50',background: 'registre-primary-400'}">
        <tr md-row>
            <th md-column md-order-by="denomination">
                <md-input-container>
                    <input placeholder="Raison sociale" md-colors="::{color: 'registre-background-50'}"
                           type="text"
                           ng-model="assocTableOptions.filter.denomination"
                           onclick="event.stopPropagation()">
                </md-input-container>
            </th>
            <th md-column md-order-by="identifiantNational">
                <md-input-container>
                    <input placeholder="Identifiant" md-colors="::{color: 'registre-background-50'}"
                           type="text"
                           ng-model="assocTableOptions.filter.identifiantNational" onclick="event.stopPropagation()">
                </md-input-container>
            </th>
        </tr>
        </thead>
        <tbody md-body>
        <tr md-row id="association_old_{{$index}}"
            ng-repeat="c in oldAssociations |
    orderBy: assocTableOptions.order |
    filter: assocTableOptions.filter |
    limitTo: assocTableOptions.limit: (assocTableOptions.page - 1) * assocTableOptions.limit">
            <td md-cell>{{c.denomination}}</td>
            <td md-cell>{{c.identifiantNational}}</td>
        </tr>
        </tbody>
    </table>
    <md-table-pagination md-label="{{assocTableOptions.labels}}"
                         md-page="assocTableOptions.page" md-limit="assocTableOptions.limit"
                         md-total="{{oldAssociations.length}}"
                         md-limit-options="assocTableOptions.limitOptions"
                         md-page-select></md-table-pagination>
</md-table-container>