<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<md-subheader class="md-no-sticky" ng-hide="newAssociations.length > 0">Aucune organisation professionnelle
    enregistrée.
</md-subheader>
<md-table-container ng-show="newAssociations.length > 0">
    <table md-table md-progress="progress">
        <thead md-head md-order="newAssocTableOptions.order" class="md-table-head"
               md-colors="::{color: 'registre-background-50',background: 'registre-primary-400'}">
        <tr md-row>
            <th md-column md-order-by="denomination">
                <md-input-container>
                    <input placeholder="Raison sociale" md-colors="::{color: 'registre-background-50'}"
                           type="text"
                           ng-model="newAssocTableOptions.filter.denomination"
                           onclick="event.stopPropagation()">
                </md-input-container>
            </th>
            <th md-column md-order-by="identifiantNational">
                <md-input-container>
                    <input placeholder="Identifiant" md-colors="::{color: 'registre-background-50'}"
                           type="text"
                           ng-model="newAssocTableOptions.filter.identifiantNational" onclick="event.stopPropagation()">
                </md-input-container>
            </th>
        </tr>
        </thead>
        <tbody md-body>
        <tr md-row id="association_{{$index}}"
            ng-repeat="c in newAssociations |
    orderBy: newAssocTableOptions.order |
    filter: newAssocTableOptions.filter |
    limitTo: newAssocTableOptions.limit: (newAssocTableOptions.page - 1) * newAssocTableOptions.limit">
            <td md-cell>{{c.denomination}}</td>
            <td md-cell>{{c.identifiantNational}}</td>
        </tr>
        </tbody>
    </table>
    <md-table-pagination md-label="{{newAssocTableOptions.labels}}"
                         md-page="newAssocTableOptions.page" md-limit="newAssocTableOptions.limit"
                         md-total="{{newAssociations.length}}"
                         md-limit-options="newAssocTableOptions.limitOptions"
                         md-page-select></md-table-pagination>
</md-table-container>