<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<style>
    .center {
        text-align: center;
    }
</style>
<md-content>
    <md-content style="padding: 20px;">
        <md-subheader class="md-no-sticky" ng-hide="affiliations.length > 0">Aucune affiliation trouvée.
        </md-subheader>
        <md-table-container>
            <table md-table md-progress="affiliationsTableOptions.promise">
                <thead md-head md-order="affiliationsTableOptions.order" class="md-table-head"
                       md-colors="::{color: 'registre-background-50',background: 'registre-primary-400'}">
                <tr md-row>
                    <th md-column md-order-by="denomination">
                        <md-input-container>
                            <input placeholder="Dénomination" md-colors="::{color: 'registre-background-50'}"
                                   type="text"
                                   ng-model="affiliationsTableOptions.filter.denomination" onclick="event.stopPropagation()">
                        </md-input-container>
                        <md-tooltip class="custom-tooltip">Dénomination</md-tooltip>
                    </th>
                    <th md-column md-order-by="nationalId">
                        <md-input-container>
                            <input placeholder="Identifiant National" md-colors="::{color: 'registre-background-50'}"
                                   type="text"
                                   ng-model="affiliationsTableOptions.filter.nationalId" onclick="event.stopPropagation()">
                        </md-input-container>
                        <md-tooltip class="custom-tooltip">Identifiant National</md-tooltip>
                    </th>
                    <th md-column md-order-by="typeNationalId">
                        <md-input-container>
                            <input placeholder="Type de l'identifiant national" md-colors="::{color: 'registre-background-50'}"
                                   type="text"
                                   ng-model="affiliationsTableOptions.filter.typeNationalId" onclick="event.stopPropagation()">
                        </md-input-container>
                        <md-tooltip class="custom-tooltip">Type de l'identifiant national</md-tooltip>
                    </th>
                    <th md-column md-order-by="datePremierePublication">
                        <md-input-container>
                            <input placeholder="Date de publication" md-colors="::{color: 'registre-background-50'}"
                                   type="text"
                                   ng-model="affiliationsTableOptions.filter.datePremierePublication" onclick="event.stopPropagation()">
                        </md-input-container>
                        <md-tooltip class="custom-tooltip">Date de publication</md-tooltip>
                    </th>
                    <th md-column md-order-by="espaceOrganisationIdDeOrdganisation">
                        <md-input-container>
                            <input placeholder="Possède un espace" md-colors="::{color: 'registre-background-50'}"
                                   type="text"
                                   ng-model="affiliationsTableOptions.filter.espaceOrganisationIdDeOrdganisation" onclick="event.stopPropagation()">
                        </md-input-container>
                        <md-tooltip class="custom-tooltip">Possède un espace</md-tooltip>
                    </th>                     
                </tr>
                </thead>
                <tbody md-body>
                <tr md-row
                    ng-repeat="a in affiliations |
            orderBy: affiliationsTableOptions.order |
            filter: affiliationsTableOptions.filter |
            limitTo: affiliationsTableOptions.limit: (affiliationsTableOptions.page - 1) * affiliationsTableOptions.limit"
            ng-click="espaceDetails($event, a)"  class="back-office">
                    <td md-cell>{{a.denomination}}</td>
                    <td md-cell>{{a.nationalId}}</td>
                    <td md-cell>{{a.originNationalId}}</td>
                    <td md-cell>{{a.datePremierePublication ? (a.datePremierePublication | date: 'dd/MM/yyyy') : "-"}}</td>
                    <td ng-if="a.espaceOrganisationIdDeOrdganisation>0" md-cell>Oui</td>
                    <td ng-if="!a.espaceOrganisationIdDeOrdganisation" md-cell>Non</td>
                    </tr>
                </tbody>
            </table>
            <md-table-pagination md-label="{{affiliationsTableOptions.labels}}"
                                 md-page="affiliationsTableOptions.page" md-limit="affiliationsTableOptions.limit"
                                 md-total="{{affiliations.length}}"
                                 md-limit-options="affiliationsTableOptions.limitOptions"></md-table-pagination>
        </md-table-container>
    </md-content>
</md-content>