<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<style>
    .center {
        text-align: center;
    }
</style>
<md-content>
    <md-content style="padding: 20px;">
        <md-subheader class="md-no-sticky" ng-hide="clients.length > 0">Aucun client trouvé.
        </md-subheader>
        <md-table-container>
            <table md-table md-progress="clientsTableOptions.promise">
                <thead md-head md-order="clientsTableOptions.order" class="md-table-head"
                       md-colors="::{color: 'registre-background-50',background: 'registre-primary-400'}">
                <tr md-row>
                    <th md-column md-order-by="denomination" >
                        <md-input-container>
                            <input placeholder="Dénomination" md-colors="::{color: 'registre-background-50'}"
                                   type="text"
                                   ng-model="clientsTableOptions.filter.denomination" onclick="event.stopPropagation()">
                        </md-input-container>
                        <md-tooltip class="custom-tooltip">Dénomination</md-tooltip>
                    </th>
                    <th md-column md-order-by="nationalId">
                        <md-input-container>
                            <input placeholder="Identifiant<br />National" md-colors="::{color: 'registre-background-50'}"
                                   type="text"
                                   ng-model="clientsTableOptions.filter.nationalId" onclick="event.stopPropagation()">
                        </md-input-container>
                        <md-tooltip class="custom-tooltip">Identifiant National</md-tooltip>
                    </th>
                    <th md-column md-order-by="dateAjout">
                        <md-input-container>
                            <input placeholder="Date de première<br />activation" md-colors="::{color: 'registre-background-50'}"
                                   type="text"
                                   ng-model="clientsTableOptions.filter.dateAjout" onclick="event.stopPropagation()">
                        </md-input-container>
                        <md-tooltip class="custom-tooltip">Date de première activation</md-tooltip>
                    </th>
                    <th md-column md-order-by="periodeActiviteClientEnCours.dateAjout">
                        <md-input-container>
                            <input placeholder="Date de dernière<br />activation" md-colors="::{color: 'registre-background-50'}"
                                   type="text"
                                   ng-model="clientsTableOptions.filter.periodeActiviteClientEnCours.dateAjout" onclick="event.stopPropagation()">
                        </md-input-container>
                        <md-tooltip class="custom-tooltip">Date de dernière activation</md-tooltip>
                    </th>
                    <th md-column md-order-by="periodeActiviteClientEnCours.dateDesactivation">
                        <md-input-container>
                            <input placeholder="Date de dernière<br />désactivation" md-colors="::{color: 'registre-background-50'}"
                                   type="text"
                                   ng-model="clientsTableOptions.filter.periodeActiviteClientEnCours.dateDesactivation" onclick="event.stopPropagation()">
                        </md-input-container>
                        <md-tooltip class="custom-tooltip">Date de dernière désactivation</md-tooltip>
                    </th>
                    <th md-column md-order-by="dateDernierePublication">
                        <md-input-container>
                            <input placeholder="Date de dernière<br />publication" md-colors="::{color: 'registre-background-50'}"
                                   type="text"
                                   ng-model="clientsTableOptions.filter.dateDernierePublication" onclick="event.stopPropagation()">
                        </md-input-container>
                        <md-tooltip class="custom-tooltip">Date de dernière publication</md-tooltip>
                    </th>
                    <th md-column md-order-by="espaceOrganisationIdDeOrdganisation">
                        <md-input-container>
                            <input placeholder="Possède un<br />de espace" md-colors="::{color: 'registre-background-50'}"
                                   type="text"
                                   ng-model="affiliationsTableOptions.filter.espaceOrganisationIdDeOrdganisation" onclick="event.stopPropagation()">
                        </md-input-container>
                        <md-tooltip class="custom-tooltip">Possède un de espace</md-tooltip>

                    </th>
                    <th md-column md-order-by="isAncienClient">
                        <md-input-container>
                            <input placeholder="Désactivé" md-colors="::{color: 'registre-background-50'}"
                                   type="text"
                                   ng-model="clientsTableOptions.filter.isAncienClient" onclick="event.stopPropagation()">
                        </md-input-container>
                        <md-tooltip class="custom-tooltip">Désactivé</md-tooltip>
                    </th>
                    
                    <th md-colors="::{color: 'registre-background-50'}" md-column class="center">Action</th>
                </tr>
                </thead>
                <tbody md-body>
                <tr md-row
                    ng-repeat="c in clients |
                    orderBy: clientsTableOptions.order |
                    filter: clientsTableOptions.filter |
                    limitTo: clientsTableOptions.limit: (clientsTableOptions.page - 1) * clientsTableOptions.limit"
              class="back-office">
                    <td md-cell ng-click="espaceDetails($event, c)">{{c.denomination}}</td>
                    <td md-cell ng-click="espaceDetails($event, c)">{{c.nationalId}}</td>
                    <td md-cell ng-click="espaceDetails($event, c)">{{c.dateAjout ? (c.dateAjout | date: 'dd/MM/yyyy') : "-"}}</td>
                    <td md-cell ng-click="espaceDetails($event, c)">{{c.periodeActiviteClientEnCours.dateAjout ? (c.periodeActiviteClientEnCours.dateAjout | date: 'dd/MM/yyyy') : "-"}}</td>
                    <td md-cell ng-click="espaceDetails($event, c)">{{c.periodeActiviteClientEnCours.dateDesactivation ? (c.periodeActiviteClientEnCours.dateDesactivation | date: 'dd/MM/yyyy') : "-"}}</td>
                    <td md-cell ng-click="espaceDetails($event, c)">{{c.dateDernierePublication ? (c.dateDernierePublication | date: 'dd/MM/yyyy') : "-"}}</td>
                    <td ng-if="c.espaceOrganisationIdDeOrdganisation>0" md-cell ng-click="espaceDetails($event, c)">Oui</td>
                    <td ng-if="!c.espaceOrganisationIdDeOrdganisation" md-cell ng-click="espaceDetails($event, c)">Non</td>
                    <td md-cell ng-click="espaceDetails($event, c)">{{c.isAncienClient ? "Oui" : "Non"}}</td>                    
                    <td md-cell class="center">
                        <md-button class="md-primary" ng-click="editDetailPeriodeActiviteDialog($event, c)" title="Détails sur les périodes d'activité" aria-label="Détail">
                            <span>Détail</span>
                            </md-icon>
                        </md-button>
                    </td>
                </tr>
                </tbody>
            </table>
            <md-table-pagination md-label="{{clientsTableOptions.labels}}"
                                 md-page="clientsTableOptions.page" md-limit="clientsTableOptions.limit"
                                 md-total="{{clients.length}}"
                                 md-limit-options="clientsTableOptions.limitOptions"></md-table-pagination>
        </md-table-container>
    </md-content>
</md-content>