<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<style>
    .center {
        text-align: center;
    }
</style>
<md-content>
    <md-content style="padding: 20px;">
        <md-subheader class="md-no-sticky" ng-hide="collaborateurs.length > 0">Aucun collaborateur trouvé.
        </md-subheader>
        <md-table-container>
            <table md-table md-progress="collaborateursTableOptions.promise">
                <thead md-head md-order="collaborateursTableOptions.order" class="md-table-head"
                       md-colors="::{color: 'registre-background-50',background: 'registre-primary-400'}">
                <tr md-row>
                    <th md-column md-order-by="nom">
                        <md-input-container>
                            <input placeholder="Nom & Prénom" md-colors="::{color: 'registre-background-50'}"
                                   type="text"
                                   ng-model="collaborateursTableOptions.filter.nom" onclick="event.stopPropagation()">
                        </md-input-container>
                        <md-tooltip class="custom-tooltip">Nom & Prénom</md-tooltip>
                    </th>
                    <th md-column md-order-by="email">
                        <md-input-container>
                            <input placeholder="Email" md-colors="::{color: 'registre-background-50'}"
                                   type="text"
                                   ng-model="collaborateursTableOptions.filter.email" onclick="event.stopPropagation()">
                        </md-input-container>
                        <md-tooltip class="custom-tooltip">Email</md-tooltip>
                    </th>
                    <th md-column md-order-by="fonction">
                        <md-input-container>
                            <input placeholder="Fonction" md-colors="::{color: 'registre-background-50'}"
                                   type="text"
                                   ng-model="collaborateursTableOptions.filter.fonction" onclick="event.stopPropagation()">
                        </md-input-container>
                        <md-tooltip class="custom-tooltip">Fonction</md-tooltip>
                    </th>
                    <th md-column md-order-by="dateAjout">
                        <md-input-container>
                            <input placeholder="Date de création" md-colors="::{color: 'registre-background-50'}"
                                   type="text"
                                   ng-model="clientsTableOptions.filter.dateAjout" onclick="event.stopPropagation()">
                        </md-input-container>
                        <md-tooltip class="custom-tooltip">Date de création</md-tooltip>
                    </th>
                    <th md-column md-order-by="datePublication">
                        <md-input-container>
                            <input placeholder="Date de<br />publication" md-colors="::{color: 'registre-background-50'}"
                                   type="text"
                                   ng-model="clientsTableOptions.filter.datePublication" onclick="event.stopPropagation()">
                        </md-input-container>
                        <md-tooltip class="custom-tooltip">Date de publication</md-tooltip>
                    </th>
                    <th md-column md-order-by="dateDesactivation">
                        <md-input-container>
                            <input placeholder="Date de<br />désactivation" md-colors="::{color: 'registre-background-50'}"
                                   type="text"
                                   ng-model="clientsTableOptions.filter.dateDesactivation" onclick="event.stopPropagation()">
                        </md-input-container>
                        <md-tooltip class="custom-tooltip">Date de désactivation</md-tooltip>
                    </th>
                    <th md-column md-order-by="isAncienClient">
                        <md-input-container>
                            <input placeholder="Désactivé" md-colors="::{color: 'registre-background-50'}"
                                   type="text"
                                   ng-model="clientsTableOptions.filter.isAncienClient" onclick="event.stopPropagation()">
                        </md-input-container>
                        <md-tooltip class="custom-tooltip">Désactivé</md-tooltip>
                    </th>
                    <th md-column md-order-by="id">
                        <md-input-container>
                            <input placeholder="Déclarant" md-colors="::{color: 'registre-background-50'}"
                                   type="text"
                                   ng-model="clientsTableOptions.filter.id" onclick="event.stopPropagation()">
                        </md-input-container>
                        <md-tooltip class="custom-tooltip">Déclarant</md-tooltip>
                    </th>
                </tr>
                </thead>
                <tbody md-body>
                    <tr md-row
                        ng-repeat="c in collaborateurs |
                        orderBy: collaborateursTableOptions.order |
                        filter: collaborateursTableOptions.filter |
                        limitTo: collaborateursTableOptions.limit: (collaborateursTableOptions.page - 1) * collaborateursTableOptions.limit"
                        ng-click="declarantDetails($event, c, espace, false)" class="back-office">
                        <td md-cell>{{c.civilite + " " + c.nom + " " + c.prenom}}</td>
                        <td md-cell>{{c.email}}</td>
                        <td md-cell>{{c.fonction}}</td>
                        <td md-cell>{{c.dateAjout | date: 'dd/MM/yyyy HH:mm:ms'}}</td>
                        <td md-cell>{{c.datePublication | date: 'dd/MM/yyyy HH:mm'}}</td>
                        <td md-cell style="text-align: center">{{c.dateDesactivation ? (c.dateDesactivation | date: 'dd/MM/yyyy HH:mm') : "-"}}</td>
                        <td md-cell>{{c.actif ? "Non" : "Oui"}}</td>
                        <td md-cell>{{c.id>0 ? "Oui" : "Non"}}</td>
                    </tr>
                </tbody>
            </table>
            <md-table-pagination md-label="{{collaborateursTableOptions.labels}}"
                                 md-page="collaborateursTableOptions.page" md-limit="collaborateursTableOptions.limit"
                                 md-total="{{collaborateurs.length}}"
                                 md-limit-options="collaborateursTableOptions.limitOptions"></md-table-pagination>
        </md-table-container>
    </md-content>
</md-content>