<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<style>
    .center {
        text-align: center;
    }
</style>
<md-content>
    <md-content style="padding: 20px;">
        <md-subheader class="md-no-sticky" ng-hide="declarants.length > 0">Aucun déclarant trouvé.
        </md-subheader>
        <md-table-container>
            <table md-table md-progress="declarantsTableOptions.promise">
                <thead md-head md-order="declarantsTableOptions.order" class="md-table-head"
                       md-colors="::{color: 'registre-background-50',background: 'registre-primary-400'}">
                <tr md-row>
                    <th md-column md-order-by="nom">
                        <md-input-container>
                            <input placeholder="Nom & prénom" md-colors="::{color: 'registre-background-50'}"
                                   type="text"
                                   ng-model="declarantsTableOptions.filter.nom" onclick="event.stopPropagation()">
                        </md-input-container>
                        <md-tooltip class="custom-tooltip">Nom & prénom</md-tooltip>
                    </th>
                    <th md-column md-order-by="date_demande">
                        <md-input-container>
                            <input placeholder="Date de la demande" md-colors="::{color: 'registre-background-50'}"
                                   type="text"
                                   ng-model="declarantsTableOptions.filter.date_demande"
                                   onclick="event.stopPropagation()">
                        </md-input-container>
                        <md-tooltip class="custom-tooltip">Date de la demande</md-tooltip>
                    </th>
                    <th md-colors="::{color: 'registre-background-50'}" md-column class="center">État d'activation
                        <md-tooltip class="custom-tooltip">État d'activation</md-tooltip>
                    </th>
                    <th md-colors="::{color: 'registre-background-50'}" md-column class="center">État demande
                        <md-tooltip class="custom-tooltip">État demande</md-tooltip>
                    </th>
                    <th md-colors="::{color: 'registre-background-50'}" md-column class="center">État refus
                        <md-tooltip class="custom-tooltip">État refus</md-tooltip>
                    </th>
                    <th md-colors="::{color: 'registre-background-50'}" md-column class="center">Contact opérationnel
                        <md-tooltip class="custom-tooltip">Contact opérationnel</md-tooltip>
                    </th>
                    <th md-colors="::{color: 'registre-background-50'}" md-column class="center">Contributeur
                        <md-tooltip class="custom-tooltip">Contributeur</md-tooltip>
                    </th>
                    <th md-colors="::{color: 'registre-background-50'}" md-column class="center">Publicateur
                        <md-tooltip class="custom-tooltip">Publicateur</md-tooltip>
                    </th>
                    <th md-colors="::{color: 'registre-background-50'}" md-column class="center">Favori
                        <md-tooltip class="custom-tooltip">Favori</md-tooltip>
                    </th>
                    <th md-colors="::{color: 'registre-background-50'}" md-column class="center">Verrouillé
                        <md-tooltip class="custom-tooltip">Verrouillé</md-tooltip>
                    </th>
                    <th md-colors="::{color: 'registre-background-50'}" md-column class="center">Modifier
                        <md-tooltip class="custom-tooltip">Modifier</md-tooltip>
                    </th>

                </tr>
                </thead>
                <tbody md-body>
                <tr md-row
                    ng-repeat="d in declarants |
            orderBy: declarantsTableOptions.order |
            filter: declarantsTableOptions.filter |
            limitTo: declarantsTableOptions.limit: (declarantsTableOptions.page - 1) * declarantsTableOptions.limit"
                    class="back-office">
                    <td ng-click="declarantDetails($event, d, espace, false)" md-cell>{{d.nom}}</td>
                    <td ng-click="declarantDetails($event, d, espace, false)" md-cell>{{d.date_demande}}</td>
                    <td ng-click="declarantDetails($event, d, espace, false)" md-cell class="center">
                        <md-checkbox ng-model="d.etat_demande" aria-label="etat demande" class="md-block" disabled>
                        </md-checkbox>
                    </td>
                    <td ng-click="declarantDetails($event, d, espace, false)" md-cell class="center">
                        <md-checkbox ng-model="d.etat_activation" aria-label="etat activation" class="md-block"
                                     disabled>
                        </md-checkbox>
                    </td>
                    <td ng-click="declarantDetails($event, d, espace, false)" md-cell class="center">
                        <md-checkbox ng-model="d.etat_refus" aria-label="etat refus" class="md-block" disabled>
                        </md-checkbox>
                    </td>
                    <td ng-click="declarantDetails($event, d, espace, false)" md-cell class="center">
                        <md-icon class="md-icon-lock md-48 back-office"
                                 md-svg-icon="{{images_dir}}/icons/bo_roles/admin.svg"
                                 aria-label="" ng-class="d.administrator ? '' : 'disabled_icon' ">
                            <md-tooltip>Contact opérationnel</md-tooltip>
                        </md-icon>
                    </td>
                    <td ng-click="declarantDetails($event, d, espace, false)" md-cell class="center">
                        <md-icon class="md-icon-lock md-48 back-office"
                                 md-svg-icon="{{images_dir}}/icons/contrib.svg"
                                 aria-label="" ng-class="d.contributor ? '' : 'disabled_icon' ">
                            <md-tooltip>Contributeur</md-tooltip>
                        </md-icon>
                    </td>
                    <td ng-click="declarantDetails($event, d, espace, false)" md-cell class="center">
                        <md-icon class="md-icon-lock md-48 back-office"
                                 md-svg-icon="{{images_dir}}/icons/publi.svg"
                                 aria-label="" ng-class="d.publisher ? '' : 'disabled_icon' ">
                            <md-tooltip>Publicateur</md-tooltip>
                        </md-icon>
                    </td>


                    <td ng-click="declarantDetails($event, d, espace, false)" md-cell class="center">
                        <md-icon class="md-icon-lock back-office"
                                 md-svg-icon="{{images_dir}}/icons/{{d.fav?'ic_favorite_black_24px':'ic_favorite_border_black_24px'}}.svg"
                                 aria-label="verrouillé">
                            <md-tooltip>{{d.fav?'Espace representantLegal':'Espace non representantLegal'}}</md-tooltip>
                        </md-icon>
                    </td>
                    <td ng-click="declarantDetails($event, d, espace, false)" md-cell class="center">
                        <md-icon class="md-icon-lock back-office"
                                 md-svg-icon="{{images_dir}}/icons/{{d.locked?'lock':'unlock'}}.svg"
                                 aria-label="verrouillé">
                            <md-tooltip>{{d.locked?'Compte inactif':'Compte actif'}}</md-tooltip>
                        </md-icon>
                    </td>
                    <td md-cell class="center">
                        <md-button ng-if="!espace.locked && d.etat_demande" class="md-icon-button" ng-click="openDeclarant(d, $event)">
                            <md-icon class="md-icon-lock"
                                     md-svg-icon="{{images_dir}}/icons/space.svg" aria-label="Modifier">
                                <md-tooltip>Paramètres</md-tooltip>
                            </md-icon>
                        </md-button>
                    </td>
                </tr>
                </tbody>
            </table>
            <md-table-pagination md-label="{{declarantsTableOptions.labels}}"
                                 md-page="declarantsTableOptions.page" md-limit="declarantsTableOptions.limit"
                                 md-total="{{declarants.length}}"
                                 md-limit-options="declarantsTableOptions.limitOptions"></md-table-pagination>
        </md-table-container>
    </md-content>
</md-content>