<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<md-dialog aria-label="Demande de complément pour la désinscription">
    <md-dialog-content>
        <form name="demandeComplementDesinscriptionForm" ng-submit="askforcomplement(demande_complement_desinscription_msg, demandeComplementDesinscriptionForm.$valid)">
            <div class="md-dialog-header" md-colors="::{background: 'registre-background-50'}" layout="row"
                 layout-align="space-between start">
                <span class="md-title" md-colors="::{color: 'registre-primary-100'}">Demande de complément pour la désinscription</span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-icon="{{images_dir}}/icons/cross.svg" aria-label="Close dialog"></md-icon>
                    <md-tooltip md-direction="bottom">Fermer</md-tooltip>
                </md-button>
            </div>
            <md-content layout="column">
                <md-input-container class="md-block">
                    <label>Contenu du couriel à adresser au demandeur</label>
                    <textarea required ng-model="demande_complement_desinscription_msg" md-maxlength="2000" rows="10" md-select-on-focus></textarea>
                </md-input-container>
            </md-content>
            <md-dialog-actions layout="row" layout="center center">
                <md-button type="submit"
                           md-colors="::{background: 'registre-primary-400', color: 'registre-background-50'}"
                           layout="row" layout-align="center center" class="md-raised md-primary"
                           ng-disabled="demandeComplementDesinscriptionForm.$invalid">
                    Envoyer la demande
                </md-button>
            </md-dialog-actions>
        </form>
    </md-dialog-content>
</md-dialog>