<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<md-dialog flex="90">
    <md-dialog-content>
        <form name="desinscriptionForm" ng-cloak>
            <span class="md-title" md-colors="::{color: 'registre-primary-100'}">Désinscrire une organisation</span>
                <legend class="md-title-small">Informations sur la désinscription</legend>
                <div layout-gt-sm="row">
                    <md-input-container flex-gt-sm class="md-block">
                        <label>Dénomination de l'espace collaboratif</label>
                        <input required name="denominationEspace" ng-model="ctrl.parent.espaceOrganisation.denomination" disabled>
                    </md-input-container>
                    <md-input-container flex-gt-sm class="md-block">
                        <label>Date de cessation souhaité</label>
                        <input required name="cessationDate" ng-model="ctrl.parent.desinscription.cessationDate" required
                               ui-mask="99/99/9999"
                               ui_mask_placeholder="__/__/____" ui-mask-placeholder-char="space"
                               ng-pattern="/^((0[1-9]|[12][0-9]|3[01])[\/](0[1-9]|1[012])[\/](20)[0-‌​9]{2})$/"
                               ng-disabled="ctrl.parent.espaceOrganisation.statut == 'Désinscription demandée' || ctrl.parent.espaceOrganisation.statut == 'Compléments demande de désinscription envoyé' || ctrl.parent.espaceOrganisation.statut == 'Compléments demande de désinscription reçu'">
                    </md-input-container>
                    <md-input-container flex-gt-sm class="md-block">
                        <label>Motif de la désinscription</label>
                        <md-select required name="motif" ng-model="ctrl.parent.desinscription.motif" ng-disabled="ctrl.parent.espaceOrganisation.statut == 'Désinscription demandée' || ctrl.parent.espaceOrganisation.statut == 'Compléments demande de désinscription envoyé' || ctrl.parent.espaceOrganisation.statut == 'Compléments demande de désinscription reçu'">
                            <md-option value="CESSATION">CESSATION</md-option>
                            <md-option value="ABANDON">ABANDON</md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <md-input-container class="md-block">
                    <label>Observation du déclarant</label>
                    <textarea ng-required="true" name="observationDeclarant" ng-model="ctrl.parent.desinscription.observationDeclarant" rows="3" md-maxlength="255"></textarea>
                </md-input-container>
                <md-container>
                    <lf-ng-md-file-input name="file"
                                         lf-files="file"
                                         accept="application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                                         lf-mimetype="application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                                         lf-placeholder=" Piece jointe (taille maximale {{maxFileSizeInMB}} Mo) *"
                                         progress
                                         lf-filesize="{{maxFileSizeInMB}}MB"
                                         lf-browse-label="Joindre fichier"
                                         lf-remove-label="Supprimer"
                                         class="input-file"
                                         required
                                         multiple>
                    </lf-ng-md-file-input>
                </md-container>
                <md-divider md-colors="{background:'registre-primary-400'}"></md-divider>
                <br>

                <md-input-container class="md-block">
                    <label>Observation de l'agent</label>
                    <textarea name="observationAgent" ng-model="ctrl.parent.desinscription.observation" rows="3" md-maxlength="255"></textarea>
                </md-input-container>
                <md-input-container class="md-block" ng-show="ctrl.parent.hasPubli > 1">
                    <span>Des publications de fiches d'activités et/ou de moyens alloués ont été faites pour cet espace</span>
                </md-input-container>


            <md-dialog-actions layout="row">
                <md-button ng-click="closeModal($event)" md-colors="::{background: 'registre-primary-400', color: 'registre-background-50'}"
                           class="md-raised md-primary"> Annuler
                </md-button>
                <md-button type="submit" ng-click="rejectDemande()" md-colors="::{background: 'registre-primary-400', color: 'registre-background-50'}" ng-show="ctrl.parent.espaceOrganisation.statut == 'Désinscription demandée' || ctrl.parent.espaceOrganisation.statut == 'Compléments demande de désinscription reçu'"
                           class="md-raised md-primary"> Refuser la demande
                </md-button>
                <md-button type="submit" ng-click="askforcomplementDialog()" ng-show="ctrl.parent.espaceOrganisation.statut == 'Désinscription demandée' || ctrl.parent.espaceOrganisation.statut == 'Compléments demande de désinscription reçu'"
                           md-colors="(desinscriptionForm.$invalid) ? {background: 'registre-primary-300', color: 'registre-background-40'} : {background: 'registre-primary-400', color: 'registre-background-50'}"
                           class="md-raised md-primary">Demander un complément
                </md-button>
                <md-button type="submit" ng-click="saveDesinscription($event)"
                           md-colors="(desinscriptionForm.$invalid) ? {background: 'registre-primary-300', color: 'registre-background-40'} : {background: 'registre-primary-400', color: 'registre-background-50'}"
                           class="md-raised md-primary" ng-disabled="desinscriptionForm.$invalid">Valider la désinscription
                </md-button>           
                               
            </md-dialog-actions>
        </form>
    </md-dialog-content>
</md-dialog>