<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<md-content layout="column" flex>
    <span>Pièces justifiant d'un changement de contact opérationnel ou de représentant légal</span>
    <section ng-repeat="f in piecesMandant" layout="row" layout-align="space-between start" flex="100">
        <md-button class="md-primary" ng-href="{{pieceDownloadUrl}}/{{f.id}}" target="_blank">
            {{f.dateVersementPiece}} &nbsp;&nbsp;&nbsp;&nbsp; {{f.nomFichier}}
        </md-button>
        <md-button class="md-primary" ng-click="getMandatesDetails(f.idDemande,f.typeDemande)" target="_blank" layout="row" layout-align="space-between" style="min-width: 487px">
            <div>{{f.typeDemande}}</div> &nbsp;&nbsp;&nbsp;
            <div>{{f.status}}</div>
        </md-button>
    </section>
    <i ng-if="piecesMandant.length === 0">Aucune pièce de demande de changement fournie.</i>
</md-content>
<br/>
<md-content layout="column" layout-align="space-around start" flex>
    <span>Pièces complémentaires : </span>
    <md-button ng-repeat="f in complement" class="md-primary"
               ng-href="{{pieceDownloadUrl}}/{{f.id}}" target="_blank">
        {{f.dateVersementPiece}} &nbsp;&nbsp;&nbsp;&nbsp; {{f.nomFichier}}
    </md-button>
    <i ng-if="complement.length === 0">Aucune pièce complémentaire enregistrée.</i>
</md-content>
<br/>
<md-content layout="column" layout-align="space-around start" flex>
    <span>Pièces fournies à l'inscription : </span>
    <md-button ng-repeat="f in piecesCreation" class="md-primary"
               ng-href="{{pieceDownloadUrl}}/{{f.id}}" target="_blank">
        {{f.dateVersementPiece}} &nbsp;&nbsp;&nbsp;&nbsp; {{f.nomFichier}}
    </md-button>
    <i ng-if="piecesCreation.length === 0">Aucune pièce fournie à l'inscription.</i>
</md-content>
<md-content layout="column" layout-align="space-around start" flex>
    <span>Pièces fournies à la désinscription : </span>
    <md-button ng-repeat="f in piecesDesinscription" class="md-primary"
               ng-href="{{pieceDesinscriptionDownloadUrl}}/{{f.id}}" target="_blank">
        {{f.dateVersementPiece}} &nbsp;&nbsp;&nbsp;&nbsp; {{f.nomFichier}}
    </md-button>
    <i ng-if="piecesDesinscription.length === 0">L'espace n'est pas désinscrit ou n'a fourni aucune pièce lors de la désinscription.</i>
</md-content>