<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<md-content>
    <md-content layout="column">
        <div layout="row" layout-align="end center" layout-padding>
            <span>Publications {{espace.publication?'activées':'désactivées'}}</span>
            <md-button ng-click="republierPublicationsEspace($event)" ng-if="!espace.locked && !espace.publication"
                       md-colors="::{background: 'registre-primary-400', color: 'registre-background-50'}"
                       layout="row" layout-align="center center" class="md-raised md-primary">
                Republication globale
            </md-button>
            <md-button ng-click="depublierPublicationsEspace($event)" ng-if="!espace.locked && espace.publication"
                       md-colors="::{background: 'registre-primary-400', color: 'registre-background-50'}"
                       layout="row" layout-align="center center" class="md-raised md-primary">
                Dé-publication globale
            </md-button>
        </div>
    </md-content>
    <md-content style="padding: 20px;">
        <md-subheader class="md-no-sticky" ng-hide="publications.length > 0">Aucune publication trouvée.
        </md-subheader>
        <md-table-container ng-hide="publications.length === 0">
            <table md-table md-progress="publicationsTableOptions.promise">
                <thead md-head md-order="publicationsTableOptions.order" class="md-table-head"
                       md-colors="::{color: 'registre-background-50',background: 'registre-primary-400'}">
                <tr md-row>
                    <th md-colors="::{color: 'registre-background-50'}" md-column class="center"
                        md-order-by="publicationDate">Date de publication
                        <md-tooltip class="custom-tooltip">Date de publication</md-tooltip>
                    </th>
                    <th md-column md-order-by="publicateurNom">
                        <md-input-container>
                            <input placeholder="Publicateur" md-colors="::{color: 'registre-background-50'}"
                                   type="text"
                                   ng-model="publicationsTableOptions.filter.publicateurNom"
                                   onclick="event.stopPropagation()">
                        </md-input-container>
                        <md-tooltip class="custom-tooltip">Publicateur</md-tooltip>
                    </th>
                    <th md-colors="::{color: 'registre-background-50'}" md-column class="center" md-order-by="statut">
                        État demande
                        <md-tooltip class="custom-tooltip">État demande</md-tooltip>
                    </th>
                    <th md-colors="::{color: 'registre-background-50'}" md-column class="center"
                        md-order-by="depublicationDate">Date dépublication
                        <md-tooltip class="custom-tooltip">Date dépublication</md-tooltip>
                    </th>
                    <th md-column md-order-by="depublicateurNom">
                        <md-input-container>
                            <input placeholder="Dépublicateur" md-colors="::{color: 'registre-background-50'}"
                                   type="text"
                                   ng-model="publicationsTableOptions.filter.depublicateurNom"
                                   onclick="event.stopPropagation()">
                        </md-input-container>
                        <md-tooltip class="custom-tooltip">Dépublicateur</md-tooltip>
                    </th>
                    <th md-colors="::{color: 'registre-background-50'}" md-column class="center"
                        md-order-by="republicationDate">Date republication
                        <md-tooltip class="custom-tooltip">Date republication</md-tooltip>
                    </th>
                    <th md-column md-order-by="republicateurNom">
                        <md-input-container>
                            <input placeholder="Republicateur" md-colors="::{color: 'registre-background-50'}"
                                   type="text"
                                   ng-model="publicationsTableOptions.filter.republicateurNom"
                                   onclick="event.stopPropagation()">
                        </md-input-container>
                        <md-tooltip class="custom-tooltip">Republicateur</md-tooltip>
                    </th>

                </tr>
                </thead>
                <tbody md-body>
                <tr md-row ng-click="openPublication($event, d)"
                    ng-repeat="d in publications |
            orderBy: publicationsTableOptions.order |
            filter: publicationsTableOptions.filter |
            limitTo: publicationsTableOptions.limit: (publicationsTableOptions.page - 1) * publicationsTableOptions.limit"
                    class="back-office">
                    <td md-cell>{{d.publicationDate}}</td>
                    <td md-cell>{{d.publicateurNom}}</td>
                    <td md-cell>{{d.statut.label}}</td>
                    <td md-cell>{{d.depublicationDate}}</td>
                    <td md-cell>{{d.depublicateurNom}}</td>
                    <td md-cell>{{d.republicationDate}}</td>
                    <td md-cell>{{d.republicateurNom}}</td>
                </tr>
                </tbody>
            </table>
            <md-table-pagination md-label="{{publicationsTableOptions.labels}}"
                                 md-page="publicationsTableOptions.page" md-limit="publicationsTableOptions.limit"
                                 md-total="{{publications.length}}"
                                 md-limit-options="publicationsTableOptions.limitOptions"></md-table-pagination>
        </md-table-container>
    </md-content>
</md-content>