<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<h2>Exercices et Fiches d'activités</h2>
<md-subheader class="md-no-sticky" ng-hide="exercices.length > 0">Aucun exercice enregistré.</md-subheader>
<md-content  flex ng-if="exercices.length>0">
	<md-content layout-gt-sm="row" layout-align="space-between center">
	    <md-content layout-gt-sm="column" flex="30">
	        <md-input-container style="margin-bottom:5px;">
	           <label>Choisissez une période</label>
	           <md-select ng-model="rapport.exercice" ng-model-options="{trackBy: '$value.id'}">
	               <md-option ng-repeat="exercice in exercices|orderBy:'-tempToSort'" ng-value="{{exercice}}">
	                   {{exercice.periode}}
	               </md-option>
	           </md-select>
	       </md-input-container>
	       <md-content ng-if="!espace.locked">
	           <md-button class="md-primary" ng-click="updateDates($event, rapport.exercice)" target="_blank">
                    Modifier les dates de l'exercice
                </md-button>
	       </md-content>
	   </md-content>
	  
	  
	
	   <md-content layout="column"  >
		    <div layout="row" layout-align="end center" layout-padding>
		        <span>Publication de l'exercice {{rapport.exercice.publication?'activées':'désactivées'}}</span>
                <md-button ng-click="depublierExercice(rapport.exercice)" ng-if="!espace.locked && rapport.exercice.publication"
		                   md-colors="::{background: 'registre-primary-400', color: 'registre-background-50'}"
		                   layout="row" layout-align="center center" class="md-raised md-primary">
		            Dé-publier
		        </md-button>
                <md-button ng-click="republierExercice(rapport.exercice)" ng-if="!espace.locked && !rapport.exercice.publication"
		                   md-colors="::{background: 'registre-primary-400', color: 'registre-background-50'}"
		                   layout="row" layout-align="center center" class="md-raised md-primary">
		            Republication
		        </md-button>
		    </div>
		</md-content>
	</md-content>
 	<md-content layout="column" flex  md-colors="::{background: 'registre-background-800'}">
		<h4>&nbsp; Exercice du {{rapport.exercice.periode}} ({{rapport.exercice.statut}}{{rapport.exercice.statut == "Publiée" ? " le "+(rapport.exercice.dateFirstCommMoyens | date: 'dd/MM/yyyy à HH:mm')  :""}}
            {{rapport.exercice.statut == "Mise à jour publiée" ? ", Dernière modification le "+(rapport.exercice.dateLastChangeMoyens| date: 'dd/MM/yyyy à HH:mm'): ""}} )
        </h4>
        <md-content layout="row" md-colors="::{background: 'registre-background-800'}">
         

            <md-content layout-padding flex="25" md-colors="::{background: 'registre-background-800'}"><u>Chiffre d'affaires:</u></md-content>
            <md-content layout-padding md-colors="::{background: 'registre-background-800'}">{{rapport.exercice.chiffreAffaire}}</md-content>
        </md-content>
        <md-content layout="row" md-colors="::{background: 'registre-background-800'}">
            <md-content layout-padding flex="25" md-colors="::{background: 'registre-background-800'}"><u>Montant des dépenses:</u></md-content>
            <md-content layout-padding md-colors="::{background: 'registre-background-800'}">{{rapport.exercice.montantDepense}}</md-content>
        </md-content>
        <md-content layout="row" md-colors="::{background: 'registre-background-800'}">
            <md-content layout-padding flex="25" md-colors="::{background: 'registre-background-800'}"><u>Nombre de chargés RI:</u></md-content>
            <md-content layout-padding md-colors="::{background: 'registre-background-800'}">{{rapport.exercice.nombreSalaries}}</md-content>
        </md-content>

        <div flex-gt-lg="100" flex-gt-md="100" flex-gt-sm="100" layout="row" layout-align="end end">
            <md-button layout="column" ng-if="!espace.locked && !cardOrga.active" ng-click="getHistoriqueExercice($event, rapport.exercice)">Historique</md-button>

        </div>

    </md-content>
</md-content>
<br/>


<md-subheader class="md-no-sticky" ng-hide="(rapport.exercice.activites.length > 0 && !rapport.exercice.noActivite) || rapport.exercice.noActivite">Aucune activité enregistrée.</md-subheader>
<md-table-container ng-show="(rapport.exercice.activites.length >= 0 && rapport.exercice.noActivite) || (rapport.exercice.activites.length > 0 && !rapport.exercice.noActivite)">
       
    <md-content layout="column"  >    
        <div layout="row" layout-align="start center" layout-padding>
            <div layout="row" layout-align="start center" layout-padding><h4>Activités enregistrées pour l' exercice du {{rapport.exercice.periode}}</h4></div>
            <div ng-if="selected.length > 0" layout="row" layout-align="center" layout-padding style="padding-left: 15%;">
                <md-button ng-click="deleteActiviteBatch(rapport.exercice.activites)" ng-if="!espace.locked"
                md-colors="::{background: 'registre-primary-400', color: 'registre-background-50'}"
                layout="row" layout-align="center center" class="md-raised md-primary">
                    Supprimer
                </md-button>
                <md-button ng-click="publishBatch(rapport.exercice.activites)" ng-if="!espace.locked"
                        md-colors="::{background: 'registre-primary-400', color: 'registre-background-50'}"
                        layout="row" layout-align="center center" class="md-raised md-primary">
                    Publier
                </md-button>
                <md-button ng-click="unpublishBatch(rapport.exercice.activites)" ng-if="!espace.locked"
                        md-colors="::{background: 'registre-primary-400', color: 'registre-background-50'}"
                        layout="row" layout-align="center center" class="md-raised md-primary">
                    Dé-publier
                </md-button>
            </div>            
        </div>
    </md-content>

    <table md-table md-progress="activitesTableOptions.promise">
        <thead md-head md-order="activitesTableOptions.order" class="md-table-head"
               md-colors="::{color: 'registre-background-50',background: 'registre-primary-400'}">
        <tr md-row>
            <th md-column md-colors="::{color: 'registre-background-50'}" style="padding:5px 0;" class="center" ng-if="!espace.locked && !rapport.exercice.noActivite">Action
                <md-tooltip class="custom-tooltip">Action</md-tooltip>
            </th>
            <th md-column>
                <md-input-container>
                    <input placeholder="Identifiant" md-colors="::{color: 'registre-background-50'}" type="text"
                           ng-model="activitesTableOptions.filter.idFiche" onclick="event.stopPropagation()">
                </md-input-container>
                <md-tooltip class="custom-tooltip">Identifiant</md-tooltip>
            </th>
            <th md-column>
                <md-input-container>
                    <input placeholder="Objet" md-colors="::{color: 'registre-background-50'}" type="text"
                           ng-model="activitesTableOptions.filter.objet" onclick="event.stopPropagation()">
                </md-input-container>
                <md-tooltip class="custom-tooltip">Objet</md-tooltip>
            </th>
            <th md-column>
                <md-input-container>
                    <input placeholder="Domaine" md-colors="::{color: 'registre-background-50'}" type="text"
                           ng-model="activitesTableOptions.filter.domainesIntervention" onclick="event.stopPropagation()">
                </md-input-container>
                <md-tooltip class="custom-tooltip">Domaine</md-tooltip>
            </th>
            <th md-column>
                <md-input-container>
                    <input placeholder="Saisie par" md-colors="::{color: 'registre-background-50'}" type="text"
                           ng-model="activitesTableOptions.filter.nomCreateur" onclick="event.stopPropagation()">
                </md-input-container>
                <md-tooltip class="custom-tooltip">Saisie par</md-tooltip>
            </th>
            <th md-column>
                <md-input-container>
                    <input placeholder="Statut" md-colors="::{color: 'registre-background-50'}" type="text"
                           ng-model="activitesTableOptions.filter.statut" onclick="event.stopPropagation()">
                </md-input-container>
                <md-tooltip class="custom-tooltip">Statut</md-tooltip>
            </th>
            <th md-column>
                <md-input-container>
                    <input placeholder="Date de<br />création" md-colors="::{color: 'registre-background-50'}" type="text"
                           ng-model="activitesTableOptions.filter.dateFirstComm" onclick="event.stopPropagation()">
                </md-input-container>
                <md-tooltip class="custom-tooltip">Date de création</md-tooltip>
            </th>
            <th md-column>
                <md-input-container>
                    <input placeholder="Date de<br />publication" md-colors="::{color: 'registre-background-50'}" type="text"
                           ng-model="activitesTableOptions.filter.firstPub" onclick="event.stopPropagation()">
                </md-input-container>
                <md-tooltip class="custom-tooltip">Date de publication</md-tooltip>
            </th>

            <th md-column>
                <md-input-container>
                    <input placeholder="Date de<br />dernière<br />modification" md-colors="::{color: 'registre-background-50'}" type="text"
                           ng-model="activitesTableOptions.filter.dateLastChange" onclick="event.stopPropagation()">
                </md-input-container>
                <md-tooltip class="custom-tooltip">Date de dernière modification</md-tooltip>
            </th>
            <th md-column md-colors="::{color: 'registre-background-50'}" style="padding:5px 0;" class="center" >
                <md-tooltip class="custom-tooltip"></md-tooltip>
            </th>
        </tr>
        </thead>
        <tbody md-body>
        <tr ng-show="rapport.exercice.noActivite"  class="back-office">
            <td md-cell class="center" style="font-size: 20px; padding:5px 0;" colspan="4">Déclaration nulle pour l' exercice du {{rapport.exercice.periode}}</td>
        </tr>
        <tr md-row  ng-repeat="activite in rapport.exercice.activites |
            orderBy: activitesTableOptions.order:true |
            filter: activitesTableOptions.filter |
            limitTo: activitesTableOptions.limit: (activitesTableOptions.page - 1) * activitesTableOptions.limit"  class="back-office">
            <td md-cell ng-if="!espace.locked">
                <md-checkbox ng-checked="exists(activite, selected)" ng-click="toggle(activite, selected)" ng-if="activite.statut !='Supprimée'" ng-model="activite.action"></md-checkbox>
            </td>
            <td md-cell style="padding:5px 0;" ng-click="openFiche($event, activite.id)">{{activite.idFiche}}</td>
            <td md-cell ng-click="openFiche($event, activite.id)">{{activite.objet| limitTo:80}}<span ng-if="activite.objet.length>80"> ...</span></td>
            <td md-cell ng-click="openFiche($event, activite.id)">{{activite.domainesIntervention}}</td>
            <td md-cell ng-click="openFiche($event, activite.id)">{{activite.nomCreateur}}</td>
            <td md-cell ng-click="openFiche($event, activite.id)">{{activite.statut}}</td>
            <td md-cell style="text-align: center" ng-click="openFiche($event, activite.id)">{{activite.dateCreation | date: 'dd/MM/yyyy à HH:mm'}}</td>
            <td md-cell style="text-align: center" ng-click="openFiche($event, activite.id)">{{activite.firstPub == null ? "-" : activite.firstPub | date: 'dd/MM/yyyy à HH:mm'}}</td>
            <td md-cell style="text-align: center" ng-click="openFiche($event, activite.id)">{{activite.lastPub == null ? "-" : activite.lastPub | date: 'dd/MM/yyyy à HH:mm'}}</td>
            <td md-cell style="padding:5px 0;">
                <md-button ng-if="activite.statut != 'Non publiée'"
                            ng-click="getActiviteHistorique($event, activite)">
                    <span>Détail</span>
                </md-button>
            </td>
        </tr>
        </tbody>
    </table>
    <md-table-pagination md-label="{{activitesTableOptions.labels}}"
                         md-page="activitesTableOptions.page" md-limit="activitesTableOptions.limit"
                         md-total="{{rapport.exercice.activites.length}}"
                         md-limit-options="activitesTableOptions.limitOptions"
                         md-page-select></md-table-pagination>
</md-table-container>