<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<h2>Relances de publication</h2>

  <md-content layout="column"  >
    <div layout="row" layout-align="first center" layout-padding>
                    <div  ng-if="!espace.locked && isAdministrateur()">
                <md-checkbox name="relancesBloquees" ng-model="espace.relancesBloquees" ng-change="setRelancesBloquees()"
                             aria-label="Suspendre toute procédure de relance" >
                    Suspendre toute procédure de relance
                </md-checkbox>
            	</div>
    </div>
</md-content>
	