<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<md-content>
    <md-content class="md-fab" layout-gt-sm="row" >
        <md-content layout-gt-sm="column" layout-align="center center" >
            <md-button class="md-fab md-mini md-hue-3" label="retour" ng-click="saveActiviteAndRedirect()">
                {{compteurs.demandesOrga}}
            </md-button>
            <span>Création d'entité</span>
        </md-content>
        <md-content layout-gt-sm="column" layout-align="center center">
            <md-button class="md-fab md-mini md-hue-3" label="retour" ng-click="saveActiviteAndRedirect()">
                {{compteurs.creationsEC}}
            </md-button>
            <span>Création d'espaces</span>
        </md-content>
        <md-content layout-gt-sm="column" layout-align="center center">
            <md-button class="md-fab md-mini md-hue-3" label="retour" ng-click="saveActiviteAndRedirect()">
                {{compteurs.mandats}}
            </md-button>
            <span>Mandats de gestion</span>
        </md-content>
    </md-content>
</md-content>