<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<md-toolbar md-colors="::{background: 'registre-primary-200'}" class="footer lock-size" layout="row" layout-align="left center" hide-sm hide-xs>
    <a md-colors="::{color: 'registre-background-50'}" href="#">Mentions légales</a>
    <a md-colors="::{color: 'registre-background-50'}" href="#">hatvp.fr</a>
</md-toolbar>