<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<md-toolbar md-colors="::{background: 'registre-background-50'}" layout="row" layout-align="space-between center"
            class="header">

    <a class="header-logo" ui-sref="home" layout="row" layout-align="center center">
        <img ng-src="{{images_dir}}/logo-HATVP.svg" alt="{{globalSettings.title}}">
        <h2 class="header-title" md-colors="::{color: 'registre-primary-300'}">{{globalSettings.title}}</h2>
    </a>

    <section class="header-nav" layout="row" layout-align="end center" class="header-infos" ng-show="isConnected()">

        <md-button md-colors="::{color : 'registre-primary-600'}" layout="column" ui-sref="users"
                   ng-if="isAdministrateur()"
                   ui-sref-active="active">
            <md-icon md-svg-src="{{images_dir}}/icons/ic_person_white_24px.svg" aria-label="Utilisateurs"></md-icon>
            <span class="md-button-label">Gestion des Utilisateurs BO</span>
        </md-button>

        <md-button md-colors="::{color : 'registre-primary-600'}" layout="column" ui-sref="mandates"
                    ng-if="isValidationGestionMandats()"
                   ui-sref-active="active">
            <md-icon md-svg-src="{{images_dir}}/icons/ic_edit_black_24px.svg" aria-label="Mandats"></md-icon>
            <span class="md-button-label">Mandats de gestion <br>({{compteurs.mandats}} nouveaux - {{compteurs.mandatsComplements}} compléments reçus )</span>
        </md-button>

        <md-button md-colors="::{color : 'registre-primary-600'}" layout="column" ui-sref="espaces"
                   ng-if="isGestionnaireEspaceCollaboratifValides()"
                   ui-sref-active="active">
            <md-icon md-svg-src="{{images_dir}}/icons/espace_orga.svg" aria-label="Espaces organisations"></md-icon>
            <span class="md-button-label">Espaces collaboratifs  <br>({{compteurs.creationsEC}} nouveaux - {{compteurs.creationsECComplements}} compléments reçus </br>
                - {{compteurs.demandesDesinscription}} demande de désinscription </br>- {{compteurs.complementsDemandeDesinscriptionRecu}} complément de demande de désinscription reçu)
            </span>
        </md-button>

        <md-button md-colors="::{color : 'registre-primary-600'}" layout="column" ui-sref="declarant"
                   ng-if="isGestionnaireCompteDeclarant()"
                   ui-sref-active="active">
            <md-icon md-svg-src="{{images_dir}}/icons/human-greeting.svg" aria-label="Déclarant"></md-icon>
            <span class="md-button-label">Gestion des comptes déclarants</span>
        </md-button>

        <md-button md-colors="::{color : 'registre-primary-600'}" layout="column" ui-sref="demandes"
                   ng-if="isGestionnaireReferentielOrganisations()"
                   ui-sref-active="active">
            <md-icon md-svg-src="{{images_dir}}/icons/ic_view_list_black_24px.svg" aria-label="Référentiel"></md-icon>
            <span class="md-button-label">Gestion du référentiel des organisations  <br>({{compteurs.demandesOrga}} nouvelles demandes)</span>
        </md-button>

        <md-button md-colors="::{color : 'registre-primary-600'}" layout="column" ui-sref="surveillance"
                   ui-sref-active="active">
            <md-icon md-svg-src="{{images_dir}}/icons/ic_visibility_black_24px.svg" aria-label="Surveillance"></md-icon>
            <span class="md-button-label">Surveillance</span>
        </md-button>

        <md-button md-colors="::{color : 'registre-primary-600'}" layout="column" ui-sref="extractions"
                   ng-if="isGestionnaireExtractions()"
                   ui-sref-active="active">
            <md-icon md-svg-src="{{images_dir}}/icons/assessment.svg" aria-label="Téléchargement"></md-icon>
            <span class="md-button-label">Téléchargement</span>
        </md-button>

        <md-button md-colors="::{color : 'registre-primary-600'}" layout="column" ui-sref="blacklist"
                   ui-sref-active="active">
            <md-icon md-svg-src="{{images_dir}}/icons/blacklist.svg" aria-label="Blacklist"></md-icon>
            <span class="md-button-label">Blacklist</span>
        </md-button>

        <md-button md-colors="::{color : 'registre-primary-600'}" layout="column" ui-sref="qualite"
                   ui-sref-active="active">
            <md-icon md-svg-src="{{images_dir}}/icons/artificial-intelligence.svg" aria-label="Contrôle Qualité"></md-icon>
            <span class="md-button-label">Contrôle Qualité</span>
        </md-button>

        <md-button md-colors="::{color : 'registre-primary-600'}" layout="column" ui-sref="group"
                   ui-sref-active="active">
            <md-icon md-svg-src="{{images_dir}}/icons/ic_account_circle_black_24px.svg" aria-label="Groupe Utilisateurs"></md-icon>
            <span class="md-button-label">Gestion des groupes utilisateurs</span>
        </md-button>

        <md-divider></md-divider>

        <md-menu md-position-mode="target-right target">
            <md-button md-menu-origin layout="row" aria-label="profil" ng-click="$mdOpenMenu($event)">
                <md-icon md-svg-icon="{{images_dir}}/icons/profil.svg"></md-icon>
                <span class="header-name" md-colors="::{color: 'registre-primary-400'}">
                    {{currentUser().prenom}} {{currentUser().nom}}
                </span>
            </md-button>
            <md-menu-content width="4">
                <md-menu-item>
                    <md-button class="md-primary"  ng-click="logout()">
                        <md-icon md-svg-icon="{{images_dir}}/icons/ic_vertical_align_top_black_24px.svg"></md-icon>
                        Déconnexion
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>

    </section>

</md-toolbar>