<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<md-content layout="column" layout-margin layout-padding>
    <label><i class="material-icons">question_answer</i> Comment verser une liste de mandants et clients ? </label>
    <div class="pad-h-5 pad-v-5 paragraph">
        Cette interface vous permet de verser sur AGORA l’ensemble de vos mandants et clients identifiés par leur numéro
        de SIREN/SIRET ou RNA.
        <br/>
        (1) Il vous suffit de copier les numéros de SIREN/SIRET/RNA depuis votre source de données et de les coller dans
        la case ci-dessous.
        <br/>
        (2) Cliquez ensuite sur « Ajouter ces organisations ».
        <br/><br/>
        Attention, vous ne pouvez verser plus de 100 numéros par versement.
    </div>
</md-content>

<form name="dataForm" novalidate>
    <md-content layout="row" class="pad-h-100 pad-v-30" flex=100" layout-align="center center">
        <md-input-container ng-if="isContributor()" layout="row" layout-align="center center"
                            class="md-block" flex-gt-sm="30" flex-sm="50" flex-xs="80">
            <label><i class="material-icons">info</i> Liste des mandants et clients </label><br/>

            <textarea name="list" required ng-model="data.list" rows="5" max-rows="10" ng-list="&#10;"
                      md-maxlength="1500"
                      ng-trim="false" ng-pattern="/^([^,\\/;|]\n?)+$/"></textarea>
            <ng-messages for="dataForm.list.$error">
                <ng-message when="pattern">Attention cette zone ne permet que la saisie de numéros SIREN, SIRET, RNA et
                    HATVP (caractères W,H et chiffres autorisés).
                    <br/>
                    Merci de séparer vos saisies par des retours à la ligne.
                </ng-message>
                <ng-message when="md-maxlength">La longueur de la liste ne peut pas dépasser 1500 caractères
                </ng-message>
            </ng-messages>
        </md-input-container>
    </md-content>


    <md-content layout="row" layout-align="center center">
        <md-button layout="row" layout-align="center center" layout-wrap
                   ui-sref="identite.initClient" ng-if="isContributor()"
                   class="md-primary md-button md-raised md-button-step"
                   md-colors="::{background: 'registre-primary-400', color: 'registre-background-50'}">
            <i class="material-icons">reply</i> Revenir à l'ecran précédent
        </md-button>
        <md-button ng-click="showConfirmAddOrganizations($event, $scope)"
                   ng-if="isContributor()" ng-disabled="dataForm.$invalid"
                   class="md-primary md-raised"
                   md-colors="::{background: 'registre-primary-400', color: 'registre-background-50'}">Ajouter ces
            organisations
        </md-button>
    </md-content>
</form>



