<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<fieldset  style="border: 0">
    <md-content layout="column" layout-margin layout-padding>
        <fieldset class="pad-h-5 pad-v-5 paragraph">
            La loi prévoit que toute personne exerçant une activité de représentation d'intérêts pour le compte de tiers communique à la Haute Autorité l'identité de ces tiers.
            <br/><br/>
            Vous devez mentionner dans cette rubrique l’identité de l’intégralité des tiers pour le compte desquels vous réalisez des actions de représentation d’intérêts. Si vous êtes
            un cabinet de conseil ou un cabinet d’avocat, il s’agit des clients pour le compte desquels vous avez réalisé une prestation rémunérée de représentation d’intérêts dans les
            six derniers mois. Pour en savoir plus, vous pouvez consulter <a class="link" ng-href="{{lien_lignes_directrices}}" target="_blank">les lignes directrices de la Haute
            Autorité</a>.
            <br/><br/>
            Si votre organisation conduit une activité de représentation d'intérêts pour un nouveau tiers, ou si votre organisation cesse de représenter un tiers, une actualisation des
            informations communiquées à la Haute Autorité doit être effectuée dans le mois qui suit ce changement.
            <br/><br/>
            Pour déclarer des activités pour un ancien client ou mandant, il vous suffit d'indiquer ce client ou mandant comme "inactif". Ainsi dans cette liste, vous pourrez déclarer
            des activités dont il a été le bénéficiaire dans la partie "Activités" sans qu'il soit dans votre liste de clients ou mandants actuels.
        </fieldset>
    </md-content>

    <md-content layout="column">
        <br/>
        <div class="copy-md-checkbox" style="margin: auto;" ng-if="isContributor() && canUpdateAndPublish()">
            <label layout="center" layout-align="center center">
                <input type="checkbox" id="check" ng-model="corporate.nonDeclarationTiers" ng-click="check($event, 'check')">
                <span class="checkbox"></span>
                Mon organisation n'exerce pas d'activités de représentation d'intérêts pour le compte de tiers.
            </label>
        </div>
        <br/>
        <p ng-if="!corporate.nonDeclarationTiers">Votre organisation déclare des activités de représentation
            d’intérêts effectuées pour le compte de tiers. Vous pouvez ajouter une organisation cliente en utilisant la
            barre de recherche ci-dessous.
            Si vous n'effectuez pas de représentation d'intérêts pour un tiers, vous pouvez modifier le statut de votre
            organisation en cochant la case ci-dessus.</p>
        <p ng-if="!corporate.nonDeclarationTiers && canUpdateAndPublish()">Merci de déclarer vos clients ou mandants à l'aide du champ ci-dessous. Lorsque vous aurez choisi une organisation, merci de cliquer
            sur le bouton " + " afin de l'ajouter à votre liste.</p>
        <p style="padding-bottom: 0;" ng-if="corporate.nonDeclarationTiers">Votre organisation ne déclare pas
            d'activités de représentation
            d’intérêts pour le compte de tiers.
            Si vous effectuez des activités de représentation d'intérêts pour un tiers, vous pouvez modifier le
            statut de votre organisation en décochant la case ci-dessus.</p>
    </md-content>

    <md-content>


        <md-content ng-if="isContributor() && canUpdateAndPublish() && !corporate.nonDeclarationTiers" layout="row" layout-align="center" layout-gt-sm="row"
                    class="pad-v-30">
            <ng-include src="searchTemplate" layout="column" flex="50"></ng-include>

            <md-button class="md-fab md-mini md-primary" aria-label="Ajouter" ng-click="showConfirmAddOrganization($event)"
                       ng-disabled="!validOrganization" title="Ajouter à ma liste des tiers" style="margin-top: -2px">
                <md-icon md-svg-src="{{images_dir}}/icons/ic_add_black_24px.svg">
                </md-icon>
            </md-button>
        </md-content>


        <md-content layout="row" layout-align="center" class="no-margin" ng-if="isContributor() && canUpdateAndPublish()">
            <md-button ng-click="contact($event)" class="link" >Je ne trouve pas mon client ou mandant
            </md-button>
        </md-content>
        <md-content layout="row" layout-align="center" class="no-margin" ng-if="isContributor() && canUpdateAndPublish()">
            <md-button ng-click="changeAllClientCurrentness($event)" class="link" >Je souhaite activer ou désactiver tous mes clients et mandants
            </md-button>
        </md-content>
        <md-content layout="row" layout-align="center" class="no-margin" ng-if="isContributor() && canUpdateAndPublish()">
            <md-button ng-click="lienMembres($event)" class="link" >Je souhaite ajouter un lien vers la liste de mes membres
            </md-button>
        </md-content>

        <!-- tableau des clients actif -->
        <span md-colors="::{color: 'registre-primary-400'}" class="md-title md-title-small">Clients ou mandants actuels</span>
        <md-subheader class="md-no-sticky" ng-hide="clients.length > 0">Aucun client ou mandant déclaré.</md-subheader>
        
        <md-table-container ng-show="clients.length > 0">
            <table md-table md-progress="clientsTableOptions.promise">
                <thead md-head md-order="clientsTableOptions.order" class="md-table-head"
                       md-colors="::{color: 'registre-background-50',background: 'registre-primary-400'}">
                <tr md-row>
                    <th md-column md-order-by="denomination">
                        <md-input-container>
                            <input placeholder="Raison sociale" md-colors="::{color: 'registre-background-50'}" type="text"
                                   ng-model="clientsTableOptions.filter.denomination" onclick="event.stopPropagation()">
                        </md-input-container>
                    </th>
                    <th md-column md-order-by="nationalId">
                        <md-input-container>
                            <input placeholder="Identifiant" md-colors="::{color: 'registre-background-50'}" type="text"
                                   ng-model="clientsTableOptions.filter.nationalId" onclick="event.stopPropagation()">
                        </md-input-container>
                    </th>
                    <th md-column md-colors="::{color: 'registre-background-50'}" class="center">Action</th>
                    
                </tr>
                </thead>
                <tbody md-body>
                <tr md-row ng-repeat="c in clients | filter: clientsTableOptions.filter">
                    <td md-cell>{{c.denomination}}</td>
                    <td md-cell>{{c.nationalId}}</td>
                    <td md-cell class="center">
                        <md-button class="md-primary" ng-click="modifierClient($event, c, 'desactivation')" ng-disabled="!(isContributor() && canUpdateAndPublish())" title="Modifier les informations" aria-label="Editer">
                            <span>Désactiver</span>
                            </md-icon>
                        </md-button>
                    </td>
                    
                </tr>
                </tbody>
            </table>
            <md-table-pagination md-label="clientsTableOptions.labels"
                                 md-page="clientsTableOptions.page" md-limit="clientsTableOptions.limit"
                                 md-total="{{clients.totalNumber}}"
                                 md-limit-options="clientsTableOptions.limitOptions"
                                 md-on-paginate="onPaginate"
                                 md-page-select></md-table-pagination>
        </md-table-container>

        <!-- tableau des anciens clients -->
        <span md-colors="::{color: 'registre-primary-400'}" class="md-title md-title-small">Anciens clients ou mandants</span>
        <md-subheader class="md-no-sticky" ng-hide="clientsAncien.length > 0">Aucun ancien client ou mandant déclaré.</md-subheader>
        <md-table-container ng-show="clientsAncien.length > 0">
            <table md-table md-progress="clientsAncienTableOptions.promise">
                <thead md-head md-order="clientsAncienTableOptions.order" class="md-table-head"
                       md-colors="::{color: 'registre-background-50',background: 'registre-primary-400'}">
                <tr md-row>
                    <th md-column md-order-by="denomination">
                        <md-input-container>
                            <input placeholder="Raison sociale" md-colors="::{color: 'registre-background-50'}" type="text"
                                   ng-model="clientsAncienTableOptions.filter.denomination" onclick="event.stopPropagation()">
                        </md-input-container>
                    </th>
                    <th md-column md-order-by="nationalId">
                        <md-input-container>
                            <input placeholder="Identifiant" md-colors="::{color: 'registre-background-50'}" type="text"
                                   ng-model="clientsAncienTableOptions.filter.nationalId" onclick="event.stopPropagation()">
                        </md-input-container>
                    </th>
                    <th md-column md-order-by="dateDesactivation">
                        <md-input-container>
                            <input placeholder="Date désactivation" md-colors="::{color: 'registre-background-50'}" type="text"
                                   ng-model="clientsAncienTableOptions.filter.dateDesactivation" onclick="event.stopPropagation()">
                        </md-input-container>
                    </th>
                    <th md-column md-order-by="dateFinContrat">
                        <md-input-container>
                            <input placeholder="Date fin contrat" md-colors="::{color: 'registre-background-50'}" type="text"
                                   ng-model="clientsAncienTableOptions.filter.dateFinContrat" onclick="event.stopPropagation()">
                        </md-input-container>
                    </th>
                    <th md-column md-colors="::{color: 'registre-background-50'}" class="center">Action</th>
                    
                </tr>
                </thead>
                <tbody md-body>
                <tr md-row ng-repeat="c in clientsAncien | filter: clientsAncienTableOptions.filter">
                    <td md-cell>{{c.denomination}}</td>
                    <td md-cell>{{c.nationalId}}</td>
                    <td md-cell>{{c.dateDesactivation | date: 'dd/MM/yyyy HH:mm:ms'}}</td>
                    <td md-cell>{{c.dateFinContrat ? (c.dateFinContrat  | date: 'dd/MM/yyyy') : "Non communiquée"}}</td>
                    <td md-cell class="center">
                        <md-button class="md-primary" ng-click="modifierClient($event, c, 'activation')" ng-disabled="!(isContributor() && canUpdateAndPublish())" title="Modifier les informations" aria-label="Editer">
                            <span>Réactiver</span>
                            </md-icon>
                        </md-button>
                    </td>
                    
                </tr>
                </tbody>
            </table>
            <md-table-pagination md-label="clientsAncienTableOptions.labels"
                                 md-page="clientsAncienTableOptions.page" md-limit="clientsAncienTableOptions.limit"
                                 md-total="{{clientsAncien.totalNumber}}"
                                 md-limit-options="clientsAncienTableOptions.limitOptions"
                                 md-on-paginate="onPaginateAncien"
                                 md-page-select></md-table-pagination>
        </md-table-container>
    </md-content>
</fieldset>

