<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<md-dialog aria-label="Date de fin de contrat" flex="70" ng-controller="ContributionClientsCtrl">
    <md-dialog-content flex="100" layout="column">
         <span class="md-title"  md-colors="::{color: 'registre-primary-100'}">Fin de contrat</span>

        <form  name="dataForm" ng-submit="desactivation($event, dataForm.$valid, client)" novalidate>
            <md-content layout="row" flex layout-align="center center">
                <fieldset flex="80" class="standard">
                    <md-content layout="column" layout-align="center center">                        
                        <md-input-container class="md-block">
                            <h4>Date de fin de contrat</h4>
                            <h5>(la date ne sera pas publiée)</h5>
                            <input name="dateFinContrat" ng-model="client.dateFinContrat" aria-label="Date fin de contrat"
                                   ui-mask="99/99/9999"
                                   ui_mask_placeholder="__/__/____" ui-mask-placeholder-char="space"
                                   ng-patternS="/^((0[1-9]|[12][0-9]|3[01])[\/](0[1-9]|1[012])[\/](20)[0-‌​9]{2})$/">
                        </md-input-container>
                        <md-input-container layout="row" layout-align="center center" class="md-block" flex-gt-sm="30" flex-sm="50" flex-xs="80">
                            <h4>Si un lien contractuel existe toujours avec ce client, merci de confirmer par un commentaire que vous n’exercez plus d’action de représentation d’intérêt pour ce client depuis au moins 6 mois.</h4>
                            <textarea aria-label="Commentaire" name="commentaire" ng-model="client.commentaire" rows="3" md-maxlength="255" ng-trim="true"></textarea>
                        </md-input-container>
 
                        <md-dialog-actions layout="row" flex="100" layout="center center">
                            <md-button flex="70"
                                       md-colors="::{background: 'registre-background-50', color: 'registre-primary-400'}"
                                       layout="row" layout-align="center center"
                                       class="md-raised md-primary"
                                       ng-click="closeModal($event)">
                                Annuler
                            </md-button>
                            <md-button flex="70"
                                       md-colors="::{background: 'registre-primary-400', color: 'registre-background-50'}"
                                       type="submit" layout="row" layout-align="center center"
                                       class="md-raised md-primary"
                                       ng-disabled="(client.dateFinContrat == null || client.dateFinContrat == '') && (client.commentaire == null || client.commentaire == '')">
                                Confirmer
                            </md-button>
                        </md-dialog-actions>
                    </md-content>
                </fieldset>
            </md-content>
        </form>
    </md-dialog-content>
</md-dialog>

