<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->


<md-dialog flex="50">
    <md-dialog-content flex="100" layout="column">
        <form name="form" ng-submit="saveLienMembres($event,form.$valid)">
        <span class="md-title" md-colors="::{color: 'registre-primary-100'}">Ajouter un lien externe</span>
        <md-content layout="column" layout-margin layout-padding>
            <fieldset class="pad-h-5 pad-v-5 paragraph">
               Si votre entité est une organisation professionnelle ou une association, vous n'êtes pas tenus de déclarer vos membres. 
                <br/>
                Néanmoins, vous pouvez en préciser la liste, par l'intermédiaire d'un lien externe que vous pourrez saisir ci-dessous. Ce lien sera rendu public sur le site de la Haute Autorité.
            </fieldset>
        </md-content>
            <md-input-container class="md-block md-registre-theme flex-100 md-input-invalid" flex="20">
                <label>Page des membres/adhérents de votre organisation</label>
                <input name="tiers_url" ng-model="ctrl.parent.corporate.lienListeTiers"
                       ng-pattern="'^https?:\/\/.*'"/>
                <ng-messages for="form.tiers_url.$error">
                    <ng-message when="pattern">Le format du lien est incorrect.</ng-message>
                </ng-messages>
                <md-tooltip md-direction="bottom">Indiquez le lien vers un site internet référençant les membres et les adhérents de votre organisation</md-tooltip>
            </md-input-container>
            <md-content layout="row" layout-align="center center" class="_md md-registre-theme layout-align-center-center layout-row">
            	<md-button type="submit"  ng-if="form.$dirty && form.$valid" md-colors="::{background: 'registre-primary-400', color: 'registre-background-50'}"
                       class="md-raised md-primary material-cust-size-button"> Enregistrer
            	</md-button>
            	<md-button ng-click="closeModal($event)" md-colors="::{background: 'registre-primary-400', color: 'registre-background-50'}"
                       class="md-raised md-primary material-cust-size-button"> Annuler
            	</md-button>
            </md-content>
        </form>
    </md-dialog-content>
</md-dialog>
