<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<md-dialog aria-label="Activer ou désactiver tous les tiers" flex="50">
    <md-dialog-content flex="100" layout="column">
        <span class="md-title" md-colors="::{color: 'registre-primary-100'}">Activer ou désactiver tous les tiers</span>
        <md-content layout="column" layout-margin layout-padding>
            <fieldset class="pad-h-5 pad-v-5 paragraph">
                Si votre organisation à conduit des activités de représentation d'intérêts pour des tiers qu'elle ne représente plus. Il vous est possible de désactiver tous les tiers déclarés.
                <br/><br/>
                Si votre organisation conduit de nouveau des activités de représentation d'intérêts pour l'ensemble des tiers qu'elle a déjà représenté. Il vous est possible de réactiver tous ces tiers.
            </fieldset>
        </md-content>
        <md-content layout="column" layout-align="center center">
            <md-button ng-click="ctrl.parent.changeAllClientOldness(false)" md-colors="::{background: 'registre-primary-400', color: 'registre-background-50'}"
                       class="md-raised md-primary material-cust-size-button">Activer tous les clients
            </md-button>
            <md-button ng-click="ctrl.parent.changeAllClientOldness(true)" md-colors="::{background: 'registre-primary-400', color: 'registre-background-50'}"
                       class="md-raised md-primary material-cust-size-button">Désactiver tous les clients
            </md-button>
            <md-button ng-click="ctrl.parent.closeModal($event)" md-colors="::{background: 'registre-primary-400', color: 'registre-background-50'}"
                       class="md-raised md-primary material-cust-size-button">
                Annuler
            </md-button>
        </md-content>
    </md-dialog-content>
</md-dialog>