<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<md-content  layout-gt-sm="row" flex>
    <md-input-container flex>
        <label>Période concernée</label>
        <md-select ng-model="modelPeriod">
            <md-option>
                01-07-2017 au 31-12-2017
            </md-option>
            <md-option>
                01-01-2018 au 31-12-2018
            </md-option>
            <md-option>
                01-01-2019 au 31-12-2019
            </md-option>
            <md-option>
                01-01-2020 au 31-12-2020
            </md-option>
            <md-option>
                01-01-2021 au 31-12-2021
            </md-option>
        </md-select>
    </md-input-container>
    <p class="pad-h-10p" flex>Sélectionnez l’exercice auquel se réfèrent les éléments déclarés dans ce formulaire</p>
</md-content>
<br><br>
<md-card-title>
    <md-card-title-text>
        <span class="md-title md-title-small ">Objet des activités</span>
    </md-card-title-text>
</md-card-title>
<md-card-content>
    <md-content layout-gt-sm="row" flex>
        <md-input-container flex>
            <label>Objet</label>
            <textarea textarea-limit-size="200" name="objet" ng-model="modelObjet" trim-space="trim" ng-trim="true" rows="3" ng-required="true"
                      md-maxlength="200" ng-disabled="true"></textarea>
        </md-input-container>
        <p class="pad-h-10p" flex>Décrivez la question sur laquelle a porté l’activité de représentation
            d’intérêts déclarée. pour plus de détails et des exemples, veuillez consulter nos <a class="" ng-href="{{lien_lignes_directrices}}" target="_blank">lignes
                directrices</a></p>
    </md-content>
    <md-content layout-gt-sm="row" flex>
        <md-input-container flex>
            <label>Domaine d'intervention</label>
            <md-select name="domaine" ng-model="modelDomaine">
                <md-optgroup class="ng-pristine ng-untouched ng-valid ng-scope ng-empty" label="Aéronautique, aérospatiale">
                    <md-option>
                        Industrie Aéronautique
                    </md-option>
                    <md-option>
                        Industrie Aérospatiale
                    </md-option>
                </md-optgroup>
                <md-optgroup class="ng-pristine ng-untouched ng-valid ng-scope ng-empty" label="Agriculture, agroalimentaire">
                    <md-option>
                        Agriculture
                    </md-option>
                    <md-option>
                        Développement des territoires
                    </md-option>
                    <md-option>
                        Industrie Agroalimentaire
                    </md-option>
                    <md-option>
                        Appelations
                    </md-option>
                    <md-option>
                        Sécurité et normes alimentaires
                    </md-option>
                </md-optgroup>
                <md-optgroup class="ng-pristine ng-untouched ng-valid ng-scope ng-empty" label="Arts, culture">
                    <md-option>
                        Musique
                    </md-option>
                    <md-option>
                        Cinéma
                    </md-option>
                    <md-option>
                        Livre
                    </md-option>
                    <md-option>
                        Jeux-vidéo
                    </md-option>
                    <md-option>
                        Patrimoine
                    </md-option>
                    <md-option>
                        Spectacle vivant
                    </md-option>
                    <md-option>
                        Accès à la culture
                    </md-option>
                </md-optgroup>
                <md-optgroup class="ng-pristine ng-untouched ng-valid ng-scope ng-empty" label="Banques, Assurances, Secteur Financier">
                    <md-option>
                        Banque
                    </md-option>
                    <md-option>
                        Assurances
                    </md-option>
                    <md-option>
                        Finances
                    </md-option>
                </md-optgroup>
                <md-optgroup class="ng-pristine ng-untouched ng-valid ng-scope ng-empty" label="Commerce extérieur">
                    <md-option>
                        Accords internationaux
                    </md-option>
                    <md-option>
                        Taxation
                    </md-option>
                </md-optgroup>
                <md-optgroup class="ng-pristine ng-untouched ng-valid ng-scope ng-empty" label="Coopération internationale">
                    <md-option>
                        Aide au développement
                    </md-option>
                    <md-option>
                        Humanitaire
                    </md-option>
                </md-optgroup>
                <md-optgroup class="ng-pristine ng-untouched ng-valid ng-scope ng-empty" label="Défense, sécurité">
                    <md-option>
                        Sécurité nationale
                    </md-option>
                    <md-option>
                        Défense
                    </md-option>
                    <md-option>
                        Accidents et catastrophes naturelles
                    </md-option>
                    <md-option>
                        Espionnage et surveillance
                    </md-option>
                </md-optgroup>
                <md-optgroup class="ng-pristine ng-untouched ng-valid ng-scope ng-empty" label="Economie">
                    <md-option>
                        Politique industrielle
                    </md-option>
                    <md-option>
                        Marchés réglementés
                    </md-option>
                </md-optgroup>
                <md-optgroup class="ng-pristine ng-untouched ng-valid ng-scope ng-empty" label="Education, Enseigement, Formation">
                    <md-option>
                        Formation professionnelle
                    </md-option>
                    <md-option>
                        Education
                    </md-option>
                </md-optgroup>
                <md-optgroup class="ng-pristine ng-untouched ng-valid ng-scope ng-empty" label="Emploin, Solidarité">
                    <md-option>
                        Droit du travail
                    </md-option>
                    <md-option>
                        Dialogue social
                    </md-option>
                    <md-option>
                        Assurance chômage
                    </md-option>
                    <md-option>
                        Retraites
                    </md-option>
                </md-optgroup>
                <md-optgroup class="ng-pristine ng-untouched ng-valid ng-scope ng-empty" label="Energie">
                    <md-option>
                        Energie nucléaire
                    </md-option>
                    <md-option>
                        Energie fossiles
                    </md-option>
                    <md-option>
                        Energie renouvelables
                    </md-option>
                </md-optgroup>
                <md-optgroup class="ng-pristine ng-untouched ng-valid ng-scope ng-empty" label="Enseignement supérieur, Recherche, Innovation">
                    <md-option>
                        Enseignement supérieur
                    </md-option>
                    <md-option>
                        Recherche et innovation
                    </md-option>
                </md-optgroup>
                <md-optgroup class="ng-pristine ng-untouched ng-valid ng-scope ng-empty" label="Environnement">
                    <md-option>
                        Impact de l'activité industrielle
                    </md-option>
                    <md-option>
                        Impact des transports marchands et collectifs
                    </md-option>
                    <md-option>
                        Impact des transports individuels
                    </md-option>
                    <md-option>
                        Qualité de l'eau
                    </md-option>
                    <md-option>
                        Déchets
                    </md-option>
                    <md-option>
                        Dépollution
                    </md-option>
                    <md-option>
                        Produits chimiques
                    </md-option>
                    <md-option>
                        Principe de précaution
                    </md-option>
                    <md-option>
                        Normes de production
                    </md-option>
                </md-optgroup>
                <md-optgroup class="ng-pristine ng-untouched ng-valid ng-scope ng-empty" label="Finances publiques">
                    <md-option>
                        Impôts
                    </md-option>
                    <md-option>
                        Taxes
                    </md-option>
                    <md-option>
                        Budget
                    </md-option>
                    <md-option>
                        Statistiques
                    </md-option>
                </md-optgroup>
                <md-optgroup class="ng-pristine ng-untouched ng-valid ng-scope ng-empty" label="Justice">
                    <md-option>
                        Institutions judiciaires
                    </md-option>
                    <md-option>
                        Institutions pénitentiaires
                    </md-option>
                    <md-option>
                        Justice pénale
                    </md-option>
                    <md-option>
                        Justice civile
                    </md-option>
                    <md-option>
                        Ordre administratif
                    </md-option>
                </md-optgroup>
                <md-optgroup class="ng-pristine ng-untouched ng-valid ng-scope ng-empty" label="Construction, Logement, Aménagement du territoire">
                    <md-option>
                        Construction
                    </md-option>
                    <md-option>
                        Logement
                    </md-option>
                    <md-option>
                        Bâtiments et travaux publics
                    </md-option>
                    <md-option>
                        Occupation des sols
                    </md-option>
                </md-optgroup>
                <md-optgroup class="ng-pristine ng-untouched ng-valid ng-scope ng-empty" label="Médias">
                    <md-option>
                        Audiovisuel
                    </md-option>
                    <md-option>
                        Presse écrite
                    </md-option>
                    <md-option>
                        Liberté d'expression et d'information
                    </md-option>
                    <md-option>
                        Publicité
                    </md-option>
                </md-optgroup>
                <md-optgroup class="ng-pristine ng-untouched ng-valid ng-scope ng-empty" label="Numérique">
                    <md-option>
                        Accès à l'internet
                    </md-option>
                    <md-option>
                        E-commerce
                    </md-option>
                    <md-option>
                        Marché du numérique
                    </md-option>
                    <md-option>
                        Protection des données
                    </md-option>
                </md-optgroup>
                <md-optgroup class="ng-pristine ng-untouched ng-valid ng-scope ng-empty" label="Outre-Mer">
                    <md-option>
                        Institutions des outre-mer
                    </md-option>
                    <md-option>
                        Economie des outre-mer
                    </md-option>
                    <md-option>
                        Développement économique des outre-mer
                    </md-option>
                </md-optgroup>
                <md-optgroup class="ng-pristine ng-untouched ng-valid ng-scope ng-empty" label="Pouvoir public et institutions">
                    <md-option>
                        Fonction publique
                    </md-option>
                    <md-option>
                        Collectivités territoriales
                    </md-option>
                    <md-option>
                        Moralisation/Transparence
                    </md-option>
                    <md-option>
                        Institutions européennes
                    </md-option>
                    <md-option>
                        Partenariats public/privé
                    </md-option>
                </md-optgroup>
                <md-optgroup class="ng-pristine ng-untouched ng-valid ng-scope ng-empty" label="Propriété intellectuelle">
                    <md-option>
                        Brevet
                    </md-option>
                    <md-option>
                        Droit d'auteur
                    </md-option>
                    <md-option>
                        Protection des marques
                    </md-option>
                    <md-option>
                        Secret des affaires/Secret professionnel
                    </md-option>
                </md-optgroup>
                <md-optgroup class="ng-pristine ng-untouched ng-valid ng-scope ng-empty" label="Questions migratoires">
                    <md-option>
                        Asile
                    </md-option>
                    <md-option>
                        Immigration
                    </md-option>
                    <md-option>
                        Français de l'étranger
                    </md-option>
                </md-optgroup>
                <md-optgroup class="ng-pristine ng-untouched ng-valid ng-scope ng-empty" label="Ressources naturelles">
                    <md-option>
                        Pêche
                    </md-option>
                    <md-option>
                        Chasse
                    </md-option>
                    <md-option>
                        Forêt
                    </md-option>
                    <md-option>
                        Ressources minières
                    </md-option>
                    <md-option>
                        Eaux
                    </md-option>
                </md-optgroup>
                <md-optgroup class="ng-pristine ng-untouched ng-valid ng-scope ng-empty" label="Santé">
                    <md-option>
                        système de santé et médico-social
                    </md-option>
                    <md-option>
                        Soins et maladies
                    </md-option>
                    <md-option>
                        Médicaments
                    </md-option>
                    <md-option>
                        Prévention
                    </md-option>
                    <md-option>
                        Remboursements
                    </md-option>
                </md-optgroup>
                <md-optgroup class="ng-pristine ng-untouched ng-valid ng-scope ng-empty" label="Entreprise et professions libérales">
                    <md-option>
                        Aides aux entreprises
                    </md-option>
                    <md-option>
                        PME/TPE
                    </md-option>
                    <md-option>
                        Professions réglementées
                    </md-option>
                    <md-option>
                        Droit de la concurrence
                    </md-option>
                </md-optgroup>
                <md-optgroup class="ng-pristine ng-untouched ng-valid ng-scope ng-empty" label="Société">
                    <md-option>
                        Laïcité
                    </md-option>
                    <md-option>
                        Egalité femmes/hommes
                    </md-option>
                    <md-option>
                        Egalités des chances
                    </md-option>
                    <md-option>
                        Famille
                    </md-option>
                    <md-option>
                        Discriminations
                    </md-option>
                    <md-option>
                        Handicap
                    </md-option>
                    <md-option>
                        Droits et libertés fondamentales
                    </md-option>
                    <md-option>
                        Droits des victimes
                    </md-option>
                    <md-option>
                        Bien-être animal
                    </md-option>
                </md-optgroup>
                <md-optgroup class="ng-pristine ng-untouched ng-valid ng-scope ng-empty" label="Sports, loisirs, tourisme">
                    <md-option>
                        Sports
                    </md-option>
                    <md-option>
                        Jeux d'argent
                    </md-option>
                    <md-option>
                        Tourisme/Hôtellerie
                    </md-option>
                </md-optgroup>
                <md-optgroup class="ng-pristine ng-untouched ng-valid ng-scope ng-empty" label="Télécommunications">
                    <md-option>
                        Infrastructures de télécommunications
                    </md-option>
                    <md-option>
                        Accès aux moyens de télécommunications
                    </md-option>
                </md-optgroup>
                <md-optgroup class="ng-pristine ng-untouched ng-valid ng-scope ng-empty" label="Transports, logistique">
                    <md-option>
                        Transports de voyageurs
                    </md-option>
                    <md-option>
                        Transport de fret
                    </md-option>
                    <md-option>
                        Infrastructures
                    </md-option>
                    <md-option>
                        Sécurité routière
                    </md-option>
                    <md-option>
                        Services postaux
                    </md-option>
                    <md-option>
                        Transports alternatifs
                    </md-option>
                </md-optgroup>
            </md-select>
        </md-input-container>
        <p class="pad-h-10p" flex>Entrez un mot-clef pour faire apparaître un domaine d’intervention. Vous devez
            en choisir 1 au minimum et 5 au maximum.</p>
    </md-content>
</md-card-content>
<md-card-content>
    <md-content layout-gt-sm="row" flex>
        <span class="pad-h-5" >J'ai effectué ces activités &nbsp;</span>
        <md-checkbox name="enPropre"
                     ng-model="enPropre"
                     aria-label="J'ai effectué ces activités en propre">
            en propre
        </md-checkbox>
        <md-checkbox name="pourTiers"
                     ng-model="pourTiers" aria-label="J'ai effectué ces activités pour des tiers"
                     >
            pour des tiers
        </md-checkbox>
    </md-content>
    <p><i style="color:rgba(0,0,0,0.38);">Merci de cocher au moins une des cases ci dessus pour pouvoir saisir
        des activités</i></p>

</md-card-content>

    <md-content ng-show="pourTiers || enPropre">

        <md-card-title>
            <md-card-title-text>
                <span md-colors="::{color: 'registre-primary-400'}" class="md-title md-title-small">Détail des activites par beneficiaire</span>
            </md-card-title-text>
        </md-card-title>

        <!-- bloc(s) de saisie des activités -->
        <md-card>

            <div class="expandcollapse-item">
                <div ng-click="active[$index] = !active[$index]"
                     ng-class="{'expandcollapse-heading-collapsed': active[$index], 'expandcollapse-heading-expanded': !active[$index]}"
                     ng-class-odd="'odd'" ng-class-even="'even'" id="divTiers{{$index}}">
                    <md-content layout="row" layout-align="space-between center">
                        <md-content>
                            <md-icon ng-show="active[$index]">expand_more</md-icon>
                            <md-tooltip>réduire</md-tooltip>
                            <md-icon ng-show="!active[$index]">expand_less</md-icon>
                            <md-tooltip>éditer</md-tooltip>
                        </md-content>
                    </md-content>

                    <div ng-hide="!active[$index]">
                            <span ng-repeat="tier in action.tiers">
                                {{$last ? tier.nomUsage !== undefined && tier.nomUsage !== null && tier.nomUsage !== '' ? tier.nomUsage : tier.denomination : tier.nomUsage !== undefined && tier.nomUsage !== null && tier.nomUsage !== '' ? tier.nomUsage + ', ' : tier.denomination + ', '}}
                            </span>
                        <span ng-if="enPropre">
                               Aucun bénéficiaire sélectionné
                           </span>
                    </div>
                </div>
                <div class="slideDown" ng-hide="active[$index]">
                    <div class="expand-collapse-content">
                        <!-- section tiers -->
                        <md-content>
                            <p>Sélectionnez parmi vos clients et mandants la liste des tiers concernés par l'activité
                                saisie. Vous pouvez également ajouter un ou plusieurs tiers non présents dans
                                la
                                liste.</p>
                            <md-content layout-gt-sm="row" flex>
                                <md-input-container flex>
                                    <label>Liste des bénéficiaires</label>
                                    <md-select name="beneficiaires" ng-model="action.tiers"
                                               md-on-close="clearSearchTerm()"
                                               data-md-container-class="hatvp-select-header" multiple=""
                                               ng-model-options="{trackBy: '$value.organisationId'}"
                                               ng-required="true"
                                    ng-disabled="true">
                                        <md-select-header class="select-header">
                                            <input ng-model="searchTerm" type="search" placeholder="Rechercher..."
                                                   class="select-header-searchbox md-text"
                                                   ng-keydown="stopEvent($event)">
                                        </md-select-header>
                                        <md-button value="tous" ng-click="selectAll()">Sélectionner tout</md-button>
                                        <md-option ng-repeat="tier in beneficiaires | accentFoldingFilter:searchTerm"
                                                   ng-value="tier" ng-class="hatvp-option-black"
                                                   ng-click="addTier(tier)">
                                            {{tier.nomUsage !== undefined && tier.nomUsage !== null && tier.nomUsage !==
                                            '' ? tier.nomUsage : tier.denomination}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>

                                <md-button class="link" ng-disabled="true">Je ne trouve pas un
                                    bénéficiaire
                                </md-button>
                            </md-content>
                            <p><span ng-show="enPropre" name="beneficiaire">Bénéficiaires : </span>
                                <span class="tag" ng-show="enPropre">Votre organisation &nbsp;x</span>
                            </p>
                        </md-content>

                        <br/>
                        <!-- Informations à saisir par bénéficiaires -->
                        <md-content flex="95" flex-offset="5" md-colors="::{background: 'registre-background-100'}">
                            <md-content layout-gt-sm="row" flex>
                                <md-input-container flex layout-gt-sm="column">
                                    <label>Catégories de responsables publics</label>
                                    <md-select name="responsables" ng-model="action.reponsablesPublics">
                                        <md-optgroup class="ng-pristine ng-untouched ng-valid ng-scope ng-empty" label="Membres du Gouvernement ou membres de cabinet ministérielle">
                                            <md-option>
                                                Premier ministre
                                            </md-option>
                                            <md-option>
                                                Affaires étrangères et développement international
                                            </md-option>
                                            <md-option>
                                                Environnement, énergie et mer
                                            </md-option>
                                            <md-option>
                                                Education nationale, enseignement supérieur et recherche
                                            </md-option>
                                            <md-option>
                                                Economies et finances
                                            </md-option>
                                            <md-option>
                                                Affaires sociales et santé
                                            </md-option>
                                            <md-option>
                                                Défense
                                            </md-option>
                                            <md-option>
                                                Justice
                                            </md-option>
                                            <md-option>
                                                Aménagement du territoire, ruralité et collectivités territoriale
                                            </md-option>
                                            <md-option>
                                                Travail, emploi, formation professionnelle et dialogue social
                                            </md-option>
                                            <md-option>
                                                Intérieur
                                            </md-option>
                                            <md-option>
                                                Agriculture, agroalimentaire et forêt
                                            </md-option>
                                            <md-option>
                                                Logement
                                            </md-option>
                                            <md-option>
                                                Culture et communication
                                            </md-option>
                                            <md-option>
                                                Famille, enfance et droits des femmes
                                            </md-option>
                                            <md-option>
                                                Fonction publique
                                            </md-option>
                                            <md-option>
                                                Ville, jeunesse et sport
                                            </md-option>
                                            <md-option>
                                                Outre-mer
                                            </md-option>
                                            <md-option>
                                                Autres: à préciser
                                            </md-option>
                                        </md-optgroup>
                                        <md-optgroup class="ng-pristine ng-untouched ng-valid ng-scope ng-empty" label="Responsable des autorités administratives indépendantes et autorités administratives indépendantes">
                                            <md-option>
                                                Agence française de lutte contre le dopage
                                            </md-option>
                                            <md-option>
                                                Autorité de contrôle des nuisances sonores aéroportuaires
                                            </md-option>
                                            <md-option>
                                                Autorité de régulation des communications électroniques et des postes
                                            </md-option>
                                            <md-option>
                                                Autorité de la concurrence
                                            </md-option>
                                            <md-option>
                                                Autorité de régulation de la distribution de la presse
                                            </md-option>
                                            <md-option>
                                                Autorité de régulation des activités ferroviaires et routières
                                            </md-option>
                                            <md-option>
                                                Autorité de régulation des jeux en ligne
                                            </md-option>
                                            <md-option>
                                                Autorité des marchés financiers
                                            </md-option>
                                            <md-option>
                                                Autorité de sûreté nucléaire
                                            </md-option>
                                            <md-option>
                                                Comité d'indemnisation des victimes des essais nucléaires
                                            </md-option>
                                            <md-option>
                                                Commission d'accès aux documents administratifs
                                            </md-option>
                                            <md-option>
                                                Commission du secret de la défense nationale
                                            </md-option>
                                            <md-option>
                                                Contrôleur général des lieux de privation de liberté
                                            </md-option>
                                            <md-option>
                                                Commission nationale des comptes de campagne et des financements politiques
                                            </md-option>
                                            <md-option>
                                                Commission nationale de contrôle des techniques de renseignement
                                            </md-option>
                                            <md-option>
                                                Commission nationale du débat public
                                            </md-option>
                                            <md-option>
                                                Commission nationale de l'informatique et des libertés
                                            </md-option>
                                            <md-option>
                                                Commission de régulation de l'énergie
                                            </md-option>
                                            <md-option>
                                                Conseil supérieur de l'audiovisuel
                                            </md-option>
                                            <md-option>
                                                Défenseur des droits
                                            </md-option>
                                            <md-option>
                                                Haute Autorité de santé
                                            </md-option>
                                            <md-option>
                                                Haut Conseil de l'évaluation de la recherche et de l'enseignement supérieur
                                            </md-option>
                                            <md-option>
                                                Haut Conseil du commissariat aux comptes
                                            </md-option>
                                            <md-option>
                                                Haute Autorité pour la diffusion des œuvres et la protection des droits sur internet
                                            </md-option>
                                            <md-option>
                                                Haute Autorité pour la transparence de la vie publique
                                            </md-option>
                                            <md-option>
                                                Médiateur national de l'énergie
                                            </md-option>
                                        </md-optgroup>
                                        <md-optgroup class="ng-pristine ng-untouched ng-valid ng-scope ng-empty" label="Responsable locaux: la collectivité territoriale ou l'établissement public de rattachement">
                                            <md-option>
                                                Collectivité outre-mer
                                            </md-option>
                                            <md-option>
                                                Collectivité à statut spécial
                                            </md-option>
                                            <md-option>
                                                Région
                                            </md-option>
                                            <md-option>
                                                Département
                                            </md-option>
                                            <md-option>
                                                Métropole
                                            </md-option>
                                            <md-option>
                                                Etablissement publics de coopération intercommunale
                                            </md-option>
                                            <md-option>
                                                Commune
                                            </md-option>
                                        </md-optgroup>
                                        <md-optgroup class="ng-pristine ng-untouched ng-valid ng-scope ng-empty" label="Autres">
                                            <md-option>
                                                Député ; sénateur ; collaborateur parlementaire ou agents des services des assemblées parlementaires
                                            </md-option>
                                            <md-option>
                                                Collaborateur du Président de la république
                                            </md-option>
                                            <md-option>
                                                Titulaire d'un emploi à la décision du Gouvernement
                                            </md-option>
                                        </md-optgroup>
                                    </md-select>
                                    <br>
                                    <md-input-container ng-if="action.reponsablesPublics.reponsablePublicCheck" flex>
                                        <label>Préciser le ou les ministères</label>
                                        <textarea textarea-limit-size="200" ng-model="action.responsablePublicAutre" trim-space="action.responsablePublicAutre"
                                                  ng-required="true" md-maxlength="200" ng-change="checkMinLength('responsablesAutres', action.responsablePublicAutre.length, 20)"
                                                  name="responsablesAutres"></textarea>
                                        <span style="color:rgb(235,22,48); ; font-size:0.8em;" ng-hide="action.responsablePublicAutre && action.responsablePublicAutre.length > 19">
                                            Ce champ doit contenir entre 20 et 200 caractères</span>
                                    </md-input-container>

                                </md-input-container>
                                <p class="pad-h-10p" flex>Sélectionnez une ou plusieurs catégories de responsables
                                    publics avec lesquels vous êtes entrés en communication au cours des activités de
                                    représentation d’intérêts déclarées dans ce formulaire</p>
                            </md-content>
                            <br/>

                            <md-content layout-gt-sm="row" flex>
                                <md-input-container flex>
                                    <label>Types de décisions publiques</label>
                                    <md-select name="decisions" ng-model="action.decisionsConcernees">

                                        <md-option>
                                            Lois, y compris constitutionnelles
                                        </md-option>
                                        <md-option>
                                            Ordonnances de l'article 38 de la Constitution
                                        </md-option>
                                        <md-option>
                                            Actes réglementaires
                                        </md-option>
                                        <md-option>
                                            Décisions mentionnées à l'article L. 221-7 du code des relations entre public et l'administration
                                        </md-option>
                                        <md-option>
                                            Contrats entrant dans le champ d'application de l'ordonnance n° 2015-899 du 23 juillet 2015 relative aux marchés publics,
                                            lorsque la valeur estimée hors taxe du besoin est égale ou supérieure aux seuils européens publiés au Journal officiel de la République Française
                                        </md-option>
                                        <md-option>
                                            Contrats entrant dans le champ de l'ordonnance n° 2016-65 du 29 janvier 2016 relative aux contrats de concession,
                                            lorsque la valeur estimée hors taxe du besoin est égale ou supérieure aux seuils européens publiés au Journal officiel de la République Française
                                        </md-option>
                                        <md-option>
                                            Contrats mentionnés aux articles L. 2122-6 du code général de la propriété des personnes publiques et L. 1311-5 du code général des
                                            collectivités territoriales
                                        </md-option>
                                        <md-option>
                                            Contrats mentionnés aux articles L. 1311-2 du code général des collectivités territoriales et L. 6148-2 du code de la santé publique
                                        </md-option>
                                        <md-option>
                                            Contrats mentionnés aux articles L. 3211-1, L. 3211-2, L. 3211-13 et L. 3211-14 du code général de la propriété des personnes publiques
                                        </md-option>
                                        <md-option>
                                            Délibérations approuvant la constitution d'une société d'économie mixte à opération unique prévue à l'article L. 1541-1 du code général des
                                            collectivités territoriales
                                        </md-option>
                                        <md-option>
                                            Autres décisions publiques
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                                <div>
                                    <span ng-repeat="d in dc">{{d}}</span>
                                </div>
                                <p class="pad-h-10p" flex>Précisez le ou les types de décisions publiques sur lesquelles
                                    ont porté les activités de représentation d’intérêts déclarée dans ce formulaire</p>
                            </md-content>
                            <br/>
                            <md-content layout-gt-sm="row" flex>
                                <md-input-container flex layout-gt-sm="column">
                                    <label>Types d'actions menées</label>
                                    <md-select name="actions" ng-model="action.actionsMenees">
                                        <md-option>
                                            Organiser des discussions informelles ou des réunions en tête-à-tête
                                        </md-option>
                                        <md-option>
                                            Convenir pour un tiers d'une entrevue avec le titulaire d'une charge publique
                                        </md-option>
                                        <md-option>
                                            Inviter ou organiser des évènements, des rencontres ou des activités promotionnelles
                                        </md-option>
                                        <md-option>
                                            Etablir une correspondance régulière (par courriel, par courrier…)
                                        </md-option>
                                        <md-option>
                                            Envoyer des pétitions, lettres ouvertes, tracts
                                        </md-option>
                                        <md-option>
                                            Organiser des débats publics, des marches, des stratégies d'influence sur internet
                                        </md-option>
                                        <md-option>
                                            Organiser des auditions, des consultations formelles sur des actes législatifs ou d'autres consultations ouvertes
                                        </md-option>
                                        <md-option>
                                            Transmettre des suggestions afin d'influencer la rédaction d'une décision publique
                                        </md-option>
                                        <md-option>
                                            Transmettre aux décideurs publics des informations, expertises dans un objectif de conviction
                                        </md-option>
                                        <md-option>
                                            Autres : à préciser
                                        </md-option>
                                    </md-select>
                                    <br>
                                    <md-input-container ng-if="action.actionsMenees.actionMeneeCheck" flex>
                                        <label>Préciser le ou les types d'actions</label>
                                        <textarea textarea-limit-size="200" ng-model="action.actionMeneeAutre" trim-space="action.actionMeneeAutre"
                                                  ng-required="true" md-maxlength="200" ng-change="checkMinLength('actionsAutres', action.actionMeneeAutre.length, 20)"
                                                  name="actionsAutres"></textarea>
                                        <span style="color:rgb(235,22,48); font-size:0.8em;"
                                              ng-hide="action.actionMeneeAutre && action.actionMeneeAutre.length > 19"> Ce champ doit contenir entre 20 et 200 caractères</span>
                                    </md-input-container>
                                </md-input-container>
                                <p class="pad-h-10p" flex>Précisez le ou les type(s) d’actions mises en œuvre dans le
                                    cadre des activités de représentation d’intérêts déclarées dans ce formulaire.</p>
                            </md-content>
                            <br/>
                            <md-content layout-gt-sm="row" flex>
                                <md-input-container flex>
                                    <label>Observations</label>
                                    <textarea ng-model="action.observation" trim-space="action.observation" rows=3 maxlength="700" md-maxlength="700" ng-disabled = "true"></textarea>
                                </md-input-container>
                                <p class="pad-h-10p" flex>Portez ici toute observation utile pour préciser les éléments
                                    déclarés. Vous pouvez en particulier préciser l’objectif poursuivi par les
                                    actions
                                    déclarées, les fonctions occupées par les responsables publics contactés, identifier
                                    une décision publique ou donner des compléments d’information sur les actions
                                    entreprises. </p>
                            </md-content>
                        </md-content>
                        <br>
                    </div>
                </div>
            </div>
        </md-card>
        <!-- fin bloc(s) de saisie des activités -->
    </md-content>