
// --------------------------------------------------------
// This file contains only basic styles
// --------------------------------------------------------

body {
    font-size: $base-font-size;
    line-height: 1.2;
    font-family: $base-font, Arial, Helvetica, sans-serif;
}

