
// --------------------------------------------------------
// This file contains only @font-face declarations
// -------------------------------------------------------

@font-face {
    font-family: 'NeuzeIt';
    src: url('../fonts/Neuzeit/Neuzeit-normal.woff2') format('woff2'),
         url('../fonts/Neuzeit/Neuzeit-normal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NeuzeIt Bold';
    src: url('../fonts/Neuzeit/Neuzeit-bold.woff2') format('woff2'),
         url('../fonts/Neuzeit/Neuzeit-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NeuzeIt Black';
    src: url('../fonts/Neuzeit/Neuzeit-black.woff2') format('woff2'),
         url('../fonts/Neuzeit/Neuzeit-black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NeuzeIt Book';
    src: url('../fonts/Neuzeit/Neuzeit-book.woff2') format('woff2'),
         url('../fonts/Neuzeit/Neuzeit-book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/MaterialIcons/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../fonts/MaterialIcons/MaterialIcons-Regular.woff2) format('woff2'),
    url(../fonts/MaterialIcons/MaterialIcons-Regular.woff) format('woff'),
    url(../fonts/MaterialIcons/MaterialIcons-Regular.ttf) format('truetype');
}