<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<md-list class="md-dense" flex>
    <md-subheader class="md-no-sticky" ng-hide="requests.length > 0">Aucune demande en attente.</md-subheader>
    <md-list-item class="md-3-line fx-zoom-normal fx-dur-500 fx-ease-expo" ng-repeat="request in requests" layout="row"
                  layout-align="center">
        <div class="md-list-item-text" layout="column">
            <h3><strong>{{ request.declarantNomComplet }}</strong></h3>
            <h4>{{ request.dateDemande }}</h4>
            <p>{{ request.declarantEmail }}</p>
            <p>{{ request.declarantTelephone }}</p>
            <md-divider></md-divider>
        </div>
        <md-button class="link" aria-label="Valider" layout="row" layout-align="center center"
                   ng-click="validerDemande(request, $index, $event)">
            <span class="pad-h-5">Valider la demande</span>
        </md-button>
        <md-button class="link" md-colors="::{color: 'registre-accent-A700'}" aria-label="Rejeter" layout="row"
                   layout-align="center center" ng-click="rejeterDemande(request, $index, $event)">
            <span class="pad-h-5">Rejeter la demande</span>
        </md-button>
    </md-list-item>
</md-list>