<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<md-list>
    <md-list-item ng-repeat="email_complement in user.emails_complement" layout="column" layout-align="center"
                  class="fx-zoom-normal fx-dur-500 fx-ease-expo">

        <ng-form name="innerForm" novalidate layout="row" layout-align="space-between">
            <md-input-container flex="45">
                <label>Catégorie</label>
                <md-select name="emailType" ng-model="email_complement.categorie"
                           ng-required="innerForm.emailCompl.$viewValue !== ''">
                    <md-option value="PERSO">Personnel</md-option>
                    <md-option value="PRO">Professionnel</md-option>
                </md-select>
                <ng-messages for="innerForm.emailType.$error" ng-if='innerForm.emailCompl.$error'>
                    <ng-message when="required">Ce champ est obligatoire.</ng-message>
                </ng-messages>
            </md-input-container>

            <md-input-container flex>
                <label>Adresse courriel</label>
                <input type="email" name="emailCompl" ng-model="email_complement.email"
                       minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/"/>
                <ng-messages for="innerForm.emailCompl.$error">
                    <ng-message when="required">Ce champ est obligatoire.</ng-message>
                    <ng-message when="pattern">Le format de l'adresse courriel saisie est incorrect. Veuillez
                        réessayer.
                    </ng-message>
                </ng-messages>
            </md-input-container>

            <md-button layout="row" ng-click="remEmail($index)" class="md-icon-button" ng-hide="$first">
                <md-icon md-svg-src="{{images_dir}}/icons/less.svg" aria-label="Supprimer une adresse email"></md-icon>
                <md-tooltip md-direction="bottom">
                    Supprimer
                </md-tooltip>
            </md-button>
        </ng-form>
    </md-list-item>
    <md-list-item flex="90">
        <md-button layout="row" ng-click="addEmail()" class="md-icon-button md-add-button">
            <md-icon md-svg-src="{{images_dir}}/icons/more.svg" aria-label="Ajouter une autre adresse Email"></md-icon>
        </md-button>
    </md-list-item>
</md-list>