<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<md-toolbar md-colors="::{background: 'registre-primary-200'}" class="footer lock-size" layout="row"
            layout-align="left center" hide-sm hide-xs>
    <a md-colors="::{color: 'registre-background-50'}" ng-click="displayHelpText($event)" style="cursor:pointer;">Assistance
        de télédéclaration</a>
    <a md-colors="::{color: 'registre-background-50'}" target="_blank" ng-href="{{lien_mentions_legales}}">Mentions
        légales</a>
    <a md-colors="::{color: 'registre-background-50'}" target="_blank" ng-href="{{lien_hatvp}}">hatvp.fr</a>
    <a md-colors="::{color: 'registre-background-50'}" target="_blank" ng-href="{{lien_guide_utilisation}}">Fiches pratiques</a>
</md-toolbar>