<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<md-toolbar md-colors="::{background: 'registre-background-50'}" layout="row" layout-align="space-between center"
            class="header">
    <a class="header-logo" ui-sref="home" layout="row" layout-align="center center">
        <img ng-src="{{images_dir}}/logo_bleu.jpg" alt="{{globalSettings.title}}">
        <h2 class="header-title" md-colors="::{color: 'registre-primary-300'}">{{globalSettings.title}} <br/> {{globalSettings.subTitle}}</h2>
    </a>

    <section class="header-nav" layout="row" layout-align="end center" class="header-infos" ng-show="isConnected()">
        <!-- statut espace autre que desinscription -->
        <div>{{currentCorporate().statutEspaceAffichage.label}} {{currentCorporate().datePublicationAffichage  | date : 'dd/MM/yyyy'}}</div>

        <md-divider ng-show="corporateState" class="fx-fade-normal fx-dur-300 fx-ease-none"></md-divider>

	<!-- bouton Identité -->
        <md-button id="identite_button" ui-sref="identite" md-colors="::{color : 'registre-primary-600'}" aria-label="identite" layout="column"  ng-show="corporateState" ng-disabled="!isCorporateActive() || !userHasAccess()" class="dropbtn">
            <md-icon md-svg-src="{{images_dir}}/icons/publi.svg" aria-label="Identite"></md-icon>
            <span class="md-button-label">Identité</span>
        </md-button>
	<!-- bouton Activités -->
	<md-button id="activite_button" ui-sref="rapports.declaration" md-colors="::{color : 'registre-primary-600'}" aria-label="contribution" layout="column"  ng-show="corporateState" ng-click="toggleDropdownMenu($event)"  ng-disabled="!isCorporateActive() || !userHasAccess()" class="dropbtn">
		<md-icon md-svg-src="{{images_dir}}/icons/contrib.svg" aria-label="Contribution"></md-icon> <span class="md-button-label">Activités</span>
	</md-button>

	<!-- bouton gestion -->
        <md-button md-colors="::{color : 'registre-primary-600'}" layout="column" ng-if="isAdministrator()"
                   ui-sref="gestion" ui-sref-active="active" ng-show="corporateState"
                   ng-disabled="!isCorporateActive() || !userHasAccess()"
                   class="fx-fade-normal fx-dur-300 fx-ease-none">
            <md-icon md-svg-src="{{images_dir}}/icons/gestion.svg" aria-label="Gestion"></md-icon>
            <span class="md-button-label">gestion</span>
        </md-button>

        <md-divider ng-show="corporateState" class="fx-fade-normal fx-dur-300 fx-ease-none"></md-divider>

        <md-button id="espaceMenuButton" md-colors="::{color : 'registre-primary-600'}" aria-label="espace"
                   layout="column" ng-click="toggleDropdownMenu($event)" class="dropbtn">
            <md-icon md-svg-src="{{images_dir}}/icons/space.svg" aria-label="Espace"></md-icon>
            <span class="md-button-label">espace</span>
        </md-button>

        <md-menu-content id="espaceDropDown" class="md-dropdown fx-fade-normal fx-dur-200 fx-ease-none"
                         ng-show="displayEspaceMenu" width="5">
            <md-list>
                <md-list-item ng-repeat="c in corporates" ng-click="selectCorporate(c)"
                              title="{{c.organisationDenomination}}"
                              ng-class="{'active': c.id === currentCorporate().id}">
                    <md-button flex="10" class="md-icon-button md-icon-star" ng-click="toggleFav(c)"
                               aria-label="representantLegal">
                        <md-icon md-colors="::{color: 'registre-background-50'}"
                                 md-svg-icon="{{images_dir}}/icons/{{c.favori===true?'star-full':'star'}}.svg"></md-icon>
                        <md-tooltip>Favori</md-tooltip>
                    </md-button>

                    <div md-colors="::{color: 'registre-primary-400'}" flex="80" class="md-list-item-text">
                        <span>{{c.organisationDenomination | limitTo: 35}}<span ng-if="c.organisationDenomination.length > 35">...</span></span>
                    </div>

                    <md-icon flex="10" class="md-icon-lock"
                             md-svg-icon="{{images_dir}}/icons/{{c.actif && !c.verrouille && c.espaceOrganisationActif?'unlock':'lock'}}.svg"
                             aria-label="verrouillé">
                        <md-tooltip>Espace verrouillé</md-tooltip>
                    </md-icon>

                </md-list-item>
                <md-list-item ui-sref="corporateAdd">
                    <md-button flex="10" class="md-icon-button md-icon-add" aria-label="representantLegal">
                        <md-icon md-svg-src="{{images_dir}}/icons/more.svg"
                                 aria-label="Rejoindre un nouvel espace collaboratif"></md-icon>
                    </md-button>
                    <p flex="90" class="md-list-item-text" md-colors="::{color: 'registre-primary-400'}">Rejoindre un
                        nouvel espace collaboratif</p>
                </md-list-item>
            </md-list>
        </md-menu-content>

        <md-button id="aideMenuButton" md-colors="::{color : 'registre-primary-600'}" md-menu-origin aria-label="aide"
                   layout="column"
                   ng-click="toggleDropdownMenu($event)">
            <md-icon md-svg-src="{{images_dir}}/icons/aide.svg" aria-label="Aide"></md-icon>
            <span class="md-button-label">aide</span>
        </md-button>

        <md-menu-content id="aideDropDown" class="md-dropdown fx-fade-normal fx-dur-200 fx-ease-none"
                         ng-show="displayAideMenu" width="4">
            <md-list>
                <md-list-item ng-click="displayHelpText($event)">
                    <div md-colors="::{color: 'registre-primary-400'}"
                         class="md-list-item-text pad-h-30">Assistance de
                        télédéclaration
                    </div>
                </md-list-item>
                <md-list-item ng-click="openurl(lien_guide_utilisation)">
                    <div md-colors="::{color: 'registre-primary-400'}" class="md-list-item-text pad-h-30">Fiches pratiques
                    </div>
                </md-list-item>
                <md-list-item ng-click="attest($event)" ng-if="isAdministrator() && hasAccessButtonDesinscription != 0 && hasAccessButtonDesinscription != 3">
                    <div md-colors="::{color: 'registre-primary-400'}" class="md-list-item-text pad-h-10">
                        <md-icon md-svg-icon="{{images_dir}}/icons/stop.svg" class="md-10"></md-icon>
                        Désinscription
                    </div>
                </md-list-item>
            </md-list>
        </md-menu-content>

        <md-divider></md-divider>

        <md-button id="profilMenuButton" md-menu-origin layout="row" aria-label="profil"
                   ng-click="toggleDropdownMenu($event)">
            <md-icon md-svg-icon="{{images_dir}}/icons/profil.svg"></md-icon>
            <span class="header-name" md-colors="::{color: 'registre-primary-400'}">
		        {{currentUser().prenom}} {{currentUser().nom}}
		    </span>
        </md-button>

        <md-menu-content id="profilDropDown" class="md-dropdown fx-fade-normal fx-dur-200 fx-ease-none"
                         ng-show="displayProfilMenu" width="4">
            <md-list>
                <md-list-item ui-sref="userdata">
                    <div md-colors="::{color: 'registre-primary-400'}" class="md-list-item-text pad-h-10">
                        <md-icon md-svg-icon="{{images_dir}}/icons/edit.svg" class="md-10"></md-icon>
                        Modifier mon profil
                    </div>
                </md-list-item>
                <md-list-item ng-click="logout()">
                <div md-colors="::{color: 'registre-primary-400'}" class="md-list-item-text pad-h-10">
                    <md-icon md-svg-icon="{{images_dir}}/icons/logout.svg" class="md-10"></md-icon>
                    Déconnexion
                </div>
            </md-list-item>
            </md-list>
        </md-menu-content>

    </section>
</md-toolbar>
