<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<md-toolbar md-colors="::{background: 'registre-background-50'}" layout="row" layout-align="space-between center"
            class="header">
    <a class="header-logo" ui-sref="home" layout="row" layout-align="center center">
        <img ng-src="{{images_dir}}/logo-HATVP.svg" alt="{{globalSettings.title}}">
        <h2 class="header-title" md-colors="::{color: 'registre-primary-300'}">{{globalSettings.title}} <br/> {{globalSettings.subTitle}}</h2>
    </a>
</md-toolbar>