<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<md-list>
    <md-list-item ng-repeat="telephone in user.telephones" layout="column" layout-align="center"
                  class="fx-zoom-normal fx-dur-500 fx-ease-expo">

        <ng-form name="innerForm" novalidate layout="row" layout-align="start">
            <md-input-container flex="45">
                <label>Catégorie</label>
                <md-select name="telType" ng-model="telephone.categorie"
                           ng-required="innerForm.tel.$viewValue !== ''">
                    <md-option value="PERSO">Personnel</md-option>
                    <md-option value="PRO">Professionnel</md-option>
                </md-select>
                <ng-messages for="innerForm.telType.$error" ng-if='innerForm.tel.$error'>
                    <ng-message when="required">Ce champ est obligatoire.</ng-message>
                </ng-messages>
            </md-input-container>

            <md-input-container flex>
                <label>Numéro de téléphone</label>
                <input name="tel" ng-model="telephone.telephone" value="{{telephone.telephone}}" md-maxlength="15"
                       ng-pattern="/^\+?[\(\)0-9 \-]+$/">
                <ng-messages for="innerForm.tel.$error">
                    <ng-message when="required">Ce champ est obligatoire.</ng-message>
                    <ng-message when="pattern">Le format du numéro de téléphone saisi est incorrect.</ng-message>
                    <ng-message when="md-maxlength">La longueur du numéro de téléphone doit être inférieure à 15
                        caractères.
                    </ng-message>
                </ng-messages>
            </md-input-container>

            <md-button layout="row" ng-click="remTel($index)" class="md-icon-button" ng-hide="$first">
                <md-icon md-svg-src="{{images_dir}}/icons/less.svg" aria-label="Supprimer un numéro de téléphone"></md-icon>
                <md-tooltip md-direction="bottom">
                    Supprimer
                </md-tooltip>
            </md-button>
        </ng-form>
    </md-list-item>
    <md-list-item flex="90">
        <md-button layout="row" ng-click="addTel()" class="md-icon-button md-add-button">
            <md-icon md-svg-src="{{images_dir}}/icons/more.svg" aria-label="Ajouter un autre numéro de téléphone"></md-icon>
        </md-button>
    </md-list-item>
</md-list>