<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<form name="resetPasswordForm" ng-submit="reset_password(resetPasswordForm.$valid)" novalidate>

    <div layout="row" class="pad-h-30 pad-v-45">
        <h1 md-colors="::{color : 'registre-primary-400'}" class="md-title md-title-big" flex="40">
            Modifier mon mot de passe
        </h1>
    </div>

    <md-card class="pad-h-100 pad-v-30 pad-h-25p">
        <md-card-content layout="column">
            <md-input-container class="md-block">
                <label>Veuillez saisir ici votre nouveau mot de passe</label>
                <input type="password" name="password" ng-model="user.password" md-no-asterisk
                       minlength="8" ng-pattern="/^(?=.*?[a-zA-Z])(?=.*?[0-9]).{8,}$/" required>
                <ng-messages for="resetPasswordForm.password.$error">
                    <ng-message when="required">Ce champ est obligatoire.</ng-message>
                    <ng-message when="minlength">Le mot de passe doit contenir au moins 8 caractères, dont au moins
                            un chiffre et une lettre.</ng-message>
                    <ng-message when="pattern">Le format votre mot de passe est incorrect. Il doit contenir au moins
                            un chiffre et une lettre.</ng-message>
                </ng-messages>
            </md-input-container>

            <md-input-container class="md-block">
                <label>Veuillez confirmer ici votre nouveau mot de passe</label>
                <input type="password" name="password2" ng-model="user.password2" md-no-asterisk
                       required password-verify="user.password">
                <ng-messages for="resetPasswordForm.password2.$error">
                    <ng-message when="required">Ce champ est obligatoire.</ng-message>
                    <ng-message when="passwordVerify">Les deux mots de passe saisis ne sont pas identiques.
                            Veuillez réessayer.</ng-message>
                </ng-messages>
            </md-input-container>
            </md-content>
        </md-card-content>

        <md-card-actions layout="column">
            <md-button type="submit" layout="row" layout-align="center center" class="md-raised"
                       md-colors="::{background: 'registre-primary-400', color: 'registre-background-50'}"
                       ng-disabled="resetPasswordForm.$invalid">
                Enregistrer
            </md-button>
        </md-card-actions>
    </md-card>
</form>