<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Attestation de désinscription
        </title>
        <link rel="stylesheet" type="text/css" th:href="@{classpath:pdf/style/style.css}" />
    </head>

    <body>
        <div id="header">
        	<img  th:src="@{classpath:pdf/logo.jpg}" class="logo" />
        </div>

        <p th:text="'Fait le ' + ${#temporals.format(#temporals.createToday(), 'dd/MM/yyyy')}"></p>
        
        <div>
            <h2 style="text-align: justify;">Afin de justifier votre demande de désinscription, merci d'attester, en tant que représentant légal de votre organisation, les éléments suivants :</h2>
            
            <ol>
	            <li>Au sein de votre organisation, aucun employé, dirigeant ou membre ne répond au critère de l'activité principale, c'est-à-dire que personne, au cours des six derniers mois, n'a passé plus de la moitié de son temps à effectuer des actions de représentation d'intérêts<sup>1</sup>.</li>
	
	            <li>Au sein de votre organisation, aucun employé, dirigeant ou membre ne répond au critère de l'activité régulière, c'est-à-dire que personne n'a effectué au moins dix actions de représentation d'intérêts sur une période de douze mois<sup>2</sup>.</li>
	
	            <li>Au sein de votre organisation, aucun employé, dirigeant ou membre n'est entré au moins dix fois en communication avec un responsable public dans le but d'influer sur une décision publique lors de rendez-vous organisés par un cabinet de conseils ou d'avocats ou par une organisation professionnelle.</li>
	
	            <li>Au cours des douze prochains mois, aucun employé, dirigeant ou membre n'est susceptible, à votre connaissance, de remplir le critère de l'activité principale ou le critère de l'activité régulière de représentation d'intérêts, notamment au regard d'un contexte législatif en lien avec les intérêts de votre organisation.</li>
			</ol>
	        
         </div>   
         
         <div class="referenceFooter">       
       		<ol>	        
            	<li>Ce temps passé à réaliser des actions de représentation d'intérêts intègre la durée des communications, le temps consacré à leur préparation, à leur organisation et à leur suivi. Le calcul du temps passé peut être déterminé selon un faisceau d'indices se basant notamment sur : l'intitulé du poste de la personne ; la description de ses missions ; le nombre d'actions de représentation d'intérêts réalisées sur les six derniers  mois ; la participation aux travaux des organismes auxquels son organisation est affiliée et qui sont en lien avec les intérêts représentés ; la part globale, sur la période des six mois, des activités sans lien avec la représentation d'intérêts.</li>
				
				<li>Cette période de douze mois doit être appréciée de manière continue et ne couvre pas nécessairement l'année civile.</li>
			</ol>
         </div>          
    </body>
</html>