<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Attestation de désinscription
        </title>
        <link rel="stylesheet" type="text/css" th:href="@{classpath:pdf/style/style.css}" />
    </head>
    <body>
        <div id="footer">
            <span class="horodatage" th:text="${#temporals.format(#temporals.createNow(), 'dd-MM-yyyy HH:mm')}"></span>
            <span class="page_number">Page <span id="pagenumber"></span> sur <span id="pagecount"></span></span>
        </div>

        <div id="header">
            <table>
                <tr>
                    <td><img  th:src="@{classpath:pdf/logo.jpg}" class="logo" /></td>
                </tr>
            </table>
        </div>

        <p th:text="'Fait le ' + ${#temporals.format(#temporals.createToday(), 'dd/MM/yyyy')}"></p>*
        <div>
            <p>Madame, Monsieur,
                Afin de procéder à la désinscription du répertoire numérique des représentants d’intérêts de <span th:text="${orga.organisationData.denomination}">organisation</span>,
                dont vous êtes le contact opérationnel, merci de nous faire parvenir une demande formelle de désinscription,
                dont vous trouverez un modèle ci-joint, datée et signée du représentant légal de l’organisation:
                <tr th:each="rl : ${orga.espaceOrganisation.administrateurs}">
                    <td><span th:text="${rl.nom}">nom</span> <span th:text="${rl.prenom}">prenom</span></td>
                </tr>
                A la réception de cette demande, votre organisation sera désinscrite du répertoire numérique par nos services dans les plus brefs délais.
            </p>
            <span>Nous restons à votre disposition pour toute demande complémentaire.</span>
        </div>
    </body>
</html>