<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Demande de sésinscription</title>
        <link rel="stylesheet" type="text/css" th:href="@{classpath:pdf/style/style.css}" />
    </head>
    <body>
    	<div id="header">
        	<img  th:src="@{classpath:pdf/logo.jpg}" class="logo" />
        </div>
        
        <div>
            <p style="text-align: justify;">
            	J’atteste que l’organisation <span th:text="${denomination}">ORGA</span>, dont je suis le représentant légal et pour laquelle une demande d’inscription 
            	au répertoire numérique des représentants d'intérêts a été introduite le <span th:text="${dateCreation}">date de création</span>, ne remplit plus 
            	les critères prévus à l’article 18-2 de la loi n° 2013-907 du 11 octobre 2013 relative à la transparence de la vie publique. 
            </p>
            <p style="text-align: justify;">
            	Je souhaite en conséquence qu’elle soit désinscrite du répertoire numérique des représentants d’intérêts par les services 
            	de la Haute Autorité.
            </p>
            <p style="margin-top: 20%;">
            	Fait le :
            </p>
            <p>
            	Signature :
            </p>
        </div>
        
    </body>
</html>