<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<form name="dataForm" ng-submit="editContacts($event, dataForm.$valid)" novalidate>

    <div layout="row" class="pad-h-30 pad-v-45">
        <h1 md-colors="::{color : 'registre-primary-400'}" class="md-title md-title-big" flex="40">
            Données personnelles
        </h1>
    </div>

    <md-content class="pad-h-100 pad-v-30" layout="column">
        <md-content layout-padding>
            <div layout="row" layout-wrap>
                <md-input-container flex-gt-sm="20" flex-sm="100" flex-xs="100">
                    <label>Civilité</label>
                    <md-select name="civil" ng-model="user.civilite" disabled>
                        <md-option value="M">M.</md-option>
                        <md-option value="MME">Mme</md-option>
                    </md-select>
                </md-input-container>

                <md-input-container flex-gt-sm="40" flex-sm="50" flex-xs="100">
                    <label>Nom</label>
                    <input name="nom" ng-model="user.nom" disabled>
                </md-input-container>

                <md-input-container flex-gt-sm="40" flex-sm="50" flex-xs="100">
                    <label>Prénom</label>
                    <input name="prenom" ng-model="user.prenom" disabled>
                </md-input-container>
            </div>

            <div layout="row" layout-align="start center">
                <md-input-container class="md-block" flex>
                    <label>Date de naissance</label>
                    <md-content flex>
                        <input required name="birthday" aria-label="Date de naissance" ng-model="user.date_naissance"
                               disabled>
                    </md-content>
                </md-input-container>
            </div>

            <div layout="row" layout-align="start center">
                <md-content class="md-block" flex>
                    <div flex="90">
                        <lf-ng-md-file-input name="files01"
                                             lf-files="files01"
                                             accept="image/jpg,image/jpeg,image/png,application/pdf"
                                             lf-mimetype="image/jpg,image/jpeg,image/png,application/pdf"
                                             lf-placeholder="Pièce d'identité *"
                                             progress
                                             lf-filesize="{{maxFileSizeInMB}}MB"
                                             lf-browse-label="Joindre fichier"
                                             lf-remove-label="Supprimer"
                                             class="input-file">
                        </lf-ng-md-file-input>
                    </div>
                </md-content>

                <md-content class="md-block" flex style="padding-bottom: 20px;">
                    <div ng-messages="dataForm.files01.$error"  >
                        <span ng-message="filesize">La taille de la pièce d'identité ne peut excéder {{maxFileSizeInMB}} Mo.</span>
                        <span ng-message="mimetype">Format de la pièce d'identité incorrect. Seuls les formats jpg, jpeg, png ou pdf sont acceptés.</span>
                        &nbsp;
                    </div>
                </md-content>

                <md-button class="md-accent" ng-click="addPiece($event)" layout="row">
                    <md-icon md-svg-icon="{{images_dir}}/icons/edit.svg" class="md-10"></md-icon>
                    <span>Ajouter</span>
                </md-button>
            </div>

            <div layout="row" layout-align="start center">
                <md-content layout="column" layout-align="space-around start" flex style="border: 1px solid black; padding: 15px; margin-bottom: 10px;">
                    <span>Pièces d'identité fournies: </span>
                    <md-button ng-repeat="f in pieces" class="md-primary"
                               ng-href="{{pieceDownloadUrl}}/{{f.id}}" target="_blank">
                        {{f.dateVersementPiece}} &nbsp;&nbsp;&nbsp;&nbsp; {{f.nomFichier}}
                    </md-button>
                    <i ng-if="pieces.length === 0">Aucune pièce fournie.</i>
                </md-content>
            </div>

            <div layout="row" layout-align="start center">
                <md-input-container class="md-block" flex>
                    <label>Adresse courriel principale</label>
                    <input type="email" name="email" ng-model="user.email" disabled/>
                </md-input-container>

                <md-button class="md-accent" ng-click="editEmail($event)" layout="row">
                    <md-icon md-svg-icon="{{images_dir}}/icons/edit.svg" class="md-10"></md-icon>
                    <span>Modifier</span>
                </md-button>
            </div>

            <div layout="row" layout-align="start center">
                <md-input-container class="md-block" flex>
                    <label>Numéro de téléphone principal</label>
                    <input name="telephone" ng-model="user.telephone" disabled/>
                </md-input-container>

                <md-button class="md-accent" ng-click="editTelephone($event)" layout="row">
                    <md-icon md-svg-icon="{{images_dir}}/icons/edit.svg" class="md-10"></md-icon>
                    <span>Modifier</span>
                </md-button>
            </div>

            <div layout="row" layout-align="start center">
                <md-input-container class="md-block" flex>
                    <label>Mot de passe</label>
                    <input type="password" name="password" placeholder="**********" disabled/>
                </md-input-container>

                <md-button class="md-accent" ng-click="editPassword($event)" layout="row">
                    <md-icon md-svg-icon="{{images_dir}}/icons/edit.svg" class="md-10"></md-icon>
                    <span>Modifier</span>
                </md-button>
            </div>

            <md-content flex="30">
                <p md-colors="::{color: 'registre-primary-400'}" class="md-title md-title-small">
                    Mes moyens de contact
                </p>
            </md-content>

            <div ng-include="'partials/emails-list.html'"></div>
            <md-divider flex></md-divider>
            <div ng-include="'partials/tel-list.html'"></div>
        </md-content>

        <div layout="row" layout-align="center center" class="md-button-wrapper">
            <md-button flex="30" type="submit" class="md-primary md-raised fx-zoom-normal fx-dur-500 fx-ease-expo"
                       md-colors="::{background: 'registre-primary-400', color: 'registre-background-50'}">
                Enregistrer
            </md-button>
        </div>
    </md-content>
</form>