<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<div flex="100" layout="column" flex="100" md-colors="::{background : 'registre-background-400'}">
    <md-input-container>
        <label>Adresse</label>
        <textarea name="adresse" ng-model="oldPublication.adresse" rows="2" disabled></textarea>
    </md-input-container>
    <md-input-container>
        <label>Code postal</label>
        <input name="codePostal" ng-model="oldPublication.codePostal" disabled/>
    </md-input-container>
    <md-input-container>
        <label>Ville</label>
        <input name="ville" ng-model="oldPublication.ville" disabled/>
    </md-input-container>
    <md-input-container>
        <label>Pays</label>
        <input name="pays" ng-model="oldPublication.pays" disabled/>
    </md-input-container>
</div>