<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<div flex="100" layout="column" flex="100" md-colors="::{background : 'registre-background-400'}">
    <!--Adresse-->
    <md-input-container ng-show="!localisation.active">
        <label>Adresse</label>
        <textarea name="adresse" ng-model="newPublication.adresse" rows="2" disabled></textarea>

        <span ng-if="!newPublication.publierMonAdressePhysique" md-colors="::{color: 'registre-accent-600'}">
            Vous avez choisi de ne pas rendre votre adresse publique, en conséquence celle-ci n'apparaitra pas sur le site de la Haute Autorité.
        </span>
    </md-input-container>
    <div ng-show="localisation.active" style="padding: 20px;">
        <label>Adresse</label>
        <pre class="textdiff" processing-diff left-obj="oldPublication.adresse"
             right-obj="newPublication.adresse" options="options"></pre>
    </div>
    <!--Code postal-->
    <md-input-container ng-show="!localisation.active">
        <label>Code postal</label>
        <input name="codePostal" ng-model="newPublication.codePostal" disabled/>
    </md-input-container>
    <div ng-show="localisation.active" style="padding: 0 20px 20px 20px; ">
        <label>Code postal</label>
        <pre ng-show="localisation.active" class="textdiff" processing-diff left-obj="oldPublication.codePostal"
             right-obj="newPublication.codePostal" options="options"></pre>
    </div>
    <!--Ville-->
    <md-input-container ng-show="!localisation.active">
        <label>Ville</label>
        <input name="ville" ng-model="newPublication.ville" disabled/>
    </md-input-container>
    <div ng-show="localisation.active" style="padding: 0 20px 20px 20px;">
        <label>Ville</label>
        <pre class="textdiff" processing-diff left-obj="oldPublication.ville"
             right-obj="newPublication.ville" options="options"></pre>
    </div>
    <!--Payes-->
    <md-input-container ng-show="!localisation.active">
        <label>Pays</label>
        <input name="pays" ng-model="newPublication.pays" disabled/>
    </md-input-container>
    <div ng-show="localisation.active" style="padding: 0 20px 20px 20px;">
        <label>Pays</label>
        <pre class="textdiff" processing-diff left-obj="oldPublication.pays"
             right-obj="newPublication.pays" options="options"></pre>
    </div>
</div>