<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Compte-rendu de déclarations d'activités
</title>
<link rel="stylesheet" type="text/css" th:href="@{classpath:pdf/style/style.css}" />
</head>
<body>

	<div id="footer">
		<span class="horodatage" th:text="${#temporals.format(#temporals.createNow(), 'dd-MM-yyyy HH:mm')}"></span>
		<span class="page_number">Page <span id="pagenumber"></span> sur <span id="pagecount"></span></span>
	</div>

	<div id="header">
		<table>
		<tr>
			<td><img  th:src="@{classpath:pdf/logo.jpg}" class="logo" /></td>
			<td><h3 th:utext="'Compte-rendu du projet de déclaration d\'activités 
			<br /> pour la période du ' + ${exercice.dateDebut} + ' au ' + ${exercice.dateFin}+' pour <br/>'+ ${exercice.denomination}"></h3></td>
		</tr>
		</table>

	</div>

	<p th:text="'Fait le ' + ${#temporals.format(#temporals.createToday(), 'dd/MM/yyyy')}"></p>
	<div th:if="${moyens}">
	<table>
		<tr>
			<td th:text="'Periode concernée :'" />
			<td th:text="'du ' + ${exercice.dateDebut} + ' au ' + ${exercice.dateFin}" />
		</tr>
		<tr>
			<td th:text="'Chiffre d\'affaire :'" />
			<td th:text="${exercice.chiffreAffaire}" />
		</tr>
		<tr>
			<td th:text="'Montant des dépenses :'" />
			<td th:text="${exercice.montantDepense}" />
		</tr>
		<tr>
			<td th:text="'Nombre d\'employés :'" />
			<td th:text="${exercice.nombreSalaries}" />
		</tr>
		<tr>
			<td th:text="'Nombre de fiches d\'activités pour cette période :'" />
			<td th:text="${nbActivites}" />
		</tr>
	</table>
	</div>

<br>
    <div th:if="${exercice.noActivite and #lists.isEmpty(exercice.activites)}" class="activite">
        <p> DECLARATION NULLE </p>
        <p> Vous avez déclaré ne pas avoir conduit d'activité de représentation d'intérêts pour la période <span th:text="'du ' + ${exercice.dateDebut} + ' au ' + ${exercice.dateFin}" /> </p>
    </div>

    <div style="page-break-after: always;" th:each="activite,iterStat : ${exercice.activites}" class="activite" th:class="${iterStat.odd}? 'odd' : 'even'">


		<span style="text-transform:uppercase;font-size:14px; font-weight:bold;" th:text="'Fiche ' + ${iterStat.index+1} + '/' + ${iterStat.size}"></span>
		<p style="text-transform:uppercase;font-size:18px; font-weight:bold;" th:text=" ${activite.objet}"></p>
		<table>
			<tr><td th:text="'Code : '+ ${activite.idFiche}" style="font-size:12px;"></td></tr>
			<tr><td th:text="'Statut : ' + ${activite.statut}" style="font-size:12px;"></td></tr>
		</table>
		<br />
		<div>
		<br>
			Domaine(s) d'intervention :
			<ul  style="list-style-type: none">
				<li th:each="domaine : ${activite.domaines}">
					<ul>
						<li th:each="subDomaine : ${domaine.value}" th:text="${subDomaine+' ('+domaine.key+')'}">
					</ul>
				</li>
			</ul>
		</div>
		
		<div th:each="action,iterStat : ${activite.actions}" class="action" >
		
			<div style="border-top:1px solid black;" th:text="'Bénéficiaire(s) : '"></div><span th:each="tier, iterStat : ${action.tiers}" th:text="!${iterStat.last} ? ${tier} + ', ' : ${tier}"></span>
			<br />
			<div>
				
			</div>
			<br />
			
			<div>
				Responsable(s) public(s) :
				<ul style="list-style-type: square">
					<li th:each="responsable : ${action.reponsablesPublics}">
						<div th:text="${responsable.key}"></div>
						<ul>
							<li th:each="subResponsable : ${responsable.value}" th:text="${subResponsable}">
						</ul>
					</li>
				</ul>
			</div>

			<div>
				Décision(s) concernée(s) :
				<ul>
					<li th:each="decision : ${action.decisionsConcernees}" th:text="${decision}" />
				</ul>
			</div>

			<div>
				Action(s) menée(s) :
				<ul>
					<li th:each="act : ${action.actionsMenees}" th:text="${act}" />
				</ul>
			</div>

			<div th:each="observation : ${action.observation}" th:text="'Observations : ' + ${observation}"></div>
			<br />

		</div>
</div>
<p>----------------------------------------------</p>
<p>Pour tout besoin d'assistance, les services de la Haute Autorité répondent à vos questions :</p> 

<p>par courriel à l'adresse repertoire@hatvp.fr</p><p>par téléphone au 01 86 21 92 29 (du lundi au vendredi de 9h à 12h30 et de 14h à 17h)</p>
<p>----------------------------------------------</p>

	
</body>
</html>