<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<md-content layout="row" layout-align="center start" layout-padding>
    <ng-include flex="100" src="current_step" style="display: block"></ng-include>
</md-content>