<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<fieldset style="border: 0">
    <md-content layout="column" layout-margin layout-padding>
        <fieldset class="pad-h-5 pad-v-5 paragraph">
            La loi prévoit que tout représentant d'intérêts communique à la Haute Autorité l'identité des personnes physiques chargées des activités de représentation d'intérêts en son sein, lorsqu'il s'agit d'une personne morale.
            <br/><br/>
            Vous devez mentionner dans cette rubrique l’identité de vos employés et/ou de vos membres qui exercent des activités de représentation d’intérêts à titre principal ou de manière régulière. Pour en savoir plus, vous pouvez consulter <a class="link" ng-href="{{lien_lignes_directrices}}" target="_blank">les lignes directrices de la Haute Autorité</a>.
            <br/><br/>
            Si une personne remplit nouvellement ces conditions ou cesse de les remplir, une actualisation des informations communiquées à la Haute Autorité doit être effectuée dans le mois qui suit ce changement.
        </fieldset>
    </md-content>

    <md-content ng-if="isContributor() && canUpdateAndPublish()" layout="row" layout-align="center center" layout-gt-sm="row"
                class="pad-v-30" layout-wrap>
        <form name="addCollabForm" ng-submit="showConfirmAddCollaborateur($event, addDirigeantForm)"
              layout="row" layout-align="center" flex="90">

            <md-input-container class="md-block" flex="10">
                <label>Civilité</label>
                <md-select name="civilite" ng-model="collaborateur.civilite" required >
                    <md-option value="M">M.</md-option>
                    <md-option value="MME">Mme</md-option>
                </md-select>
                <ng-messages for="addCollabForm.civilite.$error">
                    <ng-message when="required">Ce champ est obligatoire.</ng-message>
                </ng-messages>
                <md-tooltip md-direction="top">Sélectionner la civilité correspondante</md-tooltip>
            </md-input-container>

            <md-input-container class="md-block" flex="20">
                <label>Nom</label>
                <input name="nom" ng-model="collaborateur.nom" required>
                <ng-messages for="addCollabForm.nom.$error">
                    <ng-message when="required">Ce champ est obligatoire.</ng-message>
                </ng-messages>
                <md-tooltip md-direction="top">Indiquez l'ensemble des noms de famille</md-tooltip>
            </md-input-container>

            <md-input-container class="md-block" flex="20">
                <label>Prénom</label>
                <input name="prenom" ng-model="collaborateur.prenom" required>
                <ng-messages for="addCollabForm.prenom.$error">
                    <ng-message when="required">Ce champ est obligatoire.</ng-message>
                </ng-messages>
                <md-tooltip md-direction="top">Indiquez le prénom</md-tooltip>
            </md-input-container>

            <md-input-container class="md-block" flex>
                <label>Adresse courriel</label>
                <input name="email" ng-model="collaborateur.email" ng-pattern="/^.+@.+\..+$/" required>
                <ng-messages for="addCollabForm.email.$error">
                    <ng-message when="required">Ce champ est obligatoire.</ng-message>
                    <ng-message when="pattern">Le format de l'adresse courriel est incorrect.</ng-message>
                </ng-messages>
                <md-tooltip md-direction="top">Indiquez l'adresse courriel où seront adressées les notifications liées au téléservice</md-tooltip>
            </md-input-container>

            <md-input-container class="md-block" flex>
                <label>Fonctions exercées</label>
                <input name="fonction" ng-model="collaborateur.fonction">
                <md-tooltip md-direction="top">Indiquez l'ensemble des fonctions actuellement exercées au sein de votre organisation</md-tooltip>
            </md-input-container>

            <md-button type="submit" class="md-fab md-mini md-primary" aria-label="Ajouter un collaborateur" title="Ajouter une personne chargée des activités de représentation d'intérêts"
                       ng-disabled="addCollabForm.$invalid">
                <md-icon md-svg-src="{{images_dir}}/icons/ic_add_black_24px.svg">
                    <md-tooltip>Ajouter</md-tooltip>
                </md-icon>
            </md-button>
        </form>
    </md-content>

    <md-subheader class="md-no-sticky" ng-hide="collaborateurs.length > 0">Aucun collaborateur enregistré.</md-subheader>
    <md-table-container ng-show="collaborateurs.length > 0">
        <table md-table md-progress="collaborateursTableOptions.promise">
            <thead md-head md-order="collaborateursTableOptions.order" class="md-table-head"
                   md-colors="::{color: 'registre-background-50',background: 'registre-primary-400'}">
            <tr md-row>
                <th md-column></th>
                <th md-column></th>
                <th md-colors="::{color: 'registre-background-50'}" md-column>
                    Civilité
                </th>
                <th md-column>
                    <md-input-container>
                        <input placeholder="Nom" md-colors="::{color: 'registre-background-50'}" type="text"
                               ng-model="collaborateursTableOptions.filter.nom" onclick="event.stopPropagation()">
                    </md-input-container>
                </th>
                <th md-column>
                    <md-input-container>
                        <input placeholder="Prénom" md-colors="::{color: 'registre-background-50'}" type="text"
                               ng-model="collaborateursTableOptions.filter.prenom" onclick="event.stopPropagation()">
                    </md-input-container>
                </th>
                <th md-column>
                    <md-input-container>
                        <input placeholder="Adresse courriel" md-colors="::{color: 'registre-background-50'}" type="text"
                               ng-model="collaborateursTableOptions.filter.email" onclick="event.stopPropagation()">
                    </md-input-container>
                </th>
                <th md-column>
                    <md-input-container>
                        <input placeholder="Fonctions exercées" md-colors="::{color: 'registre-background-50'}" type="text"
                               ng-model="collaborateursTableOptions.filter.fonction" onclick="event.stopPropagation()">
                    </md-input-container>
                </th>
                <th md-colors="::{color: 'registre-background-50'}" md-column class="center">Action</th>
            </tr>
            </thead>
            <tbody md-body>
            <tr md-row ng-repeat="c in collaborateurs |
                orderBy: collaborateursTableOptions.order |
                filter: collaborateursTableOptions.filter |
                limitTo: collaborateursTableOptions.limit: (collaborateursTableOptions.page - 1) * collaborateursTableOptions.limit"  ng-class="{'uncheckedClass': !c.actif}">
                <td md-cell>
                    <md-icon ng-if="c.inscrit" md-svg-src="{{images_dir}}/icons/ic_account_circle_white_24px.svg">
                        <md-tooltip>Déclarant inscrit</md-tooltip>
                    </md-icon>
                </td>
                <td md-cell layout="column">
                    <md-button class="md-icon-button" ng-if="c.actif" ng-disabled="$first || !(isContributor() && canUpdateAndPublish())" ng-click="upCollab(c)"
                               style="padding: 0; min-height: 24px; height: 24px;">
                        <md-icon md-svg-src="{{images_dir}}/icons/ic_arrow_drop_up_black_24px.svg"
                                 style="width: 24px; height: 24px;">
                            <md-tooltip>Remonter</md-tooltip>
                        </md-icon>
                    </md-button>
                    <md-button class="md-icon-button" ng-if="c.actif" ng-disabled="$index === listEnd || !(isContributor() && canUpdateAndPublish())" ng-click="downCollab(c)"
                               style="padding: 0; min-height: 24px; height: 24px;">
                        <md-icon md-svg-src="{{images_dir}}/icons/ic_arrow_drop_down_black_24px.svg"
                                 style="width: 24px; height: 24px;">
                            <md-tooltip>Descendre</md-tooltip>
                        </md-icon>
                    </md-button>
                </td>
                <td md-cell>{{c.civilite}}</td>
                <td md-cell>{{c.nom}}</td>
                <td md-cell>{{c.prenom}}</td>
                <td md-cell>{{c.email}}</td>
                <td md-cell>{{c.fonction}}</td>
                <td md-cell ng-if="c.inscrit && !c.actif" class="center">
                    <md-button class="md-primary" ng-click="setActifCollaborateur($event, c, true)" ng-disabled="!(isContributor() && canUpdateAndPublish())" title="Ajouter à la liste des personnes physiques chargées des activités de représentation d'intérêts" aria-label="Activer">
                        <span>activer</span>
                        </md-icon>
                    </md-button>
                    <md-button class="md-primary" ng-click="editCollaborateurDialog($event, c)" ng-disabled="!(isContributor() && canUpdateAndPublish())" title="Modifier les informations" aria-label="Editer">
                        <span>éditer</span>
                        </md-icon>
                    </md-button>
                </td>
                <td md-cell ng-if="c.inscrit && c.actif" class="center">
                    <md-button class="md-primary" ng-click="setActifCollaborateur($event, c, false)" ng-disabled="!(isContributor() && canUpdateAndPublish())"  title="Retirer de la liste des personnes physiques chargées des activités de représentation d'intérêts" aria-label="Supprimer">
                        <span>supprimer</span>
                        </md-icon>
                    </md-button>
                    <md-button class="md-primary" ng-click="editCollaborateurDialog($event, c)" ng-disabled="!(isContributor() && canUpdateAndPublish())" title="Modifier les informations" aria-label="Editer">
                        <span>éditer</span>
                        </md-icon>
                    </md-button>
                </td>
                <td md-cell ng-if="!c.inscrit" class="center">
                    <md-button class="md-primary" ng-click="deleteCollaborateur($event, c)" ng-disabled="!(isContributor() && canUpdateAndPublish())" title="Retirer de la liste des personnes physiques chargées des activités de représentation d'intérêts" aria-label="Supprimer">
                        <span>supprimer</span>
                        </md-icon>
                    </md-button>
                    <md-button class="md-primary" ng-click="editCollaborateurDialog($event, c)" ng-disabled="!(isContributor() && canUpdateAndPublish())" title="Modifier les informations" aria-label="Editer">
                        <span>éditer</span>
                        </md-icon>
                    </md-button>
                </td>
            </tr>
            </tbody>
        </table>
        <md-table-pagination md-label="{{collaborateursTableOptions.labels}}"
                             md-page="collaborateursTableOptions.page" md-limit="collaborateursTableOptions.limit"
                             md-total="{{collaborateurs.length}}"
                             md-limit-options="collaborateursTableOptions.limitOptions"
                             md-page-select></md-table-pagination>
    </md-table-container>
</fieldset>
