<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<md-content layout="column" layout-margin layout-padding>
    <fieldset class="pad-h-5 pad-v-5 paragraph">
        La loi prévoit que tout représentant d'intérêts communique à la Haute Autorité le nombre de personnes qu'il
        emploie dans
        l'accomplissement de sa mission de représentation d'intérêts et, le cas échéant, son chiffre d'affaires ainsi
        que le
        montant des dépenses liées aux actions pour l'année précédente. Ces informations doivent être mises à jour
        annuellement, dans les trois mois qui suivent la cloture du bilan comptable de votre organisation, à l'exception
        du champ des activités de représentation d'intérêts, qui doit être mis à jour dans le mois suivant un
        changement.
    </fieldset>
</md-content>

<form name="cardForm" ng-submit="submitCorporateData($event, corporate, cardForm.$valid, 'DONNEES')">
    <md-content layout="column" layout-margin layout-padding>

        <md-input-container>
            <label>Type d'organisation</label>
            <md-select required ng-model="corporate.categorieOrganisation" aria-label="Catégorie de l'organisation">
                <md-option ng-value="type" ng-repeat="type in typesOrganisation">{{type}}</md-option>
            </md-select>
        </md-input-container>

        <div layout="column" ng-if="corporate.categorieOrganisation === typesOrganisation.entreprise">
            <md-input-container flex="100">
                <label>Chiffre d'affaires en euros</label>
                <input name="chiffreAffaire" maxlength="12" ng-model="corporate.chiffreAffaire"
                       ng-pattern="/^[0-9]{0,12}$/"
                       ng-required="corporate.categorieOrganisation === typesOrganisation.entreprise"/>
                <ng-messages for="cardForm.chiffreAffaire.$error">
                    <ng-message when="required">Ce champ est obligatoire.</ng-message>
                    <ng-message when="pattern">Les données saisies sont incorrectes.</ng-message>
                </ng-messages>
            </md-input-container>
            <md-input-container>
                <label>Année du chiffre d'affaires</label>
                <input name="anneeChiffreAffaire" ng-model="corporate.anneeChiffreAffaire"
                       ui-mask="9999" ng-pattern="/^(20)((?!10|11|12$)[1-9]{2})$/"
                       ng-required="corporate.categorieOrganisation === typesOrganisation.entreprise"
                       ui_mask_placeholder="____" ui-mask-placeholder-char="space"/>
                <ng-messages for="cardForm.anneeChiffreAffaire.$error">
                    <ng-message when="required">Ce champ est obligatoire.</ng-message>
                    <ng-message when="pattern">L'année doit être ultérieure à 2013 et antérieure à l'année courante.
                    </ng-message>
                </ng-messages>
            </md-input-container>
            <md-input-container>
                <label>Chiffre d'affaires lié à l'activité de représentation d'intérêts en euros</label>
                <input name="chiffreAffaireInteret" maxlength="12" ng-model="corporate.chiffreAffaireInteret"
                       ng-required="corporate.categorieOrganisation === typesOrganisation.entreprise"
                       ng-pattern="/^[0-9]{0,12}$/"/>
                <ng-messages for="cardForm.chiffreAffaireInteret.$error">
                    <ng-message when="required">Ce champ est obligatoire.</ng-message>
                    <ng-message when="pattern">Les données saisies sont incorrectes.</ng-message>
                </ng-messages>
            </md-input-container>
            <md-input-container>
                <label>Année du chiffre d'affaires lié à l'activité de représentation d'intérêts</label>
                <input name="anneeChiffreAffaireInteret" ng-model="corporate.anneeChiffreAffaireInteret"
                       ui-mask="9999" ng-pattern="/^(20)((?!10|11|12$)[1-9]{2})$/"
                       ng-required="corporate.categorieOrganisation === typesOrganisation.entreprise"
                       ui_mask_placeholder="____" ui-mask-placeholder-char="space"/>
                <ng-messages for="cardForm.anneeChiffreAffaire.$error">
                    <ng-message when="required">Ce champ est obligatoire.</ng-message>
                    <ng-message when="pattern">L'année doit être ultérieure à 2013 et antérieure à l'année courante.
                    </ng-message>
                </ng-messages>
            </md-input-container>
        </div>

        <div layout="column"
             ng-show="corporate.categorieOrganisation != null && corporate.categorieOrganisation !== typesOrganisation.entreprise">
            <md-input-container>
                <label>Budget total en euros</label>
                <input name="budgetTotal" maxlength="12" ng-model="corporate.budgetTotal"
                       ng-pattern="/^[0-9]{0,12}$/"/>
                <ng-messages for="cardForm.budgetTotal.$error">
                    <ng-message when="required">Ce champ est obligatoire.</ng-message>
                    <ng-message when="pattern">Les données saisies sont incorrectes.</ng-message>
                </ng-messages>
            </md-input-container>
            <md-input-container>
                <label>Année du budget</label>
                <input name="anneeBudget" ng-model="corporate.anneeBudget"
                       ui-mask="9999" ng-pattern="/^(20)((?!10|11|12$)[1-9]{2})$/"
                       ui_mask_placeholder="____" ui-mask-placeholder-char="space"/>
                <ng-messages for="cardForm.anneeBudget.$error">
                    <ng-message when="required">Ce champ est obligatoire.</ng-message>
                    <ng-message when="pattern">L'année doit être ultérieure à 2013 et antérieure à l'année courante.
                    </ng-message>
                </ng-messages>
            </md-input-container>
        </div>

        <div layout="column">
            <md-input-container>
                <label>Montant des dépenses liées aux actions de lobbying</label>
                <input name="depenses" ng-model="corporate.depenses"
                       ng-pattern="/^[0-9]{0,8}$/"/>
                <ng-messages for="cardForm.depenses.$error">
                    <ng-message when="pattern">Le montant doit être inférieur à 100 millions d'euros.
                    </ng-message>
                </ng-messages>
            </md-input-container>
            <md-input-container>
                <label>Année du montant des dépenses liées aux actions de lobbying</label>
                <input name="anneeDepenses" ng-model="corporate.anneeDepenses"
                       ui-mask="9999" ng-pattern="/^(20)((?!10|11|12$)[1-9]{2})$/"
                       ui_mask_placeholder="____" ui-mask-placeholder-char="space"/>
                <ng-messages for="cardForm.anneeDepenses.$error">
                    <ng-message when="pattern">L'année doit être ultérieure à 2013 et antérieure à l'année courante.
                    </ng-message>
                </ng-messages>
            </md-input-container>
            <md-input-container>
                <label>Nombre de personnes employées dans la mission de représentation d'intérêts</label>
                <input name="nPersonnesEmployees" ng-model="corporate.nPersonnesEmployees"
                       ng-pattern="/^[0-9]{0,3}$/"/>
                <ng-messages for="cardForm.nPersonnesEmployees.$error">
                    <ng-message when="pattern">Le nombre d'employés doit être inférieur à 1000.
                    </ng-message>
                </ng-messages>
            </md-input-container>
        </div>
    </md-content>

    <md-content layout="row" layout-align="center center">
        <md-button type="submit" ng-if="isContributor() && canUpdateAndPublish()" ng-disabled="cardForm.$invalid || !cardForm.$dirty"
                   class="md-primary md-raised"
                   md-colors="::{background: 'registre-primary-400', color: 'registre-background-50'}">Enregistrer
        </md-button>
    </md-content>
    </md-card>
</form>