<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<fieldset style="border: 0">
    <md-content layout="column" layout-margin layout-padding>
        <fieldset class="pad-h-5 pad-v-5 paragraph">
            La loi prévoit que tout représentant d'intérêts communique à la Haute Autorité son identité, lorsqu'il s'agit
            d'une personne physique, ou celle de ses dirigeants lorsqu'il s'agit d'une personne morale.<br/><br/>
            Vous devez mentionner dans cette rubrique l’identité des personnes qui disposent de la possibilité d’engager juridiquement votre organisme et de le représenter auprès des tiers (président directeur général, membre du directoire, gérant, directeur général délégué, etc.), qu’ils réalisent ou non des actions de représentation d’intérêts. Ne doivent pas y figurer, en revanche, les membres de vos instances statutaires (conseil d’administration, comité stratégique, etc.) qui devront être mentionnés dans la rubrique « notre équipe ». Pour en savoir plus, vous pouvez consulter <a class="link" ng-href="{{lien_lignes_directrices}}" target="_blank">les lignes directrices de la Haute Autorité</a>.<br/><br/>
            Tout changement de dirigeant de votre organisation doit donner lieu à une actualisation des informations communiquées à la Haute Autorité dans le mois qui suit ce changement.
        </fieldset>
    </md-content>

    <md-content ng-if="isContributor() && canUpdateAndPublish()" layout="row" layout-align="center center" layout-gt-sm="row"
                class="pad-v-30" layout-wrap>
        <form name="addDirigeantForm" ng-submit="showConfirmAddDirigeant($event, addDirigeantForm, addDirigeantForm.$valid)"
              layout="row" layout-align="center" flex="90">

            <md-input-container class="md-block" flex="10">
                <label>Civilité</label>
                <md-select name="civilite" ng-model="dirigeant.civilite" required >
                    <md-option value="M">M.</md-option>
                    <md-option value="MME">Mme</md-option>
                </md-select>

                <ng-messages for="addDirigeantForm.civilite.$error">
                    <ng-message when="required">Ce champ est obligatoire.</ng-message>
                </ng-messages>
                <md-tooltip md-direction="top">Sélectionner la civilité correspondante</md-tooltip>
            </md-input-container>

            <md-input-container class="md-block" flex="20">
                <label>Nom</label>
                <input name="nom" ng-model="dirigeant.nom" required>

                <ng-messages for="addDirigeantForm.nom.$error">
                    <ng-message when="required">Ce champ est obligatoire.</ng-message>
                </ng-messages>
                <md-tooltip md-direction="top">Indiquez l'ensemble des noms de famille </md-tooltip>
            </md-input-container>

            <md-input-container class="md-block" flex="20">
                <label>Prénom</label>
                <input name="prenom" ng-model="dirigeant.prenom" required>

                <ng-messages for="addDirigeantForm.prenom.$error">
                    <ng-message when="required">Ce champ est obligatoire.</ng-message>
                </ng-messages>
                <md-tooltip md-direction="top">Indiquez le prénom</md-tooltip>
            </md-input-container>

            <md-input-container class="md-block" flex>
                <label>Fonctions exercées</label>
                <input name="fonction" ng-model="dirigeant.fonction">
                <md-tooltip md-direction="top">Indiquez l'ensemble des fonctions actuellement exercées au sein de votre organisation</md-tooltip>
            </md-input-container>

            <md-button type="submit" class="md-fab md-mini md-primary" aria-label="Ajouter un dirigeant" title="Ajouter un dirigeant"
                       ng-disabled="addDirigeantForm.$invalid" ng-disabled="addDirigeantForm.$invalid">
                <md-icon md-svg-src="{{images_dir}}/icons/ic_add_black_24px.svg">
                    <md-tooltip>Ajouter</md-tooltip>
                </md-icon>
            </md-button>
        </form>
    </md-content>

    <md-subheader class="md-no-sticky" ng-hide="dirigeants.length > 0">Aucun dirigeant enregistré.</md-subheader>
    <md-table-container ng-show="dirigeants.length > 0">
        <table md-table md-progress="dirigeantsTableOptions.promise">
            <thead md-head md-order="dirigeantsTableOptions.order" class="md-table-head"
                   md-colors="::{color: 'registre-background-50',background: 'registre-primary-400'}">
            <tr md-row>
                <th md-column></th>
                <th md-column></th>
                <th md-column>
                    <md-input-container>
                        <input placeholder="Civilité" md-colors="::{color: 'registre-background-50'}" type="text"
                               ng-model="dirigeantsTableOptions.filter.civilite" onclick="event.stopPropagation()">
                    </md-input-container>
                </th>
                <th md-column>
                    <md-input-container>
                        <input placeholder="Nom" md-colors="::{color: 'registre-background-50'}" type="text"
                               ng-model="dirigeantsTableOptions.filter.nom" onclick="event.stopPropagation()">
                    </md-input-container>
                </th>
                <th md-column>
                    <md-input-container>
                        <input placeholder="Prénom" md-colors="::{color: 'registre-background-50'}" type="text"
                               ng-model="dirigeantsTableOptions.filter.prenom" onclick="event.stopPropagation()">
                    </md-input-container>
                </th>
                <th md-column>
                    <md-input-container>
                        <input placeholder="Fonctions exercées" md-colors="::{color: 'registre-background-50'}" type="text"
                               ng-model="dirigeantsTableOptions.filter.fonction" onclick="event.stopPropagation()">
                    </md-input-container>
                </th>
                <th md-colors="::{color: 'registre-background-50'}" md-column class="center">Action</th>
            </tr>
            </thead>
            <tbody md-body>
            <tr md-row ng-repeat="d in dirigeants |
                orderBy: dirigeantsTableOptions.order |
                filter: dirigeantsTableOptions.filter |
                limitTo: dirigeantsTableOptions.limit: (dirigeantsTableOptions.page - 1) * dirigeantsTableOptions.limit">

                <td md-cell>
                    <md-icon ng-if="d.inscrit" md-svg-src="{{images_dir}}/icons/ic_account_circle_white_24px.svg">
                        <md-tooltip>Déclarant inscrit</md-tooltip>
                    </md-icon>
                </td>
                <td md-cell layout="column">
                    <md-button class="md-icon-button" ng-disabled="$first || !(isContributor() && canUpdateAndPublish())" ng-click="upDir(d)"
                               style="padding: 0; min-height: 24px; height: 24px;">
                        <md-icon md-svg-src="{{images_dir}}/icons/ic_arrow_drop_up_black_24px.svg"
                                 style="width: 24px; height: 24px;">
                            <md-tooltip>Remonter</md-tooltip>
                        </md-icon>
                    </md-button>
                    <md-button class="md-icon-button" ng-disabled="$last || !(isContributor() && canUpdateAndPublish())" ng-click="downDir(d)"
                               style="padding: 0; min-height: 24px; height: 24px;">
                        <md-icon md-svg-src="{{images_dir}}/icons/ic_arrow_drop_down_black_24px.svg"
                                 style="width: 24px; height: 24px;">
                            <md-tooltip>Descendre</md-tooltip>
                        </md-icon>
                    </md-button>
                </td>


                <td md-cell>{{d.civilite}}</td>
                <td md-cell>{{d.nom}}</td>
                <td md-cell>{{d.prenom}}</td>
                <td md-cell>{{d.fonction}}</td>
                <td md-cell class="center">
                    <md-button class="md-icon-button" ng-click="deleteDirigeant($event, d)"
                               ng-disabled="!(isContributor() && canUpdateAndPublish())" title="Retirer de la liste">
                        <md-icon md-svg-src="{{images_dir}}/icons/ic_delete_black_24px.svg"
                                 style="color: darkred">
                            <md-tooltip>Supprimer</md-tooltip>
                        </md-icon>
                    </md-button>
                    <md-button class="md-icon-button" ng-click="editDirigeantsDialog($event, d)"
                               ng-disabled="!(isContributor() && canUpdateAndPublish())" title="Modifier">
                        <md-icon md-svg-src="{{images_dir}}/icons/ic_edit.svg">
                            <md-tooltip>Modifier</md-tooltip>
                        </md-icon>
                    </md-button>
                </td>
            </tr>
            </tbody>
        </table>
        <md-table-pagination md-label="{{dirigeantsTableOptions.labels}}"
                             md-page="dirigeantsTableOptions.page" md-limit="dirigeantsTableOptions.limit"
                             md-total="{{dirigeants.length}}"
                             md-limit-options="dirigeantsTableOptions.limitOptions"
                             md-page-select></md-table-pagination>
    </md-table-container>
</fieldset>