<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<md-dialog aria-label="Modification d'une personne chargée de représentation d'intérêts" flex="90">

    <md-dialog-content>
        <md-content layout="row" layout-align="center center" layout-gt-sm="row"
                    class="pad-v-30" layout-wrap>
            <form name="editDirigeantForm" layout="row" layout-align="center" flex="90">

                <md-input-container class="md-block" flex="15">
                    <label>Civilité</label>
                    <md-select name="civilite" ng-model="dirigeant.civilite" disabled>
                        <md-option value="M">M.</md-option>
                        <md-option value="MME">Mme</md-option>
                    </md-select>
                </md-input-container>

                <md-input-container class="md-block" flex="20">
                    <label>Nom</label>
                    <input name="nom" ng-model="dirigeant.nom" disabled>
                </md-input-container>

                <md-input-container class="md-block" flex="20">
                    <label>Prénom</label>
                    <input name="prenom" ng-model="dirigeant.prenom" disabled>
                </md-input-container>

                <md-input-container class="md-block" flex>
                    <label>Fonctions exercées</label>
                    <input name="fonction" ng-model="dirigeant.fonction">
                </md-input-container>
            </form>

            <md-dialog-actions layout="row" layout="center center">
                <md-button flex="50"
                           md-colors="::{background: 'registre-background-50', color: 'registre-primary-400'}"
                           type="submit" layout="row" layout-align="center center" class="md-raised md-primary"
                           ng-click="cancel()">
                    Annuler
                </md-button>
                <md-button flex="50" ng-click="confirmerModificationDirigeant($event)"
                           md-colors="::{background: 'registre-primary-400', color: 'registre-background-50'}"
                           type="submit" layout="row" layout-align="center center" class="md-raised md-primary"
                           ng-disabled="editDirigeantForm.$invalid">
                    Enregistrer
                </md-button>
            </md-dialog-actions>
        </md-content>
    </md-dialog-content>

</md-dialog>