<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<md-content layout="column" layout-margin layout-padding>
    <fieldset class="pad-h-5 pad-v-5 paragraph">
        La loi prévoit que tout représentant d'intérêts communique chaque année à la Haute Autorité les actions relevant du champ de la représentation d'intérêts. Cette
        communication prend la forme d'une déclaration d'activité rattachée à un exercice donné.
        <p>Le décret n° 2017-867 du 9 mai 2017 précise que les questions sur lesquelles ont porté ces actions sont identifiées par leur objet et leur domaine d’intervention.
            Pour chaque question sur laquelle des actions de représentation d’intérêts ont été menées, le même décret prévoit que les types de décisions publiques, les types
            d’actions et les catégories de responsables publics visées doivent être communiqués à la Haute Autorité.</p>
        Lorsque l’action est conduite pour un tiers, l’identité de ce tiers est précisée.
    </fieldset>
</md-content>

<md-content layout-gt-sm="row" flex>
    <span class="pad-h-10">
        <md-input-container flex>
            <label>Choisissez une période</label>
            <md-select ng-model="rapport.exercice" ng-model-options="{trackBy: '$value.id'}">
                <md-option ng-repeat="exercice in exercices|orderBy:'-tempToSort'" ng-value="{{exercice}}">
                    {{exercice.periode}}
                </md-option>
            </md-select>
        </md-input-container>
    </span>
    <span class="pad-h-10">
        <md-button flex ng-if="canUpdateAndPublish()" ng-click="newActivite(rapport.exercice)"
                   md-colors="::{background: 'registre-primary-400', color: 'registre-background-50'}" layout="row" layout-align="center center" class="md-raised md-primary">
            Ajouter une fiche d'activités
            <md-icon md-svg-icon="{{images_dir}}/icons/plus.svg" style="position: relative; left: 5%;"></md-icon>
        </md-button>
    </span>
    <span>
        <md-button flex ng-click="downloadRapportPdf($event, rapport.exercice.id)"
                   md-colors="::{background: 'registre-primary-400', color: 'registre-background-50'}" layout="row" layout-align="center center" class="md-raised md-primary">
            Exporter&nbsp;
            <md-icon md-svg-icon="{{images_dir}}/icons/ic_picture_as_pdf_white_24px.svg" style="position: relative; left: 5%;"></md-icon>
        </md-button>
    </span>

    <span style="margin-left: 5%;">
        <md-button flex ng-click="declarerMoyen(rapport)"
                   md-colors="::{background: 'registre-primary-400', color: 'registre-background-50'}" layout="row" layout-align="center center" class="md-raised md-primary">
            Déclarer les moyens pour la période
        </md-button>
    </span>

</md-content>
<br/>

<md-subheader class="md-no-sticky" ng-hide="(rapport.exercice.activites.length > 0 && !rapport.exercice.noActivite) || rapport.exercice.noActivite">Aucune activité enregistrée.</md-subheader>
<md-table-container ng-show="(rapport.exercice.activites.length >= 0 && rapport.exercice.noActivite) || (rapport.exercice.activites.length > 0 && !rapport.exercice.noActivite)">
    <table md-table md-progress="activitesTableOptions.promise">
        <thead md-head md-order="activitesTableOptions.order" class="md-table-head"
               md-colors="::{color: 'registre-background-50',background: 'registre-primary-400'}">
        <tr md-row>
            <th md-column>
                <md-input-container>
                    <input placeholder="Identifiant" md-colors="::{color: 'registre-background-50'}" type="text"
                           ng-model="activitesTableOptions.filter.idFiche" onclick="event.stopPropagation()">
                </md-input-container>
            </th>
            <th md-column>
                <md-input-container>
                    <input placeholder="Objet" md-colors="::{color: 'registre-background-50'}" type="text"
                           ng-model="activitesTableOptions.filter.objet" onclick="event.stopPropagation()">
                </md-input-container>
            </th>
            <th md-column>
                <md-input-container>
                    <input placeholder="Domaine" md-colors="::{color: 'registre-background-50'}" type="text"
                           ng-model="activitesTableOptions.filter.domainesIntervention" onclick="event.stopPropagation()">
                </md-input-container>
            </th>
            <th md-column>
                <md-input-container>
                    <input placeholder="Saisie par" md-colors="::{color: 'registre-background-50'}" type="text"
                           ng-model="activitesTableOptions.filter.nomCreateur" onclick="event.stopPropagation()">
                </md-input-container>
            </th>
            <th md-column>
                <md-input-container>
                    <input placeholder="Statut" md-colors="::{color: 'registre-background-50'}" type="text"
                           ng-model="activitesTableOptions.filter.statut" onclick="event.stopPropagation()">
                </md-input-container>
            </th>
            <th md-colors="::{color: 'registre-background-50'}" md-column class="center">Action</th>
        </tr>
        </thead>
        <tbody md-body>
        <tr ng-show="rapport.exercice.noActivite && rapport.exercice.activites.length == 0">
            <td md-cell class="center" style="font-size: 20px; padding:5px 0;" colspan="6">Déclaration nulle pour l'exercice du {{rapport.exercice.periode}}</td>
        </tr>
        <tr ng-hide="rapport.exercice.activites.length <= 0" md-row ng-repeat="activite in rapport.exercice.activites |
            orderBy: activitesTableOptions.order:true |
            filter: activitesTableOptions.filter |
            limitTo: activitesTableOptions.limit: (activitesTableOptions.page - 1) * activitesTableOptions.limit">
            <td md-cell>{{activite.idFiche}}</td>
            <td md-cell>
                {{activite.objet| limitTo:80}}<span ng-if="activite.objet.length>80"> ...</span>
            </td>
            <td md-cell>{{activite.domainesIntervention}}</td>
            <td md-cell>{{activite.nomCreateur}}</td>
        <td md-cell ng-if="activite.statut=='Non publiée' || activite.statut=='Mise à jour non publiée' " style="color:red;">{{activite.statut}}</td>
            <td md-cell ng-if="activite.statut!='Non publiée' && activite.statut!='Mise à jour non publiée' " style="color:green;">{{activite.statut}}</td>
            <td md-cell class="center" style="min-width:450px;">
                <md-button class="md-primary" ng-if="canUpdateAndPublish()"  ng-click="editActivite(activite.id)" ng-disabled="activite.isPublished" title="Modifier" aria-label="Modifier">
                    <span>éditer</span>
                    </md-icon>
                </md-button>
                <md-button class="md-primary" ng-if="canUpdateAndPublish()"  ng-click="duplicateActivite(activite.id)" title="Dupliquer" aria-label="Dupliquer">
                    <span>dupliquer</span>
                    </md-icon>
                </md-button>
                <md-button ng-if="activite.statut == 'Non publiée' && canUpdateAndPublish()" class="md-primary" ng-click="deleteActivite(activite.id)" ng-disabled="activite.isPublished" title="Supprimer" aria-label="Supprimer">
                    <span>supprimer</span>
                    </md-icon>
                </md-button>
            </td>
        </tr>
        </tbody>
    </table>
    <md-table-pagination md-label="{{activitesTableOptions.labels}}"
                         md-page="activitesTableOptions.page" md-limit="activitesTableOptions.limit"
                         md-total="{{rapport.exercice.activites.length}}"
                         md-limit-options="activitesTableOptions.limitOptions"
                         md-page-select></md-table-pagination>
</md-table-container>

<div ng-if="isPublisher() && !rapport.exercice.noActivite" layout="" layout-align="space-around center"><label style="font-size: 16px"><i class="material-icons">question_answer</i>  Si vous n'avez conduit aucune activité de
    représentation d'intérêts pour la période considérée, merci de <a class="link" ng-click="declareNoActivite($event, exercices)">cliquer ici</a>.</label></div>



