<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<md-dialog aria-label="Saisie d'une fiche d'activité" flex="70">

    <md-dialog-content>
        <div class="md-dialog-header" md-colors="::{background: 'registre-background-50'}" layout="row"
             layout-align="space-between start">
                <span class="md-title"
                      md-colors="::{color: 'registre-primary-100'}">Formulaire incomplet</span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-icon="{{images_dir}}/icons/cross.svg" aria-label="Close dialog"></md-icon>
                <md-tooltip md-direction="bottom">Fermer</md-tooltip>
            </md-button>
        </div>
      
        <p ng-if="errors.msgPlusieursActions">Plusieurs champs empêchent l'enregistrement de votre fiche d'activité. Merci de vérifier les les champs manquants ou incomplets, qui apparaissent en rouge dans votre formulaire.</p>
        <div style="overflow-x: hidden" ng-if="!errors.msgPlusieursActions">
            <p>Il semble que vous n’ayez pas précisé le ou les éléments obligatoires suivants :</p>
            <md-list ng-cloak>
                <md-list-item ng-if="errors.objet">
                    <p>&bull; l'objet de votre fiche</p>
                </md-list-item>
                <md-list-item ng-if="errors.domaine">
                    <p>&bull; le ou les domaines d'intervention</p>
                </md-list-item>
                <md-list-item ng-if="errors.beneficiaires">
                    <p>&bull; le ou les bénéficiaires concernés</p>
                </md-list-item>
               	<md-list-item ng-if="errors.actions">
                    <p>&bull; le ou les types d'actions mises en œuvre </p>
                </md-list-item>
               	<md-list-item ng-if="errors.actionsAutres">
                    <p>&bull; le ou les types d'actions à préciser </p>
                </md-list-item>
                <md-list-item ng-if="errors.decisions">
                    <p>&bull; le ou les types de décisions publiques</p>
                </md-list-item>
                <md-list-item ng-if="errors.responsables">
                    <p>&bull; le ou les catégories de responsables publics </p>
                </md-list-item>
                <md-list-item ng-if="errors.responsablesAutres">
                    <p>&bull; le ou les ministères </p>
                </md-list-item>

            </md-list>

        </div>
<p ng-if="redirect" style="color:rgb(235,22,48);">Votre fiche est incomplète et ne peut donc être sauvergardée. Voulez vous vraiment quitter ?</p>
    </md-dialog-content>
      
    <md-dialog-actions layout="row">
            <md-button flex="100" ng-if="!redirect"
 					md-colors="::{background: 'registre-primary-400', color: 'registre-background-50'}"
                   type="submit" layout="row" layout-align="center center" class="md-raised md-primary"
                   ng-click="cancel()">
           Modifier mes informations
        </md-button>
        <md-button flex="50" ng-if="redirect"
                   md-colors="::{background: 'registre-background-50', color: 'registre-primary-400'}"
                   type="submit" layout="row" layout-align="center center" class="md-raised md-primary"
                   ng-click="cancel()">
            Annuler
        </md-button>
        <md-button flex="50" ng-click="redirectPrevious($event)" ng-if="redirect"
                   md-colors="::{background: 'registre-primary-400', color: 'registre-background-50'}"
                   type="submit" layout="row" layout-align="center center" class="md-raised md-primary">
            Confirmer
        </md-button>
    </md-dialog-actions>
</md-dialog>