<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<md-dialog>
    <md-dialog-content>
        <div class="md-dialog-header" md-colors="::{background: 'registre-background-50'}" layout="row"
             layout-align="space-between start">
            <span class="md-title" md-colors="::{color: 'registre-primary-100'}">Export au format pdf</span>
        </div>
        <md-content layout="column">
            <md-content layout="column" layout-margin layout-padding>
                <fieldset class="standard">
                    <div layout="row" layout-wrap flex>
                        <md-checkbox ng-model="statut.moyen">
                            Exporter les moyens
                        </md-checkbox>
                    </div>
                </fieldset>
            </md-content>
            <md-content layout="column" layout-margin layout-padding>
                <fieldset class="standard">
                    <legend>Statut des fiches à exporter ?</legend>
                    <div layout="row" layout-wrap flex>
                        <div flex="25" ng-repeat="item in statut">
                            <md-checkbox ng-model="item.value">
                                {{item.label }}
                            </md-checkbox>
                        </div>
                    </div>
                </fieldset>
            </md-content>
        </md-content>
        <md-dialog-actions layout="row" layout="center center">
            <md-button md-colors="::{color: 'registre-primary-400', background: 'registre-background-50'}"
                       ng-click="cancel()" layout="row" layout-align="center center" class="md-primary"
                       flex="50">
                Annuler
            </md-button>
            <md-button md-colors="::{background: 'registre-primary-400', color: 'registre-background-50'}"
                       ng-click="downloadRapportPdf()"
                       layout="row" layout-align="center center" class="md-raised md-primary"
                       flex="50">
                Exporter
            </md-button>
        </md-dialog-actions>
    </md-dialog-content>
</md-dialog>
</body>
</html>