<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<md-dialog aria-label="Déclaration nulle" flex="70">
    <md-dialog-content flex="100" layout="column">
        <form name="noActiviteForm" ng-submit="selectExercice($event)">
            <span class="md-title" md-colors="::{color: 'registre-primary-100'}">Déclaration nulle</span>
            <md-content layout="column" layout-margin layout-padding>
                <fieldset class="pad-h-5 pad-v-5 paragraph">
                    Si, pour une période donnée, vous n'avez conduit aucune activité de représentation d'intérêts et n'avez à ce titre aucune fiche d'activité à communiquer à la
                    Haute
                    Autorité, merci de sélectionner cette période et de cliquer sur le bouton correspondant. Attention, cette attestation ne vous dispense pas de déclarer les
                    moyens
                    alloués à la représentation d'intérêts pour cette même période.
                </fieldset>
            </md-content>
            <md-input-container layout="column" layout-align="center center">
                <label>Période concernée</label>
                <md-select ng-model="exerciceComptable" ng-disabled="exercices.length===0" style="min-width: 40%" required>
                    <md-option ng-repeat="exercice in exercices|orderBy:'-tempToSort'" ng-value="{{exercice}}"
                               ng-class="hatvp-option-black">
                        {{exercice.periode}}
                    </md-option>
                </md-select>
            </md-input-container>
            <md-content layout="column" layout-align="center center" flex="100">
                <md-button flex="50" type="submit" md-colors="::{background: 'registre-primary-400', color: 'registre-background-50'}"
                           ng-disabled="exercices.length===0" class="md-raised md-primary">J'atteste n'avoir conduit aucune activité de représentation d'intérêts pour la période
                    sélectionnée
                </md-button>
                <md-button flex="50" ng-click="closeModal($event)" md-colors="::{background: 'registre-primary-400', color: 'registre-background-50'}" class="md-raised md-primary">
                    Annuler
                </md-button>
            </md-content>
        </form>
    </md-dialog-content>
</md-dialog>