<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<md-content layout="column" layout-margin layout-padding>
    <fieldset class="pad-h-5 pad-v-5 paragraph">
        La loi prévoit que tout représentant d'intérêts communique à la Haute Autorité les activités de représentation
        d'intérêts menées ainsi que les tiers pour lesquels il les a
        effectuées.
        <br/>
        <p> Vous devez saisir l'ensemble de vos activités de représentation d'intérêts pour un même objet sur cette
            fiche.</p>
        Vous devez détailler les activités effectuées pour chaque bénéficiaire.
    </fieldset>
</md-content>

<form name="activiteForm" novalidate ng-class="{'erreurSaisie':hasErrors}" unsaved-form>
<md-content layout-gt-sm="row" flex layout-align="space-between center">
    <h2>Saisie d'une fiche d'activités</h2>
    <md-content>
        <md-button ng-if="isPublisher()"  id="floatyActivite" ng-click="saveAndPublishActivite()" layout="row" layout-align="center center" class="md-raised md-primary"
                   md-colors="(activite.dataToPublish || (activiteForm.$dirty && activiteForm.$valid)) ? {background: 'registre-background-A800', color: 'registre-background-50'} : {background: 'registre-primary-50', color: 'registre-background-50'}">
        <md-tooltip md-direction="bottom" ng-if="(activite.dataToPublish || (activiteForm.$dirty && activiteForm.$valid)) && isPublisher()" >Cliquez ci-dessus pour communiquer votre fiche à la Haute Autorité
        </md-tooltip>
        <md-tooltip md-direction="bottom" ng-if="((!activite.dataToPublish && !activiteForm.$dirty) || !activiteForm.$valid) && isPublisher()" >Vous devez compléter les champs obligatoires de votre fiche d'activité pour pouvoir la communiquer à la Haute Autorité
             </md-tooltip>
            Communiquer ma fiche 
        </md-button>

    </md-content>
</md-content>
<md-content layout-gt-sm="row" flex>
    <md-input-container flex>
        <label>Période concernée</label>
        <md-select ng-model="activite.exerciceComptable"  ng-disabled="activite.statut && activite.statut !== 'NON_PUBLIEE' && activite.statut !== 'DEPUBLIEE'">
            <md-option ng-repeat="exercice in exercices|orderBy:'-tempToSort'" ng-value="{{exercice.id}}"
                       ng-class="hatvp-option-black">
                {{exercice.periode}}
            </md-option>
        </md-select>
    </md-input-container>


    <p class="pad-h-10p" flex>Sélectionnez l’exercice pendant lequel l’activité déclarée a été conduite. Si l’activité
        déclarée court sur plusieurs exercices, il sera nécessaire
        d’établir autant de déclarations d’activités que d’exercices concernés.</p>
</md-content>
<br/>

    <!--Domaines et objet-->
    <md-card md-colors="::{background: 'registre-background-500'}" flex>
        <md-card-title>
            <md-card-title-text>
                <span class="md-title md-title-small">Objet des activités</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <md-content layout-gt-sm="row" flex>
                <md-input-container flex>
                    <label>Objet</label>
                    <textarea textarea-limit-size="200" name="objet" ng-model="activite.objet" trim-space="activite.objet" ng-trim="true" rows="3" ng-required="true"
                              md-maxlength="200" ng-change="checkMinLength('objet', activite.objet.length, 50)" ng-focus="showBubble = true" ng-blur="showBubble = false"></textarea>
                    <span style="color:rgb(235,22,48); font-size:0.8em;" ng-hide="activite.objet && activite.objet.length > 49"> Ce champ doit contenir entre 50 et 200 caractères</span>
                </md-input-container>
                <p class="pad-h-10p" flex>
                    <span>
Décrivez l’objectif poursuivi par la ou les activités déclarées dans ce formulaire. L’objet doit également préciser la ou les décisions publiques visées lorsque c’est possible. Chaque objet doit donner lieu à une fiche d’activité distincte.
                    </span>
                    <span ng-show="showBubble" class = "arrow_box">
					Exemples d’objets bien déclarés :<br>
					« Inscrire dans la loi ou par voie réglementaire la possibilité pour un usager de choisir librement son expert automobile suite à un sinistre. »<br>
					 ou  « Faire baisser le taux de TVA à 2,1% pour la presse en ligne dans le projet de loi de finances pour 2018 ».

                    </span>
                    
                </p>
            </md-content>
            <md-content layout-gt-sm="row" flex>
                <md-input-container flex>
                    {{errors.length}}
                    <label>Domaine d'intervention</label>
                    <md-select name="domaine" ng-model="activite.domainesIntervention" md-on-close="clearSearchTerm()"
                               data-md-container-class="hatvp-select-header" multiple=""
                               ng-model-options="{trackBy: '$value.id'}" ng-required="true"
                               ng-change="limiteNombreDomaines(activite.domainesIntervention)">
                        <md-select-header class="select-header">
                            <input ng-model="searchTerm" type="search" ng-minlength="1" placeholder="Rechercher..."
                                   class="select-header-searchbox md-text" ng-keydown="stopEvent($event)">
                        </md-select-header>

                        <md-optgroup label="{{domaine.categorie}}"
                                     ng-repeat="domaine in nomenclatures.nomenclature.DOMAINE_INTERVENTION|accentFoldingFilter:searchTerm"
                                     ng-model="categ">
                            <md-option
                                ng-repeat="sous_domaine in domaine.nomenclature |accentFoldingFilter:searchTerm:domaine.categorie"
                                ng-value="sous_domaine" ng-class="hatvp-option-black">
                                {{sous_domaine.libelle}}
                            </md-option>
                        </md-optgroup>
                    </md-select>
                </md-input-container>
                <p class="pad-h-10p" flex>Entrez un mot-clef pour faire apparaître un domaine d’intervention. Vous devez
                    en choisir 1 au minimum et 5 au maximum.</p>
            </md-content>
        </md-card-content>
        <md-card-content>
            <md-content layout-gt-sm="row" flex>
                <span class="pad-h-5">J'ai effectué ces activités &nbsp;</span>
                <md-checkbox name="enPropre" ng-disabled="checkIsPourMoi(activite.actionsRepresentationInteret)"
                             ng-model="activite.isPourMoi" ng-change="updateListeBeneficiaires('me')"
                             aria-label="J'ai effectué ces activités en propre">
                    en propre
                </md-checkbox>
                <md-checkbox name="pourTiers" ng-disabled="checkTiers(activite.actionsRepresentationInteret)"
                             ng-model="activite.isPourTiers" aria-label="J'ai effectué ces activités pour des tiers"
                             ng-change="updateListeBeneficiaires('clients')">
                    pour des tiers
                </md-checkbox>
            </md-content>
            <p><i style="color:rgba(0,0,0,0.38);">Merci de cocher au moins une des cases ci dessus pour pouvoir saisir
                des activités</i></p>
        </md-card-content>
    </md-card>

    <br/>

    <!-- Detail -->
    <md-content ng-show="activite.isPourTiers || activite.isPourMoi">

        <md-card-title>
            <md-card-title-text>
                <span md-colors="::{color: 'registre-primary-400'}" class="md-title md-title-small">Détail des activites par beneficiaire</span>
            </md-card-title-text>
        </md-card-title>

        <!-- bloc(s) de saisie des activités -->
        <md-card ng-repeat="action in activite.actionsRepresentationInteret">

            <div class="expandcollapse-item">
                <div ng-click="active[$index] = !active[$index]"
                     ng-class="{'expandcollapse-heading-collapsed': active[$index], 'expandcollapse-heading-expanded': !active[$index]}"
                     ng-class-odd="'odd'" ng-class-even="'even'" id="divTiers{{$index}}">
                    <md-content layout="row" layout-align="space-between center">
                        <md-content>
                            <md-icon ng-show="active[$index]">expand_more</md-icon>
                            <md-tooltip>réduire</md-tooltip>
                            <md-icon ng-show="!active[$index]">expand_less</md-icon>
                            <md-tooltip>éditer</md-tooltip>
                        </md-content>

                        <md-button md-colors="::{background: 'registre-primary-A700'}" class="md-fab md-mini md-hue-3"
                                   aria-label="retour" ng-click="deleteAction(action)">
                            <md-icon md-svg-icon="{{images_dir}}/icons/ic_delete_forever_white_24px.svg"
                                     style="fill: white;"></md-icon>
                            <md-tooltip>Supprimer</md-tooltip>
                        </md-button>
                    </md-content>

                    <div ng-hide="!active[$index]">
                            <span ng-repeat="tier in action.tiers">
                                {{$last ? tier.nomUsage !== undefined && tier.nomUsage !== null && tier.nomUsage !== '' ? tier.nomUsage : tier.denomination : tier.nomUsage !== undefined && tier.nomUsage !== null && tier.nomUsage !== '' ? tier.nomUsage + ', ' : tier.denomination + ', '}}
                            </span>
                        <span ng-if="!action.tiers>0">
                               Aucun bénéficiaire sélectionné
                           </span>
                    </div>
                </div>
                <div class="slideDown" ng-hide="active[$index]">
                    <div class="expand-collapse-content">
                        <!-- section tiers -->
                        <md-content>
                            <p>Sélectionnez parmi vos clients et mandants la liste des tiers concernés par l'activité
                                saisie. Vous pouvez également ajouter un ou plusieurs tiers non présents dans
                                la
                                liste.</p>
                            <md-content layout-gt-sm="row" flex>
                                <md-input-container flex>
                                    <label>Liste des bénéficiaires</label>
                                    <md-select name="beneficiaires" ng-model="action.tiers"
                                               md-on-close="clearSearchTerm()"
                                               data-md-container-class="hatvp-select-header" multiple=""
                                               ng-model-options="{trackBy: '$value.organisationId'}"
                                               ng-required="true">
                                        <md-select-header class="select-header">
                                            <input ng-model="searchTerm" type="search" placeholder="Rechercher..."
                                                   class="select-header-searchbox md-text"
                                                   ng-keydown="stopEvent($event)">
                                        </md-select-header>
                                        <md-button value="tous" ng-click="selectAll()">Sélectionner tout</md-button>
                                        <md-option ng-repeat="tier in beneficiaires | accentFoldingFilter:searchTerm"
                                                   ng-value="tier" ng-class="hatvp-option-black"
                                                   ng-click="addTier(tier)">
                                            {{tier.nomUsage !== undefined && tier.nomUsage !== null && tier.nomUsage !==
                                            '' ? tier.nomUsage : tier.denomination}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>

                                <md-button ng-click="getUnknownTier(activite)" class="link">Je ne trouve pas un
                                    bénéficiaire
                                </md-button>
                            </md-content>
                            <p><span ng-show="action.tiers !=null">Bénéficiaires : </span><span
                                ng-repeat="tier in action.tiers" ng-click="removeTier(tier)" class="tag">{{tier.nomUsage !== undefined && tier.nomUsage !== null && tier.nomUsage !== '' ? tier.nomUsage : tier.denomination}} &nbsp;x</span>
                            </p>
                        </md-content>

                        <br/>
                        <!-- Informations à saisir par bénéficiaires -->
                        <md-content flex="95" flex-offset="5" md-colors="::{background: 'registre-background-100'}">
                            <md-content layout-gt-sm="row" flex>
                                <md-input-container flex layout-gt-sm="column">
                                    <label>Catégories de responsables publics</label>
                                    <md-select name="responsables" ng-model="action.reponsablesPublics"
                                               md-on-close="clearSearchTerm()"
                                               data-md-container-class="hatvp-select-header" multiple=""
                                               ng-model-options="{trackBy: '$value.id'}"
                                               ng-required="true"
                                               ng-change="checkResponsablesPublics(action.reponsablesPublics)"
                                               flex-order="0">
                                        <md-select-header class="select-header">
                                            <input ng-model="searchTerm" ng-minlength="3" type="search"
                                                   placeholder="Rechercher..." class="select-header-searchbox md-text"
                                                   ng-keydown="stopEvent($event)">
                                        </md-select-header>
                                        <md-optgroup ng-model="action.reponsablesPublics" label="{{groupe.categorie}}"
                                                     ng-repeat="groupe in nomenclatures.nomenclature.RESPONSABLE_PUBLIC|accentFoldingFilter:searchTerm">
                                            <md-option
                                                ng-repeat="resp in groupe.nomenclature |accentFoldingFilter:searchTerm:groupe.categorie"
                                                ng-value="resp" ng-class="hatvp-option-black">
                                                {{resp.libelle}}
                                            </md-option>
                                        </md-optgroup>
                                    </md-select>
                                    <br>
                                    <md-input-container ng-if="action.reponsablesPublics.reponsablePublicCheck" flex>
                                        <label>Préciser le ou les ministères</label>
                                        <textarea textarea-limit-size="200" ng-model="action.responsablePublicAutre" trim-space="action.responsablePublicAutre"
                                                  ng-required="true" md-maxlength="200" ng-change="checkMinLength('responsablesAutres', action.responsablePublicAutre.length, 20)"
                                                  name="responsablesAutres"></textarea>
                                        <span style="color:rgb(235,22,48); ; font-size:0.8em;" ng-hide="action.responsablePublicAutre && action.responsablePublicAutre.length > 19">
                                            Ce champ doit contenir entre 20 et 200 caractères</span>
                                    </md-input-container>

                                </md-input-container>
                                <p class="pad-h-10p" flex>Sélectionnez une ou plusieurs catégories de responsables
                                    publics avec lesquels vous êtes entrés en communication au cours des activités de
                                    représentation d’intérêts déclarées dans ce formulaire</p>
                            </md-content>
                            <br/>

                            <md-content layout-gt-sm="row" flex>
                                <md-input-container flex>
                                    <label>Types de décisions publiques</label>
                                    <md-select name="decisions" ng-model="action.decisionsConcernees"
                                               md-on-close="clearSearchTerm()"
                                               data-md-container-class="hatvp-select-header" multiple=""
                                               ng-model-options="{trackBy: '$value.id'}"
                                               ng-required="true">
                                        <md-select-header class="select-header">
                                            <input ng-model="searchTerm" type="search" placeholder="Rechercher..."
                                                   class="select-header-searchbox md-text"
                                                   ng-keydown="stopEvent($event)">
                                        </md-select-header>
                                        <md-option
                                            ng-repeat="decision in nomenclatures.nomenclature.DECISION_CONCERNEE |accentFoldingFilter:searchTerm"
                                            ng-value="decision" ng-class="hatvp-option-black">
                                            {{decision.libelle}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                                <div>
                                    <span ng-repeat="d in dc">{{d}}</span>
                                </div>
                                <p class="pad-h-10p" flex>Précisez le ou les types de décisions publiques sur lesquelles
                                    ont porté les activités de représentation d’intérêts déclarée dans ce formulaire</p>
                            </md-content>
                            <br/>
                            <md-content layout-gt-sm="row" flex>
                                <md-input-container flex layout-gt-sm="column">
                                    <label>Types d'actions menées</label>
                                    <md-select name="actions" ng-model="action.actionsMenees"
                                               md-on-close="clearSearchTerm()"
                                               data-md-container-class="hatvp-select-header" multiple=""
                                               ng-model-options="{trackBy: '$value.id'}"
                                               ng-required="true" ng-change="checkActionsMenees(action.actionsMenees)"
                                               flex-order="0">
                                        <md-select-header class="select-header">
                                            <input ng-model="searchTerm" type="search" placeholder="Rechercher..."
                                                   class="select-header-searchbox md-text"
                                                   ng-keydown="stopEvent($event)">
                                        </md-select-header>
                                        <md-option
                                            ng-repeat="action in nomenclatures.nomenclature.ACTION_MENEE|accentFoldingFilter:searchTerm"
                                            ng-value="action" ng-class="hatvp-option-black">
                                            {{action.libelle}}
                                        </md-option>
                                    </md-select>
                                    <br>
                                    <md-input-container ng-if="action.actionsMenees.actionMeneeCheck" flex>
                                        <label>Préciser le ou les types d'actions</label>
                                        <textarea textarea-limit-size="200" ng-model="action.actionMeneeAutre" trim-space="action.actionMeneeAutre"
                                                  ng-required="true" md-maxlength="200" ng-change="checkMinLength('actionsAutres', action.actionMeneeAutre.length, 20)"
                                                  name="actionsAutres"></textarea>
                                        <span style="color:rgb(235,22,48); font-size:0.8em;"
                                              ng-hide="action.actionMeneeAutre && action.actionMeneeAutre.length > 19"> Ce champ doit contenir entre 20 et 200 caractères</span>
                                    </md-input-container>
                                </md-input-container>
                                <p class="pad-h-10p" flex>Précisez le ou les type(s) d’actions mises en œuvre dans le
                                    cadre des activités de représentation d’intérêts déclarées dans ce formulaire.</p>
                            </md-content>
                            <br/>
                            <md-content layout-gt-sm="row" flex>
                                <md-input-container flex>
                                    <label>Observations</label>
                                    <textarea ng-model="action.observation" trim-space="action.observation" rows=3 maxlength="700" md-maxlength="700"></textarea>
                                </md-input-container>
                                <p class="pad-h-10p" flex>Portez ici toute observation utile pour préciser les éléments
                                    déclarés. Vous pouvez en particulier préciser l’objectif poursuivi par les
                                    actions
                                    déclarées, les fonctions occupées par les responsables publics contactés, identifier
                                    une décision publique ou donner des compléments d’information sur les actions
                                    entreprises. </p>
                            </md-content>
                        </md-content>
                        <br>
                    </div>
                </div>
            </div>
        </md-card>
        <!-- fin bloc(s) de saisie des activités -->
        <!--  bloc boutons -->
       
        <md-content class="md-fab" layout-gt-sm="row" layout-align="center center" flex>
            <span>
                <md-button flex ng-click="addAction()"
                           md-colors="::{background: 'registre-primary-400', color: 'registre-background-50'}" layout="row" layout-align="center center" class="md-raised md-primary" ng-style="{margin: '100px'}">
                    ajouter des actions à attribuer à d’autres bénéficiaires                    
                </md-button>
            </span>

            <span>
                <md-button flex ng-click="saveActiviteAndRedirect()"
                           md-colors="::{background: 'registre-primary-400', color: 'registre-background-50'}" layout="row" layout-align="center center" class="md-raised md-primary">
                    Enregistrer et revenir au tableau                    
                </md-button>
            </span>
            
            <span>
                <md-button flex ng-click="saveActiviteAndStay()"
                           md-colors="::{background: 'registre-primary-400', color: 'registre-background-50'}" layout="row" layout-align="center center" class="md-raised md-primary">
                    Enregistrer et continuer                    
                </md-button>
            </span>
        </md-content>
    </md-content>
</form>
