<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<md-dialog aria-label="Recherche d'une organisation non listée" flex="50">
    <md-dialog-content flex="100" layout="column">
        <span class="md-title" md-colors="::{color: 'registre-primary-100'}">Recherche d'une organisation non listée</span>
        <md-content layout="column" layout-margin layout-padding>
            <fieldset class="pad-h-5 pad-v-5 paragraph">
                Si votre organisation a conduit une activité de représentation d'intérêts pour un tiers qu'elle a cessé de représenter. Il vous est possible de rechercher ce tier
                avec son numéro SIREN ou RNA.
                <br/><br/>
                N'oubliez pas que vous devez mentionner dans cette déclaration l’identité de l’intégralité des tiers pour le compte desquels vous avez réaliser cette actions de
                représentation d’intérêts.
            </fieldset>
        </md-content>
        <md-content layout-align="center" layout-gt-sm="row" class="pad-v-30">
            <ng-include src="ctrl.parent.searchTemplate" layout="column" flex="50"></ng-include>
        </md-content>
        <md-content layout="column" layout-margin layout-padding>
            <fieldset class="pad-h-5 pad-v-5 paragraph">
                S'il s'agit bien d'un des tiers pour lequel vous avez réaliser cette actions de représentation d’intérêts, merci de cliquer sur le bouton ci-dessous afin de
                l'ajouter à cette déclaration de représentation d'intérêts.
            </fieldset>
        </md-content>
        <md-content layout="column" layout-align="center center" flex="90">
            <md-button flex="50" ng-click="ctrl.parent.addTier($event)" md-colors="::{background: 'registre-primary-400', color: 'registre-background-50'}" type="submit" layout="row"
                       layout-align="center center" class="md-raised md-primary">Ajouter ce tier
                <md-icon md-svg-icon="{{ctrl.parent.images_dir}}/icons/plus.svg" style="position: relative; left: 5%;"></md-icon>
            </md-button>
        </md-content>
    </md-dialog-content>
</md-dialog>