<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title th:remove="all">Répertoire</title>
    <style>
        body {
            font-family: Arial, Helvetica, Tahoma, sans-serif;
            font-size: 16px;
        }

    </style>
</head>

<body style="line-height: 1.2">
<table width="780" border="0" align="center" cellpadding="0" cellspacing="0">
    <tbody>
    <tr>
        <td align="left" valign="top" style="background: rgb(27, 43, 75); height: 6px;"></td>
    </tr>
    <tr>
        <td align="center" valign="top" bgcolor="#f1f69d"
            style="background-color: rgb(250,250,250);color:#000000;padding:10px;border-left: 4px solid rgb(27, 43, 75); border-right: 4px solid rgb(27, 43, 75);">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-size: 12px;margin-top:10px;">
                <tbody>
                <tr>
                    <td align="left" valign="top" style="color:#525252;">
                        <img src="../logo.png" th:src="|cid:${imageResourceName}|" 
                                         style="margin-left:10px;padding: 20px;" align="right" />

                        <div style="width: 75%; text-align: justify;">
                            <p style="margin-bottom: 25px"><span th:text="${civilite}">Civilité</span>,</p>
                            <p>
                                <th:block th:switch="${typePublication}">
                                    <span th:case="'ESPACE_PUBLICATION'">
                                        Une inscription au répertoire numérique des représentants d’intérêts vient d’être déposée
                                    </span>
                                    <span th:case="'ESPACE_REPUBLICATION'">
                                        Une mise à jour des informations d’identité vient d’être déposée
                                    </span>
                                    <span th:case="'EXERCICE_PUBLICATION'">
                                        Les moyens alloués aux activités de représentation d’intérêts pour la période du <span th:text="${dateDebutExercice}">
                                        dd/MMM/yyyy à HH:mm</span> au <span th:text="${dateFinExercice}">
                                        dd/MMM/yyyy à HH:mm</span> viennent d'être déposés
                                    </span>
                                    <span th:case="'EXERCICE_REPUBLICATION'">
                                        La mise à jour des moyens alloués aux activités de représentation d’intérêts pour la période du <span th:text="${dateDebutExercice}">
                                        dd/MMM/yyyy à HH:mm</span> au <span th:text="${dateFinExercice}">
                                        dd/MMM/yyyy à HH:mm</span> vient d'être déposée
                                    </span>
                                    <span th:case="'ACTIVITE_PUBLICATION'">
                                        Une fiche d’activités pour la période du <span
                                        th:text="${dateDebutExercice}">dd/MMM/yyyy à HH:mm</span> au <span
                                        th:text="${dateFinExercice}">dd/MMM/yyyy à HH:mm</span> vient d'être déposée
                                    </span>
                                    <span th:case="'ACTIVITE_REPUBLICATION'">
                                        La mise à jour d’une fiche d’activités pour la période du <span
                                        th:text="${dateDebutExercice}">dd/MMM/yyyy à HH:mm</span> au <span
                                        th:text="${dateFinExercice}">dd/MMM/yyyy à HH:mm</span> vient d'être déposée
                                    </span>
                                </th:block>
                                 auprès de la Haute Autorité pour l'espace collaboratif de <span
                                th:text="${denomination}">DENOMINATION</span>. <span th:text="${isIdentite} ? 'Celle-ci' : 'Cette transmission'"></span> a été effectuée le <span
                                th:text="${date}">dd/MMM/yyyy à HH:mm</span>
                                par <span
                                th:text="${nomComplet}">Nom Prénom</span>. La publication de ces éléments sur le site de la Haute Autorité sera effective
                                dans les quinze minutes suivant cette demande.                           
  							</p>
  							
  							<p th:if="${typePublication} == 'ESPACE_PUBLICATION'">
                                 Par ailleurs, l’entité <span th:text="${denomination}">DENOMINATION</span> a l’obligation de déclarer l’intégralité des actions de représentation d’intérêts et les moyens alloués à 
                                 celles-ci depuis la date à laquelle elle répond à la définition d’un représentant d’intérêts et au plus tard depuis la date d’entrée 
                                 en vigueur du dispositif le 1er juillet 2017. La régularisation des déclarations de représentation d’intérêts est une obligation et doit 
                                 intervenir dans les plus brefs délais à compter de votre inscription.
                             </p>
                                
                            <p>Pour toute demande urgente, merci de nous contacter au 01 86 21 92 29.</p>
                            <p style="margin-top: 25px">Les services de la Haute Autorité pour la transparence de la vie publique</p>
                        </div>
                        <div style="width: 25%">&nbsp;</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td align="left" valign="top" bgcolor="#478730" style="background-color: rgb(27, 43, 75);">
            <table width="100%" border="0" cellspacing="0" cellpadding="15">
                <tbody>
                <tr style="text-align: center">
                    <td align="left" valign="top" style=" text-align: center; color:#ffffff;">
                        <a href="https://repertoire.hatvp.fr/"
                           style="font-size:13px; color:#ffffff; text-decoration: none;">repertoire.hatvp.fr</a>
                    </td>
                    <td>&nbsp;</td>
                    <td>
                        <a href="mailto:repertoire@hatvp.fr"
                           style="color:#ffffff; font-size:13px; text-decoration: none">repertoire@hatvp.fr</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
