
// --------------------------------------------------------
// This file contains all variables used in the project
// --------------------------------------------------------

// Fonts
// -------------------------------
$base-font: 'NeuzeIt';
$base-font-bold: 'NeuzeIt Bold';
$base-font-black: 'NeuzeIt Black';
$base-font-book: 'NeuzeIt Book';
$base-font-size: 18px;

// Colors
// -------------------------------
$night-blue: #051639;
$dark-indigo: #0b1a5d;
$dark-blue-grey: #1f2f4e;
$sky-blue: #68aaf7;
$red: #eb1630;
$white: #fff;

// Backgrounds
// -------------------------------

// Misc
// -------------------------------

// Animation
// -------------------------------
