<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<div flex="100" layout="column" flex="100" md-colors="::{background : 'registre-background-400'}">
    <md-content layout="column" layout-margin layout-padding>

        <div layout="column" layout-margin layout-padding>
            <fieldset class="standard">
                <legend style="font-weight: bold;">Niveaux d'intervention tous secteurs confondus</legend>

                <md-subheader class="md-no-sticky" ng-hide="newNiveauIntervention.length > 0">Aucun niveau
                    d'intervention n'a été sélectionné.
                </md-subheader>

                <div layout="row" layout-wrap flex ng-hide="newNiveauIntervention.length <= 0">
                    <div flex="100" ng-repeat="item in newNiveauIntervention">
                        <p id="activity_new_niv_{{$index}}"> {{ item.label }}</p>
                    </div>
                </div>
            </fieldset>
        </div>
        <div layout="column" layout-margin layout-padding>
            <fieldset class="standard">
                <legend style="font-weight: bold;">Principaux secteurs d'activités</legend>

                <md-subheader class="md-no-sticky" ng-hide="newSecteurActivite.length > 0">Aucun secteur d'activité n'a
                    été sélectionné.
                </md-subheader>

                <div layout="row" layout-wrap flex ng-hide="newSecteurActivite.length <= 0">
                    <div flex="100" ng-repeat="item in newSecteurActivite">
                        <p id="activity_new_sec_{{$index}}"> {{ item.label }}</p>
                    </div>
                </div>
            </fieldset>
        </div>
    </md-content>
</div>