<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<md-content layout="column" layout-align="space-around start" flex>
    <span>Pièces fournies : </span>
    <md-button ng-repeat="f in pieces" class="md-primary"
                ng-href="{{pieceDownloadUrl}}/{{f.id}}" target="_blank">
        {{f.dateVersementPiece}} &nbsp;&nbsp;&nbsp;&nbsp; {{f.nomFichier}}
    </md-button>
    <i ng-if="pieces.length === 0">Aucune pièce fournie à l'inscription.</i>
</md-content>