<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<section aria-label="Ajout contact opérationnel"> 
		<form name="ajoutForm" ng-submit="submit(ajoutForm.files01.$valid && ajoutForm.files02.$valid && ajoutForm.files03.$valid)">
			<div class="md-dialog-header" md-colors="::{background: 'registre-background-50'}" layout="row" layout-align="space-between start">
				<span class="md-title" md-colors="::{color: 'registre-primary-100'}">Ajouter un contact opérationnel</span>
			</div>
			<p>Renseignez l'email du déclarant à ajouter comme contact opérationnel de {{espace.denomination}}. </p>
			<br>
			<md-content layout="column">
				<div layout="row" layout-wrap>
					<md-input-container flex="40"> <label>Email
						du déclarant</label> <input name="email" ng-model="email"> </md-input-container>
					<md-button
						md-colors="::{background: 'registre-primary-400', color: 'registre-background-50'}"
						class="md-raised md-primary" flex="50" ng-disabled="!email"
						ng-click="chargerDeclarant(email)"> Charger </md-button>
				</div>
			</md-content>
			
			  <md-content class="pad-h-100" layout="row" class="section" layout-align="space-between center" ng-hide="nouveau_co == null">
			     <md-content layout="row" flex="40">
			         <div flex="100">
                     	<md-list class="md-dense" flex="100" layout="column">
			            	<md-list-item class="md-8-line add_corporate_denomination" flex="100">
			                	<div class="md-list-item-text" layout="column" flex="50">
			                         <p><b>Civilite</b></p>
			                     </div>
			                     <div class="md-list-item-text" layout="column" flex="50">
			                         <p>{{nouveau_co.civilite}}</p>
			                     </div>
			                 </md-list-item>
			                 <md-divider></md-divider>
			            	<md-list-item class="md-8-line add_corporate_denomination" flex="100">
			                	<div class="md-list-item-text" layout="column" flex="50">
			                         <p><b>Nom</b></p>
			                     </div>
			                     <div class="md-list-item-text" layout="column" flex="50">
			                         <p>{{nouveau_co.nom}}</p>
			                     </div>
			                 </md-list-item>
			                 <md-divider></md-divider>
			            	<md-list-item class="md-8-line add_corporate_denomination" flex="100">
			                	<div class="md-list-item-text" layout="column" flex="50">
			                         <p><b>Prenom</b></p>
			                     </div>
			                     <div class="md-list-item-text" layout="column" flex="50">
			                         <p>{{nouveau_co.prenom}}</p>
			                     </div>
			                 </md-list-item>
			                 <md-divider></md-divider>
			            	<md-list-item class="md-8-line add_corporate_denomination" flex="100">
			                	<div class="md-list-item-text" layout="column" flex="50">
			                         <p><b>Date de naissance</b></p>
			                     </div>
			                     <div class="md-list-item-text" layout="column" flex="50">
			                         <p>{{nouveau_co.date_naissance}}</p>
			                     </div>
			                 </md-list-item>
			                 <md-divider></md-divider>			                 
			            	<md-list-item class="md-8-line add_corporate_denomination" flex="100">
			                	<div class="md-list-item-text" layout="column" flex="50">
			                         <p><b>Telephone</b></p>
			                     </div>
			                     <div class="md-list-item-text" layout="column" flex="50">
			                         <p>{{nouveau_co.telephone}}</p>
			                     </div>
			                 </md-list-item>
			                 <md-divider></md-divider>
                    	</md-list>
                   	</div>
                 </md-content>
            	 <md-content flex="60" class="section pad-l-50">
                 	<md-content layout="column" flex="100">
                 		<div layout="column" layout-align="center end">
   		                        <div class="paragraph">
									<lf-ng-md-file-input name="files03" lf-files="files03"
										accept="image/jpg,image/jpeg,image/png,application/pdf"
										lf-mimetype="image/jpg,image/jpeg,image/png,application/pdf"
										lf-placeholder="Justificatif de la qualité de représentant légal ({{maxFileSizeInMB}} Mo) *"
										progress lf-filesize="{{maxFileSizeInMB}}MB"
										lf-browse-label="Joindre fichier" lf-remove-label="Supprimer"
										class="input-file"> </lf-ng-md-file-input>
								</div>
                        		<div class="paragraph">
								<lf-ng-md-file-input name="files01" lf-files="files01"
									accept="image/jpg,image/jpeg,image/png,application/pdf"
									lf-mimetype="image/jpg,image/jpeg,image/png,application/pdf"
									lf-placeholder="Pièce d'identité du représentant légal ({{maxFileSizeInMB}} Mo) *"
									progress lf-filesize="{{maxFileSizeInMB}}MB"
									lf-browse-label="Joindre fichier" lf-remove-label="Supprimer"
									class="input-file"> </lf-ng-md-file-input>
								</div>
                        		<div class="paragraph">
								<lf-ng-md-file-input name="files02" lf-files="files02"
									accept="image/jpg,image/jpeg,image/png,application/pdf"
									lf-mimetype="image/jpg,image/jpeg,image/png,application/pdf"
									lf-placeholder="Mandat du représentant légal ({{maxFileSizeInMB}} Mo) *"
									progress lf-filesize="{{maxFileSizeInMB}}MB"
									lf-browse-label="Joindre fichier" lf-remove-label="Supprimer"
									class="input-file"> </lf-ng-md-file-input>
								</div>
						</div>
					</md-content> 
				</md-content>
			</md-content>
	        <md-content layout="row" >
				<md-button 	md-colors="::{color: 'registre-primary-400', background: 'registre-background-50'}" ng-click="cancel()" 
				layout="row" layout-align="center center"	class="md-primary" flex="40"> Annuler </md-button> 
				<md-button 	md-colors="::{background: 'registre-primary-400', color: 'registre-background-50'}"
					type="submit" layout="row" layout-align="center center" class="md-raised md-primary" flex="50" 	ng-disabled="contactForm.$invalid" ng-hide="nouveau_co == null"> AJouter </md-button> 
			</md-content>
</section>