<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<md-content layout="row" flex="100" layout-padding>
    <md-content class="pad-h-100 pad-v-45" layout="column" flex="80" layout-align="center">
        <div>
            <div>
                <h5>Raison sociale de l'espace:</h5>
                <div ng-click="getRaisonSociale(mandate.raisonSocialeId)">{{mandate.raisonSociale}}</div>
            </div>
            <md-divider></md-divider>
            <div>
                <h5>Identité du demandeur:</h5>
                <div ng-click="getDeclarant(demandeurComplet)">{{mandate.demandeur}}</div>
            </div>
            <md-divider></md-divider>
            <div>
                <h5>Date de la demande:</h5>
                <div>{{mandate.dateDemande}}</div>
            </div>
            <md-divider></md-divider>
            <div>
                <h5>Type de la demande:</h5>
                <div>{{ mandate.typeDemande }}</div>
            </div>
            <md-divider></md-divider>
            <div>
                <h5>Motif de la demande:</h5>
                <div>{{mandate.motifDemande}}</div>
            </div>
            <md-divider></md-divider>
            <div ng-hide="contactOpShow">
                <h5>Identité du nouveau contact opérationnels:</h5>
                <div ng-click="getDeclarant(nouveauContactComplet)">{{mandate.nouveauContactOp}}</div>
            </div>
            <md-divider></md-divider>
            <br>
            <span>Pièces associées à la demande : </span>
            <md-input-container layout="column" layout-align="end start">

                <md-button ng-repeat="f in pieces" class="md-primary" ng-href="{{pieceDownloadUrl}}/{{f.id}}" target="_blank">
                    {{f.dateVersementPiece}} &nbsp;&nbsp;&nbsp;&nbsp; {{f.nomFichier}}
                </md-button>
                <i ng-if="pieces.length === 0">Aucune pièce fournie à l'inscription.</i>
            </md-input-container>
        </div>
    </md-content>
    <md-content layout="column" layout-align flex="20" style="border-left: 1px solid #051639;">
        <comment flex current="id" context="5"></comment>
    </md-content>
</md-content>

