<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<md-content>
    <div layout="row" class="pad-h-30 pad-v-45">
        <h1 md-colors="::{color : 'registre-primary-400'}" class="md-title md-title-big" flex="40">
            Changements des mandats de gestion
        </h1>
    </div>

    <md-content style="padding: 20px;">
        <md-button md-no-ink class="md-primary" ng-click="reset()" ng-if="search" >Effacer les filtres</md-button>
        <md-table-container >
            <table md-table md-progress="mandatsTableOptions.promise">
                <thead md-head md-order="mandatsTableOptions.order" class="md-table-head"
                       md-colors="::{color: 'registre-background-50',background: 'registre-primary-400'}">
                <tr md-row>
                    <th md-column md-order-by="denomination">
                        <md-input-container>
                            <input placeholder="Raison sociale" md-colors="::{color: 'registre-background-50'}"
                                   type="text"
                                   ng-model="denomination"
                                   onclick="event.stopPropagation()"
                                   ng-keydown="$event.keyCode === 13 && callSearch('denomination')"
                            >
                        </md-input-container>
                    </th>
                    <th md-column md-order-by="declarantFullname">
                        <md-input-container>
                            <input placeholder="Demandeur" md-colors="::{color: 'registre-background-50'}" type="text"
                                   ng-model="declarantFullname"
                                   onclick="event.stopPropagation()"
                                   ng-keydown="$event.keyCode === 13 && callSearch('declarantFullName')"
                            >
                        </md-input-container>
                    </th>
                    <th md-colors="::{color: 'registre-background-50'}" md-column
                        class="center">
                        <md-select style="background-color: white;" md-colors="::{color: 'grey-A100'}" ng-model="typeRecherche" placeholder="Type demande" ng-change="demandeChanged(typeRecherche)" class="md-no-underline">
                            <md-option md-colors="::{color: 'grey-A200'}" ng-value="type.id" ng-repeat="type in types">{{type.label}}</md-option>
                        </md-select>
                    </th>
                    <th md-colors="::{color: 'registre-background-50'}" md-column md-order-by="dateDemande"
                        class="center">
                        <md-input-container>
                        <input placeholder="Date demande" md-colors="::{color: 'registre-background-50'}" md-colors="::{color: 'registre-background-50'}" type="text"
                               ui-mask="99/99/9999" ui_mask_placeholder="__/__/____" ui-mask-placeholder-char="space"
                               ng-pattern="/^((0[1-9]|[12][0-9]|3[01])[\/](0[1-9]|1[012])[\/](19|20)[0-‌​9]{2})$/"
                               ng-model="dateKeywords"
                               onclick="event.stopPropagation()"
                               ng-keydown="$event.keyCode === 13 && callSearch('dateDemande') && dateKeywords.$valid"
                        >
                        </md-input-container>
                    </th>
                    <th md-column class="center" md-colors="::{color: 'registre-background-50'}">
                        <md-select style="background-color: white;" md-colors="::{color: 'grey-A100'}" ng-model="statutRecherche" placeholder="Status" ng-change="statutChanged(statutRecherche)" class="md-no-underline">
                            <md-option md-colors="::{color: 'grey-A200'}" ng-value="statut.id" ng-repeat="statut in statuts">{{statut.label}}</md-option>
                        </md-select>                    </th>
                    <th md-colors="::{color: 'registre-background-50'}" md-column class="center"></th>
                </tr>
                </thead>
                <tbody md-body>
                <tr md-row
                    ng-repeat="m in mandats |
            orderBy: mandatsTableOptions.order:true |
            filter: mandatsTableOptions.filter"
                    ng-click="getMandatesDetails(m.id,m.typeDemande)" class="back-office">
                    <td md-cell>{{m.raisonSociale}}</td>
                    <td md-cell>{{m.demandeur}}</td>
                    <td md-cell class="center">{{m.typeDemande}}</td>
                    <td md-cell class="center">{{m.dateDemande}}</td>
                    <td md-cell class="center">{{m.statut.label}}</td>
                    <td md-cell class="center">
                        <i class="material-icons" ng-if="d.locked">lock
                            <md-tooltip>verrouillé</md-tooltip>
                        </i>
                    </td>
                </tr>
                </tbody>
            </table>
            <md-table-pagination md-label="{{mandatsTableOptions.labels}}"
                                 md-page="mandatsTableOptions.page" md-limit="mandatsTableOptions.limit"
                                 md-total="{{mandats.totalNumber}}" md-page-select
                                 md-on-paginate="search ? onPaginateSearch : onPaginate"
                                 md-limit-options="mandatsTableOptions.limitOptions"></md-table-pagination>
        </md-table-container>
        <md-subheader class="md-no-sticky" ng-hide="mandats.length > 0">Aucune demande de gestion de mandats
            enregistrée.
        </md-subheader>
    </md-content>
</md-content>

