<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<div ng-controller="MandatesMenuBarCtrl" flex="100" layout="row">
    <md-content layout="column" layout-align="center left" flex="70">
        <div layout="row" layout-align="start center">
            <md-button class="md-fab md-mini md-hue-3" aria-label="retour" ui-sref="{{returnState}}">
                <md-icon md-svg-icon="{{images_dir}}/icons/ic_reply_white_24px.svg" style="fill: white;"></md-icon>
                <md-tooltip>Retour</md-tooltip>
            </md-button>
            <h2 md-colors="::{color: 'registre-primary-200'}" style="padding: 10px;">
                {{menuBarPreviousTitle}}</h2>
        </div>
        <span flex></span>
    </md-content>
    <md-content layout="column" flex="70" style="overflow: hidden;">
        <div layout="row" layout-align="end center">
             <md-button ng-click="demandeComplement($event)"
                       md-colors="::{background: 'registre-primary-A400', color: 'registre-background-50'}"
                       layout="row" layout-align="center center" class="md-raised md-primary">
                Demande de complément
            </md-button>       
            <md-button ng-click="rejectMandate($event)"
                       md-colors="::{background: 'registre-primary-400', color: 'registre-background-50'}"
                       layout="row" layout-align="end end" class="md-raised md-primary">
                Refuser
            </md-button>
            <md-button ng-click="validateMandate($event)"
                       md-colors="::{background: 'registre-primary-400', color: 'registre-background-50'}"
                       layout="row" layout-align="end end" class="md-raised md-primary">
                Valider
            </md-button>
        </div>
    </md-content>
</div>