<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<md-table-container ng-show="oldClients.length > 0">
    <table md-table md-progress="progress">
        <thead md-head md-order="clientsTableOptions.order" class="md-table-head"
               md-colors="::{color: 'registre-background-50',background: 'registre-primary-400'}">
        <tr md-row>
            <th md-column md-order-by="denomination">
                <md-input-container>
                    <input placeholder="Raison sociale" md-colors="::{color: 'registre-background-50'}" type="text"
                           ng-model="clientsTableOptions.filter.denomination" onclick="event.stopPropagation()">
                </md-input-container>
            </th>
            <th md-column md-order-by="identifiantNational">
                <md-input-container>
                    <input placeholder="Identifiant" md-colors="::{color: 'registre-background-50'}" type="text"
                           ng-model="clientsTableOptions.filter.identifiantNational" onclick="event.stopPropagation()">
                </md-input-container>
            </th>
            <th md-column md-order-by="ancienClient">
                <md-input-container>
                    <input placeholder="Actif" md-colors="::{color: 'registre-background-50'}" type="text"
                           ng-model="clientsTableOptions.filter.ancienClient" onclick="event.stopPropagation()">
                </md-input-container>
            </th>
        </tr>
        </thead>
        <tbody md-body>
        <tr md-row id="client_old_{{$index}}"
            ng-repeat="c in oldClients |
            orderBy: clientsTableOptions.order |
            filter: clientsTableOptions.filter |
            limitTo: clientsTableOptions.limit: (clientsTableOptions.page - 1) * clientsTableOptions.limit">
            <td md-cell>{{c.denomination}}</td>
            <td md-cell>{{c.identifiantNational}}</td>
            <td md-cell>{{c.dateDesactivation ? "Non" : "Oui"}}</td>
        </tr>
        </tbody>
    </table>
    <md-table-pagination md-label="{{clientsTableOptions.labels}}"
                         md-page="clientsTableOptions.page" md-limit="clientsTableOptions.limit"
                         md-total="{{oldClients.length}}"
                         md-limit-options="clientsTableOptions.limitOptions"
                         md-page-select></md-table-pagination>
</md-table-container>
