<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<md-subheader class="md-no-sticky" ng-hide="newClients.length > 0">Aucun client enregistré.</md-subheader>
<md-table-container ng-show="newClients.length > 0">
    <table md-table md-progress="progress">
        <thead md-head md-order="newClientsTableOptions.order" class="md-table-head"
               md-colors="::{color: 'registre-background-50',background: 'registre-primary-400'}">
        <tr md-row>
            <th md-column md-order-by="denomination">
                <md-input-container>
                    <input placeholder="Raison sociale" md-colors="::{color: 'registre-background-50'}" type="text"
                           ng-model="newClientsTableOptions.filter.denomination" onclick="event.stopPropagation()">
                </md-input-container>
            </th>
            <th md-column md-order-by="identifiantNational">
                <md-input-container>
                    <input placeholder="Identifiant" md-colors="::{color: 'registre-background-50'}" type="text"
                           ng-model="newClientsTableOptions.filter.identifiantNational" onclick="event.stopPropagation()">
                </md-input-container>
            </th>
            <th md-column md-order-by="ancienClient">
                <md-input-container>
                    <input placeholder="Actif" md-colors="::{color: 'registre-background-50'}" type="text"
                           ng-model="clientsTableOptions.filter.ancienClient" onclick="event.stopPropagation()">
                </md-input-container>
            </th>
        </tr>
        </thead>
        <tbody md-body>
        <tr md-row id="client_{{$index}}"
            ng-repeat="c in newClients |
            orderBy: newClientsTableOptions.order |
            filter: newClientsTableOptions.filter |
            limitTo: newClientsTableOptions.limit: (newClientsTableOptions.page - 1) * newClientsTableOptions.limit">
            <td md-cell>{{c.denomination}}</td>
            <td md-cell>{{c.identifiantNational}}</td>
            <td md-cell>{{c.dateDesactivation ? "Non" : "Oui"}}</td>
        </tr>
        </tbody>
    </table>
    <md-table-pagination md-label="{{newClientsTableOptions.labels}}"
                         md-page="newClientsTableOptions.page" md-limit="newClientsTableOptions.limit"
                         md-total="{{newClients.length}}"
                         md-limit-options="newClientsTableOptions.limitOptions"
                         md-page-select></md-table-pagination>
</md-table-container>
