<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<md-content ng-controller="LoginCtrl" ng-show="loginView">
    <form class="home-form" name="loginForm" ng-submit="login($event, loginForm.$valid)" novalidate layout="column">
        <md-content>
            <md-input-container class="md-block">
                <label>Identifiant*</label>
                <input name="login" md-autofocus md-no-asterisk ng-model="authModel.email" required>
                <ng-messages for="loginForm.login.$error">
                    <ng-message when="required">Ce champ est obligatoire.</ng-message>
                </ng-messages>
            </md-input-container>

            <md-input-container class="md-block md-last-container">
                <label>Mot de passe*</label>
                <input md-colors="::{color: 'registre-primary-400'}" name="password"
                       ng-model="authModel.password" type="password" md-no-asterisk required>
                <ng-messages for="loginForm.password.$error">
                    <ng-message when="required">Ce champ est obligatoire.</ng-message>
                </ng-messages>
            </md-input-container>

            <md-content layout="column">
                <md-button class="md-raised"
                           md-colors="::{background: 'registre-primary-400', color: 'registre-background-50'}"
                           flex
                           flex="100" type="submit" layout="row" layout-align="center center"
                           class="md-raised md-accent" ng-disabled="loginForm.$invalid">
                    Connexion
                </md-button>
            </md-content>
        </md-content>
    </form>
</md-content>