
// -------------------------------
// Angular material Buttons
// -------------------------------

.md-button {
    border-radius: 0;
}

md-dialog-actions .md-button,
.md-button.md-raised {
    font-size: 18px;
    font-family: $base-font-book;
    font-weight: normal;
    letter-spacing: 0.9px;
    line-height: 1;
    text-transform: uppercase;
    padding: 18px 50px; 
    margin-left: 0;
    border-radius: 0;
    box-sizing: border-box;
    max-height: 54px;

    // Remove useless box-shadow
    &:not([disabled]) {
        box-shadow: none;
    }
}

// Add button (e.g. Add input container)
.md-icon-button.md-add-button {
    margin: 0;
    width: 100%;
    display: block;
    position: relative;
    padding: 0;
    min-height: 0;
    height: 24px;

    &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translate(0,-50%);
        height: 1px;
        background: rgba(5, 21, 57, 0.2);
    }

    md-icon {
        position: relative;

        &:before {
            content: '';
            position: absolute;
            top: -5px;
            left: -5px;
            right: -5px;
            bottom: -5px;
            border-radius: 50%;
            background: white;
            z-index: 1;
        }

        svg {
            position: relative;
            z-index: 1;
        }
    }
}

// Confirm and cancel buttons
// (e.g. buttons in dialogs)
.md-confirm-button {
    background: $night-blue!important;
    color: white!important;
}

.md-cancel-button {
    color: $night-blue !important;
}

// Add button
// Override default color from Material when a button is active
.md-button.md-registre-theme.md-primary.md-raised:not([disabled]) md-icon, 
.md-button.md-registre-theme.md-primary.md-fab:not([disabled]) md-icon {
    color: white;
}

// Diasbled buttons 
.md-button.md-registre-theme.md-raised[disabled],
.md-button.md-registre-theme.md-fab[disabled],
.md-button.md-registre-theme[disabled] {
    opacity: 0.5;
    cursor: default;
}

 .md-button.md-raised.md-button-step {
     display: flex;
     align-items: center;

     i {
         margin-right: 10px;
         margin-top: -3px;
     }
 }

 md-tabs-canvas {
     background: white;
 }