
// -------------------------------
// Custom dropdown
// -------------------------------

.md-dropdown {
    position: absolute;
    top: 84px;
    left: 0;
    transform: translate(-50%,0);
    padding-top: 12px;
    background: transparent!important;
    min-width: 300px;

    // Top chevron
    &:before,
    &:after {
        content: '';
        position: absolute;
        left: 50%;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 25px 12px 25px;
        transform: translate(-50%,0);
    }

    &:before {
        top: 1px;
        border-color: transparent transparent #ffffff transparent;
        z-index: 1;
    }

    &:after {
        top: 0;
        border-color: transparent transparent #d3d3d3 transparent;
    }

    md-list {
        background: white;
        border: solid 1px #d3d3d3;
        padding: 0; 
    }

    // Remove big height from md-list-item
    md-list-item.md-2-line,
    md-list-item.md-2-line > .md-no-style {

        &,
        &:before {
            min-height: 0;
        }        
    }

    md-list-item:before,
    md-list-item .md-list-item-inner:before{
        display: none;
    }

    md-list-item .md-no-style.md-button {
        font-family: $base-font-book;
        font-size: 12px;
        padding: 0;
    }

    md-list-item .md-icon-star md-icon {
        width: 10px;
        min-width: 0;
    }

    md-list-item md-icon.md-icon-lock svg {
        width: 14px;
        min-width: 14px;
        margin: inherit;
    }

    md-list-item .md-icon-add {
        margin-right: 10px!important;

        md-icon {
            width: 15px!important;
            min-width: 0;
        }
    }

    md-list-item._md-button-wrap > div.md-button:first-child {
        padding: 0;
    }

    md-list-item .md-list-item-inner {
        display: flex;
        justify-content: space-between;
        padding-right: 20px;
    }
    
}