
// -------------------------------
// Dashboard filters
// -------------------------------

.filters {
    margin-bottom: 12px;

    md-divider {
        height: 20px;
        background-color: #d8d8d8;
        margin: 0 30px;
    }

    .filter-label {
        font-family: $base-font-book;
        font-size: 16px;
        letter-spacing: 0.8px;
        color: #1d1d1d;
        margin-right: 10px;
    }

    md-input-container {
        display: flex;
        align-items: center;
        padding-left: 24px;

        .md-input {
            height: 24px;
        }

        md-select {
            flex-grow: 1;

            md-select-value.md-select-placeholder {
                border: 0;
            }
        }
    }

    md-icon {
        top: 4px;
        width: 14px;
        min-width: 14px;
    }
}