// -------------------------------
// Angular material Forms
// -------------------------------

// input container
md-input-container {

  label,
  .md-input {
    font-size: 16px;
    font-family: $base-font-book;
    letter-spacing: 0.8px;
  }

  label {
    color: #666;
    box-sizing: border-box;
  }

  &.md-icon-right {
    padding-right: 55px;

    & > button {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  md-select {
    margin: 0;
    font-size: 16px;
  }

  &:not(.md-input-invalid) .md-input,
  &:not(.md-input-focused) .md-input,
  &:not(.md-input-invalid) .md-select-value,
  &:not(.md-input-focused) .md-select-value {
    border-color: #666666;
  }
}

md-input-container.md-input-focused .md-input,
md-input-container .md-input.ng-invalid.ng-dirty,
md-input-container.md-input-resized .md-input {
  padding-bottom: 0;
  border-width: 0 0 1px 0;
}

md-datepicker {
  padding-right: 0;
  margin-right: 0;
  cursor: pointer;
}

md-datepicker,
.md-datepicker-input-container {
  width: 100%;
  border: 0;
}

md-list-item {

  &,
  &:before {
    min-height: 0;
  }
}

.md-input-invalid {

  label,
  input,
  .md-errors-spacer {
    color: #eb1630 !important;
  }

  .md-input,
  .md-select-value {
    border-color: #eb1630;
  }
}

md-checkbox.md-registre-theme.md-checked .md-icon {
  background: white !important;
  border-color: $night-blue;
}

md-checkbox.md-default-theme[disabled].md-checked,
md-checkbox.md-registre-theme[disabled].md-checked,
md-checkbox[disabled].md-checked {
  opacity: 0.7;

  .md-icon:after {
    border-color: $night-blue;
  }
}

textarea.clean_style{
  background: transparent;
  border: 0;
}

// Input file create organisation
.input-file {

  &.lf-ng-md-file-input {
    padding: 30px 0;
    margin: 0;
  }

  .lf-icon {
    display: none;
  }

  .lf-ng-md-file-input-container {
    background: transparent;
    box-shadow: none;
    border-radius: 0;

    .lf-ng-md-file-input-caption {
      padding: 0;
      flex: 0 auto;
      font-size: 16px;
      letter-spacing: 0.8px;
      text-overflow: ellipsis;
      /* SSAIDELIMAM: IE 11 DISPLAY FIX */
      display: ruby;
      align-items: center;

      .lf-ng-md-file-input-caption-text-default {
        font-family: "NeuzeIt Book";
        margin-left: 0;
        color: black;
        text-overflow: ellipsis;
        /* SSAIDELIMAM: IE 11 DISPLAY FIX */
        display: ruby;
      }
    }
  }

  .lf-ng-md-file-input-button-remove span {
    font-size: 13px;
    color: black;
    margin-left: 4px;
  }

  .md-raised.lf-ng-md-file-input-button.lf-ng-md-file-input-button-brower {
    font-size: 16px;
    font-family: "NeuzeIt Book";
    letter-spacing: 0.8px;
    text-align: left;
    color: #ffffff;
    padding: 15px 40px;
    margin-left: 30px;
  }
}

.hatvp-select-header {
  /* Please note: All these selectors are only applied to children of elements with the 'selectdemoSelectHeader' class */ }
.hatvp-select-header .select-header-searchbox {
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
  padding: 0; }
.hatvp-select-header .select-header {
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
  padding-left: 10.667px;
  height: 48px;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  width: auto;
}

.hatvp-select-header md-content._md {
  max-height: 240px;
}

md-option .md-text{
  color: rgba(0,0,0,0.65);
}

md-option .md-text:hover {
  color: rgba(0,0,0,1);
}

md-option:focus .md-text {
  color: rgba(0,0,0,1);
}

md-select-menu.md-registre-theme md-content md-option[disabled] .md-text {
    color: rgba(189,189,189,0.87);
}

/* form déroulant pour saisie des bénéficiaires */

.expandcollapse-item {
  overflow: hidden;
}

.expandcollapse-heading-collapsed {
  cursor: pointer;
  padding: 15px 20px;
  position: relative;
  z-index: 100000000;
}

.expandcollapse-item:first-of-type {
  border-top:0px;
}


.expandcollapse-heading-collapsed p{
  font-size: 16px;
  font-weight: normal;
  margin:0px;
}



.expandcollapse-heading-expanded {
  cursor: pointer;
  z-index: 100000000;
  padding: 5px;
  position: relative;
}

.expandcollapse-heading-expanded p{
  font-size: 16px;
  margin:0px;
}

.expandcollapse-heading-collapsed > span,
.expandcollapse-heading-expanded > span {
  position:absolute;
  top: 25px;
  right: 15px;
  font-size: 20px;
  line-height: 0px;
}

.expand-collapse-content {
  padding: 20px;
}


/* animation:*/

.slideDown.ng-hide {
  height:0;
  min-height:0px;
  transition:min-height 0.35s ease;
  overflow:hidden;
  position:relative;
}

.slideDown {
  min-height:800px;
  transition:min-height 0.35s ease;
  overflow:hidden;
  position:relative;
}

.slideDown.ng-hide-remove,
.slideDown.ng-hide-add {
  /* remember, the .hg-hide class is added to element
  when the active class is added causing it to appear
  as hidden. Therefore set the styling to display=block
  so that the hide animation is visible */
  display:block!important;
}


.slideDown.ng-hide-add {
  animation-name: hide;
  -webkit-animation-name: hide;

  animation-duration: .5s;
  -webkit-animation-duration: .5s;

  animation-timing-function: ease-in;
  -webkit-animation-timing-function: ease-in;
}



.slideDown.ng-hide-remove {
  animation-name: show;
  -webkit-animation-name: show;

  animation-duration: .5s;
  -webkit-animation-duration: .5s;

  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
}

.odd {
  background-color: rgba(0,0,0,0.1);
  color: black;
}
.even {
  background-color: rgba(0,0,0,0.10);
  color: black;
}

.odd:hover, .even:hover {
  background-color: rgba(0,0,0,0.2);
  color: black;
}

/* tags */
.tag {
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: #999;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 5px 20px ;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  cursor:pointer;
}



.tag:hover{
  background-color: #051639;
  color: white;
}
form.erreurSaisie md-select.ng-invalid md-select-value{
	color: rgb(235,22,48) !important;
}
