// -------------------------------
// Home page
// -------------------------------

.home-box {
  height: 100%;
}

.home-message {
  font-size: 16px;
  background-color: $red;
  color: $white;
  box-shadow: inset 0px -2px 7px 1px rgba(0, 0, 0, 0.2);
  padding: 10px 0;
}

.home-background {
  background: url('../img/background-home.png') center center no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

.home-logo {
  position: absolute;
  top: 55px;
  left: 50%;
  transform: translate(-50%, 0);
  text-decoration: none;

  img {
    width: 220px;
  }
}

.home-logo-title {  
  min-width: 240px;
  font-size: 16px;
  font-family: $base-font-book;
  font-weight: inherit;
  line-height: 19px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  margin: 0 0 0 10px;

  span {
    display: block;
  }
}

.home-title {
  font-size: 28px;
  margin-left: 50px;
  padding-right: 50px;
  line-height: 1.2;
  letter-spacing: 0.9px;

  &:before {
    transform: translate(0, 30px);
  }
}

.home-forms {
  padding-top: 140px;
  padding-bottom: 80px;
  overflow: hidden;
}

.home-form {
  width: 320px;

  md-input-container {
    margin: 22px 0;
  }
}

.home-forgot {
  font-size: 14px;
  font-family: $base-font-book;
  letter-spacing: 0.9px;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  margin-bottom: 54px;

  span {
    display: inline-block;
    position: relative;

    // Line decoration under links
    &:before {
      content: '';
      background: currentColor;
      position: absolute;
      left: 0;
      right: 0;
      bottom: -5px;
      height: 1px;
      margin: 0 50%;
      transition: margin 350ms ease;
    }
  }

  // On hover, focus display the line
  // with a transition
  @include on-event() {

    span:before {
      margin: 0;
    }
  }
}

.home-nav {
  position: absolute;
  top: 50px;
  //right: 50px;
}

.home-nav a {
  cursor: pointer;
  font-size: 20px;
  letter-spacing: 3px;
  font-family: $base-font-book;

  &:before {
    display: none;
    right: 0;
  }

  & + a {
    margin-left: 50px;
  }

  &.is-active {
    font-family: $base-font-bold;

    &:before {
      display: block;
    }
  }
}

.home-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 40px 15px;
}

.home-footer a {
  display: inline-block;
  text-decoration: none;
  font-family: $base-font-book;
  font-size: 14px;
  letter-spacing: 0.5px;
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;

  & + a {
    margin-left: 18px;
  }

  // Line decoration under links
  &:before {
    content: '';
    background: currentColor;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    margin: 0 50%;
    transition: margin 350ms ease;
  }

  // On hover, focus display the line
  // with a transition
  @include on-event() {

    &:before {
      margin: 0;
    }
  }
}

.home-footer-links {
  border: 1px solid currentColor;
  border-radius: 2px;
  padding-left: 5px;
  padding-right: 5px;
  transition: all 350ms ease-in-out;

  &:before {
    display: none;
  }

  &:hover {
    border-color: transparent;
  }
}


.arrow_box {
	color: white;
    box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.4);
    position: absolute;
    top: 0;
  display: block;
  background: white;
  border-radius: 10px;
  padding: 10px;
  background-color:#1B2B4B;
}
.arrow_box:after, .arrow_box:before {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(255, 255, 255, 0);
  border-right-color: #1B2B4B;
  border-width: 10px;
  margin-top: -10px;
}
.arrow_box:before {
  border-color: rgba(0, 0, 160, 0);
  border-right-color: #1B2B4B;
  border-width: 13px;
  margin-top: -13px;
}