body md-content {
  background-color: #f7f7f7;
}

md-card-content pre {
  overflow: auto
}

.inputBox {
  height: 100px;
}

.match,
.textdiff span {
  color: gray;
}

.ins,
ins {
  color: black;
  background: #bbffbb;
}

.del,
del {
  color: black;
  background: #ffbbbb;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.new-include-block {
  position: relative;
  top: 60px;
}

.pub-min-card {
  min-height: 280px !important;
}

.show_diff_green {
  background-color: #90dc90 !important;
}

.show_diff_red {
  background-color: #e34244 !important;
  color: #ffffff !important;
}

.show_diff_fast_green {
  background-color: #bbffbb !important;
}