// -------------------------------
// Signup
// -------------------------------

.signup {
  min-width: 80%;
  width: 100%;
  padding: 0 10px;
  overflow-y: auto;

  /*md-content {
    overflow: inherit;
  }*/

  md-input-container {
    margin: 8px 0;
    overflow: inherit;
  }
}
