// -------------------------------
// Angular material Custom Padding
// -------------------------------

.pad-h-5 {
  padding-left: 5px;
  padding-right: 5px;
}

.pad-h-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.pad-h-30 {
  padding-left: 30px;
  padding-right: 30px;
}

.pad-h-50 {
  padding-left: 50px;
  padding-right: 50px;
}

.pad-l-50 {
  padding-left: 50px;
}

.pad-h-100 {
  padding-left: 100px;
  padding-right: 100px;
}

.pad-h-25p {
  padding-left: 25%;
  padding-right: 25%;
}

.pad-h-10p {
  padding-left: 10%;
  padding-right: 10%;
}

@media all and (max-device-width: 1200px) {

  .pad-h-25p {
    padding-left: 5%;
    padding-right: 5%;
  }

  .pad-h-10p {
    padding-left: 2%;
    padding-right: 2%;
  }
}

@media all and (max-device-width: 2000px) {

  .pad-h-25p {
    padding-left: 15%;
    padding-right: 15%;
  }

  .pad-h-10p {
    padding-left: 3%;
    padding-right: 3%;
  }
}

.pad-v-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.pad-v-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.pad-v-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.pad-v-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.pad-v-45 {
  padding-top: 45px;
  padding-bottom: 45px;
}

.pad-b-100 {
  padding-bottom: 100px;
}

.pad-t-30 {
  padding-top: 30px;
}

.pad-b-30 {
  padding-bottom: 30px;
}

.m-b-30 {
  margin-bottom: 30px;
}

.no-margin {
  margin: 5px 0;
}

.m-t-0 {
  margin-top: 0;
}

.m-b-0 {
  margin-bottom: 0;
}

.ovh {
  overflow: hidden;
}