// -------------------------------
// Angular material Switch
// -------------------------------

md-switch {

    // Switch bar
    .md-bar {
        width: 32px;
        height: 7px;
        border-radius: 100px;
        background-color: #d2d2d2!important;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
        margin-top: 2px;
    }
    
    // bar active
    &.md-registre-theme.md-checked .md-bar{
        background-color: #4990e2!important;
    }

    // Switch thumb
    .md-thumb {
        width: 16px;
        height: 16px;
        background-color: #1b2b4b!important;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
        border: solid 1px #ffffff;
    }
}

