
// -------------------------------
// Angular Material Tables
// -------------------------------

table.md-table {
    border: solid 1px #354052;

    &:not(.md-row-select) td.md-cell:first-child,
    &:not(.md-row-select) th.md-column:first-child {
        padding: 0 30px;
    }

    .md-table-head {

        th.md-column {
            font-size: 16px;
            font-family: $base-font-book;
            font-weight: normal;
        }

        th.md-column.md-active {
            md-icon {
                color: white;
            }
        }
        
        md-input-container {
            margin: 0;
            
            label {
                color: white;
                font-family: $base-font-book;
            }

            .md-errors-spacer {
                min-height: 0;
            }

            &.md-input-focused label {
                display: none;
            }
        }
    }

    thead.md-head > tr.md-row {
        height: 50px;
    }

    tbody.md-body > tr.md-row,
    tfoot.md-foot > tr.md-row {
        height: 36px;
    }

    td.md-cell{
        border: 0;
    }

    tbody.md-body > tr.md-row:nth-child(2n) {
        background: #f3f7ff;
    }
    
    td.md-cell md-checkbox,
    th.md-column md-checkbox {
        transform: scale(0.6);
    }

    md-icon {
        height: 12px;
        width: 12px;
        min-height: 12px;
        min-width: 12px;
    }

    .center {
        text-align: center!important;
    }
}

