
// -------------------------------
// Dashboard tiles
// -------------------------------

.tiles {
    margin: 0 -24px;
    max-width: inherit;

    .tile {
        padding: 0 24px 40px;
        font-family: $base-font-book;
        letter-spacing: 0.9px;
    }

    .tile-title {
        font-size: 17px;
        font-family: $base-font-book;
    }

    .tile-content {
        padding: 20px;
        opacity: 0.8;
        font-size: 14px;
        line-height: 1.33;
        color: black;
    }

    .tile-footer {
        opacity: 0.8;
        font-size: 12px;
        line-height: 1.33;
        color: #000000;
        margin: 0;
        padding: 0 20px 10px;
    }

    .tile-time-icon {
        font-size: 14px;
        line-height: 15px;
        margin-right: 5px;
    }

    md-card {
        margin: 0;
        border-radius: 2px;
        border: solid 1px #e0e0e0;
        box-shadow: inherit;
    }
}
