<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title th:remove="all">Répertoire</title>
    <style>
        body {
            font-family: Arial, Helvetica, Tahoma, sans-serif;
            font-size: 16px;
        }
    </style>
</head>

<body style="line-height: 1.2">
<table width="780" border="0" align="center" cellpadding="0" cellspacing="0">
    <tbody>
    <tr>
        <td align="left" valign="top" style="background: rgb(27, 43, 75); height: 6px;"></td>
    </tr>
    <tr>
        <td align="center" valign="top" bgcolor="#f1f69d"
            style="background-color: rgb(250,250,250);color:#000000;padding:10px;border-left: 4px solid rgb(27, 43, 75);
            border-right: 4px solid rgb(27, 43, 75);">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-size: 12px;margin-top:10px;">
                <tbody>
                <tr>
                    <td align="left" valign="top" style="color:#525252;">
                        <img src="../logo.png" th:src="|cid:${imageResourceName}|" 
                                         style="margin-left:10px;padding: 20px;" align="right" />

                        <div style="width: 75%; text-align: justify;">
                            <p style="margin-bottom: 25px"><span th:text="${civilite}">Civilité</span>,</p>
                            <p>
                                Vous avez demandé à changer votre adresse courriel principale, merci de cliquer sur
                                le lien
                                ci-dessous pour confirmer votre nouvelle adresse :
                            </p>

                            <a th:href="${urlActivation}" th:text="${urlActivation}">Lien de confirmation de
                                l'adresse courriel.</a>
                            <br/>
                            <p>Si vous n'êtes à l'origine de cette demande, merci de contacter
                                les services de la Haute Autorité à l'adresse <a href="mailto:repertoire@hatvp.fr" style="text-decoration: none">repertoire@hatvp.fr</a>.</p>
                            <p style="margin-top: 25px">Les services de la Haute Autorité pour la transparence de la vie publique</p>
                        </div>
                        <div style="width: 25%">&nbsp;</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td align="left" valign="top" bgcolor="#478730" style="background-color: rgb(27, 43, 75);">
            <table width="100%" border="0" cellspacing="0" cellpadding="15">
                <tbody>
                <tr style="text-align: center">
                    <td align="left" valign="top" style=" text-align: center; color:#ffffff;">
                        <a href="https://repertoire.hatvp.fr/"
                           style="font-size:13px; color:#ffffff; text-decoration: none;">repertoire.hatvp.fr</a>
                    </td>
                    <td>&nbsp;</td>
                    <td>
                        <a href="mailto:repertoire@hatvp.fr"
                           style="color:#ffffff; font-size:13px; text-decoration: none">repertoire@hatvp.fr</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>