<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<form name="validPasswordForm" ng-submit="validate_password(validPasswordForm.$valid)" novalidate>

    <div layout="row" class="pad-h-30 pad-v-45">
        <h1 md-colors="::{color : 'registre-primary-400'}" class="md-title md-title-big" flex="40">
            Validation de votre compte
        </h1>
    </div>

    <md-card class="pad-h-100 pad-v-30 pad-h-25p">
        <md-card-content layout="column">
            <md-input-container class="md-block">
                <label>Mot de passe</label>
                <input type="password" name="password" ng-model="user.password" md-no-asterisk required>
                <ng-messages for="validPasswordForm.password.$error">
                    <ng-message when="required">Ce champ est obligatoire.</ng-message>
                </ng-messages>
            </md-input-container>
            </md-content>
        </md-card-content>

        <md-card-actions layout="column">
            <md-button type="submit" layout="row" layout-align="center center" class="md-raised"
                       md-colors="::{background: 'registre-primary-400', color: 'registre-background-50'}"
                       ng-disabled="validPasswordForm.$invalid">
                Valider
            </md-button>
        </md-card-actions>
    </md-card>
</form>