<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->


<md-content ng-if="!corporate">
    <md-content flex layout-padding layout="column" layout-align="center center" class="block-ui-overlay">
        <div layout="row" layout-sm="column" layout-align="space-around">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>
    </md-content>
</md-content>

<md-content layout="column" ng-if="corporate">
    <md-content layout="row" layout-align="center center">
        <md-content layout="column" flex="50" class="pad-v-30">
            <span class="paragraph">
            Cette page vous permet de préciser les données d'identification de votre organisation, en choisissant
            les éléments que
            vous souhaitez rendre publics. <br><br>Vous ne pouvez modifier l'identifiant national de votre
            organisation
            (numéro SIREN ou RNA). Si vous souhaitez modifier la dénomination de votre organisation, il est
                nécessaire de vous rapprocher des services de la Haute Autorité à l'adresse <a class="link"
                                                                                               ng-href="mailto:{{email_contact_repertoire}}">{{email_contact_repertoire}}</a>.<br>
            </span>
        </md-content>
        <md-content layout="column" flex="50">
            <ng-include src="CARDS.LOGO"></ng-include>
        </md-content>
    </md-content>
    <md-content layout="row">
        <md-content layout="column" flex="50">
            <ng-include src="CARDS.PROFILE_ORGA"></ng-include>
        </md-content>

        <md-content layout="column" flex="50">
            <md-content layout="row">
                <ng-include flex src="CARDS.EXERCICE_COMPTABLE"></ng-include>
            </md-content>
            <md-content layout="row">
                <ng-include flex src="CARDS.LOCALISATION"></ng-include>
            </md-content>
        </md-content>
    </md-content>
    <md-content layout="row">
        <md-content layout="column" flex="50">
            <ng-include src="CARDS.INFOS_CONTACT"></ng-include>
        </md-content>

        <md-content layout="column" flex="50">
            <ng-include src="CARDS.WEB"></ng-include>
        </md-content>
    </md-content>
</md-content>