<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<md-content ng-controller="EmptyformCtrl">
    <md-nav-bar md-selected-nav-item="currentNavItem" aria-label="navbar">
        <md-nav-item md-nav-sref="emptyforms.emptyActivites" name="activites">Description des activités</md-nav-item>
        <md-nav-item md-nav-sref="emptyforms.emptyMoyens" name="moyens">Moyens alloués à la Représentation d'intérêts</md-nav-item>
    </md-nav-bar>

    <div class="pad-h-30 pad-v-45" >
        <span ui-view={{currentNavItem}}></span>
    </div>
</md-content>
