<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<!-- à supprimer: modif preprod -->
<form name="cardForm" ng-submit="submitDateDuJour($event, cardForm.$valid, 'DATE_DU_JOUR', cardDateDuJour.data)">
    <fieldset  style="border: 0">
        <md-card ng-class="{'edit-card': cardDateDuJour.active}">
        <md-card-title>
            <md-card-title-text>
                <span md-colors="::{color: 'registre-primary-400'}" class="md-title md-title-small">date du jour</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content layout="column">

            <div layout="row">
                <md-input-container class="md-block">
                    <label>Date du jour</label>
                    <input required name="date du jour" ng-model="cardDateDuJour.data.dateDuJour" required ui-mask="99/99/9999"
                           ui_mask_placeholder="__/__/____" ui-mask-placeholder-char="space"
                           ng-pattern="/^((0[1-9]|[12][0-9]|3[01])[\/](0[1-9]|1[012])[\/](19|20)[0-‌​9]{2})$/">
                </md-input-container>
            </div>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
            <md-button ng-if="!cardDateDuJour.active && isContributor() && canUpdateAndPublish()" ng-click="cardDateDuJour.active = true">Modifier</md-button>
            <md-button ng-if="cardDateDuJour.active" ng-click="initCardDateDuJour()">Annuler</md-button>
            <md-button
                ng-if="cardDateDuJour.active && cardForm.$dirty && cardForm.$valid"
                ng-click="cardForm.$valid ? cardDateDuJour.active = false:cardDateDuJour.active = true"
                type="submit">Enregistrer
            </md-button>
        </md-card-actions>
        </md-card>
    </fieldset>
</form>
<!-- à supprimer: modif preprod -->