<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<form name="cardForm" ng-submit="submitDateCloture($event, cardForm.$valid, 'EXERCICE_COMPTABLE', cardExerciceComptable.data)">
    <fieldset  style="border: 0">
        <md-card ng-class="{'edit-card': cardExerciceComptable.active}">
            <md-card-title>
                <md-card-title-text>
                    <span md-colors="::{color: 'registre-primary-400'}" class="md-title md-title-small">PÉRIODICITÉ DES DÉCLARATIONS D'ACTIVITÉS </span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content layout="column">
                <p>Ces informations serviront de référence au calcul de la date limite des déclarations d’activités pour votre organisation.
                    <br><span style="color:red;"><b>Attention</b>, vous ne pourrez plus modifier ces informations une fois celles-ci enregistrées.</span> Pour toute mise à jour, merci
                    de contacter nos services par courriel à <a class="" ng-href="mailto:{{email_contact_repertoire}}">{{email_contact_repertoire}}</a>
                </p>
                <div>
                    <md-checkbox name="nonExerciceComptable" ng-model="cardExerciceComptable.data.nonExerciceComptable" ng-change="setDateIfChecked()"
                                 aria-label="Mon organisation ne connait pas d'exercice comptable" ng-disabled="!cardExerciceComptable.active">
                        Organisation sans exercice comptable
                    </md-checkbox>
                    <md-tooltip ng-if="cardExerciceComptable.active">Dans le cas d’une organisation sans exercice comptable, merci d’indiquer une date de reference ci-dessous.
                    </md-tooltip>
                </div>

                <div layout="row">
                    <label ng-style="cardExerciceComptable.active ? {'color': 'rgba(0,0,0,0.87)'} : {'color': 'rgba(0,0,0,0.38)'}"
                           ng-show="!cardExerciceComptable.data.nonExerciceComptable">Date de cloture d’exercice comptable :</label>
                    <label ng-style="cardExerciceComptable.active ? {'color': 'rgba(0,0,0,0.87)'} : {'color': 'rgba(0,0,0,0.38)'}"
                           ng-show="cardExerciceComptable.data.nonExerciceComptable">Date de référence :</label>
                </div>
                <div layout="row">
                    <md-input-container style="margin-right: 10px;">
                        <label>Jour</label>
                        <md-select name="jour" ng-model="cardExerciceComptable.data.jourFinExerciceFiscal" ng-disabled="!cardExerciceComptable.active" placeholder="Jour" required>
                            <md-option ng-repeat="jour in joursList | limitTo: nombreJours" ng-value="jour">{{jour}}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container>
                        <label>Mois</label>
                        <md-select name="mois" ng-model="cardExerciceComptable.data.moisFinExerciceFiscal" ng-change="majNbJours()" ng-disabled="!cardExerciceComptable.active"
                                   placeholder="Mois" required>
                            <md-option ng-repeat="mois in moisList" ng-value="mois">{{moisListLabel[$index]}}</md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button ng-if="!cardExerciceComptable.active && isContributor() && canUpdateAndPublish()" ng-hide="cardExerciceComptable.confirm" ng-click="cardExerciceComptable.active = true">Modifier
                </md-button>
                <md-button ng-if="cardExerciceComptable.active" ng-click="initCardExerciceComptable()">Annuler</md-button>
                <md-button
                    ng-if="cardExerciceComptable.active && cardForm.$dirty && cardForm.$valid"
                    ng-click="cardForm.$valid ? cardExerciceComptable.active = false:cardExerciceComptable.active = true"
                    type="submit">Enregistrer
                </md-button>
            </md-card-actions>
        </md-card>
    </fieldset>
</form>