<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<form name="cardForm" ng-submit="submitCorporateData($event, cardForm.$valid, 'INFOS_CONTACT', cardInfosContact.data)">
    <fieldset  style="border: 0">
        <md-card ng-class="{'edit-card': cardInfosContact.active}">
            <md-card-title>
                <md-card-title-text>
                <span md-colors="::{color: 'registre-primary-400'}"
                      class="md-title md-title-small">Informations de contact</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content layout="column">
                <md-input-container>
                    <label>Numéro de téléphone</label>
                    <input name="telephone" ng-model="cardInfosContact.data.telephoneDeContact" ng-disabled="!cardInfosContact.active"
                           md-maxlength="15"
                           ng-pattern="/^\+?[\(\)0-9 \-]+$/">
                    <ng-messages for="cardForm.telephone.$error">
                        <ng-message when="pattern">Le format du numéro de téléphone saisi est incorrect.</ng-message>
                        <ng-message when="md-maxlength">La longueur du numéro de téléphone doit être inférieure à 15
                            caractères.
                        </ng-message>
                    </ng-messages>
                    <md-tooltip md-direction="bottom" ng-if="cardInfosContact.active">Indiquez le numéro de téléphone de contact de votre organisation</md-tooltip>
                </md-input-container>
                <md-input-container>
                    <md-checkbox aria-label="Rendre telephone publique"
                                ng-model="cardInfosContact.data.nonPublierMonTelephoneDeContact" ng-disabled="!cardInfosContact.active">
                        Je ne souhaite pas que le numéro de téléphone de mon organisation soit rendu public.
                    </md-checkbox>
                </md-input-container>
                <p></p>

                <md-input-container>
                    <label>Adresse courriel</label>
                    <input name="email" ng-model="cardInfosContact.data.emailDeContact" ng-disabled="!cardInfosContact.active"
                           ng-pattern="/^.+@.+\..+$/"/>
                    <ng-messages for="cardForm.email.$error">
                        <ng-message when="pattern">Le format de l'adresse courriel est incorrect.</ng-message>
                    </ng-messages>
                    <md-tooltip md-direction="bottom" ng-if="cardInfosContact.active">Indiquez l'adresse courriel de contact de votre organisation</md-tooltip>
                </md-input-container>
                <md-input-container>
                    <md-checkbox aria-label="Rendre email publique"
                                ng-model="cardInfosContact.data.nonPublierMonAdresseEmail" ng-disabled="!cardInfosContact.active">
                        Je ne souhaite pas que l'adresse courriel de mon organisation soit rendue publique.
                    </md-checkbox>
                </md-input-container>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button ng-if="!cardInfosContact.active && isContributor() && canUpdateAndPublish()" ng-click="cardInfosContact.active = true">Modifier</md-button>
                <md-button ng-if="cardInfosContact.active" ng-click="initCardInfosContact()">Annuler</md-button>
                <md-button
                    ng-if="cardInfosContact.active && cardForm.$dirty && cardForm.$valid"
                    ng-click="cardForm.$valid ? cardInfosContact.active = false:cardInfosContact.active = true"
                    type="submit">Enregistrer
                </md-button>
            </md-card-actions>
        </md-card>
    </fieldset>
</form>