<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<form name="cardForm" ng-submit="submitCorporateData($event, cardForm.$valid, 'LOCALISATION', cardLocalisation.data)">
    <fieldset  style="border: 0">
        <md-card ng-class="{'edit-card': cardLocalisation.active}">
            <md-card-title>
                <md-card-title-text>
                    <span md-colors="::{color: 'registre-primary-400'}" class="md-title md-title-small">Localisation</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content layout="column">
                <md-input-container>
                    <label>Adresse</label>
                    <textarea name="adresse" ng-disabled="!cardLocalisation.active"
                              ng-model="cardLocalisation.data.adresse" md-maxlength="500" rows="4"
                              md-select-on-focus md-no-autogrow></textarea>
                    <md-tooltip ng-if="cardLocalisation.active" md-direction="bottom">Indiquez l'adresse du siège de votre organisation</md-tooltip>
                    <ng-messages for="cardForm.adresse.$error">
                        <ng-message when="required">Ce champ est obligatoire.</ng-message>
                        <ng-message when="md-maxlength">L'adresse doit être inférieure à 500 caractères.</ng-message>
                    </ng-messages>
                </md-input-container>
                <md-input-container>
                    <md-checkbox aria-label="Rendre adresse publique" name="switch"
                                 ng-model="cardLocalisation.data.nonPublierMonAdressePhysique" ng-disabled="!cardLocalisation.active">
                        Je ne souhaite pas que l'adresse de mon organisation soit rendue publique.
                    </md-checkbox>
                </md-input-container>
                <md-content layout="row" layout-align="center center">
                    <md-input-container flex>
                        <label>Code postal</label>
                        <input name="codePostal" ng-model="cardLocalisation.data.codePostal" ng-disabled="!cardLocalisation.active"
                               ui-number-mask="0" ui-hide-group-sep min="0" max="9999999999"/>
                        <ng-messages for="cardForm.codePostal.$error">
                            <ng-message when="required">Ce champ est obligatoire.</ng-message>
                            <ng-message when="max">Le code postal doit être inférieur à 10 caractères.</ng-message>
                        </ng-messages>
                        <md-tooltip ng-if="cardLocalisation.active" md-direction="bottom">Indiquez le code postal du siège de votre organisation</md-tooltip>
                    </md-input-container>
                </md-content>
                <md-content layout="row" layout-align="center center">
                    <md-input-container flex>
                        <label>Ville</label>
                        <input name="ville" ng-model="cardLocalisation.data.ville" ng-disabled="!cardLocalisation.active"/>
                        <ng-messages for="cardForm.ville.$error">
                            <ng-message when="required">Ce champ est obligatoire.</ng-message>
                        </ng-messages>
                        <md-tooltip ng-if="cardLocalisation.active" md-direction="bottom">Indiquez la ville du siège de votre organisation</md-tooltip>
                    </md-input-container>
                </md-content>
                <md-content layout="row" layout-align="center center">
                    <md-input-container flex>
                        <label>Pays</label>
                        <input name="pays" ng-model="cardLocalisation.data.pays" ng-disabled="!cardLocalisation.active"/>
                        <ng-messages for="cardForm.pays.$error">
                            <ng-message when="required">Ce champ est obligatoire.</ng-message>
                        </ng-messages>
                        <md-tooltip ng-if="cardLocalisation.active" md-direction="bottom">Indiquez le pays du siège de votre organisation</md-tooltip>
                    </md-input-container>
                </md-content>

            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button ng-if="!cardLocalisation.active && isContributor() && canUpdateAndPublish()" ng-click="cardLocalisation.active = true">Modifier</md-button>
                <md-button ng-if="cardLocalisation.active" ng-click="initCardLocalisation()">Annuler</md-button>
                <md-button
                    ng-if="cardLocalisation.active && cardForm.$dirty && cardForm.$valid"
                    ng-click="cardForm.$valid ? cardLocalisation.active = false:cardLocalisation.active = true"
                    type="submit">Enregistrer
                </md-button>
            </md-card-actions>
        </md-card>
    </fieldset>
</form>