<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<fieldset  style="border: 0">
    <md-card layout="column" layout-align="center center" class="logo-card"
             flow-init="{singleFile:true}"
             flow-file-added="uploadLogo($file, $event, $flow)"
             flow-files-submitted="$flow.upload()" flow-name="flowLogo">
        <img ng-src="{{images_dir}}/logo_HATVP.png" class="md-card-image default logo" alt="LOGO"
             ng-show="!$flow.files.length && !corporate.logo">
        <img ng-src="data:{{corporate.logoType}};base64,{{corporate.logo}}" class="md-card-image logo" alt="Logo"
             ng-show="!$flow.files.length && corporate.logo">
        <img flow-img="$flow.files[0]" class="md-card-image logo" alt="Logo" ng-show="$flow.files.length">
        <md-card-actions layout="row" layout-align="end center">
            <md-button ng-show="!$flow.files.length && !corporate.logo" flow-btn
                       flow-attrs="{accept:'image/jpeg,image/png,image/jpg'}">
                Charger un logo
            </md-button>
            <md-button ng-show="$flow.files.length || corporate.logo" flow-btn
                       flow-attrs="{accept:'image/jpeg,image/png,image/jpg'}">
                Modifier
            </md-button>
            <md-button ng-show="$flow.files.length || corporate.logo" ng-click="deleteLogo($event, $flow)">
                Supprimer
            </md-button>
        </md-card-actions>
        <em style="font-size: x-small">Seules les extensions PNG, JPG et JPEG sont acceptées.</em>
    </md-card>
</fieldset>