<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<form name="cardForm" ng-submit="submitCorporateData($event, cardForm.$valid, 'PROFILE_ORGA', cardProfil.data)">
    <fieldset  style="border: 0">
        <md-card ng-class="{'edit-card': cardProfil.active}">
            <md-card-title>
                <md-card-title-text>
                    <span md-colors="::{color: 'registre-primary-400'}" class="md-title md-title-small">Profil de l'organisation</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content layout="column">
                <md-input-container>
                    <label>Dénomination</label>
                    <input name="denomination" ng-model="corporate.denomination" disabled/>
                </md-input-container>
                <md-input-container>
                    <label>Nom d'usage</label>
                    <input name="nomUsage" ng-model="cardProfil.data.nomUsage" ng-disabled="!cardProfil.active"/>
                </md-input-container>

                <md-input-container>
                    <label>Type d'organisation</label>
                    <md-select name="categorieOrganisation" ng-model="cardProfil.data.categorieOrganisation.code" ng-disabled="!cardProfil.active" ng-required="cardProfil.active">
                        <md-optgroup label="SOCIÉTÉS">
                            <md-option ng-value="type.code"
                                       ng-repeat="type in corporate.listeOrganisations | filter: {group: 'SOCIETE' }">
                                {{type.label}}
                            </md-option>
                        </md-optgroup>
                        <md-optgroup label="AVOCATS ET CONSULTANTS">
                            <md-option ng-value="type.code"
                                       ng-repeat="type in corporate.listeOrganisations | filter: {group: 'AVO_CONS' }">
                                {{type.label}}
                            </md-option>
                        </md-optgroup>
                        <md-optgroup label="ORGANISMES REPRESENTATIFS">
                            <md-option ng-value="type.code"
                                       ng-repeat="type in corporate.listeOrganisations | filter: {group: 'ORGA_REP' }">
                                {{type.label}}
                            </md-option>
                        </md-optgroup>
                        <md-optgroup label="ORGANISATIONS NON GOUVERNEMENTALES">
                            <md-option ng-value="type.code"
                                       ng-repeat="type in corporate.listeOrganisations | filter: {group: 'ORGA_NON_GOUV' }">
                                {{type.label}}
                            </md-option>
                        </md-optgroup>
                        <md-optgroup label="ORGANISMES PUBLICS EXERCANT UNE ACTIVITE INDUSTRIELLE ET COMMERCIALE">
                            <md-option ng-value="type.code"
                                       ng-repeat="type in corporate.listeOrganisations | filter: {group: 'ORGA_PUB' }">
                                {{type.label}}
                            </md-option>
                        </md-optgroup>
                        <md-optgroup label="AUTRES ORGANISATIONS">
                            <md-option ng-value="type.code"
                                       ng-repeat="type in corporate.listeOrganisations | filter: {group: 'AUTRE' }">
                                {{type.label}}
                            </md-option>
                        </md-optgroup>
                    </md-select>
                    <md-tooltip md-direction="bottom" ng-if="cardProfil.active">Sélectionnez la catégorie correspondant à votre organisation</md-tooltip>
                </md-input-container>

                <md-input-container>
                    <label>Identifiant national</label>
                    <input name="identifiant_national" ng-model="corporate.nationalId" disabled/>
                </md-input-container>
                <md-input-container>
                    <label>Type d'identifiant</label>
                    <input name="type" ng-model="corporate.typeIdentifiantNational" disabled/>
                </md-input-container>

            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button ng-if="!cardProfil.active && isContributor() && canUpdateAndPublish()"
                            ng-click="cardProfil.active = true">Modifier</md-button>
                <md-button ng-if="cardProfil.active" ng-click="initCardProfil()">Annuler</md-button>
                <md-button ng-if="cardProfil.active && cardForm.$dirty && cardForm.$valid"
                           ng-click="cardForm.$valid ? cardProfil.active = false:cardProfil.active = true"
                           type="submit">Enregistrer
                </md-button>
            </md-card-actions>
        </md-card>
    </fieldset>
</form>