<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<form name="cardForm" ng-submit="submitCorporateData($event, cardForm.$valid, 'WEB', cardWeb.data)">
    <fieldset  style="border: 0">
        <md-card ng-class="{'edit-card': cardWeb.active}">
            <md-card-title>
                <md-card-title-text>
                    <span md-colors="::{color: 'registre-primary-400'}" class="md-title md-title-small">Internet et réseaux sociaux</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content layout="column">
                <md-input-container flex>
                    <label>Site internet</label>
                    <input name="website_url" ng-model="cardWeb.data.lienSiteWeb" ng-disabled="!cardWeb.active"
                           ng-pattern="'^https?:\/\/.*'"/>
                    <ng-messages for="cardForm.website_url.$error">
                        <ng-message when="pattern">Le format du lien est incorrect.</ng-message>
                    </ng-messages>
                    <md-tooltip md-direction="bottom" ng-if="cardWeb.active">Indiquez le lien vers le site internet officiel de votre organisation</md-tooltip>
                </md-input-container>

                <md-input-container flex>
                    <label>Twitter</label>
                    <input name="twitter_url" ng-model="cardWeb.data.lienPageTwitter" ng-disabled="!cardWeb.active"
                           ng-pattern="'^https:\/\/.*'"/>
                    <ng-messages for="cardForm.twitter_url.$error">
                        <ng-message when="pattern">Le format du lien est incorrect.</ng-message>
                    </ng-messages>
                    <md-tooltip md-direction="bottom" ng-if="cardWeb.active">Indiquez le lien complet vers la page Twitter de votre organisation</md-tooltip>
                </md-input-container>
                <md-input-container flex>
                    <label>LinkedIn</label>
                    <input name="linkedin_url" ng-model="cardWeb.data.lienPageLinkedin" ng-disabled="!cardWeb.active"
                           ng-pattern="'^https:\/\/.*'"/>
                    <ng-messages for="cardForm.linkedin_url.$error">
                        <ng-message when="pattern">Le format du lien est incorrect.</ng-message>
                    </ng-messages>
                    <md-tooltip md-direction="bottom" ng-if="cardWeb.active">Indiquez le lien complet vers la page LinkedIn de votre organisation</md-tooltip>
                </md-input-container>
                <md-input-container flex>
                    <label>Facebook</label>
                    <input name="facebook_url" ng-model="cardWeb.data.lienPageFacebook" ng-disabled="!cardWeb.active"
                           ng-pattern="'^https:\/\/.*'"/>
                    <ng-messages for="cardForm.facebook_url.$error">
                        <ng-message when="pattern">Le format du lien est incorrect.</ng-message>
                    </ng-messages>
                    <md-tooltip md-direction="bottom" ng-if="cardWeb.active">Indiquez le lien complet vers la page Facebook de votre organisation</md-tooltip>
                </md-input-container>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button ng-if="!cardWeb.active && isContributor() && canUpdateAndPublish()" ng-click="cardWeb.active = true">Modifier</md-button>
                <md-button ng-if="cardWeb.active" ng-click="initCardWeb()">Annuler</md-button>
                <md-button ng-if="cardWeb.active && cardForm.$dirty && cardForm.$valid"
                           ng-click="cardForm.$valid ? cardWeb.active = false:cardWeb.active = true"
                           type="submit">Enregistrer
                </md-button>
            </md-card-actions>
        </md-card>
    </fieldset>
</form>