
// --------------------------------------------------------
// This file contains only basic styles
// --------------------------------------------------------

body {
    font-size: $base-font-size;
    line-height: 1.2;
    font-family: $base-font, Arial, Helvetica, sans-serif;
}

/**
 * IE 10- img border fix
 */
img {
    border-width: 0;
}


/**
 * IE 10- flex fix
 */
[class*='flex-'] {

    -ms-flex: auto; 
}
