
// --------------------------------------------------------
// This file contains only text styles, including headings,
// paragraphs, etc...
// --------------------------------------------------------

.link {
  display: inline-block;
  text-decoration: underline;
  font-family: $base-font-book;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
  color: $night-blue;

  &:hover {
    text-decoration: none;
  }

  // Line decoration under links
  &:before {
    content: '';
    background: currentColor;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    margin: 0 50%;
    transition: margin 350ms ease;
  }

  // On hover, focus display the line
  // with a transition
  @include on-event() {

    &:before {
      margin: 0;
    }
  }
}

.link-modal {
  display: inline-block;
  text-decoration: underline;
  font-family: "NeuzeIt Book";
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.5px;
  position: relative;
  //padding-top: 5px;
  //padding-bottom: 5px;
  color: rgb(5, 22, 57);

  &:hover {
    text-decoration: none;
  }

  // Line decoration under links
  &:before {
    content: '';
    background: currentColor;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    margin: 0 50%;
    transition: margin 350ms ease;
  }

  // On hover, focus display the line
  // with a transition
  @include on-event() {

    &:before {
      margin: 0;
    }
  }
}

.paragraph {
    font-size: 16px;
    color: black;
    font-family: $base-font-book;
	  text-align: justify;
    .link {
    	padding: 0px;
      font-size: 16px;
    }
}

pre,
.notice {
  font-family: $base-font-book;
  font-size: 16px;
  letter-spacing: 0.9px;
  color: #000000;
  text-align: justify;

  .link {
    padding: 0px;
    font-size: 16px;
  }
}

pre {
  font-family: "NeuzeIt";
}