<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<md-content layout="column" layout-margin layout-padding>
    <fieldset class="pad-h-5 pad-v-5 paragraph">
        La loi prévoit que tout représentant d'intérêts communique à la Haute Autorité, pour une période donnée, le
        montant des dépenses liées aux actions de représentation d'intérêts, le nombre de personnes qu'il emploie dans
        l'accomplissement de sa mission de représentation d'intérêts ainsi que son chiffre d'affaires.
        <p>Les modalités de calculs du montant des dépenses sont précisées dans les
            <lien>lignes directrices de la Haute
                Autorité.
            </lien>
        </p>
    </fieldset>
</md-content>

<md-content md-colors="::{background: 'registre-background-700'}" layout-gt-sm="row" flex>
    <md-input-container flex>
        <label>Période concernée</label>
        <md-select ng-model="rapport.exercice" ng-model-options="{trackBy: '$value.id'}" ng-change="alertChiffreAffaire(rapport.exercice);">
            <md-option ng-repeat="exercice in exercices|orderBy:'-tempToSort'" ng-value="{{exercice}}">
                {{exercice.periode}}
            </md-option>
        </md-select>
    </md-input-container>
    <p class="pad-h-10p" flex>Sélectionnez l’exercice auquel se réfèrent les éléments déclarés dans ce formulaire</p>
</md-content>
<br>
<md-card-title>
    <md-card-title-text>
        <span md-colors="::{color: 'registre-primary-400'}"
              class="md-title md-title-small">Moyens alloués pour la période du  {{rapport.exercice.periode}}</span>
    </md-card-title-text>
</md-card-title>
<md-content layout-padding>
    <div>
        <form name="moyensForm" ng-submit="submitMoyens()" novalidate>

            <div layout-gt-xs="row" flex>
                <md-input-container flex>
                    <label>Chiffre d'affaires</label>
                    <md-select ng-model="rapport.exercice.chiffreAffaire" ng-model-options="{trackBy: '$value'}" name="chifferAffaire"
                               ng-disabled="!canUpdateAndPublish() || rapport.exercice.hasNotChiffreAffaire"
                               ng-required="!rapport.exercice.hasNotChiffreAffaire">
                        <md-option ng-repeat="tranche in nomenclatures.nomenclature.CHIFFRE_AFFAIRE"
                                   ng-value="tranche.id">
                            {{tranche.libelle}}
                        </md-option>
                    </md-select>
                    <br/>
                    <md-checkbox ng-if="canUpdateAndPublish()" ng-model="rapport.exercice.hasNotChiffreAffaire" name="noChifferAffaire">
                        Organisation sans chiffre d'affaires.
                    </md-checkbox>
                </md-input-container>
                <p class="pad-h-10p" flex>Sélectionnez la tranche correspondant au chiffre d’affaires réalisé en France
                    pour l’exercice sélectionné</p>
            </div>
            <div layout-gt-xs="row" flex>
                <md-input-container flex>
                    <label>Montant des dépenses</label>
                    <md-select ng-model="rapport.exercice.montantDepense" ng-model-options="{trackBy: '$value'}"
                               ng-disabled="!canUpdateAndPublish() || rapport.exercice==null" ng-required="true" name="montantDepense">
                        <md-option ng-repeat="tranche in nomenclatures.nomenclature.MONTANT_DEPENSE"
                                   ng-value="tranche.id">
                            {{tranche.libelle}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <p class="pad-h-10p" flex>Sélectionnez la tranche correspondant au montant des dépenses liées aux
                    actions de représentation d’intérêts réalisées pendant
                    l’exercice sélectionné</p>
            </div>
            <div layout-gt-xs="row" flex>
                <md-input-container flex>
                    <label>Nombre de personnes physiques chargées des activités de représentation d'intérêts</label>
                    <input ng-model="rapport.exercice.nombreSalaries" only-number ng-trim="false" maxlength="9"
                           ng-disabled="!canUpdateAndPublish() || rapport.exercice==null" ng-required="true" name="nombreSalaries">
                </md-input-container>
                <p class="pad-h-10p" flex>Il convient de déclarer les personnes (employé, dirigeant ou membre) 
                    ayant exercé une activité principale ou régulière de représentation d’intérêts <strong>au cours de la période</strong>
                     pour laquelle le représentant d’intérêts déclare. Le nombre doit correspondre au <strong>nombre de fonctions</strong>,
                      sans tenir compte du nombre de personnes différentes qui ont occupé ces postes dans le courant de l’année</p>
            </div>
            <div>
                <md-content layout-gt-sm="row" flex>
                    <md-input-container flex>
                        <label>Commentaire</label>
                        <textarea ng-disabled="!canUpdateAndPublish()" ng-model="rapport.exercice.commentaire" trim-space="rapport.exercice.commentaire" rows=3 maxlength="700" md-maxlength="700"></textarea>
                    </md-input-container>
                    <p class="pad-h-10p" flex>Vous pouvez faire part ici de toute observation utile à la compréhension des éléments 
                        déclarés ci-dessus. Ces observations seront rendues publiques. </p>
                </md-content>
            </div>
            <md-content layout-gt-sm="row" flex="50">
                <md-button flex="50"
                           md-colors="::{background: 'registre-primary-400', color: 'registre-background-50'}"
                           type="submit" layout="row" layout-align="center center" class="md-raised md-primary"
                           ng-disabled="!canUpdateAndPublish() || rapport.exercice==null">Sauvegarder
                </md-button>
                <md-content>
                    <md-button ng-if="isPublisher()" ng-click="publishMoyens()" layout="row" layout-align="center center" class="md-raised md-primary"
                               md-colors="moyensForm.$invalid ? {background: 'registre-background-800', color: 'registre-primary-100'} : {background: 'registre-background-A800', color: 'registre-background-50'}"
                               ng-disabled="!canUpdateAndPublish() || rapport.exercice==null || moyensForm.$invalid">
                        <md-icon md-svg-icon="{{images_dir}}/icons/ic_subject_white_24px.svg" style="position: relative; right: 5%;"></md-icon>
                        Communiquer ces informations
                    </md-button>
                    <div style="text-align:center;" flex ng-if="rapport.exercice.dataToPublish && isPublisher()" class="md-button-label">Vous avez de nouveaux éléments à publier
                    </div>
                </md-content>
            </md-content>
        </form>
    </div>
</md-content>