<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<md-content layout="row" flex="100" layout-padding>
    <md-content class="pad-h-100 pad-v-45 detail-validation-content" layout="column" flex="80" layout-align="center">
        <form name="corporateDataForm" ng-submit="submitCorporateData($event, validation_vo)" flex>
            <md-input-container md-no-float class="md-icon-float md-icon-right md-block"
                                ng-repeat="field in formFields">
                <label>{{field.label}}</label>
                <input name="{{field.name}}" disabled ng-model="validation_vo[field.name]" md-no-asterisk
                       ng-if="!field.editable && !field.multiline && !field.redirect">

                <input name="{{field.name}}" readonly ng-model="validation_vo[field.name]" md-no-asterisk
                       ng-if="!field.editable && !field.multiline && field.redirect" ng-click="goToDeclarant(validation_vo.createurId)">

                <textarea name="{{field.name}}"
                          ng-if="!field.editable && field.multiline" disabled
                          ng-model="validation_vo[field.name]" rows="2"></textarea>

                <input name="{{field.name}}" ng-if="field.editable && !field.multiline && field.required" required
                       ng-model="validation_vo[field.name]" ng-pattern="field.pattern" md-maxlength="{{field.max}}"
                       md-select-on-focus>
                <input name="{{field.name}}" ng-if="field.editable && !field.multiline && !field.required" md-no-asterisk
                       ng-model="validation_vo[field.name]" ng-pattern="field.pattern" md-maxlength="{{field.max}}"
                       md-select-on-focus>
                <textarea name="{{field.name}}" required
                          ng-if="field.editable && field.multiline && field.required"
                          ng-model="validation_vo[field.name]" md-maxlength="{{field.max}}" rows="3"
                          md-select-on-focus></textarea>
            </md-input-container>

            <md-input-container layout="column" layout-align="space-around start" flex>
                <span>Pièces fournies à l'inscription : </span>
                <md-button ng-repeat="f in piecesCreation" class="md-primary"
                           ng-href="{{pieceDownloadUrl}}/{{f.id}}" target="_blank">
                    {{f.dateVersementPiece}} &nbsp;&nbsp;&nbsp;&nbsp; {{f.nomFichier}}
                </md-button>
                <i ng-if="piecesCreation.length === 0">Aucune pièce fournie à l'inscription.</i>
            </md-input-container>

            <md-input-container layout="column" layout-align="space-around start" flex>
                <span>Pièces complémentaires : </span>
                <md-button ng-repeat="f in complement" class="md-primary"
                           ng-href="{{pieceDownloadUrl}}/{{f.id}}" target="_blank">
                    {{f.dateVersementPiece}} &nbsp;&nbsp;&nbsp;&nbsp; {{f.nomFichier}}
                </md-button>
                <i ng-if="complement.length === 0">Aucune pièce complémentaire enregistrée.</i>
            </md-input-container>
            <br/>

            <md-input-container layout="row" flex>
                <label>Etat</label>
                <md-select ng-disabled="validation_vo.locked"  ng-model="validation_vo.statut" required>
                    <md-option ng-repeat="etat in etats" ng-value="etat">
                        {{etat}}
                    </md-option>
                </md-select>
            </md-input-container>

            <md-button ng-if="!validation_vo.locked" type="submit"
                       md-colors="::{background: 'registre-primary-400', color: 'registre-background-50'}"
                       layout="row" layout-align="center center" class="md-raised md-primary">
                Enregistrer
            </md-button>
        </form>
    </md-content>
    <md-content layout="column" layout-align flex="20" style="border-left: 1px solid #051639;">
        <comment flex current="validationInscriptionId" context="3"></comment>
    </md-content>
</md-content>
