<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<div ng-controller="DetailValidationMenuBarCtrl" flex="100" layout="row">
    <md-content layout="column" layout-align="center left" flex>
        <div layout="row" layout-align="start center">
            <md-button class="md-fab md-mini md-hue-3" aria-label="retour" ui-sref="{{returnState}}">
                <md-icon md-svg-icon="{{images_dir}}/icons/ic_reply_white_24px.svg" style="fill: white;"></md-icon>
                <md-tooltip>Retour</md-tooltip>
            </md-button>
            <h2 flex="70" md-colors="::{color: 'registre-primary-200'}" style="padding: 10px;">
                {{menuBarPreviousTitle}}</h2>
        </div>
    </md-content>
    <md-content ng-if="!locked" layout="row" layout-align="end center" flex>
        <md-button ng-click="putEspaceUnderWatch()" style="right:50px"
                   md-colors="::{background: 'registre-primary-A400', color: 'registre-background-50'}"
                   class="md-raised md-primary"
                   ng-hide="espace.statut == 'Desinscrit'">
            Mettre sous surveillance
        </md-button>
    </md-content>
    <md-content layout="row" layout-align="end center" style="width: 670px" ng-if="!locked && validation_vo.codeStatut != 'COMPLEMENT_DEMANDE_ENVOYEE'">
        <md-button ng-click="demandeComplement($event)"
                   md-colors="::{background: 'registre-primary-A400', color: 'registre-background-50'}"
                   class="md-raised md-primary">
            Demande de complément
        </md-button>
        <md-button ng-click="reject($event)"
                   md-colors="::{background: 'registre-primary-400', color: 'registre-background-50'}"
                   class="md-raised md-primary">
            Refuser
        </md-button>
        <md-button ng-click="validateEspace($event)"
                   md-colors="::{background: 'registre-primary-400', color: 'registre-background-50'}"
                   class="md-raised md-primary">
            Valider
        </md-button>
    </md-content>
</div>