<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<form name="createOrgaForme" ng-submit="creerOrganisation(createOrgaForme.$valid, $event)">
    <md-content>
        <md-content layout="column">
            <md-input-container>
                <label>Nom de l'organisation</label>
                <input required name="denomination" ng-model="organisation.denomination">
                <ng-messages for="createOrgaForme.denomination.$error">
                    <ng-message when="required">Ce champ est obligatoire.</ng-message>
                </ng-messages>
            </md-input-container>

            <md-input-container>
                <label>Nom d'usage de l'organisation</label>
                <input name="nomUsage" ng-model="organisation.nomUsage">
            </md-input-container>

            <md-input-container class="no-margin" flex>
                <label>Numéro SIREN</label>
                <input name="siren" ng-model="organisation.siren" ng-pattern="'^[0-9a-zA-Z]{9}$'">
                <ng-messages for="createOrgaForme.siren.$error">
                    <ng-message when="pattern">Le format du numéro est incorrect.</ng-message>
                </ng-messages>
            </md-input-container>

            <md-input-container class="no-margin" flex>
                <label>Numéro RNA</label>
                <input name="rna" ng-model="organisation.rna" ng-pattern="'^W[0-9a-zA-Z]{9}$'">
                <ng-messages for="createOrgaForme.rna.$error">
                    <ng-message when="pattern">Le format du numéro est incorrect.</ng-message>
                </ng-messages>
            </md-input-container>

            <md-input-container class="no-margin" flex>
                <label>Numéro DUNS</label>
                <input name="duns" ng-model="organisation.duns" ng-pattern="'^[0-9a-zA-Z]{9}$'">
                <ng-messages for="createOrgaForme.duns.$error">
                    <ng-message when="pattern">Le format du numéro est incorrect.</ng-message>
                </ng-messages>
            </md-input-container>

            <md-input-container class="no-margin">
                <label>Adresse</label>
                <input name="adresse" ng-model="organisation.adresse">
            </md-input-container>

            <div layout="row">
                <md-input-container flex="20" class="no-margin">
                    <label>Code postal</label>
                    <input name="codePostal" ng-model="organisation.codePostal" required md-maxlength="10">
                    <ng-messages for="createOrgaForme.codePostal.$error">
                        <ng-message when="md-maxlength">Le code postal doit être inférieur à 10 caractères.
                        </ng-message>
                    </ng-messages>
                </md-input-container>

                <md-input-container flex="40" class="no-margin">
                    <label>Ville</label>
                    <input name="ville" ng-model="organisation.ville" required>
                </md-input-container>

                <md-input-container flex class="no-margin">
                    <label>Pays</label>
                    <input name="pays" ng-model="organisation.pays" required>
                </md-input-container>
            </div>

            <md-input-container class="no-margin">
                <label>Site web</label>
                <input name="siteWeb" ng-model="organisation.siteWeb" ng-pattern="'^https?:\/\/.*'">
                <ng-messages for="createOrgaForme.siteWeb.$error">
                    <ng-message when="pattern">Le format du lien est incorrect.</ng-message>
                </ng-messages>
            </md-input-container>
        </md-content>

        <md-content>
            <md-button md-colors="::{background: 'registre-primary-400', color: 'registre-background-50'}"
                       type="submit" layout="row" layout-align="center center" class="md-raised md-primary"
                       flex="50" ng-disabled="createOrgaForme.$invalid">
                Créer l’organisation et clore la demande
            </md-button>
        </md-content>
    </md-content>
</form>