<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<md-content>
    <md-subheader class="md-no-sticky" ng-hide="hatvpList.length > 0">Aucune organisation créée par la HATVP.
    </md-subheader>
    <md-table-container ng-show="hatvpList.length > 0">
        <table md-table md-progress="hatvpTableOptions.promise">
            <thead md-head md-order="hatvpTableOptions.order" class="md-table-head"
                   md-colors="::{color: 'registre-background-50',background: 'registre-primary-400'}">
            <tr md-row>
                <th md-column md-order-by="denomination">
                    <md-input-container>
                        <input placeholder="Raison sociale" md-colors="::{color: 'registre-background-50'}"
                               type="text" ng-model="hatvpTableOptions.filter.denomination"
                               onclick="event.stopPropagation()">
                    </md-input-container>
                </th>
                <th md-column md-order-by="hatvpNumber">
                    <md-input-container>
                        <input placeholder="ID HATVP" md-colors="::{color: 'registre-background-50'}"
                               type="text" ng-model="hatvpTableOptions.filter.hatvpNumber"
                               onclick="event.stopPropagation()">
                    </md-input-container>
                </th>
                <th md-column md-order-by="siren">
                    <md-input-container>
                        <input placeholder="SIREN" md-colors="::{color: 'registre-background-50'}"
                               type="text" ng-model="hatvpTableOptions.filter.siren"
                               onclick="event.stopPropagation()">
                    </md-input-container>
                </th>
                <th md-column md-order-by="rna">
                    <md-input-container>
                        <input placeholder="RNA" md-colors="::{color: 'registre-background-50'}"
                               type="text" ng-model="hatvpTableOptions.filter.rna"
                               onclick="event.stopPropagation()">
                    </md-input-container>
                </th>
                <th md-column md-order-by="dunsNumber">
                    <md-input-container>
                        <input placeholder="DUNS" md-colors="::{color: 'registre-background-50'}"
                               type="text" ng-model="hatvpTableOptions.filter.dunsNumber"
                               onclick="event.stopPropagation()">
                    </md-input-container>
                </th>
                <th md-colors="::{color: 'registre-background-50'}" md-column md-order-by="creationDate"
                    class="center">Date de création
                </th>
            </tr>
            </thead>
            <tbody md-body>
            <tr md-row
                ng-repeat="orga in hatvpList |
            orderBy: hatvpTableOptions.order |
            filter: hatvpTableOptions.filter |
            limitTo: hatvpTableOptions.limit: (hatvpTableOptions.page - 1) * hatvpTableOptions.limit"
                class="back-office">
                <td md-cell>{{orga.denomination}}</td>
                <td md-cell>{{orga.hatvpNumber}}</td>
                <td md-cell>{{orga.siren}}</td>
                <td md-cell>{{orga.rna}}</td>
                <td md-cell>{{orga.dunsNumber}}</td>
                <td md-cell>{{orga.creationDate}}</td>
            </tr>
            </tbody>
        </table>
        <md-table-pagination md-label="{{hatvpTableOptions.labels}}"
                             md-page="hatvpTableOptions.page" md-limit="hatvpTableOptions.limit"
                             md-total="{{hatvpList.length}}" md-page-select
                             md-limit-options="hatvpTableOptions.limitOptions"></md-table-pagination>
    </md-table-container>
</md-content>