// -------------------------------
// Content
// -------------------------------
div.encart {
  border: 1px solid #051639;
  background-color: #edeff1;
  padding: 5px 30px;
}

md-content.gestion_espace_tab {
  max-height: 408px;
  overflow-y: auto;
  overflow-x: hidden;
}