
// -------------------------------
// Header
// -------------------------------

.header {
    padding: 12px 20px;
    border-radius: 2px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 3;
}

.header-logo {
    text-decoration: none;
}

.header-title {
    max-width: 170px;
    margin: 0 0 0 10px;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0.7px;
}

.header-name {
    font-size: 16px;
    color: $night-blue;
    text-transform: none;
    margin-left: 10px;
}

.md-button.active {

  .md-button-label {
    font-weight: bold;
    color: $sky-blue;
  }

  md-icon {
    color: $sky-blue;
    fill: $sky-blue;
  }
}

// Navigation
.header-nav {
    
    .md-button {
        padding: 10px 15px;
        margin: 0;
        min-width: inherit;

        md-icon {
            min-width: 0;
            min-height: 0;
            width: 19px;
            height: 20px;
        }

        .md-button-label {
            font-size: 12px;
            line-height: 1;
            font-family: $base-font-book;
            text-transform: none;
            padding-top: 8px;
        }
    }

    md-divider {
        height: 40px;
        margin: 0 15px;
    }

    .header-report-button {
        height: 50px;
        padding: 0 34px;
        margin-left: 15px;
        align-items: center;

        md-icon {
            width: 13px;
            height: 13px;
            margin: -2px 18px 0 0;
        }

        span {
            font-family: $base-font-book;
            font-size: 20px;
            line-height: 1;
            text-transform: none;
        }
    }
}