<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<div flex="100" layout="column" md-colors="::{background : 'registre-background-400'}">
    <!--Site internet-->
    <md-input-container class="no-margin" ng-show="!internet.active">
        <label>Site internet</label>
        <input name="website_url" ng-model="newPublication.lienSiteWeb" disabled/>
    </md-input-container>
    <div ng-show="internet.active" style="padding: 20px">
        <label>Site internet</label>
        <pre class="textdiff" processing-diff left-obj="oldPublication.lienSiteWeb"
             right-obj="newPublication.lienSiteWeb" options="options"></pre>
    </div>
    <!--Twitter-->
    <md-input-container class="no-margin" ng-show="!internet.active">
        <label>Twitter</label>
        <input name="twitter_url" ng-model="newPublication.lienPageTwitter" disabled/>
    </md-input-container>
    <div ng-show="internet.active" style="padding: 0 20px 20px 20px;;">
        <label>Twitter</label>
        <pre class="textdiff" processing-diff left-obj="oldPublication.lienPageTwitter"
             right-obj="newPublication.lienPageTwitter" options="options"></pre>
    </div>
    <!--LinkedIn-->
    <md-input-container class="no-margin" ng-show="!internet.active">
        <label>LinkedIn</label>
        <input name="linkedin_url" ng-model="newPublication.lienPageLinkedin" disabled/>
    </md-input-container>
    <div ng-show="internet.active" style="padding: 0 20px 20px 20px;">
        <label>LinkedIn</label>
        <pre class="textdiff" processing-diff left-obj="oldPublication.lienPageLinkedin"
             right-obj="newPublication.lienPageLinkedin" options="options"></pre>
    </div>
    <!--Facebook-->
    <md-input-container class="no-margin" ng-show="!internet.active">
        <label>Facebook</label>
        <input name="facebook_url" ng-model="newPublication.lienPageFacebook" disabled/>
    </md-input-container>
    <div ng-show="internet.active" style="padding: 0 20px 20px 20px;;">
        <label>Facebook</label>
        <pre class="textdiff" processing-diff left-obj="oldPublication.lienPageFacebook"
             right-obj="newPublication.lienPageFacebook" options="options"></pre>
    </div>
</div>