<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->
<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="fr" ng-app="hatvpRegistre" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="fr" ng-app="hatvpRegistre" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="fr" ng-app="hatvpRegistre" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="fr" ng-app="hatvpRegistre" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>HATVP - Registre</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Favicon -->
    <link rel="icon" type="image/png" href="{{images_dir}}/favicon.png" />
    
    <!-- bower:css -->
    <!-- endinject -->

    <!-- inject:css -->
    <!-- endinject -->

</head>

<body ng-cloak layout="column" md-theme="{{globalSettings.selectedTheme}}">
<!--[if lt IE 7]>
<p class="browsehappy">Le navigateur que vous utilisez est trop ancien. Pour une expérience optimale, gardez votre
    navigateur à jour. Obtenez <a href="http://browsehappy.com/" target="_blank">ici</a> les versions les plus récentes.
</p>
<![endif]-->

<div ng-include="partials_views_dir + '/menu-bar.html'" ng-if="isConnected()"></div>
<md-content layout="column" flex>
    <div ui-view="menubar"></div>
    <div flex layout="column" layout-align="center">
        <div flex layout="column">
            <div ui-view flex layout="column"></div>
        </div>
    </div>
</md-content>

<div ng-include="partials_views_dir + '/footer.html'" ng-if="isConnected()"></div>

<!-- bower:js -->
<!-- endinject -->

<!-- inject:js -->
<!-- endinject -->

</body>
</html>
