<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<md-content ng-controller="LoginCtrl" ng-if="loginView">
    <form class="home-form" name="loginForm" ng-submit="login($event, loginForm.$valid)" novalidate layout="column" >
        <md-content>
            <md-input-container class="md-block">
                <label>Identifiant *</label>
                <input name="login" md-autofocus md-no-asterisk ng-model="authModel.email" required ng-disabled="limitation && sessionCount >= limite">
                <ng-messages for="loginForm.login.$error">
                    <ng-message when="required">Ce champ est obligatoire.</ng-message>
                </ng-messages>
            </md-input-container>

            <md-input-container class="md-block md-last-container">
                <label>Mot de passe *</label>
                <input md-colors="::{color: 'registre-primary-400'}" name="password"
                       ng-model="authModel.password" type="password" md-no-asterisk required ng-disabled="limitation && sessionCount >= limite">
                <ng-messages for="loginForm.password.$error">
                    <ng-message when="required">Ce champ est obligatoire.</ng-message>
                </ng-messages>
            </md-input-container>

            <div layout="row" layout-align="center">
                <a md-colors="::{color: 'registre-primary-A700'}" ng-click="(limitation && sessionCount >= limite) || forgotPassword(authModel.email, $event)" required ng-disabled="limitation && sessionCount >= limite"
                   class="home-forgot" href="#"><span>Mot de passe oublié ?</span></a>
            </div>
            <div layout="row" layout-align="center">
                <button class="md-raised" md-button
                           md-colors="::{background: 'registre-primary-400', color: 'registre-background-50'}"
                           flex="100" type="submit"
                           ng-disabled="loginForm.$invalid || limitation && sessionCount >= limite">
                    Connexion
                </button>
            </div>
        </md-content>
    </form>
</md-content>