<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<md-content layout="column" layout-margin layout-padding>
    <fieldset class="pad-h-5 pad-v-5 paragraph">
<p>Il est possible d’évoluer dans un espace collaboratif dans trois rôles distincts.</p>

<p>- <b>Contact opérationnel</b> : vous disposez d’un mandat confié par le représentant légal de l’organisation pour en administrer l’espace collaboratif ou alors cette possibilité vous a été déléguée par un autre contact opérationnel. Vous pouvez accepter que de nouveaux utilisateurs intègrent l’espace collaboratif et vous leur affectez des rôles.</p>

<p>- <b>Publicateur</b> : vous pouvez publier, sur le site internet de la Haute Autorité, les informations renseignées sur votre organisation et ses rapports d’activités.</p>

<p>- <b>Contributeur</b> : vous pouvez contribuer à renseigner les informations relatives à votre organisation et à ses rapports d’activités.</p>

Si vous souhaitez qu’un utilisateur puisse contribuer et publier, vous devez lui affecter les deux rôles correspondants.
    </fieldset>
</md-content>

<md-table-container>
    <table md-table md-progress="declarantsTableOptions.promise">
        <thead md-head md-order="declarantsTableOptions.order" class="md-table-head"
               md-colors="::{color: 'registre-background-50',background: 'registre-primary-400'}">
        <tr md-row>
            <th md-column md-order-by="name">
                <md-input-container>
                    <input placeholder="Identifiant" md-colors="::{color: 'registre-background-50'}" type="text"
                           ng-model="declarantsTableOptions.filter.name" onclick="event.stopPropagation()">
                </md-input-container>
            </th>
            <th md-column md-order-by="email">
                <md-input-container>
                    <input placeholder="Adresse courriel" md-colors="::{color: 'registre-background-50'}" type="email"
                           ng-model="declarantsTableOptions.filter.email" onclick="event.stopPropagation()">
                </md-input-container>
            </th>
            <th md-colors="::{color: 'registre-background-50'}" md-column class="center" md-order-by="administrator">
                Contact opérationnel&nbsp;</th>
            <th md-colors="::{color: 'registre-background-50'}" md-column class="center" md-order-by="publisher">Publicateur&nbsp;</th>
            <th md-colors="::{color: 'registre-background-50'}" md-column class="center" md-order-by="contributor">Contributeur&nbsp;</th>
            <th md-colors="::{color: 'registre-background-50'}" md-column class="center" md-order-by="verrouille">Verrouillé&nbsp;</th>
            <th md-colors="::{color: 'registre-background-50'}" md-column class="center">Modifier&nbsp;</th>
        </tr>
        </thead>
        <tbody md-body>
        <tr md-row
            ng-repeat="d in declarants |
            orderBy: declarantsTableOptions.order |
            filter: declarantsTableOptions.filter |
            limitTo: declarantsTableOptions.limit: (declarantsTableOptions.page - 1) * declarantsTableOptions.limit">
            <td md-cell>{{d.name}}</td>
            <td md-cell>{{d.email}}</td>
            <td md-cell class="center">
                <md-checkbox class="md-block" ng-model="d.administrator" disabled></md-checkbox>
            </td>
            <td md-cell class="center">
                <md-checkbox class="md-block" ng-model="d.publisher" disabled></md-checkbox>
            </td>
            <td md-cell class="center">
                <md-checkbox class="md-block" ng-model="d.contributor" disabled></md-checkbox>
            </td>
            <td md-cell class="center">
                <md-icon class="md-icon-lock"
                         md-svg-icon="{{images_dir}}/icons/{{d.verrouille?'lock':'unlock'}}.svg"
                         aria-label="verrouillé">
                    <md-tooltip>Espace verrouillé</md-tooltip>
                </md-icon>
            </td>
            <td md-cell class="center">
                <md-button class="md-icon-button" ng-click="openDeclarant(d, $event)">
                    <md-icon class="md-icon-lock"
                             md-svg-icon="{{images_dir}}/icons/space.svg" aria-label="verrouillé">
                        <md-tooltip>Paramètres</md-tooltip>
                    </md-icon>
                </md-button>
            </td>
        </tr>
        </tbody>
    </table>
    <md-table-pagination md-label="{{declarantsTableOptions.labels}}"
                         md-page="declarantsTableOptions.page" md-limit="declarantsTableOptions.limit"
                         md-total="{{declarants.length}}"
                         md-limit-options="declarantsTableOptions.limitOptions"
                         md-page-select></md-table-pagination>
</md-table-container>