<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<div ng-controller="SaisieDemandeCtrl">
    <md-content layout="column" layout-margin layout-padding>
        <label><i class="material-icons">question_answer</i> Cet espace vous permet d’informer la Haute Autorité de changement(s) de contact opérationnel ou de représentant légal :</label>
        <div class="pad-h-5 pad-v-5 paragraph">

            <br/>
            (1) Pour ajouter un nouveau contact opérationnel, ce dernier doit créer un compte utilisateur et rejoindre votre espace préalablement à votre demande et vous munir d’un
            mandat du représentant légal lui donnant pouvoir.
            <br/>
            (2) Pour remplacer un contact opérationnel, le nouveau contact opérationnel doit créer un compte utilisateur et rejoindre votre espace préalablement à votre demande et
            vous munir d’un mandat du représentant légal lui donnant pouvoir.
            <br/>
            (3) Pour informer la Haute Autorité d’un changement de représentant légal, il faudra vous munir d’une copie de la pièce d’identité du nouveau représentant légal, d’un
            mandat de ce dernier donnant pouvoir à l’ensemble des contacts opérationnels ainsi qu’un justificatif de nomination ou d’élection que vous verserez en un seul fichier
            avec le mandat.
        </div>
    </md-content>

    <md-list class="md-dense" flex>

        <md-subheader class="md-no-sticky" ng-hide="requests.length > 0">Aucune demande envoyée.</md-subheader>
        <md-subheader class="md-no-sticky" ng-hide="!requests.length > 0"><h2>Demandes déjà envoyées</h2></md-subheader>
        <br/>
        <md-list-item class="md-1-line fx-zoom-normal fx-dur-500 fx-ease-expo" ng-repeat="request in requests" layout="row" layout-align="center">
            <div class="md-list-item-text" layout="row" layout-align="start center" flex>
                <span flex="30"> {{ demandesStatus[request.typeDemande] }}</span>
                <span flex="15"> le {{ request.dateDemande | date : 'dd/MM/yyyy'}} </span>
                <span flex="15"> par {{ request.declarantDemande.prenom + ' ' + request.declarantDemande.nom  }} </span>
                <span flex="15">{{ request.statut.label}}</span>
                <md-button flex="20" ng-if="request.statut.code==='COMPLEMENT_DEMANDE_ENVOYEE'" ng-click="complement($event, request.id)"
                           md-colors="::{background: 'registre-primary-400', color: 'registre-background-50'}" type="submit" layout="row" layout-align="center center"
                           class="md-raised md-primary">
                    <md-icon md-svg-icon="{{images_dir}}/icons/plus.svg" style="position: relative; right: 5%;"></md-icon>
                    Envoyer un complément
                </md-button>
            </div>
        </md-list-item>

    </md-list>

    <div layout="row" layout-align="center">
        <md-content layout="column" layout-align="center center" flex="90">
            <md-button flex href="https://www.hatvp.fr/wordpress/wp-content/uploads/2018/03/mandat-representant-legal-12-17.docx" md-colors="::{background: 'registre-primary-400', color: 'registre-background-50'}" type="submit" layout="row"
                       layout-align="center center" class="md-raised md-primary">
                Modèle de mandat
            </md-button>
            <md-button flex="50" ng-click="newDemande($event)" md-colors="::{background: 'registre-primary-400', color: 'registre-background-50'}" type="submit" layout="row"
                       layout-align="center center" class="md-raised md-primary">
                Faire une nouvelle demande
                <md-icon md-svg-icon="{{images_dir}}/icons/plus.svg" style="position: relative; left: 5%;"></md-icon>
            </md-button>
        </md-content>
    </div>
</div>