<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<style>
    md-backdrop {
        position: fixed;
    }
</style>
<md-dialog aria-label="Demande de changement de contact opérationnel ou représentant légal" flex="50">
    <!--INSPIRé de EDIT_ACCOUNT.HTML-->
    <md-dialog-content flex="100" layout="column">
                <span class="md-title"
                      md-colors="::{color: 'registre-primary-100'}">Demande de changement de contact opérationnel ou représentant légal</span>

        <form name="saisieDemandeForm" ng-submit="submit(saisieDemandeForm.$valid)">
            <md-content layout="row" flex layout-align="center center">
                <fieldset flex="80" class="standard">
                    <md-content layout="column" layout-align="center center">
                        <h4>Veuillez sélectionner un motif pour la demande</h4>
                        <md-radio-group class="md-subhead" ng-model="item.typeDemande"
                                        aria-label="Veuillez sélectionner un motif pour la demande">
                            <md-radio-button value="AJOUT_OPERATIONNEL">Ajout d'un nouveau contact opérationnel</md-radio-button>
                            <md-radio-button value="REMPLACEMENT_OPERATIONNEL">Remplacement d'un contact opérationnel</md-radio-button>
                            <md-radio-button value="CHANGEMENT_REPRESENTANT">Changement de représentant légal</md-radio-button>
                        </md-radio-group>
                        <md-content ng-if="item.typeDemande == 'REMPLACEMENT_OPERATIONNEL'">
                            <h4>Veuillez indiquer l'identité du contact opérationnel remplacé *</h4>
                            <md-content layout="row" class="md-block" layout-align="center center" flex>
                                <md-content flex="80">
                                    <md-select ng-model="item.declarantDechuInscriptionEspaceId" required style="min-width: 300px;"
                                               aria-label="Veuillez indiquer l'identité du contact opérationnel remplacé">
                                        <md-option ng-repeat="contact in data.adminContacts" ng-value="contact.id">
                                            {{contact.declarantNomComplet }}
                                        </md-option>
                                    </md-select>
                                </md-content>
                            </md-content>
                        </md-content>
                        <md-content ng-if="item.typeDemande != 'CHANGEMENT_REPRESENTANT'">
                            <h4>Veuillez indiquer l'identité du nouveau contact opérationnel *</h4>
                            <md-content layout="row" class="md-block" layout-align="center center" flex>
                                <md-content flex="80">
                                    <md-select ng-model="item.declarantPromuInscriptionEspaceId" required
                                               style="min-width: 300px;"
                                               aria-label="Veuillez indiquer l'identité du nouveau contact opérationnel">
                                        <md-option ng-repeat="contact in data.nonAdminContacts" ng-value="contact.id">
                                            {{contact.declarantNomComplet }}
                                        </md-option>
                                    </md-select>
                                </md-content>
                            </md-content>
                        </md-content>
                        <md-content ng-show="item.typeDemande == 'CHANGEMENT_REPRESENTANT'" layout="row" class="md-block"
                                    layout-align="center center" flex>
                            <md-content layout="column" layout-align="center center">
                                <h4>Pièce d'identité du nouveau représentant légal (taille maximale {{maxFileSizeInMB}} Mo) *</h4>
                                <lf-ng-md-file-input name="files01"
                                                     lf-files="files01"
                                                     accept="image/jpg,image/jpeg,image/png,application/pdf"
                                                     lf-mimetype="image/jpg,image/jpeg,image/png,application/pdf"
                                                     lf-placeholder="Pièce d'identité du représentant légal (taille maximale {{maxFileSizeInMB}} Mo) *"
                                                     progress
                                                     lf-filesize="{{maxFileSizeInMB}}MB"
                                                     lf-browse-label="Joindre fichier"
                                                     lf-remove-label="Supprimer"
                                                     class="input-file">
                                </lf-ng-md-file-input>
                            </md-content>
                        </md-content>
                        <md-content layout="row" class="md-block" layout-align="center center" flex>
                            <md-content layout="column" layout-align="center center">
                                <h4>Mandat du représentant légal (taille maximale {{maxFileSizeInMB}} Mo) *</h4>
                                <lf-ng-md-file-input name="files02"
                                                     lf-files="files02"
                                                     lf-required
                                                     accept="image/jpg,image/jpeg,image/png,application/pdf"
                                                     lf-mimetype="image/jpg,image/jpeg,image/png,application/pdf"
                                                     lf-placeholder="Mandat du représentant légal (taille maximale {{maxFileSizeInMB}} Mo) *"
                                                     progress
                                                     lf-filesize="{{maxFileSizeInMB}}MB"
                                                     lf-browse-label="Joindre fichier"
                                                     lf-remove-label="Supprimer"
                                                     class="input-file">
                                </lf-ng-md-file-input>
                            </md-content>
                        </md-content>
                        <md-input-container layout="row" layout-align="center center"
                                            class="md-block" flex-gt-sm="30" flex-sm="50" flex-xs="80">
                            <h4>Veuillez préciser le motif de votre demande</h4>
                            <textarea name="precision" required ng-model="item.motifDemande" rows="3" max-rows="10"
                                      md-maxlength="256"
                                      aria-label="Veuillez préciser le motif de votre demande"></textarea>
                        </md-input-container>
                        <md-dialog-actions layout="row" flex="100" layout="center center">
                            <md-button flex="30"
                                       md-colors="::{background: 'registre-background-50', color: 'registre-primary-400'}"
                                       type="submit" layout="row" layout-align="center center"
                                       class="md-raised md-primary"
                                       ng-click="cancel()">
                                Fermer
                            </md-button>
                            <md-button flex="70" ng-click="submitSaisieDemande(c,$event)"
                                       md-colors="::{background: 'registre-primary-400', color: 'registre-background-50'}"
                                       type="submit" layout="row" layout-align="center center"
                                       class="md-raised md-primary"
                                       ng-disabled="saisieDemandeForm.$invalid || (item.typeDemande == 'CHANGEMENT_REPRESENTANT' && files01.length == 0) ">
                                Envoyer la demande
                            </md-button>
                        </md-dialog-actions>
                    </md-content>
                </fieldset>
            </md-content>
        </form>


    </md-dialog-content>

</md-dialog>

