<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<md-dialog aria-label="Pièces complémentaires" flex="55">
    <md-dialog-content>
        <form name="complementForm" ng-submit="submit(complementForm.$valid)">
            <md-content layout="column" layout-margin layout-padding>
                <fieldset class="pad-h-5 pad-v-5 paragraph">
                    Merci de verser ci-dessous les pièces nécessaires à la validation de la création de votre espace collaboratif par la Haute Autorité.<br/><br/>
                    Merci d’effectuer ce versement <b>en une seule fois.</b> <br/><br/> 
                    Pour connaître la liste des pièces demandées, merci de consulter le courriel qui 
                    vous a été adressé et qui en précise la liste, ou de prendre contact avec les services de la Haute Autorité par courriel à l’adresse 
                    <a ng-href="mailto:{{$root.email_contact_repertoire}}" class="link">{{$root.email_contact_repertoire}}</a> ou par téléphone au {{$root.telephone_contact_repertoire}}.
                </fieldset>
            </md-content>
            <md-content layout="column" layout-align="start end" style="margin-right:30px">
                <div layout="column" class="paragraph">
                    <lf-ng-md-file-input name="files01"
                                            lf-files="files01"
                                            lf-required
                                            accept="image/jpg,image/jpeg,image/png,application/pdf"
                                            lf-mimetype="image/jpg,image/jpeg,image/png,application/pdf"
                                            lf-placeholder="Pièce n°1 (taille maximale {{maxFileSizeInMB}} Mo) *"
                                            progress
                                            lf-filesize="{{maxFileSizeInMB}}MB"
                                            lf-browse-label="Joindre fichier"
                                            lf-remove-label="Supprimer"
                                            class="input-file">
                    </lf-ng-md-file-input>
                </div>
                <md-content ng-messages="complementForm.files01.$error" class="paragraph" >
                    <span ng-message="required">Le versement de la pièce n°1 est obligatoire.</span>
                    <span ng-message="filesize">La taille du fichier versé ne peut excéder {{maxFileSizeInMB}} Mo.</span>
                    <span ng-message="mimetype">Seuls les fichiers aux formats jpg, jpeg, png ou pdf sont acceptés.</span>
                    &nbsp;
                </md-content>
                <div layout="column" class="paragraph">
                    <lf-ng-md-file-input name="files02"
                                            lf-files="files02"
                                            accept="image/jpg,image/jpeg,image/png,application/pdf"
                                            lf-mimetype="image/jpg,image/jpeg,image/png,application/pdf"
                                            lf-placeholder="Pièce n°2 (taille maximale {{maxFileSizeInMB}} Mo) &nbsp;"
                                            progress
                                            lf-filesize="{{maxFileSizeInMB}}MB"
                                            lf-browse-label="Joindre fichier"
                                            lf-remove-label="Supprimer"
                                            class="input-file">
                    </lf-ng-md-file-input>
                </div>
                <md-content ng-messages="complementForm.files02.$error" class="paragraph">
                    <span ng-message="filesize">La taille du fichier versé ne peut excéder {{maxFileSizeInMB}} Mo.</span>
                    <span ng-message="mimetype">Seuls les fichiers aux formats jpg, jpeg, png ou pdf sont acceptés.</span>
                    &nbsp;
                </md-content>
                <div layout="column" class="paragraph">
                    <lf-ng-md-file-input name="files03"
                                            lf-files="files03"
                                            accept="image/jpg,image/jpeg,image/png,application/pdf"
                                            lf-mimetype="image/jpg,image/jpeg,image/png,application/pdf"
                                            lf-placeholder="Pièce n°3 (taille maximale {{maxFileSizeInMB}} Mo) &nbsp;"
                                            progress
                                            lf-filesize="{{maxFileSizeInMB}}MB"
                                            lf-browse-label="Joindre fichier"
                                            lf-remove-label="Supprimer"
                                            class="input-file">
                    </lf-ng-md-file-input>
                </div>
                <md-content ng-messages="complementForm.files03.$error" class="paragraph">
                    <span ng-message="filesize">La taille du fichier versé ne peut excéder {{maxFileSizeInMB}} Mo.</span>
                    <span ng-message="mimetype">Seuls les fichiers aux formats jpg, jpeg, png ou pdf sont acceptés.</span>
                    &nbsp;
                </md-content>
                <div layout="column" class="paragraph">
                    <lf-ng-md-file-input name="files04"
                                            lf-files="files04"
                                            accept="image/jpg,image/jpeg,image/png,application/pdf"
                                            lf-mimetype="image/jpg,image/jpeg,image/png,application/pdf"
                                            lf-placeholder="Pièce n°4 (taille maximale {{maxFileSizeInMB}} Mo) &nbsp;"
                                            progress
                                            lf-filesize="{{maxFileSizeInMB}}MB"
                                            lf-browse-label="Joindre fichier"
                                            lf-remove-label="Supprimer"
                                            class="input-file">
                    </lf-ng-md-file-input>
                </div>
                <md-content ng-messages="complementForm.files04.$error" class="paragraph">
                    <span ng-message="filesize">La taille du fichier versé ne peut excéder {{maxFileSizeInMB}} Mo.</span>
                    <span ng-message="mimetype">Seuls les fichiers aux formats jpg, jpeg, png ou pdf sont acceptés.</span>
                    &nbsp;
                </md-content>
            </md-content>
            
            <md-dialog-actions layout="row" layout="center center">
                <md-button md-colors="::{color: 'registre-primary-400', background: 'registre-background-50'}"
                            ng-click="cancel()" layout="row" layout-align="center center" class="md-primary"
                            flex="50">
                    Annuler
                </md-button>
                <md-button md-colors="::{background: 'registre-primary-400', color: 'registre-background-50'}"
                            type="submit" layout="row" layout-align="center center" class="md-raised md-primary"
                            flex="50" ng-disabled="complementForm.$invalid">
                    Verser les pièces
                </md-button>
            </md-dialog-actions>
        </form>
    </md-dialog-content>
</md-dialog>