<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<md-dialog aria-label="Demande de complément">
    <md-dialog-content>
        <form name="demandeComplementForm" ng-submit="submit(demande_complement_msg, demandeComplementForm.$valid)">
            <div class="md-dialog-header" md-colors="::{background: 'registre-background-50'}" layout="row"
                    layout-align="space-between start">
                <span class="md-title" md-colors="::{color: 'registre-primary-100'}">Demande de complément</span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-icon="{{images_dir}}/icons/cross.svg" aria-label="Close dialog"></md-icon>
                    <md-tooltip md-direction="bottom">Fermer</md-tooltip>
                </md-button>
            </div>
            <md-content layout="column">
                <md-input-container>
                    <label>Motif de la demande</label>
                    <md-select ng-model="selected_motif" required ng-change="motifSelectionChange()">
                        <md-option ng-repeat="motif in motifs" ng-value="motif.code">
                            {{motif.label}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Contenu du couriel à adresser au demandeur</label>
                    <textarea required ng-model="demande_complement_msg" md-maxlength="2000" rows="10" md-select-on-focus></textarea>
                </md-input-container>
            </md-content>
            <md-dialog-actions layout="row" layout="center center">
                <md-button type="submit"
                            md-colors="::{background: 'registre-primary-400', color: 'registre-background-50'}"
                            layout="row" layout-align="center center" class="md-raised md-primary"
                            ng-disabled="demandeComplementForm.$invalid">
                    Envoyer la demande
                </md-button>
            </md-dialog-actions>
        </form>
    </md-dialog-content>
</md-dialog>