<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<md-dialog aria-label="Détails d'une fiche d'activite" flex="50">
    <md-dialog-content layout="column">
        <md-content class="md-dialog-header" md-colors="::{background: 'registre-background-50'}" layout="row"
                    layout-align="space-between start" style="height: 100px; padding: 0; overflow-y: hidden;">
            <span class="md-title"
                  md-colors="::{color: 'registre-primary-100'}">Fiche d'activité <span ng-if="!fiche.statut">historique </span>{{fiche.idFiche}}</span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-icon="{{images_dir}}/icons/cross.svg" aria-label="Close dialog"></md-icon>
                <md-tooltip md-direction="bottom">Fermer</md-tooltip>
            </md-button>
        </md-content>
        <!-- fiche.statut absent dans le cas d'une fiche d'historique -->
        <md-button ng-click="republierFiche(fiche)"  ng-if="!locked && !fiche.isPublication && (fiche.statut && fiche.statut != 'Supprimée')"
                   md-colors="::{background: 'registre-primary-400', color: 'registre-background-50'}"
                   layout="row" layout-align="center center" class="md-raised md-primary">
            Re-publier cette fiche
        </md-button>
                <md-button ng-click="depublierFiche(fiche)"
                   ng-if="!locked && fiche.isPublication && (fiche.statut && fiche.statut != 'Supprimée')"
                   md-colors="::{background: 'registre-primary-400', color: 'registre-background-50'}"
                   layout="row" layout-align="center center" class="md-raised md-primary">
            Dé-publier cette fiche
        </md-button>
        <md-content layout="column" layout-margin layout-padding>
            <div>
                <label>Statut : {{fiche.statut}}</label><br/><br/>

                <label>Objet :</label>
                <p>{{fiche.objet}}</p>

                <div ng-if="qualif.hasOwnProperty('id')">
                    <label>Qualification :</label>
                    <p >{{qualif.valid === true ? 'Bon objet' : 'Mauvais objet'}} ({{qualif.confidence}}) - {{qualif.dateEnregistrement}}</p>
                </div>

                <label>Domaine(s) d'intervention :</label>
                <ul>
                    <li ng-repeat="categorie in fiche.domaines">{{getKey(categorie, fiche.domaines)}}
                        <ul>
                            <li ng-repeat="domaine in categorie">{{domaine}}</li>
                        </ul>
                    </li>
                </ul>

                <hr/>
            </div>

            <div ng-repeat="action in fiche.actions">

                <label>Bénéficiaire(s) :</label>
                <p>{{action.tiers.join(', ')}}</p>

                <label>Responsable(s) Public(s)</label>
                <ul>
                    <li ng-repeat="categorie in action.reponsablesPublics">{{getKey(categorie, action.reponsablesPublics)}}
                        <ul>
                            <li ng-repeat="responsable in categorie">{{responsable}}</li>
                        </ul>
                    </li>
                </ul>

                <label>Décision(s) concernée(s) :</label>
                <ul>
                    <li ng-repeat="libelle in action.decisionsConcernees">{{libelle}}</li>
                </ul>

                <label>Action(s) menée(s) :</label>
                <ul>
                    <li ng-repeat="libelle in action.actionsMenees">{{libelle}}</li>
                </ul>

                <label>Observations :</label>
                <p>{{action.observation}}</p>

                <hr/>

            </div>

        </md-content>
    </md-dialog-content>
</md-dialog>