<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<md-autocomplete
    placeholder="Rechercher une organisation par identifiant (SIREN, SIRET ou RNA)"
    md-items="item in querySearch(searchText)"
    md-item-text="item.display"
    md-selected-item="selectedOrganization"
    md-selected-item-change="selectedItemChange(item)"
    md-search-text="searchText"
    md-search-text-change="searchTextChange(searchText)"
    md-no-cache="settings.disableCaching"
    md-min-length="9"
    md-input-minlength="9"
    md-delay="500"
    md-autofocus="true"
    md-autoselect="true"
    flex ng-model="searchText"
    title="Saisissez le numéro de SIREN (ou de SIRET) pour une entreprise ou le numéro RNA pour une association">
<span md-highlight-text="searchText">{{item.display}}</span>
<md-not-found>
    Identifiant introuvable
</md-not-found>
</md-autocomplete>