<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<div layout-align layout="row" layout-wrap flex="100">
    <div layout="column" flex>


        <form name="cardForm" ng-submit="submitCorporateData($event, cardForm.$valid, 'PROFILE_ORGA', espace.data)">
            <div layout-padding layout-align="center center" style="padding: 8px 130px;">
                <div layout-wrap layout-gt-sm="row" layout-align="center center" class="encart">
                    <div flex-gt-lg="50" flex-gt-md="50" flex-gt-sm="50">
                        <div flex-gt-lg="100" flex-gt-md="100" flex-gt-sm="100" layout="row" layout-wrap>
                            <div flex="40" layout="column"><h4 style="text-decoration: underline">Dénomination: </h4></div>

                            <div flex="60" layout="column">
                                <h5 flex="70" ng-if="!cardOrga.active || !isModificateurDesRaisonsSociales()">{{espace.denomination}}</h5>
                                <md-input-container ng-if="cardOrga.active && isModificateurDesRaisonsSociales()">
                                    <input name="denomination" ng-model="espace.data.denomination" aria-label="Dénomination"/>
                                </md-input-container>
                            </div>
                        </div>
                        
                        <div flex-gt-lg="100" flex-gt-md="100" flex-gt-sm="100" layout="row" layout-wrap>
                            <div flex="40" layout="column"><h4 style="text-decoration: underline">Nom d'usage: </h4></div>
                            <div flex="60" layout="column">
                                <h5 flex="70" ng-if="!cardOrga.active">{{espace.nomUsage}}</h5>
                                <md-input-container ng-if="cardOrga.active">
                                    <input name="nomUsage" ng-model="espace.data.nomUsage" aria-label="Nom d'usage"/>
                                </md-input-container>
                            </div>
                        </div>

                        <div flex-gt-lg="100" flex-gt-md="100" flex-gt-sm="100" layout="row" layout-align="end end">                            
                            <md-button layout="column" ng-if="!espace.locked && !cardOrga.active" ng-click="getIdentityPublicationHistorique($event,espace)">Historique</md-button>                                
                        </div>

                        <div flex-gt-lg="100" flex-gt-md="100" flex-gt-sm="100" layout="row" layout-wrap>
                            <div flex="40" layout="column"><h4 style="text-decoration: underline">Type d'oganisation: </h4></div>
                            <div flex="60" layout="column"><h5 flex="70">{{espaceContent.categorieOrganisation.label}}</h5></div>
                        </div>                   
                        
                        <div flex-gt-lg="100" flex-gt-md="100" flex-gt-sm="100" layout="row" layout-wrap>
                            <div flex="40" layout="column"><h4 style="text-decoration: underline">Nom d'usage HATVP: </h4></div>
                            <div flex="60" layout="column">
                                <h5 flex="70" ng-if="!cardOrga.active">{{espace.nomUsageHatvp}}</h5>
                                <md-input-container ng-if="cardOrga.active">
                                    <input name="nomUsageHatvp" ng-model="espace.data.nomUsageHatvp" aria-label="Nom d'usage HATVP"/>
                                </md-input-container>
                            </div>
                        </div>
                        <div flex-gt-lg="100" flex-gt-md="100" flex-gt-sm="100" layout="row" layout-wrap>
                            <div flex="40" layout="column"><h4 style="text-decoration: underline">Sigle HATVP: </h4></div>
                            <div flex="60" layout="column">
                                <h5 flex="70" ng-if="!cardOrga.active">{{espace.sigleHatvp}}</h5>
                                <md-input-container ng-if="cardOrga.active">
                                    <input name="sigleHatvp" ng-model="espace.data.sigleHatvp" aria-label="sigle HATVP"/>
                                </md-input-container>
                            </div>
                        </div>
                         <div flex-gt-lg="100" flex-gt-md="100" flex-gt-sm="100" layout="row" layout-wrap>
                            <div flex="40" layout="column"><h4 style="text-decoration: underline">Ancien nom HATVP: </h4></div>
                            <div flex="60" layout="column">
                                <h5 flex="70" ng-if="!cardOrga.active">{{espace.ancienNomHatvp}}</h5>
                                <md-input-container ng-if="cardOrga.active">
                                    <input name="ancienNomHatvp" ng-model="espace.data.ancienNomHatvp" aria-label="ancien Nom HATVP"/>
                                </md-input-container>
                            </div>
                        </div>                       
                        <div flex-gt-lg="100" flex-gt-md="100" flex-gt-sm="100" layout="row" layout-wrap>
                            <div flex="40" layout="column"><h4 style="text-decoration: underline">Identifiant
                                national: </h4></div>
                            <div flex="60" layout="column"><h5 flex="70">{{espace.identifiant}}</h5></div>
                        </div>
                        <div flex-gt-lg="100" flex-gt-md="100" flex-gt-sm="100" layout="row" layout-wrap>
                            <div flex="40" layout="column"><h4 style="text-decoration: underline">Date création: </h4></div>
                            <div flex="60" layout="column"><h5 flex="70">{{espace.dateCreation}}</h5></div>
                        </div>
                        
                        <div flex-gt-lg="100" flex-gt-md="100" flex-gt-sm="100" layout="row" layout-wrap>
                            <div flex="40" layout="column"><h4 style="text-decoration: underline">Date de clôture : </h4></div>
                            <div flex="60" layout="column">
                                <h5 flex="70" ng-if="!cardOrga.active">{{espace.finExerciceFiscal}}</h5>
                                <div layout="row" ng-if="cardOrga.active">
                                    <md-input-container>
                                        <label>Jour</label>
                                        <md-select name="jour" ng-model="espace.data.jourFin" placeholder="Jour">
                                            <md-option ng-repeat="jour in joursList | limitTo: nombreJours" ng-value="jour">{{jour}}</md-option>
                                        </md-select>
                                    </md-input-container>
                                    <md-input-container>
                                        <label>Mois</label>
                                        <md-select name="mois" ng-model="espace.data.moisFin" placeholder="Mois">
                                            <md-option ng-repeat="mois in moisList" ng-value="mois">{{moisListLabel[$index]}}</md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>
                            </div>
                        </div>

                        <div flex-gt-lg="100" flex-gt-md="100" flex-gt-sm="100" layout="row" layout-wrap>
                            <div flex="30" layout="column"><h4 style="text-decoration: underline">Contacts opérationnels: </h4>
                            </div>
                            <div flex="70" layout="column">
                                <ul>
                                    <li ng-repeat="d in espace.admins">
                                        <md-tooltip>Détail du compte</md-tooltip>
                                        <a href="#" ng-click="declarantDetails($event, d, espace, true)"
                                           style="text-decoration: none">{{d.identite}}</a>
                                    </li>
                                </ul>
                                <md-button  ng-if="!espace.locked" ng-click="ajoutCO($event)" style="text-decoration: none">ajout d'un contact opérationnel</md-button>
                            </div>
                        </div>
                    </div>
                    <div flex-gt-lg="50" flex-gt-md="50" flex-gt-sm="50">                        
                        <div flex-gt-lg="100" flex-gt-md="100" flex-gt-sm="100" layout="row" layout-wrap>
                        <div flex="40" layout="column"><h4 style="text-decoration: underline">Inscrit le: </h4></div>
                        <div flex="60" layout="column"><h5 flex="70">{{espaceContent.datePremierePublication}}</h5></div>
                    </div>

                        <div flex-gt-lg="100" flex-gt-md="100" flex-gt-sm="100" layout="row" layout-wrap>
                            <div flex="20" layout="column"><h4 style="text-decoration: underline">Adresse: </h4></div>
                            <div flex="55" layout="column">
                                <h5 flex="70" ng-if="!cardOrga.active">{{espaceContent.adresse}}</h5>
                                <h5 flex="70" ng-if="!cardOrga.active">{{espaceContent.codePostal}}</h5>
                                <h5 flex="70" ng-if="!cardOrga.active">{{espaceContent.ville}}</h5>
                                <h5 flex="70" ng-if="!cardOrga.active">{{espaceContent.pays}}</h5>
                                <md-input-container ng-if="cardOrga.active">
                                    <input name="adresse" ng-model="espace.data.adresse" aria-label="Adresse"/>
                                </md-input-container>
                                <md-input-container ng-if="cardOrga.active">
                                    <input name="codePostal" ng-model="espace.data.codePostal" aria-label="Code postal"/>
                                </md-input-container>
                                <md-input-container ng-if="cardOrga.active">
                                    <input name="ville" ng-model="espace.data.ville" aria-label="Ville"/>
                                </md-input-container>
                                <md-input-container ng-if="cardOrga.active">
                                    <input name="pays" ng-model="espace.data.pays" aria-label="Pays"/>
                                </md-input-container>
                            </div>
                            
                            <div flex="20" layout="column"><h4 style="text-decoration: underline">Non publiable: </h4></div>
                            <div flex="5" layout="column"><h5 flex="70" ng-if="espaceContent.nonPublierMonAdressePhysique">Oui</h5><h5 flex="70" ng-if="!espaceContent.nonPublierMonAdressePhysique">Non</h5></div>
                        </div>
                        <div flex-gt-lg="100" flex-gt-md="100" flex-gt-sm="100" layout="row" layout-wrap>
                            <div flex="20" layout="column"><h4 style="text-decoration: underline">Téléphone: </h4></div>                            
                            <div flex="55" layout="column">
                                <h5 flex="70" ng-if="!cardOrga.active">{{espaceContent.telephoneDeContact}}</h5>
                                <md-input-container ng-if="cardOrga.active">
                                    <input name="telephoneDeContact" ng-model="espace.data.telephoneDeContact" aria-label="Téléphone"/>
                                </md-input-container>
                            </div>
                            <div flex="20" layout="column"><h4 style="text-decoration: underline">Non publiable: </h4></div>
                            <div flex="5" layout="column"><h5 flex="70" ng-if="espaceContent.nonPublierMonTelephoneDeContact">Oui</h5><h5 flex="70" ng-if="!espaceContent.nonPublierMonTelephoneDeContact">Non</h5></div>
                        </div>
                        <div flex-gt-lg="100" flex-gt-md="100" flex-gt-sm="100" layout="row" layout-wrap>
                            <div flex="20" layout="column"><h4 style="text-decoration: underline">Email: </h4></div>
                            <div flex="55" layout="column">
                                <h5 flex="70"  ng-if="!cardOrga.active">{{espaceContent.emailDeContact}}</h5>
                                <md-input-container ng-if="cardOrga.active">
                                    <input name="emailDeContact" ng-model="espace.data.emailDeContact" aria-label="Email"/>
                                </md-input-container>
                            </div>
                            
                            <div flex="20" layout="column"><h4 style="text-decoration: underline">Non publiable: </h4></div>
                            <div flex="5" layout="column"><h5 flex="70" ng-if="espaceContent.nonPublierMonAdresseEmail">Oui</h5><h5 flex="70" ng-if="!espaceContent.nonPublierMonAdresseEmail">Non</h5></div>
                        </div>

                        <div flex-gt-lg="100" flex-gt-md="100" flex-gt-sm="100" layout="row" layout-wrap>
                            <div flex="20" layout="column"><h4 style="text-decoration: underline">Site internet: </h4></div>
                            <div flex="80" layout="column">
                                <h5 ng-if="!cardOrga.active">{{espaceContent.lienSiteWeb}}</h5>
                                <md-input-container ng-if="cardOrga.active">
                                    <input name="lienSiteWeb" ng-model="espace.data.lienSiteWeb" aria-label="Site"/>
                                </md-input-container>
                                
                            </div>
                        </div>

                        <div flex-gt-lg="100" flex-gt-md="100" flex-gt-sm="100" layout="row" layout-wrap>
                            <div flex="20" layout="column"><h4 style="text-decoration: underline">Linkedin: </h4></div>
                            <div flex="80" layout="column">
                                <h5 ng-if="!cardOrga.active">{{espaceContent.lienPageLinkedin}}</h5>
                                <md-input-container ng-if="cardOrga.active">
                                    <input name="lienPageLinkedin" ng-model="espace.data.lienPageLinkedin" aria-label="Linkedin"/>
                                </md-input-container>
                                
                            </div>
                        </div>

                        <div flex-gt-lg="100" flex-gt-md="100" flex-gt-sm="100" layout="row" layout-wrap>
                            <div flex="20" layout="column"><h4 style="text-decoration: underline">Twitter: </h4></div>
                            <div flex="80" layout="column">
                                <h5 ng-if="!cardOrga.active">{{espaceContent.lienPageTwitter}}</h5>
                                <md-input-container ng-if="cardOrga.active">
                                    <input name="lienPageTwitter" ng-model="espace.data.lienPageTwitter" aria-label="Twitter"/>
                                </md-input-container>
                            </div>
                        </div>
                        <div flex-gt-lg="100" flex-gt-md="100" flex-gt-sm="100" layout="row" layout-wrap>
                            <div flex="20" layout="column"><h4 style="text-decoration: underline">Facebook: </h4></div>
                            <div flex="80" layout="column">
                                <h5 ng-if="!cardOrga.active">{{espaceContent.lienPageFacebook}}</h5>
                                <md-input-container ng-if="cardOrga.active">
                                    <input name="lienPageFacebook" ng-model="espace.data.lienPageFacebook" aria-label="Facebook"/>
                                </md-input-container>
                            </div>
                        </div>
                    </div>

                    <div flex-gt-lg="100" flex-gt-md="100" flex-gt-sm="100">
                        <md-card-actions layout="row" layout-align="end end">
                            <md-button layout="column" ng-if="!espace.locked && !cardOrga.active" ng-click="cardOrga.active = true">Modifier</md-button>
                            <md-button layout="column" ng-if="cardOrga.active" ng-click="resetCardOrga()">Annuler</md-button>
                            <md-button layout="column" ng-if="cardOrga.active && cardForm.$dirty && cardForm.$valid"
                                       ng-click="cardForm.$valid ? cardOrga.active = false:cardOrga.active = true"
                                       type="submit">Enregistrer
                            </md-button>
                        </md-card-actions>
                    </div>

                </div>

            </div>
        </form>


        <md-tabs md-selected="selectedIndex" md-align-tabs="top" md-dynamic-height md-border-bottom>
            <md-tab>
                <md-tab-label>Pièces</md-tab-label>
                <md-tab-body>
                    <md-content class="pad-h-50 pad-v-30 gestion_espace_tab">
                        <ng-include src="views.PIECES"></ng-include>
                    </md-content>
                </md-tab-body>
            </md-tab>
            <md-tab>
                <md-tab-label>Déclarants</md-tab-label>
                <md-tab-body>
                    <md-content class="pad-h-50 pad-v-30 gestion_espace_tab">
                        <ng-include src="views.DECLARANT"></ng-include>
                    </md-content>
                </md-tab-body>
            </md-tab>
            <md-tab>
                <md-tab-label>Publications identité</md-tab-label>
                <md-tab-body>
                    <md-content class="pad-h-50 pad-v-30 gestion_espace_tab">
                        <ng-include src="views.PUBLICATION"></ng-include>
                    </md-content>
                </md-tab-body>
            </md-tab>
            <md-tab>
                <md-tab-label>Déclarations</md-tab-label>
                <md-tab-body>
                    <md-content class="pad-h-50 pad-v-30 gestion_espace_tab">
                        <ng-include src="views.RAPPORT"></ng-include>
                    </md-content>
                </md-tab-body>
            </md-tab>
            <md-tab>
                <md-tab-label>Clients</md-tab-label>
                <md-tab-body>
                    <md-content class="pad-h-50 pad-v-30 gestion_espace_tab">
                        <ng-include src="views.CLIENT"></ng-include>
                    </md-content>
                </md-tab-body>
            </md-tab>
            <md-tab>
                <md-tab-label>Chargés RI</md-tab-label>
                <md-tab-body>
                    <md-content class="pad-h-50 pad-v-30 gestion_espace_tab">
                        <ng-include src="views.COLLABORATEUR"></ng-include>
                    </md-content>
                </md-tab-body>
            </md-tab>
            <md-tab>
                <md-tab-label>Affiliations</md-tab-label>
                <md-tab-body>
                    <md-content class="pad-h-50 pad-v-30 gestion_espace_tab">
                        <ng-include src="views.AFFILIATION"></ng-include>
                    </md-content>
                </md-tab-body>
            </md-tab>
            <md-tab ng-if="isAdministrateur()">
                <md-tab-label>Relances</md-tab-label>
                <md-tab-body>
                    <md-content class="pad-h-50 pad-v-30 gestion_espace_tab">
                        <ng-include src="views.RELANCES"></ng-include>
                    </md-content>
                </md-tab-body>
            </md-tab>
        </md-tabs>
    </div>

    <div layout="column" layout-align flex="20" style="border-left: 1px solid #051639;">
        <comment flex current="espace.id" context="2"></comment>
    </div>
</div>

