<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->
 <style>
    .center {
        text-align: center;
    }
</style>
<md-dialog aria-label="Historique" flex="75">
    <md-dialog-content layout="column">
        <md-content class="md-dialog-header" md-colors="::{background: 'registre-background-50'}" layout="row"
                    layout-align="space-between start" style="height: 100px; padding: 0; overflow-y: hidden;">
            <span class="md-title"
                  md-colors="::{color: 'registre-primary-100'}">Historique</span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-icon="{{images_dir}}/icons/cross.svg" aria-label="Close dialog"></md-icon>
                <md-tooltip md-direction="bottom">Fermer</md-tooltip>
            </md-button>
        </md-content>
        <md-table-container>
            <table md-table>
                <thead md-head class="md-table-head"
                       md-colors="::{color: 'registre-background-50',background: 'registre-primary-400'}">
                    <tr md-row>
                        <th md-column>
                            <md-input-container>
                                <input placeholder="Date de publication" md-colors="::{color: 'registre-background-50'}"
                                    type="text">
                            </md-input-container>
                            <md-tooltip class="custom-tooltip">Date de publication</md-tooltip>
                        </th>
                        <th md-column >
                            <md-input-container>
                                <input placeholder="Dénomination" md-colors="::{color: 'registre-background-50'}"
                                    type="text">
                            </md-input-container>
                            <md-tooltip class="custom-tooltip">Dénomination</md-tooltip>
                        </th>
                        <th md-column >
                            <md-input-container>
                                <input placeholder="Nom d'usage" md-colors="::{color: 'registre-background-50'}"
                                    type="text">
                            </md-input-container>
                            <md-tooltip class="custom-tooltip">Nom d'usage</md-tooltip>
                        </th>                                    
                                        
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row ng-repeat="p in espaceContent.publicationIdentiteList" class="back-office">
                        <td md-cell>{{p.dateCreation}}</td>
                        <td md-cell>{{p.denomination}}</td>  
                        <td md-cell>{{p.nomUsage ? p.nomUsage : "-"}}</td>         
                    </tr>
                </tbody>
            </table>
        </md-table-container>
    </md-dialog-content>
</md-dialog>