<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<md-content>

    <div layout="row" class="pad-h-30 pad-v-45">
        <h1 md-colors="::{color : 'registre-primary-400'}" class="md-title md-title-big" flex="40">
            Votre espace de gestion des espaces organisations validés
        </h1>
    </div>
    <md-content style="padding: 20px;">
        <md-button md-no-ink class="md-primary" ng-click="reset()" ng-if="search" >Effacer les filtres</md-button>
        <md-subheader class="md-no-sticky" ng-hide="espaces.length > 0">Aucun espace organisation enregistré.
        </md-subheader>
        <md-table-container>
            <table md-table md-progress="espacesTableOptions.promise">
                <thead md-head md-order="espacesTableOptions.order" class="md-table-head"
                       md-colors="::{color: 'registre-background-50',background: 'registre-primary-400'}">
                <tr md-row>
                    <th md-column md-order-by="denomination">
                        <md-input-container>

                            <input placeholder="Dénomination" md-colors="::{color: 'registre-background-50'}"
                                   type="text"
                                   ng-model="denomination"
                                   onclick="event.stopPropagation()"
                                   ng-keydown="$event.keyCode === 13 && callSearch('denomination')"
                            >
                        </md-input-container>
                    </th>
                    <th md-column md-order-by="identifiant">
                        <md-input-container>
                            <input placeholder="Identifiant national" md-colors="::{color: 'registre-background-50'}" type="text"
                                   ng-model="identifiant" onclick="event.stopPropagation()"
                                   ng-keydown="$event.keyCode === 13 && callSearch('identifiant')"
                                   >
                        </md-input-container>
                    </th>
                    <th md-column md-order-by="administrateurs">
                        <md-input-container>
                            <input placeholder="Contacts opérationnels" md-colors="::{color: 'registre-background-50'}"
                                   type="text"
                                   ng-model="administrateurs"
                                   onclick="event.stopPropagation()"
                                   ng-keydown="$event.keyCode === 13 && callSearch('administrateurs')"
                            >
                        </md-input-container>
                    </th>
                    <th md-column md-order-by="nombreDeclarant">
                        <md-input-container>
                            <input placeholder="Nbr déclarants validés" md-colors="::{color: 'registre-background-50'}"
                                   type="text"
                                   ng-model="nombreDeclarant"
                                   onclick="event.stopPropagation()"
                                   ng-keydown="$event.keyCode === 13 && callSearch('nbrDeclarants')"
                            >
                        </md-input-container>
                    </th>
                    <th md-column md-order-by="chiffreAffaire">
                        <md-input-container>
                            <input placeholder="Chiffre d'affaire" md-colors="::{color: 'registre-background-50'}"
                                   type="text"
                                   ng-model="espacesTableOptions.filter.chiffreAffaire"
                                   onclick="event.stopPropagation()">
                        </md-input-container>
                    </th>
                    <th md-column md-order-by="dateCreation">
                        <md-input-container>
                            <input placeholder="Date de création" md-colors="::{color: 'registre-background-50'}" md-colors="::{color: 'registre-background-50'}" type="text"
                                   ui-mask="99/99/9999" ui_mask_placeholder="__/__/____" ui-mask-placeholder-char="space"
                                   ng-pattern="/^((0[1-9]|[12][0-9]|3[01])[\/](0[1-9]|1[012])[\/](19|20)[0-‌​9]{2})$/"
                                   ng-model="dateCreation"
                                   onclick="event.stopPropagation()"
                                   ng-keydown="$event.keyCode === 13 && callSearch('dateCreation')"
                            >
                        </md-input-container>
                    </th>
                </tr>
                </thead>
                <tbody md-body>
                <tr md-row
                    ng-repeat="d in espaces |
            orderBy: espacesTableOptions.order |
            filter: espacesTableOptions.filter"
                    ng-click="espaceDetails($event, d)" class="back-office">
                    <td md-cell>{{d.denomination}}</td>
                    <td md-cell>{{d.identifiant}}</td>
                    <td md-cell>{{d.administrateurs}}</td>
                    <td md-cell>{{d.nombreDeclarant}}</td>
                    <td md-cell>{{d.chiffreAffaire }}</td>
                    <td md-cell>{{d.dateCreation}}</td>
                </tr>
                </tbody>
            </table>
            <md-table-pagination md-label="{{espacesTableOptions.labels}}"
                                 md-page="espacesTableOptions.page" md-limit="espacesTableOptions.limit"
                                 md-total="{{espaces.totalNumber}}"
                                 md-limit-options="espacesTableOptions.limitOptions"
                                 md-on-paginate="search ? onPaginateSearch : onPaginate"
                                 md-page-select></md-table-pagination>
        </md-table-container>
    </md-content>
</md-content>