<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<div ng-controller="EspaceDetailsMenuBarCtrl" flex="100" layout="row">
    <md-content layout="column" layout-align="center left" flex="30">
        <div layout="row" layout-align="start center">
            <md-button class="md-fab md-mini md-hue-3" aria-label="retour" ui-sref="{{returnState}}">
                <md-icon md-svg-icon="{{images_dir}}/icons/ic_reply_white_24px.svg" style="fill: white;"></md-icon>
                <md-tooltip>Retour</md-tooltip>
            </md-button>
            <h2 flex="70" md-colors="::{color: 'registre-primary-200'}" style="padding: 10px;">
                {{menuBarPreviousTitle}}</h2>
        </div>
        <span flex></span>
    </md-content>
    <md-content layout="row" layout-align="start center" flex="70" style="overflow: hidden;" ng-show="espaceOrganisation.statut == 'Désinscrit'">
        <span>Cet espace est désinscrit depuis le {{espaceOrganisation.dateDesinscription}}</span>
    </md-content>
    <md-content layout="row" layout-align="start center" flex="70" style="overflow: hidden;" ng-show="espaceOrganisation.statut == 'Désinscription validée'">
        <span>Cet espace fait l'objet d'une désinscription qui sera effective à la date de cessation ({{espaceOrganisation.dateDesinscription}})</span>
    </md-content>
    <md-content layout="row" layout-align="end center" flex="70" style="overflow: hidden;" ng-show="!(espaceOrganisation.statut == 'Désinscrit')">
        <md-button ng-click="desinscrire()" style="right:50px"
                   md-colors="::{background: 'registre-primary-A400', color: 'registre-background-50'}"
                   class="md-raised md-primary" ng-show="!espaceOrganisation.locked && (espaceOrganisation.statut == 'Désinscription demandée' || espaceOrganisation.statut == 'Acceptée' || espaceOrganisation.statut == 'Compléments demande de désinscription reçu')">
            {{espaceOrganisation.statut == "Désinscription demandée" || espaceOrganisation.statut == "Compléments demande de désinscription reçu"? "Traiter la demande de désinscription" : "Désinscrire"}}
        </md-button>

        <md-button ng-click="putEspaceUnderWatch()" style="right:50px"
                   md-colors="::{background: 'registre-primary-A400', color: 'registre-background-50'}"
                   class="md-raised md-primary"
                   ng-hide="espaceOrganisation.locked || espaceOrganisation.statut == 'Desinscrit' || espaceOrganisation.statut == 'Désinscription validée'">
            Mettre sous surveillance
        </md-button>

        <h2 style="padding: 15px 15px; width: 190px">
            <span>{{espaceOrganisation.actif ? 'Espace actif' : 'Espace inactif'}}</span>
        </h2>

        <md-button ng-click="switchEspaceState()" ng-if="isRestricteurDesAcces()" style="width: 190px"
                   md-colors="::{background: 'registre-primary-400', color: 'registre-background-50'}"
                   class="md-raised md-primary"
                   ng-hide="espaceOrganisation.locked || espaceOrganisation.statut == 'Desinscrit' || espaceOrganisation.statut == 'Désinscription validée'">
            {{espaceOrganisation.actif ? 'Désactiver' : 'Activer'}}
        </md-button>
    </md-content>
</div>