<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<style>
    md-backdrop {
        position: fixed;
    }
</style>
<md-dialog aria-label="Modification des dates d'exercice comptable" flex="50">
    <md-dialog-content flex="100" layout="column">
                <span class="md-title"
                      md-colors="::{color: 'registre-primary-100'}">Modification des dates d'exercice comptable du {{exercice.periode}}</span>

            <md-content layout="row" flex layout-align="center center">
                <fieldset class="standard">
                    <md-content layout="row" layout-align="center center">
                        <div layout="row" layout-align="space-between center">
                            <md-label style="margin-right: 10px;">Date de début</md-label>

                            <md-input-container style="margin-right: 10px;">
                                <label>Jour</label>
                                <md-select name="jour" ng-model="jourDebutExercice">
                                    <md-option ng-repeat="jour in joursList | limitTo: nombreJours" ng-value="jour">{{jour}}</md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container>
                                <label>Mois</label>
                                <md-select name="mois" ng-model="moisDebutExercice" ng-change="majNbJours('debut')">
                                    <md-option ng-repeat="mois in moisList" ng-value="mois">{{moisListLabel[$index]}}</md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container>
                                <label>Année</label>
                                <md-select name="Année" ng-model="anneeDebutExercice">
                                    <md-option ng-repeat="annee in anneeList" ng-value="annee">{{annee}}</md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div layout="row" layout-align="space-between center">
                            <md-label style="margin:0 10px;">Date de fin</md-label>

                            <md-input-container style="margin-right: 10px;">
                                <label>Jour</label>
                                <md-select name="jour" ng-model="jourFinExercice">
                                    <md-option ng-repeat="jour in joursList | limitTo: nombreJours" ng-value="jour">{{jour}}</md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container>
                                <label>Mois</label>
                                <md-select name="mois" ng-model="moisFinExercice" ng-change="majNbJours('fin')">
                                    <md-option ng-repeat="mois in moisList" ng-value="mois">{{moisListLabel[$index]}}</md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container>
                                <label>Année</label>
                                <md-select name="Année" ng-model="anneeFinExercice">
                                    <md-option ng-repeat="annee in anneeList" ng-value="annee">{{annee}}</md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                    </md-content>
                    <md-content layout="row" layout-align="center center">
                        <md-dialog-actions layout="row" flex="100" layout="center center">
                            <md-button flex="30"
                                       md-colors="::{background: 'registre-background-50', color: 'registre-primary-400'}"
                                       type="submit" layout="row" layout-align="center center"
                                       class="md-raised md-primary"
                                       ng-click="cancel()">
                                Annuler
                            </md-button>
                            <md-button flex="70" ng-click="submitDatesExercice()"
                                       md-colors="::{background: 'registre-primary-400', color: 'registre-background-50'}"
                                       type="submit" layout="row" layout-align="center center"
                                       class="md-raised md-primary">
                                Enregistrer
                            </md-button>
                        </md-dialog-actions>
                    </md-content>
                </fieldset>
            </md-content>

    </md-dialog-content>

</md-dialog>