/**
 *
 * Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT
 *
 * custom android material stylesheet 
 *
 */
/* fix for svg color fill */
md-icon svg {
    fill: inherit;
}

md-dialog {
    min-width: 600px;
    max-width: 600px;
}

md-menu-item > .md-button {
    font-size: 12px;
}

md-input-container > md-content, form > md-content {
    overflow: visible;
}

md-datepicker {
    overflow: visible;
}

.md-datepicker-input {
    max-width: none;
}

.md-calendar-day-header {
    background-color: #1f2f4e !important;
}

.md-calendar-date.md-calendar-selected-date .md-calendar-date-selection-indicator {
    color: white !important;
}

/* Material icon sizes */
.material-icons.md-12 {
    font-size: 12px;
}

.md-12 > svg {
    height: 12px;
    width: 12px;
}

/* Material icon sizes */
.material-icons.md-18 {
    font-size: 18px;
}

.md-18 > svg {
    height: 18px;
    width: 18px;
}

.md-24 > svg {
    height: 24px;
    width: 24px;
}

.md-36 > svg {
    height: 36px;
    width: 36px;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

.material-icons + p {
    font-size: 12px;
}

/* icon buttons compatibility fix for browsers with no flex support */
.md-button {
    display: -moz-inline-box;
}

.header-nav > .md-button:not(.header-report-button) {
    display: inline-flex;
}

/*@supports (flex-wrap: wrap) {
    .md-button {
        display: inline-block;
    }
}*/

md-card {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    -webkit-transition: background-color 500ms;
    -moz-transition: background-color 500ms;
    -ms-transition: background-color 500ms;
    -o-transition: background-color 500ms;
    transition: background-color 500ms;
}

md-card .md-card-content {
    padding: 0;
}

md-card md-card-actions .md-button span {
    font-size: smaller;
}

.md-datepicker-calendar-pane {
    z-index: 1200 !important;
}

@media all and (min-device-width: 600px) {
    md-tooltip {
        font-size: 1rem;
    }

    /* fix for sidenav parent scrolling */
    /*md-backdrop, md-sidenav {
        position: fixed;
    }*/
    .pub_ie_bloc {
        min-height: 500px;
    }

    .pub_ie_text_right {
        float: right;
    }

    .add_corporate_adress {
        padding: 20px 0 0 20px !important;
        min-height: 120px !important;
    }

    .add_corporate_denomination {
        padding: 20px 0 0 20px !important;
        min-height: 80px !important;
    }
}

md-progress-linear.md-registre-theme .md-container {
    background-color: transparent;
}

md-optgroup label {
    color: rgba(0, 0, 0, 0.57);
}

.uncheckedClass {
    background-color: #eeeeee !important;
    color: black;
}

.material-cust-size-button {
    width: 340px;
}

.copy-md-checkbox {
    display: block;
    margin-bottom: 20px;
    margin-top: 20px;
    min-height: 24px;
    position: relative;
}

.copy-md-checkbox label {
    cursor: pointer;
    font-weight: normal;
    padding-left: 30px;
}

.copy-md-checkbox input[type="checkbox"] {
    opacity: 0;
    filter: alpha(opacity=0);
    margin-left: -30px;
    position: absolute;
}

.copy-md-checkbox input[type="checkbox"] + .checkbox {
    border-radius: 2px;
    border-style: solid;
    border-width: 2px;
    content: " ";
    cursor: pointer;
    display: inline-block;
    height: 20px;
    left: 0;
    margin-left: 0;
    margin-top: 0;
    position: absolute;
    top: 0;
    visibility: visible;
    width: 20px;
    -webkit-animation: checkbox-bg-off 0.25s;
    -o-animation: checkbox-bg-off 0.25s;
    animation: checkbox-bg-off 0.25s;
}

.copy-md-checkbox input[type="checkbox"] + .checkbox:after {
    border-color: transparent;
    border-style: solid;
    border-width: 0 0 2px 2px;
    content: " ";
    cursor: pointer;
    height: 8px;
    left: 50%;
    margin-left: -7px;
    margin-top: -6px;
    position: absolute;
    top: 50%;
    width: 14px;
    -webkit-animation: checkbox-marker-off 0.2s;
    -o-animation: checkbox-marker-off 0.2s;
    animation: checkbox-marker-off 0.2s;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.copy-md-checkbox input[type="checkbox"] + .checkbox:before {
    border-radius: 50%;
    content: " ";
    height: 2px;
    left: 50%;
    margin-left: -1px;
    margin-top: -1px;
    position: absolute;
    top: 50%;
    transition: all .1s;
    width: 2px;
    opacity: 0;
    filter: alpha(opacity=0);
}

.copy-md-checkbox input[type="checkbox"]:disabled + .checkbox {
    cursor: not-allowed;
}

.copy-md-checkbox input[type="checkbox"]:focus + .checkbox:before {
    height: 50px;
    margin-left: -25px;
    margin-top: -25px;
    width: 50px;
    opacity: 0.08;
    filter: alpha(opacity=8);
}

.copy-md-checkbox input[type="checkbox"]:checked + .checkbox {
    -webkit-animation: checkbox-bg-on 0.1s;
    -o-animation: checkbox-bg-on 0.1s;
    animation: checkbox-bg-on 0.1s;
    border-width: 10px;
}

.copy-md-checkbox input[type="checkbox"]:checked + .checkbox:after {
    -webkit-animation: checkbox-marker-on 0.15s;
    -o-animation: checkbox-marker-on 0.15s;
    animation: checkbox-marker-on 0.15s;
}

.copy-md-checkbox input[type="checkbox"]:checked:focus + .checkbox:before {
    opacity: 0.2;
    filter: alpha(opacity=20);
}

.copy-md-checkbox + .checkbox {
    margin-top: -5px;
}

.copy-md-checkbox input[type="checkbox"] + .checkbox {
    border-color: #1f2f4e;
}

.copy-md-checkbox input[type="checkbox"] + .checkbox:before {
    background-color: black;
}

.copy-md-checkbox input[type="checkbox"]:checked + .checkbox:after {
    border-color: white;
}

.copy-md-checkbox input[type="checkbox"]:disabled + .checkbox, .copy-md-checkbox input[type="checkbox"]:disabled + .checkbox:hover {
    border-color: #999999;
}

.copy-md-checkbox input[type="checkbox"]:checked:focus + .checkbox:before {
    background-color: grey;
}

*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#floaty {
    position: fixed;
    top: 100px;
    right:7px;
    height: 60px;
    width: 630px;
    z-index: 10000;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    opacity: 0.8;
}

#floatyActivite {
    position: fixed;
    top: 100px;
    right:7px;
    height: 60px;
    z-index: 10000;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    opacity: 0.8;
}

#floatyPublication {
    position: fixed;
    top: 100px;
    right:7px;
    height: 60px;
    /* width: 630px; */
    /* z-index: 10000; */
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    opacity: 0.8;
    padding: 18px 25px!important;
}

#floatyPublication2 {
    position: fixed;
    top: 100px;
    right:35%;
    height: 60px;
    /* width: 380px; */
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    opacity: 0.8;
    padding: 18px 25px!important;
}

body md-content {
    background-color: #f7f7f7; 
    text-align: justify;
}