<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->


<md-dialog aria-label="Contact Haute Autorité">
    <md-dialog-content>
        <form name="contactForm" ng-submit="submit(contactForm.$valid, $event)">
            <div class="md-dialog-header" md-colors="::{background: 'registre-background-50'}" layout="row"
                    layout-align="space-between start">
                <span class="md-title" md-colors="::{color: 'registre-primary-100'}">Retrouver une organisation</span>
            </div>
            <md-content layout="column">Si vous n'êtes pas en mesure de retrouver une organisation selon son
                numéro SIREN ou RNA, veuillez remplir et envoyer le formulaire ci-dessous. La Haute Autorité étudiera
                votre demande.
            </md-content>
            <md-content layout="column">
                <md-input-container>
                    <label>Nom de l'organisation recherchée</label>
                    <input required name="denomination" ng-model="to.denomination">
                    <ng-messages for="contactForm.denomination.$error">
                        <ng-message when="required">Ce champ est obligatoire.</ng-message>
                    </ng-messages>
                </md-input-container>

                <div layout="row" layout-wrap>
                    <md-input-container class="no-margin" flex="50">
                        <label>Type de l'organisation recherchée</label>
                        <md-select ng-model="to.type.code" required>
                            <md-optgroup label="SOCIÉTÉS">
                                <md-option ng-value="type.code"
                                            ng-repeat="type in types | filter: {group: 'SOCIETE' }">
                                    {{type.label}}
                                </md-option>
                            </md-optgroup>
                            <md-optgroup label="AVOCATS ET CONSULTANTS">
                                <md-option ng-value="type.code"
                                            ng-repeat="type in types | filter: {group: 'AVO_CONS' }">
                                    {{type.label}}
                                </md-option>
                            </md-optgroup>
                            <md-optgroup label="ORGANISMES REPRESENTATIFS">
                                <md-option ng-value="type.code"
                                            ng-repeat="type in types | filter: {group: 'ORGA_REP' }">
                                    {{type.label}}
                                </md-option>
                            </md-optgroup>
                            <md-optgroup label="ORGANISATIONS NON GOUVERNEMENTALES">
                                <md-option ng-value="type.code"
                                            ng-repeat="type in types | filter: {group: 'ORGA_NON_GOUV' }">
                                    {{type.label}}
                                </md-option>
                            </md-optgroup>
                            <md-optgroup label="ORGANISMES PUBLICS EXERCANT UNE ACTIVITE INDUSTRIELLE ET COMMERCIALE">
                                <md-option ng-value="type.code"
                                            ng-repeat="type in types | filter: {group: 'ORGA_PUB' }">
                                    {{type.label}}
                                </md-option>
                            </md-optgroup>
                            <md-optgroup label="AUTRES ORGANISATIONS">
                                <md-option ng-value="type.code"
                                            ng-repeat="type in types | filter: {group: 'AUTRE' }">
                                    {{type.label}}
                                </md-option>
                            </md-optgroup>
                        </md-select>
                        <ng-messages for="contactForm.type.$error">
                            <ng-message when="required">Ce champ est obligatoire.</ng-message>
                        </ng-messages>
                    </md-input-container>

                    <md-input-container class="no-margin" flex="50">
                        <label>Identifiant de l'organisation recherchée</label>
                        <input name="identifiant" ng-model="to.identifiant">
                    </md-input-container>
                </div>

                <md-input-container class="no-margin">
                    <label>Nom du dirigeant</label>
                    <input name="dirigeant" ng-model="to.dirigeant" required>
                </md-input-container>

                <md-input-container class="no-margin">
                    <label>Adresse</label>
                    <input name="adresse" ng-model="to.adresse" required>
                </md-input-container>

                <div layout="row">
                    <md-input-container flex="20" class="no-margin">
                        <label>Code postal</label>
                        <input name="codePostal" ng-model="to.codePostal" md-maxlength="10">
                        <ng-messages for="contactForm.codePostal.$error">
                            <ng-message when="md-maxlength">Le code postal doit être inférieur à 10 caractères.
                            </ng-message>
                        </ng-messages>
                    </md-input-container>

                    <md-input-container flex="40" class="no-margin">
                        <label>Ville</label>
                        <input name="ville" ng-model="to.ville" required>
                    </md-input-container>

                    <md-input-container flex class="no-margin">
                        <label>Pays</label>
                        <input name="pays" ng-model="to.pays" required>
                    </md-input-container>
                </div>

                <md-input-container class="no-margin">
                    <label>Commentaire</label>
                    <textarea name="commentaire" ng-model="to.commentaire" md-maxlength="500" rows="3"
                                md-no-autogrow></textarea>
                    <ng-messages for="contactForm.commentaire.$error">
                        <ng-message when="md-maxlength">Le commentaire doit être inférieur à 500 caractères.
                        </ng-message>
                    </ng-messages>
                </md-input-container>
            </md-content>

            <md-dialog-actions layout="row" layout="center center">
                <md-button md-colors="::{color: 'registre-primary-400', background: 'registre-background-50'}"
                            ng-click="cancel()" layout="row" layout-align="center center" class="md-primary"
                            flex="50">
                    Annuler
                </md-button>
                <md-button md-colors="::{background: 'registre-primary-400', color: 'registre-background-50'}"
                            type="submit" layout="row" layout-align="center center" class="md-raised md-primary"
                            flex="50" ng-disabled="contactForm.$invalid">
                    Envoyer la demande
                </md-button>
            </md-dialog-actions>
        </form>
    </md-dialog-content>
</md-dialog>