<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<md-content layout="column" layout-padding>
    <div layout="row" class="pad-h-30 pad-v-45">
        <h1 md-colors="::{color : 'registre-primary-400'}" class="md-title md-title-big" flex="40">
            Téléchargement
        </h1>
    </div>

    <md-button class="md-raised"
               md-colors="::{background: 'registre-primary-400', color: 'registre-background-50'}"
               flex
               flex="100" type="submit" layout="row" layout-align="center center"
               class="md-raised md-accent" ng-href="{{downloadExtractionUrl}}/all">
        Télécharger toutes les extractions
    </md-button>
    <md-button class="md-raised"
               md-colors="::{background: 'registre-primary-300', color: 'registre-background-50'}"
               flex
               flex="100" type="submit" layout="row" layout-align="center center"
               class="md-raised md-accent" ng-href="{{downloadExtractionUrl}}/1">
        Télécharger la liste des espaces collaboratifs
    </md-button>
    <md-button class="md-raised"
               md-colors="::{background: 'registre-primary-300', color: 'registre-background-50'}"
               flex
               flex="100" type="submit" layout="row" layout-align="center center"
               class="md-raised md-accent" ng-href="{{downloadExtractionUrl}}/2">
        Télécharger la liste des fiches d'activités
    </md-button>
    <md-button class="md-raised"
               md-colors="::{background: 'registre-primary-300', color: 'registre-background-50'}"
               flex
               flex="100" type="submit" layout="row" layout-align="center center"
               class="md-raised md-accent" ng-href="{{downloadExtractionUrl}}/3">
        Télécharger la liste des comptes personnels créés
    </md-button>
    <md-button class="md-raised"
               md-colors="::{background: 'registre-primary-300', color: 'registre-background-50'}"
               flex
               flex="100" type="submit" layout="row" layout-align="center center"
               class="md-raised md-accent" ng-href="{{downloadExtractionUrl}}/4">
        Télécharger la liste des demandes d'ajout au réferentiels
    </md-button>
    <md-button class="md-raised"
               md-colors="::{background: 'registre-primary-300', color: 'registre-background-50'}"
               flex
               flex="100" type="submit" layout="row" layout-align="center center"
               class="md-raised md-accent" ng-href="{{downloadExtractionUrl}}/5">
        Télécharger le nombre de fiches d'activités
    </md-button>

    <md-button class="md-raised"
               md-colors="::{background: 'registre-primary-300', color: 'registre-background-50'}"
               flex
               flex="100" type="submit" layout="row" layout-align="center center"
               class="md-raised md-accent" ng-click="getChiffresPeriodeFormulaire()">
        Données du mois précédent
    </md-button>
</md-content>