<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<md-content layout="column" flex="100" >
    <md-content layout="column" layout-align="center left" flex="10">
        <div layout="row" layout-align="start center">
            <md-button class="md-fab md-mini md-hue-3" aria-label="retour" href="#!/extractions">
                <md-icon md-svg-icon="{{images_dir}}/icons/ic_reply_white_24px.svg" style="fill: white;"></md-icon>
                <md-tooltip>Retour</md-tooltip>
            </md-button>
            <h2 flex="70" md-colors="::{color: 'registre-primary-200'}" style="padding: 10px;">
                Liste des extractions</h2>
        </div>
    </md-content>

    <md-content class="md-registre-theme layout-column" flex="30">
        <form name="chiffresSurUnePeriodeForm" novalidate ng-class="{'erreurSaisie':hasErrors}" unsaved-form>
            <md-input-container style="width: 20%;">
                <label>Date début de période <strong>(inclue)</strong></label>
                <md-datepicker required ng-model="chiffresSurUnePeriode.dateDebutPeriode" ng-model-options="{timezone: 'utc'}" name="dateDebutPeriode"></md-datepicker>

                <div ng-messages="chiffresSurUnePeriodeForm.dateDebutPeriode.$error">                	
                    <div ng-message="valid">Date non valide</div>
                    <div ng-message="required">Ce champ est obligatoire</div>
                </div>
            </md-input-container>
        </br>
            <md-input-container style="width: 20%;">
                <label>Date fin de période <strong>(exclue)</strong></label>
                <md-datepicker required ng-model="chiffresSurUnePeriode.dateFinPeriode" ng-model-options="{timezone: 'utc'}" name="dateFin"></md-datepicker>

                <div ng-messages="chiffresSurUnePeriodeForm.dateFinPeriode.$error">                	
                    <div ng-message="valid">Date non valide</div>
                    <div ng-message="required">Ce champ est obligatoire</div>
                </div>
            </md-input-container>
        </form>
    </md-content> 

    <md-content class="md-fab" layout-gt-sm="column" layout-align="center center" flex="10">
        <md-button class="md-raised"
               md-colors="::{background: 'registre-primary-300', color: 'registre-background-50'}"
               flex
               flex="100" type="submit" layout="row" layout-align="center center"
               class="md-raised md-accent" ng-click="getChiffresPeriode(chiffresSurUnePeriode)">
            Calculer
        </md-button>
    </md-content>   

    <md-content class="pad-h-100 pad-v-45 detail-validation-content" flex="50">
        <md-content layout-gt-sm="row" flex>
            <p class="pad-h-10p" flex>
                <span>
                    nombre de représentants ayant déclaré des activités sur la période : 
                </span>
                <span style="color:blue; font-size: 24px;">
                    {{chiffresSurUnePeriode.nbRIDeclareActivite}}
                </span> 
            </p>
        </md-content>

        <md-content layout-gt-sm="row" flex>
            <p class="pad-h-10p" flex>
                <span>
                    nombre de fiches d’activités déposées par les représentants d’intérêts sur la période : 
                </span>
                <span style="color:blue; font-size: 24px;">
                    {{chiffresSurUnePeriode.nbActiviteDeposeesRI}}
                </span>  
            </p>
        </md-content>
    </md-content>
</md-content>
