<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<md-content layout="column" layout-padding>
    <div layout="row" class="pad-h-30 pad-v-45">
        <h1 md-colors="::{color : 'registre-primary-400'}" class="md-title md-title-big" flex="35">
            Vous n'avez pas les droits nécessaire pour la navigation
        </h1>
    </div>

    <md-content layout="column" layout-align="center">
        <div layout="row" layout-align="center">
            <a href="#">Contactez votre responsable</a>
        </div>
    </md-content>
</md-content>
