<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<md-content ng-show="isConnected()">
    <md-card-title-text>
        <span class="md-headline">Redirection en cours ...</span>
    </md-card-title-text>
</md-content>
<div layout="column" flex="100" class="home-wrapper">
    <md-content flex layout="row" layout-align="center center" ng-hide="isConnected()">
        <md-content flex flex="50" class="home-background home-box" layout="column" layout-align="center center">
            <a class="home-logo" ui-sref="home" layout="row" layout-align="center start">
                <img ng-src="{{images_dir}}/logo_rouge.svg" alt="{{globalSettings.title}}">
                <h2 class="home-logo-title" md-colors="::{color: 'registre-primary-400'}">
                    <span>Haute autorité</span>
                    <span>pour la transparence</span>
                    <span>de la vie publique</span>
                </h2>
            </a>

            <h1 md-colors="::{color: 'registre-primary-400'}" class="home-title md-title md-title-big">Bienvenue sur le
                <span style="color: #eb1630">back-office</span> du site de télédéclaration des représentants d’intérêts</h1>
        </md-content>
        <md-content flex flex="50" layout="column" layout-align="center center" class="home-box home-forms">

            <md-content class="home-nav" layout="row" layout--align="end center">
                <a class="md-title is-active">Se connecter</a>
            </md-content>

            <ng-include src="home_views.login" class="login"></ng-include>

            <md-content class="home-footer" layout="row" layout-align="space-between center">
                <md-content>
                    <a md-colors="::{color: 'registre-primary-400'}" href="#">Mentions légales</a>
                    <a md-colors="::{color: 'registre-primary-400'}" href="#">hatvp.fr</a>
                </md-content>
                <md-content>
                    <a class="home-footer-links" md-colors="::{color: 'registre-primary-400'}" href="{{lien_guide_utilisation}}">Fiches pratiques</a>
                </md-content>
            </md-content>

        </md-content>
    </md-content>
</div>