<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<md-content style="padding: 20px;">
    <md-content flex="50">
        <p md-colors="::{color: 'registre-primary-400'}" class="md-title md-title-small">
            Liste des espaces collaboratifs
        </p>
    </md-content>

    <md-content>
        <md-subheader class="md-no-sticky" ng-hide="e_collaboratifs.length > 0">Aucun espace collaboratif trouvé.
        </md-subheader>
        <md-table-container>
            <table md-table md-progress="e_collaboratifsTableOptions.promise">
                <thead md-head md-order="e_collaboratifsTableOptions.order" class="md-table-head"
                       md-colors="::{color: 'registre-background-50',background: 'registre-primary-400'}">
                <tr md-row>
                    <th md-column>
                        <md-input-container>
                            <input placeholder="Dénomination" md-colors="::{color: 'registre-background-50'}"
                                   type="text"
                                   ng-model="e_collaboratifsTableOptions.filter.organisationDenomination"
                                   onfocus="event.stopPropagation()">
                        </md-input-container>
                    </th>
                    <th md-column>
                        <md-input-container>
                            <input placeholder="Date d'inscription" md-colors="::{color: 'registre-background-50'}"
                                   type="text"
                                   ng-model="e_collaboratifsTableOptions.filter.dateDemande"
                                   onfocus="event.stopPropagation()">
                        </md-input-container>
                    </th>

                    <th md-column>
                        <md-input-container>
                            <input placeholder="Contacts opérationnels" md-colors="::{color: 'registre-background-50'}"
                                   type="text"
                                   ng-model="e_collaboratifsTableOptions.filter.administrateur"
                                   onfocus="event.stopPropagation()">
                        </md-input-container>
                    </th>

                    <th md-colors="::{color: 'registre-background-50'}" md-column class="center">État de validation</th>

                    <th md-colors="::{color: 'registre-background-50'}" md-column class="center">État d'activation</th>


                    <th md-colors="::{color: 'registre-background-50'}" md-column class="center">Favori</th>

                    <th md-colors="::{color: 'registre-background-50'}" md-column class="center">Verrouillé</th>
                </tr>
                </thead>
                <tbody md-body>
                <tr md-row
                    ng-repeat="d in e_collaboratifs |
            filter: e_collaboratifsTableOptions.filter |
            limitTo: e_collaboratifsTableOptions.limit: (e_collaboratifsTableOptions.page - 1) * e_collaboratifsTableOptions.limit |
            orderBy: e_collaboratifsTableOptions.order" ng-click="corporateDetails($event, d)" class="back-office">
                    <td md-cell>{{d.denomination}}</td>
                    <td md-cell>{{d.dateDemande}}</td>
                    <td md-cell>{{d.administrateurs}}</td>
                    <td md-cell class="center">
                        <md-icon class="md-icon-lock back-office"
                                 md-svg-icon="{{images_dir}}/icons/{{d.dateValidation != null?'validate_black':'unvalidate_black'}}.svg"
                                 aria-label="verrouillé">
                            <md-tooltip>{{d.dateValidation != null?'Espace validé':'Espace en attende validation'}}
                            </md-tooltip>
                        </md-icon>
                    </td>
                    <td md-cell class="center">
                        <md-icon class="md-icon-lock back-office"
                                 md-svg-icon="{{images_dir}}/icons/{{d.actif?'activate':'deactivate'}}.svg"
                                 aria-label="verrouillé">
                            <md-tooltip>{{d.actif?"Espace actif":"Espace en attente d'activation"}}</md-tooltip>
                        </md-icon>
                    </td>

                    <td md-cell class="center">
                        <md-icon class="md-icon-lock back-office"
                                 md-svg-icon="{{images_dir}}/icons/{{d.representantLegal?'ic_favorite_black_24px':'ic_favorite_border_black_24px'}}.svg"
                                 aria-label="verrouillé">
                            <md-tooltip>{{!d.representantLegal?'Espace representantLegal':''}}</md-tooltip>
                        </md-icon>
                    </td>
                    <td md-cell class="center">
                        <md-icon class="md-icon-lock back-office"
                                 md-svg-icon="{{images_dir}}/icons/{{!d.verrouille?'lock':'unlock'}}.svg"
                                 aria-label="verrouillé">
                            <md-tooltip>{{!d.verrouille?'Compte verrouillé':'Compte déverrouillé'}}</md-tooltip>
                        </md-icon>
                    </td>
                </tr>
                </tbody>
            </table>
            <md-table-pagination md-label="{{declarantsTableOptions.labels}}"
                                 md-page="declarantsTableOptions.page" md-limit="declarantsTableOptions.limit"
                                 md-total="{{declarants.length}}"
                                 md-limit-options="declarantsTableOptions.limitOptions"></md-table-pagination>
        </md-table-container>
    </md-content>
</md-content>