<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<form name="declarantEditForm" ng-submit="submit(item, declarantEditForm.$dirty, $event)">
    <md-dialog aria-label="Administration de déclarant">

        <md-dialog-content>
            <div class="md-dialog-header" md-colors="::{background: 'registre-background-50'}" layout="row"
                 layout-align="space-between start">
                <span class="md-title"
                      md-colors="::{color: 'registre-primary-100'}">Gestion des droits de {{item.nom}}</span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-icon="{{images_dir}}/icons/cross.svg" aria-label="Close dialog"></md-icon>
                    <md-tooltip md-direction="bottom">Fermer</md-tooltip>
                </md-button>
            </div>
            <md-content layout="column">
                <md-checkbox ng-model="item.administrator" aria-label="Contact opérationnel" ng-style="style">
                    Contact opérationnel
                </md-checkbox>
                <md-checkbox ng-model="item.contributor" aria-label="Contributeur">
                    Contributeur
                </md-checkbox>
                <md-checkbox ng-model="item.publisher" aria-label="Publicateur">
                    Publicateur
                </md-checkbox>
                <md-switch ng-model="item.locked" md-invert aria-label="Verrouille" ng-style="style">
                    Verrouiller l'accès
                </md-switch>
            </md-content>

            <md-dialog-actions layout="row" layout="center center">
                <md-button flex md-colors="::{background: 'registre-primary-400', color: 'registre-background-50'}"
                           type="submit" layout="row" layout-align="center center" class="md-raised md-primary"
                           ng-disabled="declarantEditForm.$invalid">
                    Valider
                </md-button>
            </md-dialog-actions>
        </md-dialog-content>

    </md-dialog>
</form>