<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<md-content>
    <div layout="row" class="pad-h-30 pad-v-45">
        <h1 md-colors="::{color : 'registre-primary-400'}" class="md-title md-title-big" flex="40">
            Votre espace de gestion des comptes déclarants
        </h1>
    </div>

    <md-content style="padding: 20px;">
        <md-button md-no-ink class="md-primary" ng-click="reset()" ng-if="search" >Effacer les filtres</md-button>
        <md-subheader class="md-no-sticky" ng-hide="declarants.length > 0">Aucun utilisateur enregistré.
        </md-subheader>
        <md-table-container>
            <table md-table md-progress="declarantsTableOptions.promise">
                <thead md-head md-order="declarantsTableOptions.order" class="md-table-head"
                       md-colors="::{color: 'registre-background-50',background: 'registre-primary-400'}">
                <tr md-row>
                    <th md-column md-order-by="nom">
                        <md-input-container>

                            <input placeholder="Nom" md-colors="::{color: 'registre-background-50'}"
                                   type="text"
                                   ng-model="nom"
                                   onclick="event.stopPropagation()"
                                   ng-keydown="$event.keyCode === 13 && callSearch('nom')"
                            >
                        </md-input-container>
                    </th>
                    <th md-column md-order-by="prenom">
                        <md-input-container>
                            <input placeholder="Prénom" md-colors="::{color: 'registre-background-50'}" type="text"
                                   ng-model="prenom" onclick="event.stopPropagation()"
                                   ng-keydown="$event.keyCode === 13 && callSearch('prenom')"
                            >
                        </md-input-container>
                    </th>
                    <th md-column md-order-by="email">
                        <md-input-container>

                            <input placeholder="Email" md-colors="::{color: 'registre-background-50'}"
                                   type="text"
                                   ng-model="email"
                                   onclick="event.stopPropagation()"
                                   ng-keydown="$event.keyCode === 13 && callSearch('email')"
                            >

                        </md-input-container>
                    </th>
                    <th md-column md-order-by="organisations">
                        <md-input-container>
                            <input placeholder="Organisations" md-colors="::{color: 'registre-background-50'}"
                                   type="text"
                                   ng-model="organisations"
                                   onclick="event.stopPropagation()"
                                   ng-keydown="$event.keyCode === 13 && callSearch('organisations')"
                            >
                        </md-input-container>
                    </th>

                    <th md-colors="::{color: 'registre-background-50'}" md-column class="center">Verrouillé</th>
                </tr>
                </thead>
                <tbody md-body>
                <tr md-row
                    ng-repeat="d in declarants |
            orderBy: declarantsTableOptions.order |
            filter: declarantsTableOptions.filter"
                    ng-click="declarantDetails($event, d)" class="back-office">
                    <td md-cell>{{d.nom}}</td>
                    <td md-cell>{{d.prenom}}</td>
                    <td md-cell>{{d.email}}</td>
                    <td md-cell>{{d.organisations}}</td>

                    <td md-cell class="center">
                        <md-icon class="md-icon-lock back-office"
                                 md-svg-icon="{{images_dir}}/icons/{{!d.actif?'lock':'unlock'}}.svg"
                                 aria-label="verrouillé">
                            <md-tooltip>{{!d.actif?'Compte inactif':'Compte actif'}}</md-tooltip>
                        </md-icon>
                    </td>
                </tr>
                </tbody>
            </table>
            <md-table-pagination md-label="{{declarantsTableOptions.labels}}"
                                 md-page="declarantsTableOptions.page" md-limit="declarantsTableOptions.limit"
                                 md-total="{{declarants.totalNumber}}"
                                 md-on-paginate="search ? onPaginateSearch : onPaginate"
                                 md-limit-options="declarantsTableOptions.limitOptions"></md-table-pagination>
        </md-table-container>
    </md-content>
</md-content>