<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<md-content layout-align layout="row" layout-wrap flex="100">

    <md-content layout="column" flex style="max-height: 100%;">
        <form name="dataForm" ng-submit="editDeclarant($event, dataForm.$valid)" novalidate>

            <md-content class="pad-h-100 pad-v-30" layout="column">
                <md-content layout-padding>
                    <div layout="row" layout-wrap>
                        <div layout="row" flex="65">
                            <md-input-container flex-gt-sm="10" flex-sm="100" flex-xs="100">
                                <label>Civilité</label>
                                <md-select name="civil" ng-model="user.civilite">
                                    <md-option value="M">M.</md-option>
                                    <md-option value="MME">Mme</md-option>
                                </md-select>
                            </md-input-container>

                            <md-input-container flex-gt-sm="25" flex-sm="50" flex-xs="100">
                                <label>Nom</label>
                                <input name="nom" ng-model="user.nom">
                            </md-input-container>

                            <md-input-container flex-gt-sm="25" flex-sm="50" flex-xs="100">
                                <label>Prénom</label>
                                <input name="prenom" ng-model="user.prenom">
                            </md-input-container>

                            <md-input-container class="md-block" flex-gt-sm="25" flex-sm="50" flex-xs="100">
                                <label><i class="material-icons">today</i> Date de naissance</label>
                                <md-content flex>
                                    <input required name="date_naissance" ng-model="user.date_naissance" required
                                           ui-mask="99/99/9999"
                                           ui_mask_placeholder="__/__/____" ui-mask-placeholder-char="space"
                                           ng-pattern="/^((0[1-9]|[12][0-9]|3[01])[\/](0[1-9]|1[012])[\/](19|20)[0-‌​9]{2})$/">
                                </md-content>
                            </md-input-container>
                        </div>

                        <div layout="row" flex-gt-sm="30" flex-sm="50" flex-xs="100">
                            <md-input-container class="md-block" flex>
                                <label><i class="material-icons">email</i> Email principal</label>
                                <input type="email" name="email" ng-model="user.email" disabled/>
                            </md-input-container>

                            <md-button style="position: relative; bottom: 25px;" class="md-accent"
                                       ng-click="editEmail($event)" layout="row"
                                       ng-if="isModificateurEmailDeclarant()">
                                <md-icon md-svg-icon="{{images_dir}}/icons/edit.svg" class="md-10"></md-icon>
                                <span>Modifier</span>
                            </md-button>
                        </div>
                    </div>

                    <div layout="row" layout-wrap>
                        <div layout="row" flex="65">
                            <div layout="row" flex-gt-sm="35" flex-sm="100" flex-xs="100" layout-align="start start">
                                <p md-colors="::{color: 'registre-primary-400'}" class="md-title md-title-small">
                                    Moyens de contact
                                </p>
                            </div>

                            <md-input-container class="md-block" flex-gt-sm="25" flex-sm="50" flex-xs="100">
                                <label><i class="material-icons">phone</i> Numéro de téléphone</label>
                                <input name="tel" ng-model="user.telephone" md-maxlength="15"
                                       ng-pattern="/^\+?[\(\)0-9 \-]+$/">
                                <ng-messages for="dataForm.tel.$error">
                                    <ng-message when="pattern">Le format du numéro de téléphone saisi est incorrect.
                                    </ng-message>
                                    <ng-message when="md-maxlength">La longueur du numéro de téléphone doit être
                                        inférieure à 15
                                        caractères.
                                    </ng-message>
                                </ng-messages>
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm="25" flex-sm="50" flex-xs="100">
                                <label><i class="material-icons">today</i> Date de dernière connexion</label>
                                <input type="text" ng-model="user.lastConnexionDate" disabled/>
                            </md-input-container>
                        </div>
                        <div layout="row" flex-gt-sm="30" flex-sm="50" flex-xs="100">
                            <md-input-container class="md-block" flex>
                                <label><i class="material-icons">email</i> Email en attente</label>
                                <input type="email" name="emailTemp" ng-model="user.emailTemp" disabled/>
                            </md-input-container>

                            <md-button style="position: relative; bottom: 25px;" class="md-accent"
                                       ng-click="validateEmail($event)" layout="row"
                                       ng-if="isModificateurEmailDeclarant() && user.emailTemp != null">
                                <md-icon md-svg-icon="{{images_dir}}/icons/validate.svg" class="md-10"></md-icon>
                                <span>Valider</span>
                            </md-button>
                        </div>
                    </div>

                    <div layout="row" layout-wrap>
                        <div layout="column" layout-align="start start" flex-gt-sm="50" flex-sm="45" flex-xs="100">
                            <div ng-include="'partials/emails-list.html'" style="width: 90%"></div>
                        </div>
                        <div layout="column" layout-align="start end" flex-gt-sm="50" flex-sm="45" flex-xs="100">
                            <div ng-include="'partials/tel-list.html'" style="width: 90%"></div>
                        </div>
                    </div>

                    <md-divider flex></md-divider>

                </md-content>

                <div layout="row" layout-align="center center" class="md-button-wrapper">
                    <md-button flex="30" type="submit"
                               class="md-primary md-raised fx-zoom-normal fx-dur-500 fx-ease-expo"
                               md-colors="::{background: 'registre-primary-400', color: 'registre-background-50'}">
                        Enregistrer
                    </md-button>
                </div>
            </md-content>
        </form>


        <md-tabs md-selected="selectedIndex" md-align-tabs="top" md-dynamic-height md-border-bottom>
            <md-tab>
                <md-tab-label>Pièces d'identité</md-tab-label>
                <md-tab-body>
                    <md-content class="pad-h-50 pad-v-30 gestion_espace_tab">
                        <ng-include src="views.DECLARANT_PIECES"></ng-include>
                    </md-content>
                </md-tab-body>
            </md-tab>
            <md-tab>
                <md-tab-label>Liste des espaces collaboratifs</md-tab-label>
                <md-tab-body>
                    <md-content class="pad-h-50 pad-v-30 gestion_espace_tab">
                        <ng-include src="views.COLLABORATION_SPACES"></ng-include>
                    </md-content>
                </md-tab-body>
            </md-tab>
        </md-tabs>
        </div>
    </md-content>

    <md-content layout="column" layout-align flex="20" style="border-left: 1px solid #051639;">
        <comment flex current="user.id" context="1"></comment>
    </md-content>
</md-content>