<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<div ng-controller="DeclarantMenuBarCtrl" flex="100" layout="row">
    <md-content layout="column" layout-align="center left" flex="50">
        <div layout="row" layout-align="start center">
            <md-button class="md-fab md-mini md-hue-3" aria-label="retour" ui-sref="{{returnState}}">
                <md-icon md-svg-icon="{{images_dir}}/icons/ic_reply_white_24px.svg" style="fill: white;"></md-icon>
                <md-tooltip>Retour</md-tooltip>
            </md-button>
            <h2 flex="70" md-colors="::{color: 'registre-primary-200'}" style="padding: 10px;">
                {{menuBarPreviousTitle}}</h2>
        </div>
    </md-content>
    <md-content layout="column" flex="50" style="overflow: hidden;">
        <div layout="row">
            <div flex="{{!isRestricteurDesAcces() ? 85 : 55}}"></div>
            <h2 style="padding: 15px 10px;" flex="30">
                <span>Déclarant {{actif ? 'actif' : 'inactif'}}</span>
            </h2>
            <div layout-align="center right" flex="25" ng-if="isRestricteurDesAcces()">
                <md-button ng-click="swicthDeclarantAccountState()" ng-if="isDeclarantSection"
                           md-colors="::{background: 'registre-primary-400', color: 'registre-background-50'}"
                           layout="row" layout-align="center center" class="md-raised md-primary">
                    {{actif ? 'Désactiver' : 'Activer'}}
                </md-button>
            </div>
        </div>
    </md-content>
</div>