/**
 *
 * Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT
 *
 * custom android material stylesheet
 */
/* fix for svg color fill */
md-icon svg {
    fill: inherit;
}

md-dialog {
    min-width: 500px;
    max-width: 1200px;
}

md-menu-item > .md-button {
    font-size: 12px;
}

md-input-container > md-content, form > md-content {
    overflow: visible;
}

md-datepicker {
    overflow: visible;
}

.md-datepicker-input {
    max-width: none;
    pointer-events:none; /*Bloque saisie manuelle date période extraction */
}

.md-calendar-day-header {
    background-color: #1f2f4e !important;
}

.md-calendar-date.md-calendar-selected-date .md-calendar-date-selection-indicator {
    color: white !important;
}

/* Material icon sizes */
.material-icons.md-12 {
    font-size: 12px;
}

.md-12 > svg {
    height: 12px;
    width: 12px;
}

/* Material icon sizes */
.material-icons.md-18 {
    font-size: 18px;
}

.md-18 > svg {
    height: 18px;
    width: 18px;
}

.md-24 > svg {
    height: 24px;
    width: 24px;
}

.md-36 > svg {
    height: 36px;
    width: 36px;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

.material-icons + p {
    font-size: 12px;
}

/* icon buttons compatibility fix for browsers with no flex support */
.md-button {
    display: -moz-inline-box;
}

.header-nav > .md-button:not(.header-report-button) {
    display: inline-flex;
}

/*@supports (flex-wrap: wrap) {
    .md-button {
        display: inline-block;
    }
}*/

md-card .md-card-content {
    padding: 0;
}

md-card md-card-actions .md-button span {
    font-size: smaller;
}

.md-datepicker-calendar-pane {
    z-index: 1200 !important;
}

@media all and (min-device-width: 600px) {
    md-tooltip {
        font-size: 1rem;
    }

    /* fix for sidenav parent scrolling */
    /*md-backdrop, md-sidenav {
        position: fixed;
    }*/
}

.md-button.md-fontsizeoverride {
    font-size: 10px;
    height: 10px !important;
}

table.md-table .md-table-head th.md-column{
    font-size: 12px!important;
    line-height: 1;
}

th > md-input-container label{
    font-size: 12px!important;
}

.custom-tooltip {
    font-size: 12px!important;
  }

.custom-md-colomn-no-right{
    padding: 0 5px;
}

.custom-md-colomn-small-right{
    padding: 0 25px 0 0;
}
.custom-md-cell-small-right{
    padding: 0 25px 0 0;
}