<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<div flex="100" layout="column" flex="100" md-colors="::{background : 'registre-background-400'}">
    <md-card layout="column" layout-align="center center" class="logo-card">
        <img ng-src="{{images_dir}}/logo_HATVP.png" class="md-card-image default logo" alt="LOGO"
             ng-if="!oldPublication.logo && oldPublication.logo === ''">
        <img ng-src="data:{{oldPublication.logoType}};base64,{{oldPublication.logo}}" class="md-card-image logo"
             alt="Logo"
             ng-if="oldPublication.logo && oldPublication.logo !== ''">
    </md-card>

    <md-input-container>
        <label>Type d'organisation</label>
        <input ng-model="oldPublication.categorieOrganisation.label" disabled/>
    </md-input-container>
    <md-input-container>
        <label>Dénomination</label>
        <input name="denomination" ng-model="oldPublication.denomination" disabled/>
    </md-input-container>
    <md-input-container>
        <label>Nom d'usage</label>
        <input name="nomUsage" ng-model="oldPublication.nomUsage" disabled/>
    </md-input-container>
    <md-input-container>
        <label>Identifiant national</label>
        <input name="identifiant_national" ng-model="oldPublication.identifiantNational" disabled/>
    </md-input-container>
    <md-input-container>
        <label>Type d'identifiant</label>
        <input name="type" ng-model="oldPublication.typeIdentifiantNational" disabled/>
    </md-input-container>
</div>