<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<div flex="100" layout="column" flex="100" md-colors="::{background : 'registre-background-400'}">
    <md-card layout="column" layout-align="center center" class="logo-card">
        <img ng-src="{{images_dir}}/logo_HATVP.png" class="md-card-image default logo" alt="LOGO"
             ng-if="newPublication.logo === ''">
        <img ng-src="data:{{newPublication.logoType}};base64,{{newPublication.logo}}" class="md-card-image logo"
             alt="Logo" ng-if="newPublication.logo !== ''">
    </md-card>
    <!--Type d'organisation-->
     <md-input-container ng-show="!profil.active">
        <label>Type d'organisation</label>
        <input ng-model="newPublication.categorieOrganisation.label" disabled/>
    </md-input-container>
    <div ng-show="profil.active" style="padding: 20px">
        <label>Type d'organisation</label>
        <pre class="textdiff" processing-diff left-obj="oldPublication.categorieOrganisation.label"
             right-obj="newPublication.categorieOrganisation.label" options="options"></pre>
    </div>
    <!--Denomination-->
    <md-input-container ng-show="!profil.active">
        <label>Dénomination</label>
        <input name="denomination" ng-model="newPublication.denomination" disabled/>
    </md-input-container>
    <div ng-show="profil.active" style="padding: 20px">
        <label>Dénomination</label>
        <pre class="textdiff" processing-diff left-obj="oldPublication.denomination"
             right-obj="newPublication.denomination" options="options"></pre>
    </div>
    <!--Nom d'usage-->
    <md-input-container ng-show="!profil.active">
        <label>Nom d'usage</label>
        <input name="nomUsage" ng-model="newPublication.nomUsage" disabled/>
    </md-input-container>
    <div ng-show="profil.active" style="padding: 20px">
        <label>Nom d'usage</label>
        <pre class="textdiff" processing-diff left-obj="oldPublication.nomUsage"
             right-obj="newPublication.nomUsage" options="options"></pre>
    </div>
    <!--Id national-->
    <md-input-container ng-show="!profil.active">
        <label>Identifiant national</label>
        <input name="identifiant_national" ng-model="newPublication.identifiantNational" disabled/>
    </md-input-container>
    <div ng-show="profil.active" style="padding: 0 20px 20px 20px;;">
        <label>Identifiant national</label>
        <pre class="textdiff" processing-diff left-obj="oldPublication.identifiantNational"
             right-obj="newPublication.identifiantNational" options="options"></pre>
    </div>
    <!--ty id national-->
    <md-input-container ng-show="!profil.active">
        <label>Type d'identifiant</label>
        <input name="type" ng-model="newPublication.typeIdentifiantNational" disabled/>
    </md-input-container>
    <div ng-show="profil.active" style="padding: 0 20px 20px 20px;">
        <label>Type d'identifiant</label>
        <pre ng-show="profil.active" class="textdiff" processing-diff left-obj="oldPublication.typeIdentifiantNational"
             right-obj="newPublication.typeIdentifiantNational" options="options"></pre>
    </div>
</div>