<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<style>

    .test {
        position: relative;
        overflow: hidden;
        white-space: nowrap;
        background-color: #fff;
    }

    .test:after {
        content: "";
        pointer-events: none;
        position: absolute;
        width: 100px;
        height: 100%;
        top: 0;
        right: 0;

        background-image: -webkit-linear-gradient(right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
        background-image: -moz-linear-gradient(right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
        background-image: -ms-linear-gradient(right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
        background-image: -o-linear-gradient(right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
        background-image: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    }
    /*451321335*/
</style>
<md-dialog>
    <md-dialog-content>
        <span class="md-title" md-colors="::{color: 'registre-primary-100'}">Mettre une liste d'organisations sous surveillance</span>
        <form name="surveillanceListForm" novalidate>
            <md-content layout="row" layout-align="space-around space-between">

                <table style="min-width: 800px;">
                    <tbody>
                        <tr>
                            <td>
                                <tr ng-repeat="element in ctrl.parent.listeOrganisationsASurveiller">
                                    <td style="width: 110px">{{element.idNational}}</td>
                                    <td ng-if="!element.error" class="test" style="min-width: 400px; max-width: 400px; white-space:nowrap;">{{element.denomination}}
                                        <md-tooltip md-direction="left">{{element.denomination}}</md-tooltip>
                                    </td>
                                    <td ng-if="element.error" style="height:50px; min-width: 200px; max-width: 400px; white-space:nowrap;">{{element.error}}</td>
                                    <td ng-if="!element.error">
                                        <md-input-container style="width: 240px" flex layout-gt-sm="column">
                                            <label>Utilisateurs BO</label>
                                            <md-select name="surveillants" ng-model="element.surveillants"  data-md-container-class="hatvp-select-header" multiple="" ng-required="!element.surveillantsGroupes || element.surveillantsGroupes.length==0" ng-model-options="{trackBy: '$value.id'}">
                                                <md-option
                                                    ng-repeat="user in ctrl.parent.users"
                                                    ng-value="user" ng-class="hatvp-option-black"
                                                    ng-click="userOrGroup(element)">
                                                    {{user.nom}} {{user.prenom}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                    </td>
                            <td ng-if="!element.error">
                                <md-input-container style="width: 240px" flex layout-gt-sm="column">
                                    <label>Groupes BO</label>
                                            <md-select name="surveillantsGroupes" ng-model="element.surveillantsGroupes"  data-md-container-class="hatvp-select-header" multiple="" ng-required="!element.surveillants || element.surveillants.length==0" ng-model-options="{trackBy: '$value.id'}">
                                                <md-option
                                                    ng-repeat="group in ctrl.parent.groups"
                                                    ng-value="group" ng-class="hatvp-option-black"
                                                    ng-click="userOrGroup(element)">
                                                    {{group.libelle}}
                                                </md-option>
                                                        <md-divider></md-divider>

                                            </md-select>
                                        </md-input-container>
                                    </td>
                                    <td ng-if="!element.error">
                                        <md-input-container style="width: 240px" layout-gt-sm="column">
                                            <label>Type de surveillance</label>
                                            <md-select name="type" ng-model="element.typeSurveillance" ng-model-options="{trackBy: '$value.code'}"
                                                       data-md-container-class="hatvp-select-header" multiple="" required>
                                                <md-optgroup label="Démarches administratives">
                                                    <md-option
                                                        ng-repeat="statut in ctrl.parent.statuts | filter: {categorie: 'démarche administrative' }"
                                                        ng-value="statut" ng-class="hatvp-option-black">
                                                        {{statut.label}}
                                                    </md-option>
                                                </md-optgroup>
                                                <md-optgroup label="Modifications de contenu">
                                                    <md-option
                                                        ng-repeat="statut in ctrl.parent.statuts | filter: {categorie: 'modification de contenu' }"
                                                        ng-value="statut" ng-class="hatvp-option-black">
                                                        {{statut.label}}
                                                    </md-option>
                                                </md-optgroup>
                                            </md-select>
                                        </md-input-container>
                                        </td>
                                    <td ng-if="!element.error">
                                        <md-button md-colors="::{background: 'registre-primary-A700'}" class="md-fab md-mini"
                                                   aria-label="retirer" ng-click="removeOneFromList(element)">
                                            <md-icon md-svg-icon="{{images_dir}}/icons/delete_poubelle.svg"
                                                     style="fill: white;"></md-icon>
                                            <md-tooltip>Retirer</md-tooltip>
                                        </md-button>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="6">
                                        <md-input-container class="md-block">
                                            <label>Motif</label>
                                            <textarea name="motif"  md-maxlength="300" ng-model="ctrl.parent.motif">
                                                </ng-message>
                                                    <ng-message when="md-maxlength">La longueur du motif ne peut pas dépasser 300 caractères
                                                </ng-message>
                                            </textarea>
                                        </md-input-container>
                                    </td>
                                </tr>

                    </tbody>
                </table>
            </md-content>
            <md-dialog-actions layout="row" layout="center center">
                <md-button ng-click="closeModal($event)" md-colors="::{background: 'registre-primary-400', color: 'registre-background-50'}"
                           class="md-raised md-primary"> Annuler
                </md-button>
                <md-button type="submit" ng-click="saveSurveillanceList($event)"
                           md-colors="(surveillanceListForm.$invalid || checkValidityList()) ? {background: 'registre-primary-300', color: 'registre-background-40'} : {background: 'registre-primary-400', color: 'registre-background-50'}"
                           class="md-raised md-primary" ng-disabled="surveillanceListForm.$invalid || checkValidityList()">Enregistrer
                </md-button>
            </md-dialog-actions>
        </form>
    </md-dialog-content>
</md-dialog>