<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<md-dialog flex="50">
    <md-dialog-content flex="100" layout="column">
        <span class="md-title" md-colors="::{color: 'registre-primary-100'}">Mettre une liste d'organisations sous surveillance</span>
        <form name="surveillanceVerifyForm" novalidate>
            <md-input-container layout="row" layout-align="center center"
                                class="md-block">
                <label><i class="material-icons">info</i> Liste des organisations</label><br/>
                <textarea name="list" required ng-model="ctrl.parent.list" rows="5" max-rows="10" ng-list="&#10;" md-maxlength="1500"
                          ng-trim="false" ng-pattern="/^([^,\\/;|]\n?)+$/"></textarea>
                <ng-messages for="dataForm.list.$error">
                    <ng-message when="pattern">Attention cette zone ne permet que la saisie de numéros SIREN, SIRET, RNA et
                        HATVP (caractères W,H et chiffres autorisés).
                        <br/>
                        Merci de séparer vos saisies par des retours à la ligne.
                    </ng-message>
                    <ng-message when="md-maxlength">La longueur de la liste ne peut pas dépasser 1500 caractères
                    </ng-message>
                </ng-messages>
            </md-input-container>
            <md-dialog-actions layout="row" layout="center center">
                <md-button ng-click="closeModal($event)" md-colors="::{background: 'registre-primary-400', color: 'registre-background-50'}"
                           class="md-raised md-primary"> Annuler
                </md-button>
                <md-button type="submit" ng-click="submitList($event)"
                           md-colors="surveillanceVerifyForm.$invalid ? {background: 'registre-primary-300', color: 'registre-background-40'} : {background: 'registre-primary-400', color: 'registre-background-50'}"
                           class="md-raised md-primary" ng-disabled="surveillanceVerifyForm.$invalid">Valider
                </md-button>
            </md-dialog-actions>
        </form>
    </md-dialog-content>
</md-dialog>