<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<md-content layout="column" layout-padding>
    <div layout="row" class="pad-h-30 pad-v-45">
        <h1 md-colors="::{color : 'registre-primary-400'}" class="md-title md-title-big" flex="40">
            Surveillance des organisations
        </h1>
    </div>


    <md-content layout="column" layout-align="center" class="no-margin">
        <md-button ng-click="putListOrganisationUnderWatch($event)" class="link">Mettre sous surveillance une liste d'organisations
        </md-button>
        <br/>
        <md-button md-no-ink class="md-primary" ng-click="reset()" ng-if="search">Effacer les filtres</md-button>
        <md-table-container>
            <table md-table md-progress="surveillanceTableOptions.promise">
                <thead md-head md-order="surveillanceTableOptions.order" class="md-table-head"
                       md-colors="::{color: 'registre-background-50',background: 'registre-primary-400'}">
                <tr md-row>
                    <th md-column md-order-by="denomination">
                        <md-input-container>
                            <input placeholder="Dénomination" md-colors="::{color: 'registre-background-50'}"
                                   type="text"
                                   ng-model="denominationSearch"
                                   onclick="event.stopPropagation()"
                                   ng-keydown="$event.keyCode === 13 && callSearch('denomination')">
                            >
                        </md-input-container>
                    </th>
                    <th md-column md-order-by="nomUsage">
                        <md-input-container>
                            <input placeholder="Nom d'usage" md-colors="::{color: 'registre-background-50'}" type="text"
                                   ng-model="nomUsageSearch"
                                   onclick="event.stopPropagation()"
                                   ng-keydown="$event.keyCode === 13 && callSearch('nomUsage')">
                        </md-input-container>
                    </th>
                    <th md-colors="::{color: 'registre-background-50'}" md-column md-order-by="dateSurveillance"
                        class="center">
                        <md-input-container>
                            <input placeholder="Date de mise sous surveillance" md-colors="::{color: 'registre-background-50'}" md-colors="::{color: 'registre-background-50'}"
                                   type="text"
                                   ui-mask="99/99/9999" ui_mask_placeholder="__/__/____" ui-mask-placeholder-char="space"
                                   ng-pattern="/^((0[1-9]|[12][0-9]|3[01])[\/](0[1-9]|1[012])[\/](19|20)[0-‌​9]{2})$/"
                                   ng-model="dateSurveillanceSearch"
                                   onclick="event.stopPropagation()"
                                   ng-keydown="$event.keyCode === 13 && callSearch('dateSurveillance')"
                            >
                        </md-input-container>
                    </th>
                    <th md-column md-order-by="motif">
                        <md-input-container>
                            <input placeholder="Motif de la surveillance" md-colors="::{color: 'registre-background-50'}" type="text"
                                   ng-model="motifSearch"
                                   onclick="event.stopPropagation()"
                                   ng-keydown="$event.keyCode === 13 && callSearch('motif')">
                        </md-input-container>
                    </th>
                    <th md-column class="center" md-colors="::{color: 'registre-background-50'}">
                        <md-input-container>
                            <md-select style="background-color: white;" md-colors="::{color: 'grey-A100'}" ng-model="statutSearch" placeholder="Statut"
                                       ng-change="statutChanged(statutSearch)" class="md-no-underline">
                                <md-option md-colors="::{color: 'grey-A200'}" ng-value="statut.code" ng-repeat="statut in statutsSearch track by $index">{{statut.label}}</md-option>
                            </md-select>
                        </md-input-container>
                    </th>
                    <th md-colors="::{color: 'registre-background-50'}" md-column class="center">Action</th>
                </tr>
                </thead>
                <tbody md-body>
                <tr md-row ng-repeat="s in surveillances | orderBy: surveillanceTableOptions.order:true | filter: surveillanceTableOptions.filter" class="back-office">
                    <td md-cell>{{s.denomination}}</td>
                    <td md-cell>{{s.nomUsage}}</td>
                    <td md-cell class="center">{{s.dateSurveillance}}</td>
                    <td md-cell>{{s.motif}}</td>
                    <td md-cell class="center">{{s.statut}}</td>
                    <td md-cell class="center">
                        <md-button class="md-primary" ng-click="openUpdateSurveillance($event, s)" title="Modifier les agents surveillants et les types de surveillance"
                                   aria-label="Modifier">
                            <span>Modifier</span>
                        </md-button>
                        <md-button class="md-primary" ng-click="removeSurveillance($event, s)" title="Enlever la mise sous surveillance de l'organisation" aria-label="Retirer">
                            <span>Retirer</span>
                        </md-button>
                    </td>
                </tr>
                </tbody>
            </table>
            <md-table-pagination md-label="{{surveillanceTableOptions.labels}}"
                                 md-page="surveillanceTableOptions.page" md-limit="surveillanceTableOptions.limit"
                                 md-total="{{surveillances.totalNumber}}" md-page-select
                                 md-on-paginate="search ? onPaginateSearch : onPaginate"
                                 md-limit-options="surveillanceTableOptions.limitOptions"></md-table-pagination>
        </md-table-container>
        <md-button export-surveillance>Télécharger</md-button>
        <md-subheader class="md-no-sticky" ng-hide="surveillances.length > 0">Aucune organisation mise sous surveilance
        </md-subheader>
    </md-content>
</md-content>