<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<md-dialog flex="50">
    <md-dialog-content flex="100" layout="column">
        <form name="surveillanceForm" ng-submit="updateSurveillance($event)">
            <span class="md-title" md-colors="::{color: 'registre-primary-100'}">Mettre l'organisation sous surveillance</span>
            <md-content layout="column" layout-margin layout-padding>
                <fieldset class="pad-h-5 pad-v-5 paragraph">
                    Selectionnez les agents surveillants et les types de surveillance
                </fieldset>
            </md-content>
            <md-input-container flex>
                <label>Groupes BO </label>
                <md-select name="surveillantsGroupes" ng-model="ctrl.parent.surveillance.surveillantsGroupes"  data-md-container-class="hatvp-select-header" multiple="" ng-required="ctrl.parent.surveillance.surveillants.length==0" ng-model-options="{trackBy: '$value.id'}">
                    <md-option
                        ng-repeat="group in ctrl.parent.groups track by group.id"
                        ng-value="group" ng-class="hatvp-option-black">
                        {{group.libelle}}
                    </md-option>
                </md-select>
            </md-input-container>

            <md-input-container flex >
                <label>Utilisateurs BO</label>
                <md-select name="surveillantsUser" ng-model="ctrl.parent.surveillance.surveillants"  data-md-container-class="hatvp-select-header" multiple="" ng-required="ctrl.parent.surveillance.surveillantsGroupes.length==0" ng-model-options="{trackBy: '$value.id'}">
                    <md-option
                        ng-repeat="user in ctrl.parent.users track by user.id"
                        ng-value="user" ng-class="hatvp-option-black">
                        {{user.nom}} {{user.prenom}}
                    </md-option>
                </md-select>
            </md-input-container>

            <md-input-container flex >
                <label>Type de surveillance</label>
                <md-select name="type" ng-model="ctrl.parent.surveillance.typeSurveillance" ng-model-options="{trackBy: '$value.code'}"
                           data-md-container-class="hatvp-select-header" multiple="" required>
                    <md-optgroup label="Démarches administratives">
                        <md-option
                            ng-repeat="statut in statuts | filter: {categorie: 'démarche administrative' }"
                            ng-value="statut" ng-class="hatvp-option-black">
                            {{statut.label}}
                        </md-option>
                    </md-optgroup>
                    <md-optgroup label="Modifications de contenu">
                        <md-option
                            ng-repeat="statut in statuts | filter: {categorie: 'modification de contenu' }"
                            ng-value="statut" ng-class="hatvp-option-black">
                            {{statut.label}}
                        </md-option>
                    </md-optgroup>
                </md-select>
            </md-input-container>

            <md-input-container class="md-block">
                <label>Motif</label>
                <textarea name="motif"  md-maxlength="300" ng-model="ctrl.parent.surveillance.motif">
                    </ng-message>
                        <ng-message when="md-maxlength">La longueur du motif ne peut pas dépasser 300 caractères
                    </ng-message>
                </textarea>
            </md-input-container>

            <md-dialog-actions layout="row" layout="center center">
                <md-button ng-click="closeModal($event)" md-colors="::{background: 'registre-primary-400', color: 'registre-background-50'}"
                           class="md-raised md-primary"> Annuler
                </md-button>
                <md-button type="submit" md-colors="surveillanceForm.$invalid ? {background: 'registre-primary-300', color: 'registre-background-40'} : {background: 'registre-primary-400', color: 'registre-background-50'}"
                           class="md-raised md-primary" ng-disabled="surveillanceForm.$invalid">Modifier
                </md-button>
            </md-dialog-actions>
        </form>
    </md-dialog-content>
</md-dialog>