<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<md-table-container ng-show="oldCollaborateurs.length > 0">
    <table md-table md-progress="progress">
        <thead md-head md-order="c.sortOrder" class="md-table-head"
               md-colors="::{color: 'registre-background-50',background: 'registre-primary-400'}">
        <tr md-row>
            <th md-column>
                <md-input-container>
                    <input placeholder="Civilité" md-colors="::{color: 'registre-background-50'}" type="text"
                           ng-model="collaborateursTableOptions.filter.civilite" onclick="event.stopPropagation()">
                </md-input-container>
            </th>
            <th md-column>
                <md-input-container>
                    <input placeholder="Nom" md-colors="::{color: 'registre-background-50'}" type="text"
                           ng-model="collaborateursTableOptions.filter.nom" onclick="event.stopPropagation()">
                </md-input-container>
            </th>
            <th md-column>
                <md-input-container>
                    <input placeholder="Prénom" md-colors="::{color: 'registre-background-50'}" type="text"
                           ng-model="collaborateursTableOptions.filter.prenom" onclick="event.stopPropagation()">
                </md-input-container>
            </th>
            <th md-column>
                <md-input-container>
                    <input placeholder="Fonctions exercées" md-colors="::{color: 'registre-background-50'}" type="text"
                           ng-model="collaborateursTableOptions.filter.fonction" onclick="event.stopPropagation()">
                </md-input-container>
            </th>
        </tr>
        </thead>
        <tbody md-body>
        <tr md-row id="collab_old_{{$index}}" ng-repeat="c in oldCollaborateurs |
            filter: collaborateursTableOptions.filter |
            limitTo: collaborateursTableOptions.limit: (collaborateursTableOptions.page - 1) * collaborateursTableOptions.limit">
            <td md-cell>{{c.civilite}}</td>
            <td md-cell>{{c.nom}}</td>
            <td md-cell>{{c.prenom}}</td>
            <td md-cell>{{c.fonction}}</td>
        </tr>
        </tbody>
    </table>
    <md-table-pagination md-label="{{collaborateursTableOptions.labels}}"
                         md-page="collaborateursTableOptions.page" md-limit="collaborateursTableOptions.limit"
                         md-total="{{oldCollaborateurs.length}}"
                         md-limit-options="collaborateursTableOptions.limitOptions"
                         md-page-select></md-table-pagination>
</md-table-container>
