<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<md-subheader class="md-no-sticky" ng-hide="newCollaborateurs.length > 0">Aucun collaborateur enregistré.</md-subheader>
<md-table-container ng-show="newCollaborateurs.length > 0">
    <table md-table md-progress="progress">
        <thead md-head md-order="c.sortOrder" class="md-table-head"
               md-colors="::{color: 'registre-background-50',background: 'registre-primary-400'}">
        <tr md-row>
            <th md-column>
                <md-input-container>
                    <input placeholder="Civilité" md-colors="::{color: 'registre-background-50'}" type="text"
                           ng-model="newCollaborateursTableOptions.filter.civilite" onclick="event.stopPropagation()">
                </md-input-container>
            </th>
            <th md-column>
                <md-input-container>
                    <input placeholder="Nom" md-colors="::{color: 'registre-background-50'}" type="text"
                           ng-model="newCollaborateursTableOptions.filter.nom" onclick="event.stopPropagation()">
                </md-input-container>
            </th>
            <th md-column>
                <md-input-container>
                    <input placeholder="Prénom" md-colors="::{color: 'registre-background-50'}" type="text"
                           ng-model="newCollaborateursTableOptions.filter.prenom" onclick="event.stopPropagation()">
                </md-input-container>
            </th>
            <th md-column>
                <md-input-container>
                    <input placeholder="Fonctions exercées" md-colors="::{color: 'registre-background-50'}" type="text"
                           ng-model="newCollaborateursTableOptions.filter.fonction" onclick="event.stopPropagation()">
                </md-input-container>
            </th>
        </tr>
        </thead>
        <tbody md-body>
        <tr md-row id="collab_{{$index}}" ng-repeat="c in newCollaborateurs |
            filter: newCollaborateursTableOptions.filter |
            limitTo: newCollaborateursTableOptions.limit: (newCollaborateursTableOptions.page - 1) * newCollaborateursTableOptions.limit">
            <td md-cell>{{c.civilite}}</td>
            <td md-cell>{{c.nom}}</td>
            <td md-cell>{{c.prenom}}</td>
            <td md-cell>{{c.fonction}}</td>
        </tr>
        </tbody>
    </table>
    <md-table-pagination md-label="{{newCollaborateursTableOptions.labels}}"
                         md-page="newCollaborateursTableOptions.page" md-limit="newCollaborateursTableOptions.limit"
                         md-total="{{newCollaborateurs.length}}"
                         md-limit-options="newCollaborateursTableOptions.limitOptions"
                         md-page-select></md-table-pagination>
</md-table-container>
