<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<md-dialog aria-label="demande de désinscription" flex="70" ng-controller="UnsubscribeCtrl">
    <md-dialog-content flex="100" layout="column">
        <span class="md-title"  md-colors="::{color: 'registre-primary-100'}">Demande de désinscription</span>
        <md-content layout="row" flex layout-align="center center">
            <fieldset flex="80" class="standard"style="border: 0;">
                <md-content layout="column" layout-align="center center">
                    <p>Vous avez demandé à désinscrire l’entité {{espace.organisationDenomination}} du répertoire des représentants d’intérêts sur lequel celle-ci
                        {{pubCount.nbrePubActivites =="0" ? " n'a publié aucune" : (pubCount.nbrePubActivites =="-1") ? " a publié une déclaration d'activité nulle " : " a publié "+pubCount.nbrePubActivites}}
                        {{pubCount.nbrePubActivites =="0" || pubCount.nbrePubActivites =="1"? " activité" : (pubCount.nbrePubActivites =="-1") ? "" : " activités"}}{{pubCount.nbrePubMoyens =="0" ? ", et aucun" : (pubCount.nbrePubMoyens =="-1") ? "" : ", et "+pubCount.nbrePubMoyens}}
                        {{pubCount.nbrePubMoyens =="0" || pubCount.nbrePubMoyens =="1"? " moyen" : (pubCount.nbrePubMoyens =="-1") ? "" : " moyens"}} pour
                        la période {{pubCount.periode}}. Afin de valider votre demande de désinscription, le représentant légal de votre organisation doit remplir
                        le modèle d’attestation confirmant la désinscription du répertoire des représentants d’intérêts. Attention, si vous prévoyez que votre organisation
                        remplisse à nouveau les critères de définition d’un représentant d’intérêts les années suivantes, nous vous conseillons de ne pas poursuivre la procédure
                        de désinscription et de choisir d’effectuer des déclarations nulles d’activités [<a href="https://www.hatvp.fr/espacedeclarant/representation-dinterets/les-representants-dinterets/#post_7635" onclick="window.open(this.href); return false;">FAQ</a>]
                    </p>
                    <md-button class="md-primary"
                               ng-click="downloadAttestPdf()">
                        Télécharger le modèle d’attestation
                    </md-button>
                    <br/>
                    <md-dialog-actions layout="row" flex="100" layout="center center">
                        <md-button flex="30"
                                   md-colors="::{background: 'registre-background-50', color: 'registre-primary-400'}"
                                   type="submit" layout="row" layout-align="center center"
                                   class="md-raised md-primary"
                                   ng-click="cancel()">
                            Annuler
                        </md-button>
                        <md-button flex="100"
                                   md-colors="::{background: 'registre-primary-400', color: 'registre-background-50'}"
                                   type="submit" layout="row" layout-align="center center"
                                   class="md-raised md-primary"
                                   ng-click="formDesinscription()">
                            Poursuivre vers le formulaire de désinscription
                        </md-button>
                    </md-dialog-actions>
                </md-content>
            </fieldset>
        </md-content>
    </md-dialog-content>
</md-dialog>

