<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<md-dialog aria-label="demande de désinscription" flex="70" ng-controller="UnsubscribeCtrl">
    <md-dialog-content flex="100" layout="column">
        <span class="md-title"  md-colors="::{color: 'registre-primary-100'}">Demande de désinscription</span>
        <md-content layout="row" flex layout-align="center center">
            <fieldset flex="80" class="standard"style="border: 0;">
                <md-content layout="column" layout-align="center center">
                    <p>
                        Vous avez demandé la désinscription de l’entité {{espace.organisationDenomination}} du répertoire des représentants d’intérêts.
                        Cette entité est inscrite depuis le {{espace.espaceOrganisationDateCreation}} et n’a à ce jour, pas communiqué de fiche d’activités ou de moyens alloués à la représentation d’intérêts.
                        Souhaitez-vous continuer ?
                    </p>
                    <br/>
                    <md-dialog-actions layout="row" flex="100" layout="center center">
                        <md-button flex="30"
                                   md-colors="::{background: 'registre-background-50', color: 'registre-primary-400'}"
                                   type="submit" layout="row" layout-align="center center"
                                   class="md-raised md-primary"
                                   ng-click="cancel()">
                            Fermer
                        </md-button>
                        <md-button flex="85"
                                   md-colors="::{background: 'registre-primary-400', color: 'registre-background-50'}"
                                   type="submit" layout="row" layout-align="center center"
                                   class="md-raised md-primary"
                                   ng-click="desinscriptionNoActivite()">
                            Poursuivre la demande de désinscription
                        </md-button>
                    </md-dialog-actions>
                </md-content>
            </fieldset>
        </md-content>
    </md-dialog-content>
</md-dialog>

