<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<md-dialog aria-label="demande de désinscription" flex="70" ng-controller="UnsubscribeCtrl">
    <md-dialog-content flex="100" layout="column">
         <span class="md-title"  md-colors="::{color: 'registre-primary-100'}">Demande de désinscription</span>

        <form  name="dataForm" ng-submit="unsubscribe($event, dataForm.$valid, dataForm)" novalidate>
            <md-content layout="row" flex layout-align="center center">
                <fieldset flex="80" class="standard">
                    <md-content layout="column" layout-align="center center">
                        <h4>Veuillez sélectionner un motif pour la demande</h4>
                        <md-input-container class="md-subhead" aria-label="Veuillez sélectionner un motif pour la demande">
                            <md-select ng-model="desinscription.motif" placeholder="Motif de désinscription" required>
                                <md-option value="CESSATION">Cessation des activités (radiation, procédure collective etc.) </md-option>
                                <md-option value="ABANDON">Abandon de la qualité de représentant d’intérêts de manière pérenne </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <h4>Date de désinscription effective </h4>
                            <input required name="datedesinscription" ng-model="cessationDate" required
                                   ui-mask="99/99/9999"
                                   ui_mask_placeholder="__/__/____" ui-mask-placeholder-char="space"
                                   ng-patternS="/^((0[1-9]|[12][0-9]|3[01])[\/](0[1-9]|1[012])[\/](20)[0-‌​9]{2})$/">
                        </md-input-container>
                        <md-input-container layout="row" layout-align="center center" class="md-block" flex-gt-sm="30" flex-sm="50" flex-xs="80">
                            <h4>Observations relatives à cette demande {{desinscription.motif}}</h4>
                            <textarea ng-required="true" name="observations" ng-model="desinscription.observationDeclarant" rows="3" md-maxlength="255" ng-trim="true"></textarea>
                        </md-input-container>
                        <div layout="column" layout-align="center end">
                            <div class="paragraph">
                                <lf-ng-md-file-input name="file"
                                                     lf-files="file"
                                                     lf-required
                                                     accept="application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/pdf"
                                                     lf-mimetype="application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/pdf"
                                                     lf-placeholder="Formulaire de désinscription signé par le représentant légal de votre organisation (taille maximale {{maxFileSizeInMB}} Mo) *"
                                                     progress
                                                     lf-filesize="{{maxFileSizeInMB}}MB"
                                                     lf-browse-label="Joindre fichier"
                                                     lf-remove-label="Supprimer"
                                                     class="input-file"
                                                     multiple>
                                </lf-ng-md-file-input>
                            </div>

                        </div>
                        <md-dialog-actions layout="row" flex="100" layout="center center">
                            <md-button flex="30"
                                       md-colors="::{background: 'registre-background-50', color: 'registre-primary-400'}"
                                       layout="row" layout-align="center center"
                                       class="md-raised md-primary"
                                       ng-click="cancel()">
                                Fermer
                            </md-button>
                            <md-button flex="70"
                                       md-colors="::{background: 'registre-primary-400', color: 'registre-background-50'}"
                                       type="submit" layout="row" layout-align="center center"
                                       class="md-raised md-primary"
                                       ng-disabled="dataForm.$invalid">
                                Envoyer la demande
                            </md-button>
                        </md-dialog-actions>
                    </md-content>
                </fieldset>
            </md-content>
        </form>
    </md-dialog-content>
</md-dialog>

