<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<md-content flex layout-padding layout="column" layout-align="center center" class="block-ui-overlay"
            style="z-index:99;  background-color: #fefefe;">
    <h3>Veuillez patienter ...</h3>
    <div layout="row" layout-sm="column" layout-align="space-around" style="z-index:99999;">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
</md-content>