<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<md-table-container ng-show="oldDirigeants.length > 0">
    <table md-table md-progress="progress">
        <thead md-head md-order="dirigeantsTableOptions.order" class="md-table-head"
               md-colors="::{color: 'registre-background-50',background: 'registre-primary-400'}">
        <tr md-row>
            <th md-column>
                <md-input-container>
                    <input placeholder="Civilité" md-colors="::{color: 'registre-background-50'}" type="text"
                           ng-model="dirigeantsTableOptions.filter.civilite" onclick="event.stopPropagation()">
                </md-input-container>
            </th>
            <th md-column>
                <md-input-container>
                    <input placeholder="Nom" md-colors="::{color: 'registre-background-50'}" type="text"
                           ng-model="dirigeantsTableOptions.filter.nom" onclick="event.stopPropagation()">
                </md-input-container>
            </th>
            <th md-column>
                <md-input-container>
                    <input placeholder="Prénom" md-colors="::{color: 'registre-background-50'}" type="text"
                           ng-model="dirigeantsTableOptions.filter.prenom" onclick="event.stopPropagation()">
                </md-input-container>
            </th>
            <th md-column>
                <md-input-container>
                    <input placeholder="Fonctions exercées" md-colors="::{color: 'registre-background-50'}" type="text"
                           ng-model="dirigeantsTableOptions.filter.fonction" onclick="event.stopPropagation()">
                </md-input-container>
            </th>
        </tr>
        </thead>
        <tbody md-body>
        <tr md-row id="dirigeant_old_{{$index}}" ng-repeat="d in oldDirigeants |
            orderBy: dirigeantsTableOptions.order |
            filter: dirigeantsTableOptions.filter |
            limitTo: dirigeantsTableOptions.limit: (dirigeantsTableOptions.page - 1) * dirigeantsTableOptions.limit">
            <td md-cell>{{d.civilite}}</td>
            <td md-cell>{{d.nom}}</td>
            <td md-cell>{{d.prenom}}</td>
            <td md-cell>{{d.fonction}}</td>
        </tr>
        </tbody>
    </table>
    <md-table-pagination md-label="{{dirigeantsTableOptions.labels}}"
                         md-page="dirigeantsTableOptions.page" md-limit="dirigeantsTableOptions.limit"
                         md-total="{{oldDirigeants.length}}"
                         md-limit-options="dirigeantsTableOptions.limitOptions"
                         md-page-select></md-table-pagination>
</md-table-container>