<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<md-subheader class="md-no-sticky" ng-hide="newDirigeants.length > 0">Aucun dirigeant enregistré.</md-subheader>
<md-table-container ng-show="newDirigeants.length > 0">
    <table md-table md-progress="progress">
        <thead md-head md-order="newDirigeantsTableOptions.order" class="md-table-head"
               md-colors="::{color: 'registre-background-50',background: 'registre-primary-400'}">
        <tr md-row>
            <th md-column>
                <md-input-container>
                    <input placeholder="Civilité" md-colors="::{color: 'registre-background-50'}" type="text"
                           ng-model="newDirigeantsTableOptions.filter.civilite" onclick="event.stopPropagation()">
                </md-input-container>
            </th>
            <th md-column>
                <md-input-container>
                    <input placeholder="Nom" md-colors="::{color: 'registre-background-50'}" type="text"
                           ng-model="newDirigeantsTableOptions.filter.nom" onclick="event.stopPropagation()">
                </md-input-container>
            </th>
            <th md-column>
                <md-input-container>
                    <input placeholder="Prénom" md-colors="::{color: 'registre-background-50'}" type="text"
                           ng-model="newDirigeantsTableOptions.filter.prenom" onclick="event.stopPropagation()">
                </md-input-container>
            </th>
            <th md-column>
                <md-input-container>
                    <input placeholder="Fonctions exercées" md-colors="::{color: 'registre-background-50'}" type="text"
                           ng-model="newDirigeantsTableOptions.filter.fonction" onclick="event.stopPropagation()">
                </md-input-container>
            </th>
        </tr>
        </thead>
        <tbody md-body>
        <tr md-row id="dirigeant_{{$index}}" ng-repeat="d in newDirigeants |
            orderBy: newDirigeantsTableOptions.order |
            filter: newDirigeantsTableOptions.filter |
            limitTo: newDirigeantsTableOptions.limit: (newDirigeantsTableOptions.page - 1) * newDirigeantsTableOptions.limit">
            <td md-cell>{{d.civilite}}</td>
            <td md-cell>{{d.nom}}</td>
            <td md-cell>{{d.prenom}}</td>
            <td md-cell>{{d.fonction}}</td>
        </tr>
        </tbody>
    </table>
    <md-table-pagination md-label="{{newDirigeantsTableOptions.labels}}"
                         md-page="newDirigeantsTableOptions.page" md-limit="newDirigeantsTableOptions.limit"
                         md-total="{{newDirigeants.length}}"
                         md-limit-options="newDirigeantsTableOptions.limitOptions"
                         md-page-select></md-table-pagination>
</md-table-container>