<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<div flex="100" layout="column" flex="100" md-colors="::{background : 'registre-background-400'}">
    <md-input-container ng-show="!contact.active">
        <label>Numéro de téléphone</label>
        <input name="telephone" ng-model="newPublication.telephoneDeContact" disabled>
        <span ng-if="!newPublication.publierMonTelephoneDeContact" md-colors="::{color: 'registre-accent-600'}">
            Vous avez choisi de ne pas rendre public votre numéro de téléphone, en conséquence celui-ci n'apparaitra pas sur le site de la Haute Autorité.
        </span>
    </md-input-container>
    <div ng-show="contact.active" style="padding: 20px">
        <label>Numéro de téléphone</label>
        <pre class="textdiff" processing-diff left-obj="oldPublication.telephoneDeContact"
             right-obj="newPublication.telephoneDeContact" options="options"></pre>
    </div>
    <md-input-container ng-show="!contact.active">
        <label>Adresse courriel</label>
        <input name="email" ng-model="newPublication.emailDeContact" disabled/>
        <span ng-if="!newPublication.publierMonAdresseEmail" md-colors="::{color: 'registre-accent-600'}">
            Vous avez choisi de ne pas rendre publique votre adresse de contact, en conséquence celle-ci n'apparaitra pas sur le site de la Haute Autorité.
        </span>
    </md-input-container>
    <div ng-show="contact.active" style="padding: 0 20px 20px 20px;">
        <label>Adresse courriel</label>
        <pre class="textdiff" processing-diff left-obj="oldPublication.emailDeContact"
             right-obj="newPublication.emailDeContact" options="options"></pre>
    </div>
</div>