<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<div flex="100" layout="column" flex="100" md-colors="::{background : 'registre-background-400'}">
    <md-content layout="column" layout-margin layout-padding>

        <div layout="column" layout-margin layout-padding>
            <fieldset class="standard">
                <legend style="font-weight: bold;">Niveaux d'intervention tous secteurs confondus</legend>
                <div layout="row" layout-wrap flex>
                    <div flex="100" ng-repeat="item in niveauIntervention">
                        <p id="activity_new_niv_{{$index}}"> {{ item.ordre + ". " + item.label }}</p>
                    </div>
                </div>
            </fieldset>
        </div>
        <div layout="column" layout-margin layout-padding>
            <fieldset class="standard">
                <legend style="font-weight: bold;">Principaux secteurs d'activités</legend>
                <div layout="row" layout-wrap flex>
                    <div flex="100" ng-repeat="item in secteurActivite">
                        <p id="activity_new_sec_{{$index}}"> {{ item.ordre + ". " + item.label }}</p>
                    </div>
                </div>
            </fieldset>
        </div>
    </md-content>
</div>