<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<md-table-container ng-show="associations.length > 0">
    <table md-table md-progress="publicationTableOptions.promise">
        <thead md-head md-order="publicationTableOptions.order" class="md-table-head"
               md-colors="::{color: 'registre-background-50',background: 'registre-primary-400'}">
        <tr md-row>
            <th md-column md-order-by="denomination">
                <md-input-container>
                    <input placeholder="Raison sociale" md-colors="::{color: 'registre-background-50'}"
                           type="text"
                           ng-model="publicationTableOptions.filter.denomination"
                           onclick="event.stopPropagation()">
                </md-input-container>
            </th>
            <th md-column md-order-by="nationalId">
                <md-input-container>
                    <input placeholder="Identifiant" md-colors="::{color: 'registre-background-50'}"
                           type="text"
                           ng-model="publicationTableOptions.filter.nationalId" onclick="event.stopPropagation()">
                </md-input-container>
            </th>
        </tr>
        </thead>
        <tbody md-body>
        <tr md-row
            ng-repeat="c in associations |
    orderBy: publicationTableOptions.order |
    filter: publicationTableOptions.filter |
    limitTo: publicationTableOptions.limit: (publicationTableOptions.page - 1) * publicationTableOptions.limit">
            <td md-cell>{{c.denomination}}</td>
            <td md-cell>{{c.nationalId}}</td>
        </tr>
        </tbody>
    </table>
    <md-table-pagination md-label="{{publicationTableOptions.labels}}"
                         md-page="publicationTableOptions.page" md-limit="publicationTableOptions.limit"
                         md-total="{{associations.length}}"
                         md-limit-options="publicationTableOptions.limitOptions"
                         md-page-select></md-table-pagination>
</md-table-container>