<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<md-table-container ng-show="collaborateurs.length > 0">
    <table md-table md-progress="publicationTableOptions.promise">
        <thead md-head md-order="publicationTableOptions.order" class="md-table-head"
               md-colors="::{color: 'registre-background-50',background: 'registre-primary-400'}">
        <tr md-row>
            <th md-column></th>
            <!--<th md-column></th>-->
            <th md-colors="::{color: 'registre-background-50'}" md-column>
                Civilité
            </th>
            <th md-column>
                <md-input-container>
                    <input placeholder="Nom" md-colors="::{color: 'registre-background-50'}" type="text"
                           ng-model="publicationTableOptions.filter.nom" onclick="event.stopPropagation()">
                </md-input-container>
            </th>
            <th md-column>
                <md-input-container>
                    <input placeholder="Prénom" md-colors="::{color: 'registre-background-50'}" type="text"
                           ng-model="publicationTableOptions.filter.prenom" onclick="event.stopPropagation()">
                </md-input-container>
            </th>
            <th md-column>
                <md-input-container>
                    <input placeholder="Adresse courriel" md-colors="::{color: 'registre-background-50'}" type="text"
                           ng-model="publicationTableOptions.filter.email" onclick="event.stopPropagation()">
                </md-input-container>
            </th>
            <th md-column>
                <md-input-container>
                    <input placeholder="Fonctions exercées" md-colors="::{color: 'registre-background-50'}" type="text"
                           ng-model="publicationTableOptions.filter.fonction" onclick="event.stopPropagation()">
                </md-input-container>
            </th>
        </tr>
        </thead>
        <tbody md-body>
        <tr md-row ng-repeat="c in collaborateurs |
            orderBy: publicationTableOptions.order |
            filter: publicationTableOptions.filter |
            limitTo: publicationTableOptions.limit: (publicationTableOptions.page - 1) * publicationTableOptions.limit">
            <td md-cell>
                <md-icon ng-if="c.inscrit" md-svg-src="{{images_dir}}/icons/ic_account_circle_white_24px.svg">
                    <md-tooltip>Déclarant inscrit</md-tooltip>
                </md-icon>
            </td>
            <td md-cell>{{c.civilite}}</td>
            <td md-cell>{{c.nom}}</td>
            <td md-cell>{{c.prenom}}</td>
            <td md-cell>{{c.email}}</td>
            <td md-cell>{{c.fonction}}</td>
        </tr>
        </tbody>
    </table>
    <md-table-pagination md-label="{{publicationTableOptions.labels}}"
                         md-page="publicationTableOptions.page" md-limit="publicationTableOptions.limit"
                         md-total="{{collaborateurs.length}}"
                         md-limit-options="publicationTableOptions.limitOptions"
                         md-page-select></md-table-pagination>
</md-table-container>
