<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<div flex="100" layout="column" md-colors="::{background : 'registre-background-400'}">
    <md-input-container>
        <label>Numéro de téléphone</label>
        <input name="telephone" ng-model="publicationData.telephoneDeContact" disabled>
    </md-input-container>

    <md-input-container>
        <label>Adresse courriel</label>
        <input name="email" ng-model="publicationData.emailDeContact" disabled/>
    </md-input-container>
</div>