<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<md-table-container ng-show="dirigeants.length > 0">
    <table md-table md-progress="publicationTableOptions.promise">
        <thead md-head md-order="publicationTableOptions.order" class="md-table-head"
               md-colors="::{color: 'registre-background-50',background: 'registre-primary-400'}">
        <tr md-row>
            <th md-column>
                <md-input-container>
                    <input placeholder="Civilité" md-colors="::{color: 'registre-background-50'}" type="text"
                           ng-model="dirigeantsTableOptions.filter.civilite" onclick="event.stopPropagation()">
                </md-input-container>
            </th>
            <th md-column>
                <md-input-container>
                    <input placeholder="Nom" md-colors="::{color: 'registre-background-50'}" type="text"
                           ng-model="dirigeantsTableOptions.filter.nom" onclick="event.stopPropagation()">
                </md-input-container>
            </th>
            <th md-column>
                <md-input-container>
                    <input placeholder="Prénom" md-colors="::{color: 'registre-background-50'}" type="text"
                           ng-model="dirigeantsTableOptions.filter.prenom" onclick="event.stopPropagation()">
                </md-input-container>
            </th>
            <th md-column>
                <md-input-container>
                    <input placeholder="Fonctions exercées" md-colors="::{color: 'registre-background-50'}" type="text"
                           ng-model="dirigeantsTableOptions.filter.fonction" onclick="event.stopPropagation()">
                </md-input-container>
            </th>
        </tr>
        </thead>
        <tbody md-body>
        <tr md-row ng-repeat="d in dirigeants |
            orderBy: publicationTableOptions.order |
            filter: publicationTableOptions.filter |
            limitTo: publicationTableOptions.limit: (publicationTableOptions.page - 1) * publicationTableOptions.limit">
            <td md-cell>{{d.civilite}}</td>
            <td md-cell>{{d.nom}}</td>
            <td md-cell>{{d.prenom}}</td>
            <td md-cell>{{d.fonction}}</td>
        </tr>
        </tbody>
    </table>
    <md-table-pagination md-label="{{publicationTableOptions.labels}}"
                         md-page="publicationTableOptions.page" md-limit="publicationTableOptions.limit"
                         md-total="{{dirigeants.length}}"
                         md-limit-options="publicationTableOptions.limitOptions"
                         md-page-select></md-table-pagination>
</md-table-container>