<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<div flex="100" layout="column" flex="100" md-colors="::{background : 'registre-background-400'}">
    <md-content layout="column" layout-margin layout-padding>

        <md-input-container>
            <label>Type d'organisation</label>
            <input name="chiffreAffaire" maxlength="12" ng-model="publicationData.categorieOrganisation" disabled/>
        </md-input-container>

        <div layout="column"
             ng-if="publicationData.categorieOrganisation && publicationData.categorieOrganisation === typesOrganisation.entreprise">
            <md-input-container flex="100">
                <label>Chiffre d'affaires en euros</label>
                <input name="chiffreAffaire" maxlength="12" ng-model="publicationData.chiffreAffaire" disabled/>
            </md-input-container>
            <md-input-container>
                <label>Année du chiffre d'affaires</label>
                <input name="anneeChiffreAffaire" ng-model="publicationData.anneeChiffreAffaire" disabled/>
            </md-input-container>
            <md-input-container>
                <label>Chiffre d'affaires lié à l'activité de représentation d'intérêts en euros</label>
                <input name="chiffreAffaireInteret" maxlength="12" ng-model="publicationData.chiffreAffaireInteret"
                       disabled/>
            </md-input-container>
            <md-input-container>
                <label>Année du chiffre d'affaires lié à l'activité de représentation d'intérêts</label>
                <input name="anneeChiffreAffaireInteret" ng-model="publicationData.anneeChiffreAffaireInteret"
                       disabled/>
            </md-input-container>
        </div>
        <div layout="column"
             ng-show="publicationData.categorieOrganisation != null && publicationData.categorieOrganisation !== typesOrganisation.entreprise">
            <md-input-container>
                <label>Budget total en euros</label>
                <input name="budgetTotal" maxlength="12" ng-model="publicationData.budgetTotal" disabled/>
            </md-input-container>
            <md-input-container>
                <label>Année du budget</label>
                <input name="anneeBudget" ng-model="publicationData.anneeBudget" disabled/>
            </md-input-container>
        </div>
        <div layout="column">
            <md-input-container>
                <label>Montant des dépenses liées aux actions de lobbying</label>
                <input name="depenses" ng-model="publicationData.depenses" disabled/>
            </md-input-container>
            <md-input-container>
                <label>Année du montant des dépenses liées aux actions de lobbying</label>
                <input name="anneeDepenses" ng-model="publicationData.anneeDepenses" disabled/>
            </md-input-container>
            <md-input-container>
                <label>Nombre de personnes employées dans la mission de représentation d'intérêts</label>
                <input name="nPersonnesEmployees" ng-model="publicationData.nPersonnesEmployees" disabled/>
            </md-input-container>
        </div>
    </md-content>
</div>