<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<div flex="100" layout="column" flex="100" md-colors="::{background : 'registre-background-400'}">
    <md-input-container class="no-margin">
        <label>Site internet</label>
        <input name="website_url" ng-model="publicationData.lienSiteWeb" disabled/>
    </md-input-container>
    <md-input-container class="no-margin">
        <label>Twitter</label>
        <input name="twitter_url" ng-model="publicationData.lienPageTwitter" disabled/>
    </md-input-container>
    <md-input-container class="no-margin">
        <label>LinkedIn</label>
        <input name="linkedin_url" ng-model="publicationData.lienPageLinkedin" disabled/>
    </md-input-container>
    <md-input-container class="no-margin">
        <label>Facebook</label>
        <input name="facebook_url" ng-model="publicationData.lienPageFacebook" disabled/>
    </md-input-container>
</div>