<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<div flex="100" layout="column" flex="100" md-colors="::{background : 'registre-background-400'}">
    <md-card layout="column" layout-align="center center" class="logo-card">
        <img ng-src="{{images_dir}}/logo_HATVP.png" class="md-card-image default logo" alt="LOGO"
             ng-if="!publicationData.logo && publicationData.logo === ''">
        <img ng-src="data:{{publicationData.logoType}};base64,{{publicationData.logo}}" class="md-card-image logo"
             alt="Logo"
             ng-if="publicationData.logo && publicationData.logo !== ''">
    </md-card>

    <md-input-container>
        <label>Type d'organisation</label>
        <md-select required ng-model="publicationData.categorieOrganisation" aria-label="Catégorie de l'organisation"
                   disabled>
            <md-option ng-value="type.code" ng-repeat="type in typesOrganisation">{{type.label}}
            </md-option>
        </md-select>
    </md-input-container>
    <md-input-container>
        <label>Dénomination</label>
        <input name="denomination" ng-model="publicationData.denomination" disabled/>
    </md-input-container>
    <md-input-container>
        <label>Identifiant national</label>
        <input name="identifiant_national" ng-model="publicationData.identifiantNational" disabled/>
    </md-input-container>
    <md-input-container>
        <label>Type d'identifiant</label>
        <input name="type" ng-model="publicationData.typeIdentifiantNational" disabled/>
    </md-input-container>
</div>