<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title th:remove="all">Répertoire</title>
        <style>
            body {
                font-family: Arial, Helvetica, Tahoma, sans-serif;
                font-size: 16px;
            }

            pre {
                font-family: Arial, Helvetica, Tahoma, sans-serif;
                font-size: 12px;
            }
        </style>
    </head>
    <body style="line-height: 1.2">
    <table width="780" border="0" align="center" cellpadding="0" cellspacing="0">
        <tbody>
        <tr>
            <td align="left" valign="top" style="background: rgb(27, 43, 75); height: 6px;"></td>
        </tr>
        <tr>
            <td align="center" valign="top" bgcolor="#f1f69d"
                style="background-color: rgb(250,250,250);color:#000000;padding:10px;border-left: 4px solid rgb(27, 43, 75);border-right: 4px solid rgb(27, 43, 75);">
                <table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-size: 12px;margin-top:10px;">
                    <tbody>
                    <tr>
                        <td align="left" valign="top" style="color:#525252;">
                            <img src="logo.png" th:src="|cid:${imageResourceName}|" height="100px"
                                 style="margin-left:10px;padding: 20px;" align="right"/>
                            <div>
                                <p style="margin-bottom: 25px"><span>Bonjour</span>,</p>

                                <p>Une demande de désinscription a été faite le
                                    <span th:text="${dateDuJour}">JJ-MM-AAAA à HH:MM</span> pour l'organisation <span
                                        th:text="${denomination}">ORGA</span>
                                    (<span th:text="${nomUsage != null} ? ${nomUsage} + ' ,'">NOM D'USAGE</span><span
                                        th:text="${idNational}">IDENTIFIANT</span>).</p>

                                <p> Motif de la désinscription: <span
                                    th:text="${motif}">motif désincription</span></p>
                                <p style="margin-top: 25px"> Date de cessation:
                                    <span th:text="${dateCessation}">date de cessation</span>
                                </p>
                                <p>
                                    Observations du déclarant:
                                    <span th:text="${observationDeclarant}">Observation du déclarant</span>
                                </p>
                            </div>
                            <div style="width: 25%">&nbsp;</div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td align="left" valign="top" bgcolor="#478730" style="background-color: rgb(27, 43, 75);">
                <table width="100%" border="0" cellspacing="0" cellpadding="15">
                    <tbody>
                    <tr style="text-align: center">
                        <td align="left" valign="top" style=" text-align: center; color:#ffffff;">
                            <a href="https://repertoire.hatvp.fr/"
                               style="font-size:13px; color:#ffffff; text-decoration: none;">repertoire.hatvp.fr</a>
                        </td>
                        <td>&nbsp;</td>
                        <td>
                            <a href="mailto:repertoire@hatvp.fr"
                               style="color:#ffffff; font-size:13px; text-decoration: none">repertoire@hatvp.fr</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
    </body>
</html>