<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<md-content ng-show="isConnected()">
    <md-content flex layout-padding layout="column" layout-align="center center" class="block-ui-overlay">
        <div layout="row" layout-sm="column" layout-align="space-around">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>
    </md-content>
</md-content>
<div layout="column" flex="100" class="home-wrapper" ng-hide="isConnected()"
     md-colors="::{background : 'registre-background-50'}">
    <md-content flex layout="row" layout-align="center center" style="height: calc(100vh)"> <!-- Style: Safari fix. -->
        <md-content flex="50" class="home-background home-box" layout="column" layout-align="center center">
            <a class="home-logo" ui-sref="home" layout="row" layout-align="center start">
                <img ng-src="{{images_dir}}/logo_blanc.png" alt="{{globalSettings.title}}">
            </a>

            <h1 md-colors="::{color: 'registre-background-50'}" class="home-title md-title md-title-big">
                Bienvenue sur AGORA <br/>
                Le service de télédéclaration <br/>
                des représentants d'intérêts
            </h1>
        </md-content>
        <md-content flex="50" layout="column" layout-align="center center" class="home-box home-forms">

            <md-content class="home-nav pad-h-30" layout="row" layout-align="center center">
                <a class="md-title" ng-class="{'is-active': loginView}" ng-click="loginView = true">Se connecter</a>
                <a ng-hide="limitation && sessionCount >= limite" class="md-title" ng-class="{'is-active': !loginView}" ng-click="loginView = false">S'inscrire</a>

            </md-content>

            <ng-include src="home_views.login" class="login"></ng-include>

            <ng-include src="home_views.signup" class="signup"></ng-include>

            <md-content class="home-footer" layout="row" layout-align="space-between center">
                <md-content>
                    <a md-colors="::{color: 'registre-primary-400'}" target="_blank"
                       ng-href="{{lien_mentions_legales}}">Mentions légales</a>
                    <a md-colors="::{color: 'registre-primary-400'}" target="_blank"
                       ng-href="{{lien_hatvp}}">hatvp.fr</a>
                </md-content>
                <md-content>
                    <a class="home-footer-links" md-colors="::{color: 'registre-primary-400'}" target="_blank"
                       ng-href="{{lien_guide_utilisation}}" style="cursor: pointer;">Fiches pratiques</a>
                    <a class="home-footer-links" md-colors="::{color: 'registre-primary-400'}"
                       ng-click="displayHelpText($event)" style="cursor: pointer;">Assistance de télédéclaration</a>
                </md-content>
            </md-content>

        </md-content>
    </md-content>
</div>