<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<div layout-align layout="row" layout-wrap flex="100">
    <div layout="column" flex>
    <form>
                <div layout-padding layout-align="center center" style="padding: 8px 130px;">
                <div layout-wrap layout-gt-sm="row" layout-align="center center" class="encart">
                   
                <div flex-gt-lg="100" flex-gt-md="100" flex-gt-sm="100" layout="row" layout-wrap>
                    <div flex="20" layout="column"><h4 style="text-decoration: underline">Dénomination: </h4></div>
                    <div flex="80" layout="column"><h5 flex="70">{{demande.denomination}}</h5></div>
                </div>
                <div flex-gt-lg="50" flex-gt-md="50" flex-gt-sm="50" layout="row" layout-wrap>
                    <div flex="40" layout="column"><h4 style="text-decoration: underline">Type: </h4></div>
                    <div flex="60" layout="column"><h5 flex="70">{{demande.type.label}}</h5></div>
                </div>
                <div flex-gt-lg="50" flex-gt-md="50" flex-gt-sm="50" layout="row" layout-wrap>
                    <div flex="35" layout="column"><h4 style="text-decoration: underline">Identifiant de l'organisation recherchée: </h4></div>
                    <div flex="55" layout="column"><h5 flex="">{{demande.idOrgaRecherche}}</h5></div>
                </div>

                <div flex-gt-lg="100" flex-gt-md="100" flex-gt-sm="100" layout="row" layout-wrap>
                    <div flex="20" layout="column"><h4 style="text-decoration: underline">Nom du dirigeant: </h4></div>
                    <div flex="80" layout="column"><h5 flex="70">{{demande.dirigeant}}</h5></div>
                </div>

                <div flex-gt-lg="100" flex-gt-md="100" flex-gt-sm="100" layout="row" layout-wrap>
                    <div flex="20" layout="column"><h4 style="text-decoration: underline">Adresse: </h4></div>
                    <div flex="80" layout="column"><h5 flex="70">{{demande.adresse}}</h5></div>
                </div>

                <div flex-gt-lg="50" flex-gt-md="50" flex-gt-sm="50" layout="row" layout-wrap>
                    <div flex="40" layout="column"><h4 style="text-decoration: underline">Code postal: </h4></div>
                    <div flex="60" layout="column"><h5 flex="70">{{demande.codePostal}}</h5></div>
                </div>
                <div flex-gt-lg="25" flex-gt-md="25" flex-gt-sm="25" layout="row" layout-wrap>
                    <div flex="20" layout="column"><h4 style="text-decoration: underline">Ville: </h4></div>
                    <div flex="10" layout="column"><h5 flex="70">{{demande.ville}}</h5></div>
                </div>
                <div flex-gt-lg="25" flex-gt-md="25" flex-gt-sm="25" layout="row" layout-wrap>
                    <div flex="20" layout="column"><h4 style="text-decoration: underline">Pays: </h4></div>
                    <div flex="10" layout="column"><h5 flex="70">{{demande.pays}}</h5></div>
                </div>

                <div flex-gt-lg="100" flex-gt-md="100" flex-gt-sm="100" layout="row" layout-wrap>
                    <div flex="20" layout="column"><h4 style="text-decoration: underline">Date création: </h4></div>
                    <div flex="80" layout="column"><h5 flex="70">{{demande.dateCreation}}</h5></div>
                </div>
                <div flex-gt-lg="100" flex-gt-md="100" flex-gt-sm="100" layout="row" layout-wrap>
                    <div flex="20" layout="column"><h4 style="text-decoration: underline">Commentaire: </h4></div>
                    <div flex="80" layout="column"><h5 flex="70">{{demande.commentaire}}</h5></div>
                </div>
  

            <div layout-wrap layout-gt-sm="row" layout-align="center center" class="encart">
                <div flex-gt-lg="100" flex-gt-md="100" flex-gt-sm="100" layout="row" layout-wrap>
                    <div flex="40" layout="column"><h4 style="text-decoration: underline">Déclarant demandeur: </h4>
                    </div>
                    <div flex="60" layout="column"><h5 flex="70">{{demande.declarantFullname}}</h5></div>
                </div>
                <div flex-gt-lg="100" flex-gt-md="100" flex-gt-sm="100" layout="row" layout-wrap>
                    <div flex="40" layout="column"><h4 style="text-decoration: underline">Statut: </h4></div>
                    <div flex="60" layout="column"><h5 flex="70">{{demande.statut}}</h5></div>
                </div>
                <div flex-gt-lg="100" flex-gt-md="100" flex-gt-sm="100" layout="row" layout-wrap>
                    <div flex="40" layout="column"><h4 style="text-decoration: underline">Dernier accès: </h4></div>
                    <div flex="60" layout="column"><h5 flex="70">{{demande.dernierAgentFullname}}</h5></div>
                </div>
            </div>
                            </div>
            </div>
       	</form>
        <md-tabs md-selected="selectedIndex" md-align-tabs="top" md-dynamic-height md-border-bottom>
            <md-tab>
                <md-tab-label>Organisations créées</md-tab-label>
                <md-tab-body>
                    <md-content class="pad-h-50 pad-v-30 gestion_espace_tab">
                        <ng-include src="views.LIST"></ng-include>
                    </md-content>
                </md-tab-body>
            </md-tab>
            <md-tab>
                <md-tab-label>Nouvelle organisation</md-tab-label>
                <md-tab-body>
                    <md-content class="pad-h-50 pad-v-30 gestion_espace_tab">
                        <ng-include src="views.FORM"></ng-include>
                    </md-content>
                </md-tab-body>
            </md-tab>
        </md-tabs>
        </div>
 <div layout="column" layout-align flex="20" style="border-left: 1px solid #051639;">
        <comment flex current="demandeId" context="4"></comment>
    </div>
</div>

