<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<div ng-controller="DetailDemandesMenuBarCtrl" flex="100" layout="row">
    <md-content layout="column" layout-align="center left" flex="50">
        <div layout="row" layout-align="start center">
            <md-button class="md-fab md-mini md-hue-3" aria-label="retour" ui-sref="{{returnState}}">
                <md-icon md-svg-icon="{{images_dir}}/icons/ic_reply_white_24px.svg" style="fill: white;"></md-icon>
                <md-tooltip>Retour</md-tooltip>
            </md-button>
            <h2 flex="70" md-colors="::{color: 'registre-primary-200'}" style="padding: 10px;">
                {{menuBarPreviousTitle}}</h2>
        </div>
        <span flex></span>
    </md-content>
    <md-content layout="column" flex="50" style="overflow: hidden;">
        <div layout="row">
            <md-button ng-click="cloturerRefusee($event)"
                       ng-if="!traitee"
                       md-colors="::{background: 'registre-primary-400', color: 'registre-background-50'}"
                       layout="row" layout-align="center center" class="md-raised md-primary">
                Clore (refusée)
            </md-button>
            <md-button ng-click="cloturerTrouvee($event)"
                       ng-if="!traitee"
                       md-colors="::{background: 'registre-primary-400', color: 'registre-background-50'}"
                       layout="row" layout-align="center center" class="md-raised md-primary">
                Clore (trouvée)
            </md-button>
            <md-button ng-click="rouvrir($event)"
                       ng-if="traitee"
                       md-colors="::{background: 'registre-primary-400', color: 'registre-background-50'}"
                       layout="row" layout-align="center center" class="md-raised md-primary">
                Rouvrir la demande
            </md-button>
             <md-button ng-click="demandeComplement($event)"
                       md-colors="::{background: 'registre-primary-A400', color: 'registre-background-50'}"
                       layout="row" layout-align="center center" class="md-raised md-primary">
                Demande de complément
            </md-button>                
        </div>
    </md-content>
</div>