// -------------------------------
// Angular material Dialog
// -------------------------------

md-dialog {
  padding: 30px 20px 20px 45px;

  .md-dialog-content {
    padding: 0;
  }

  /*.md-dialog-header {
    min-height: 300px;
  }*/

  .md-dialog-header .md-icon-button {
    margin: 0;
    padding: 0;
    width: 24px;
    height: 24px;
    border-radius: 0;
    min-height: inherit;
  }

  md-dialog-actions {
    padding-top: 20px;

    .md-button {
      margin: 0;
      flex: 1 0 auto;

      // Add a margin left on the second button
      // when he is next to another button
      & + .md-button {
        margin-left: 10px;
      }
    }
  }
}

