// -------------------------------
// Angular material Forms
// -------------------------------

// 

// input container$
md-input-container {

  label,
  .md-input {
    font-size: 16px;
    font-family: $base-font-book;
    letter-spacing: 0.8px;
  }

  label {
    color: #666;
    box-sizing: border-box;
  }

  &.md-icon-right {
    padding-right: 55px;

    & > button {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  md-select {
    margin: 0;
  }

  &:not(.md-input-invalid) .md-input,
  &:not(.md-input-focused) .md-input,
  &:not(.md-input-invalid) .md-select-value,
  &:not(.md-input-focused) .md-select-value {
    border-color: #666666;
  }
}

md-input-container.md-input-focused .md-input,
md-input-container .md-input.ng-invalid.ng-dirty,
md-input-container.md-input-resized .md-input {
  padding-bottom: 0;
  border-width: 0 0 1px 0;
}

md-datepicker {
  padding-right: 0;
  margin-right: 0;
  cursor: pointer;
}

md-datepicker,
.md-datepicker-input-container {
  width: 100%;
  border: 0;
}

md-list-item {

  &,
  &:before {
    min-height: 0;
  }
}

.md-input-invalid {

  label,
  input,
  .md-errors-spacer {
    color: #eb1630 !important;
  }

  .md-input,
  .md-select-value {
    border-color: #eb1630;
  }
}

fieldset {
  .center_fieldset {
    position: relative;
    left: 11%;
  }
}
// Input file create organisation
.input-file {

  &.lf-ng-md-file-input {
    padding: 30px 0;
    margin: 0;
  }

  .lf-icon {
    display: none;
  }

  .lf-ng-md-file-input-container {
    background: transparent;
    box-shadow: none;
    border-radius: 0;

    .lf-ng-md-file-input-caption {
      padding: 0;
      flex: 0 auto;
      font-size: 16px;
      letter-spacing: 0.8px;
      text-overflow: ellipsis;
      /* SSAIDELIMAM: IE 11 DISPLAY FIX */
      display: ruby;
      align-items: center;

      .lf-ng-md-file-input-caption-text-default {
        font-family: "NeuzeIt Book";
        margin-left: 0;
        color: black;
        text-overflow: ellipsis;
        /* SSAIDELIMAM: IE 11 DISPLAY FIX */
        display: ruby;
      }
    }
  }

  .lf-ng-md-file-input-button-remove span {
    font-size: 13px;
    color: black;
    margin-left: 4px;
  }

  .md-raised.lf-ng-md-file-input-button.lf-ng-md-file-input-button-brower {
    font-size: 16px;
    font-family: "NeuzeIt Book";
    letter-spacing: 0.8px;
    text-align: left;
    color: #ffffff;
    padding: 15px 40px;
    margin-left: 30px;
  }
}