
// -------------------------------
// Angular material Headlines
// -------------------------------


.md-title {
    position: relative;
    font-family: $base-font-bold;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    margin-bottom: 45px;
    margin-top: 0;

    &:before {
        content: '';
        position: absolute;
        left: 0;
        right: 70%;
        bottom: 0;
        height: 5px;
        transform: translate(0,10px);
        background-color: currentColor;
    }

    &-big {
        font-size: 28px;
        line-height: 1.07;
        margin: 0;
    }
}