
// -------------------------------
// Home page
// -------------------------------

.home-box {
    height: 100%;
}

.home-background {
  background: url('../img/bo_work1.jpg') center center no-repeat;
    background-size: cover;
}

.home-logo {
    position: absolute;
    top: 55px;
    left: 50%;
    transform: translate(-50%,0);
    text-decoration: none;

    img {
        width: 52px;
    }
}

.home-logo-title {
    min-width: 240px;
    font-size: 20px;
    font-family: $base-font-book;
    font-weight: inherit;
    line-height: 21px;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    margin: 0 0 0 10px;

    span {
        display: block;
    }
}

.home-title {
    font-size: 28px;
    margin: 0 50px;
    line-height: 1.2;
    letter-spacing: 0.9px;

    &:before {
        transform: translate(0,30px);
    }
}

.home-forms {
    padding-top: 140px;
    padding-bottom: 80px;
    overflow: hidden
}

.home-form {
    width: 320px;

    md-input-container {
        margin: 22px 0;
    }
}

.home-forgot {
    font-size: 12px;
    font-family: $base-font-book;
    letter-spacing: 0.9px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    margin-bottom: 54px;

    span {
        display: inline-block;
        position: relative;

        // Line decoration under links
        &:before {
            content: '';
            background: currentColor;
            position: absolute;
            left: 0;
            right: 0;
            bottom: -5px;
            height: 1px;
            margin: 0 50%;
            transition: margin 350ms ease;
        }
    }

    // On hover, focus display the line
    // with a transition
    @include on-event() {

        span:before {
            margin: 0;
        }
    }
}

.home-nav {
    position: absolute;
    top: 50px;
    right: 50px;
}

.home-nav a {
    font-size: 20px;
    letter-spacing: 3px;
    font-family: $base-font-book;

    &:before {
        display: none;
        right: 0;
    }

    & + a {
        margin-left: 50px;
    }

    &.is-active {
        font-family: $base-font-bold;

        &:before {
            display: block;
        }
    }
}

.home-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 40px 15px;
}

.home-footer a {
    display: inline-block;
    text-decoration: none;
    font-family: $base-font-book;
    font-size: 12px;
    letter-spacing: 0.5px;
    position: relative;
    padding-top: 5px; 
    padding-bottom: 5px; 

    & + a {
        margin-left: 18px;
    }

    // Line decoration under links
    &:before {
        content: '';
        background: currentColor;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 1px;
        margin: 0 50%;
        transition: margin 350ms ease;
    }

    // On hover, focus display the line
    // with a transition
    @include on-event() {

        &:before {
            margin: 0;
        }
    }
}

.home-footer-links {
    border: 1px solid currentColor;
    border-radius: 2px;
    padding-left: 5px;
    padding-right: 5px;
    transition: all 350ms ease-in-out;

    &:before {
        display: none;
    }

    &:hover {
        border-color: transparent;
    }
}