
// -------------------------------
// Signup
// -------------------------------

.signup {
    min-width: 50%;

    md-content {
        overflow: inherit;
    }

    md-input-container {
        margin: 8px 0;
        overflow: inherit;
    }
}