
// -------------------------------
// Angular material Custom Padding
// -------------------------------

.pad-h-30 {
    padding-left: 30px;
    padding-right: 30px;
}

.pad-h-50 {
    padding-left: 50px;
    padding-right: 50px;
}


.pad-v-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.pad-v-45 {
    padding-top: 45px;
    padding-bottom: 45px;
}