// -------------------------------
// Angular Material Toast
// -------------------------------

md-toast {
  min-width: 360px;

  .md-toast-content {
    background: $red !important;
    border-radius: 2px;
    box-shadow: none;

    &:before {
      display: none;
    }
  }
 
  .md-toast-text {
    padding: 0;
    font-size: 14px;
    line-height: 17px;
    font-family: $base-font-book;
  }

  // Info
  &.md-info-theme .md-toast-content {
    background: $night-blue !important;
  }

  // Valid
  &.md-valid-theme .md-toast-content {
    background: #3ea843 !important;
  }
}




