<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<div class="container" ng-hide="isCorporateActive()">
    <div class="bottom-block home-message" layout="column" layout-align="center center">
        <span>L’accès aux fonctionnalités de votre espace collaboratif n'est pas actif.</span>
        <span>Merci de vous adresser au contact opérationnel de votre espace.</span>
    </div>
</div>

<md-content>
    <div layout="row" class="pad-h-30 pad-v-45" md-colors="::{background : 'registre-background-50'}">
        <h1 md-colors="::{color : 'registre-primary-400'}" class="md-title md-title-big" flex="40">
            {{espaceName}}
        </h1>
    </div>


    <md-tabs md-selected="selectedIndex" md-align-tabs="top" md-dynamic-height md-border-bottom>
        <md-tab id="tabDemandes" ng-disabled="!isCorporateActive()">
            <md-tab-label>Demandes d'inscription</md-tab-label>
            <md-tab-body>
                <md-content class="pad-h-50 pad-v-30">
                    <ng-include src="tabs.DEMANDES"></ng-include>
                </md-content>
            </md-tab-body>
        </md-tab>
        <md-tab id="tabDeclarants" ng-disabled="!isCorporateActive()">
            <md-tab-label>Gestion des accès</md-tab-label>
            <md-tab-body>
                <md-content class="pad-h-50 pad-v-30">
                    <ng-include src="tabs.DECLARANTS"></ng-include>
                </md-content>
            </md-tab-body>
        </md-tab>
        <md-tab id="tabGestionContactOpEtRepLegal" ui-sref="gestion.demandes" ng-disabled="!isCorporateActive()">
            <md-tab-label>Contacts opérationnels et représentant légal</md-tab-label>
            <md-tab-body>
                <md-content class="pad-h-50 pad-v-30">
                    <ng-include src="tabs.CHANGEMENTS"></ng-include>
                </md-content>
            </md-tab-body>
        </md-tab>
    </md-tabs>
</md-content>