// -----------------------------------------------------------------------------
// This file contains only help classes that improve your workflow
// e.g. clearfix, aligns, etc...
// ----------------------------------------------------------------------------- 
.logo-card {
  background-color: transparent !important;
  box-shadow: none;
}

.logo-card > .logo {
  border: 1px solid rgba(50, 100, 150, .5);
  border-radius: 100px !important;
  max-width: 150px;
  max-height: 150px;
  width: 150px;
  height: 150px;
  object-fit: contain;

  &.default {
    opacity: 0.2;
  }
}