
// --------------------------------------------------------
// This file contains only Sass mixins and functions
// --------------------------------------------------------

/// Allow to add properties to your element on hover, active, focus
@mixin on-event($self: false) {
    @if $self {
        &,
        &:hover,
        &:active,
        &:focus {
            @content;
        }
    } @else {
        &:hover,
        &:active,
        &:focus {
            @content;
        }
    }
}


/// Add line animation under a link
/// need :after not used on the element
/// the element will be positionned in
/// relative.
/// Bottom parameter optional
/// Color paraemeter optional
/// Left parameter optional
/// -------------------------------------
@mixin line-animation($bottom: -3px, $color: $primary, $left: 0) {

    & {
        position: relative;
    }

    &:after {
        content: '';
        position: absolute;
        bottom: $bottom;
        left: $left;
        right: 0;
        height: 1px;
        margin: 0 50%;
        background: $color;
        transition: margin 450ms $anim-smooth;
    }

    &:hover:after {
        margin: 0;
    }
}

@function rem($size) {
    $remSize: $size / 16;
    @return #{$remSize}rem;
}

/// Allow to add styles on your placeholders
@mixin placeholder {
    &::-webkit-input-placeholder { @content }
         &:-ms-input-placeholder { @content }
             &::-moz-placeholder { @content }
              &:-moz-placeholder { @content }
}


