<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<md-dialog aria-label="Détails d'une publication">
    <md-dialog-content layout="column">
        <md-content class="md-dialog-header" md-colors="::{background: 'registre-background-50'}" layout="row"
                    layout-align="space-between start" style="height: 400px; padding: 0; overflow-y: hidden;">
            <span class="md-title"
                  md-colors="::{color: 'registre-primary-100'}">Publication du {{publication.publicationDate}}</span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-icon="{{images_dir}}/icons/cross.svg" aria-label="Close dialog"></md-icon>
                <md-tooltip md-direction="bottom">Fermer</md-tooltip>
            </md-button>
        </md-content>

        <md-content layout="column" layout-margin layout-padding>
            <!--Dirigeants-->
            <div class="pub_ie_bloc">
                <div style="text-align: center;"><h2>Liste des dirigeants</h2></div>
                <div flex layout="column" layout-gt-md="row">
                    <md-card class="pub-min-card" flex>
                        <md-card-content>
                            <ng-include flex="100" src="block.dirigeant" style="display: block"></ng-include>
                        </md-card-content>
                    </md-card>
                </div>
            </div>

            <!--Collaborateurs-->
            <md-divider></md-divider>
            <div class="pub_ie_bloc">
                <div style="text-align: center;"><h2>Personnes chargées de la représentation d'intérêts</h2></div>
                <div flex layout="column" layout-gt-md="row">
                    <md-card class="pub-min-card" flex>
                        <md-card-content>
                            <ng-include flex="100" src="block.collaborateur"
                                        style="display: block"></ng-include>
                        </md-card-content>
                    </md-card>
                </div>
            </div>

            <!--client-->
            <md-divider></md-divider>
            <div class="pub_ie_bloc">
                <div style="text-align: center;"><h2>Mes clients ou mandants</h2></div>
                <div flex layout="column" layout-gt-md="row">
                    <md-card class="pub-min-card" flex>
                        <md-card-content>
                            <ng-include flex="100" src="block.client"
                                        style="display: block"></ng-include>
                        </md-card-content>
                    </md-card>
                </div>
            </div>

            <!--Associations-->
            <md-divider></md-divider>
            <div class="pub_ie_bloc">
                <div style="text-align: center;"><h2>Mes organisations d'appartenance</h2></div>
                <div flex layout="column" layout-gt-md="row">
                    <md-card class="pub-min-card" flex>
                        <md-card-content>
                            <ng-include flex="100" src="block.association"
                                        style="display: block"></ng-include>
                        </md-card-content>
                    </md-card>
                </div>
            </div>

            <!--Activite-->
            <md-divider></md-divider>
            <div class="pub_ie_bloc">
                <div style="text-align: center;"><h2>Champ des activités de représentation d'intérêts</h2></div>
                <div flex layout="column" layout-gt-md="row">
                    <md-card class="pub-min-card" flex>
                        <md-card-content>
                            <ng-include flex="100" src="block.activite"
                                        ng-hide="publicationData.activites.length <= 0"
                                        style="display: block"></ng-include>
                        </md-card-content>
                    </md-card>
                </div>
            </div>

            <!--Profil-->
            <md-divider></md-divider>
            <div class="pub_ie_bloc">
                <div style="text-align: center;"><h2>Profil de l'organisation</h2></div>
                <div flex layout="column" layout-gt-md="row">
                    <md-card class="pub-min-card" flex>
                        <md-card-content>
                            <ng-include flex="100" src="block.profil" ng-hide="publicationData.categorieOrganisation === '' &&
                             publicationData.denomination === '' &&
                             publicationData.identifiantNational === '' &&
                             publicationData.typeIdentifiantNational === ''"
                                        style="display: block"></ng-include>
                        </md-card-content>
                    </md-card>
                </div>
            </div>

            <!--Localisation-->
            <md-divider></md-divider>
            <div class="pub_ie_bloc">
                <div style="text-align: center;"><h2>Localisation</h2></div>
                <div flex layout="column" layout-gt-md="row">
                    <md-card class="pub-min-card" flex>
                        <md-card-content>
                            <ng-include flex="100" src="block.localisation" ng-hide="publicationData.adresse === '' &&
                             publicationData.codePostal === '' &&
                             publicationData.ville === '' &&
                             publicationData.pays === ''"
                                        style="display: block"></ng-include>
                        </md-card-content>
                    </md-card>
                </div>
            </div>

            <!--Contact-->
            <md-divider></md-divider>
            <div class="pub_ie_bloc">
                <div style="text-align: center;"><h2>Informations de contact</h2></div>
                <div flex layout="column" layout-gt-md="row">
                    <md-card class="pub-min-card" flex>
                        <md-card-content>
                            <ng-include flex="100" src="block.contact"
                                        ng-hide="publicationData.telephoneDeContact === '' && publicationData.emailDeContact === ''">
                                style="display: block">
                            </ng-include>
                        </md-card-content>
                    </md-card>
                </div>
            </div>

            <!--Internet-->
            <md-divider></md-divider>
            <div class="pub_ie_bloc">
                <div style="text-align: center;"><h2>Internet et réseaux sociaux</h2></div>

                <div flex layout="column" layout-gt-md="row">
                    <md-card flex>
                        <md-card-content>
                            <ng-include flex="100" src="block.internet" ng-hide="publicationData.lienSiteWeb === '' &&
                             publicationData.lienPageTwitter === '' &&
                             publicationData.lienPageLinkedin === '' &&
                             publicationData.lienPageFacebook === ''"
                                        style="display: block"></ng-include>
                        </md-card-content>
                    </md-card>
                </div>
            </div>
        </md-content>
    </md-dialog-content>

    <md-dialog-actions layout="row" layout="center center">
        <md-button ng-click="republierPublication($event)" ng-if="!locked && publication.statut.label === 'Dépubliée'"
                   md-colors="::{background: 'registre-primary-400', color: 'registre-background-50'}"
                   layout="row" layout-align="center center" class="md-raised md-primary">
            Republier ce contenu
        </md-button>
        <md-button ng-click="depublierPublication($event)"
                   ng-if="!locked && (publication.statut.label === 'Republiée' || publication.statut.label === 'Publiée')"
                   md-colors="::{background: 'registre-primary-400', color: 'registre-background-50'}"
                   layout="row" layout-align="center center" class="md-raised md-primary">
            Dé-publier ce contenu
        </md-button>
    </md-dialog-actions>
</md-dialog>