<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="fr" ng-app="hatvpRegistre" class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="fr" ng-app="hatvpRegistre" class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="fr" ng-app="hatvpRegistre" class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>
<html lang="fr" ng-app="hatvpRegistre" class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!-->
<html lang="fr" ng-app="hatvpRegistre" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Haute Autorité - AGORA</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Favicon -->
    <link rel="icon" type="image/png" href="{{images_dir}}/favicon.png" />

    <!-- bower:css -->
    <!-- endinject -->
    
    <!-- inject:css -->
    <!-- endinject -->

</head>

<body ng-cloak layout="column" md-theme="{{globalSettings.selectedTheme}}"
      ng-scrollbars-config="scrollbar">
<!--[if lte IE 9]>
<p class="browsehappy">Le navigateur que vous utilisez est trop ancien. Pour une expérience optimale, gardez votre
    navigateur à jour. Obtenez <a href="http://browsehappy.com/" target="_blank">ici</a> les versions les plus récentes.
</p>
<![endif]-->

<div ng-include="partials_views_dir + '/menu-bar.html'" ng-if="isConnected()"></div>
<div ng-include="partials_views_dir + '/menu-bar-void.html'" ng-if="!isConnected() && !isHome"></div>

<md-content layout="column" flex="100" layout-align="center">
    <div ui-view flex="100" layout="column"></div>
</md-content>

<div ng-include="partials_views_dir + '/footer.html'" ng-if="isConnected() || !isHome"></div>

<!--[if gt IE 9]>
<!-- bower:js -->
<!-- endinject -->

<!-- inject:js -->
<!-- endinject -->
<![endif]-->

</body>
</html>
