<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<md-content>

    <div layout="row" class="pad-h-30 pad-v-45">
        <h1 md-colors="::{color : 'registre-primary-400'}" class="md-title md-title-big" flex="40">
            Contrôle Qualité
        </h1>
    </div>
    <md-content style="padding: 20px;">

        <md-button md-no-ink class="md-primary" ng-click="initTable()" ng-if="search" >Effacer les filtres</md-button>
        <md-subheader class="md-no-sticky" ng-hide="objets.length > 0">Aucun objet qualifié.
        </md-subheader>
        <md-table-container>
            <div class="table-wrapper">
                <table md-table md-progress="objetsTableOptions.promise" >
                    <thead md-head  class="md-table-head" md-order="objetsTableOptions.order"
                           md-colors="::{color: 'registre-background-50',background: 'registre-primary-400'}">
                    <tr md-row>

                        <th md-colors="::{color: 'registre-background-50'}" class="center" md-column md-order-by="enregistrementDate" >Date d'enregistrement</th>

                        <th md-column md-order-by="denomination">
                            <md-input-container style="width:100%;">

                                <input placeholder="Dénomination ou nom d'usage" md-colors="::{color: 'registre-background-50'}"
                                       type="text"
                                       ng-model="denominationSearch"
                                       onclick="event.stopPropagation()"
                                       ng-keydown="$event.keyCode === 13 && callSearch('denomination')"
                                >
                            </md-input-container>
                        </th>

                        <th md-column md-order-by="idOrganisation" title = "{{'Identifiant national de l\'organisation'}}">
                            <md-input-container style="width:100%;">
                                <input placeholder="Identifiant national de l'organisation" md-colors="::{color: 'registre-background-50'}"
                                       type="text"
                                       ng-model="idOrganisationSearch"
                                       onclick="event.stopPropagation()"
                                       ng-keydown="$event.keyCode === 13 && callSearch('idOrganisation')"
                                >
                            </md-input-container>
                        </th>
                        <th md-column md-order-by="idFiche" title = "{{'Identifiant de la fiche'}}">
                            <md-input-container style="width:100%;">
                                <input placeholder="Identifiant de la fiche" md-colors="::{color: 'registre-background-50'}" type="text"
                                       ng-model="idFicheSearch" onclick="event.stopPropagation()"
                                       ng-keydown="$event.keyCode === 13 && callSearch('idFiche')"
                                >
                            </md-input-container>
                        </th>
                        <th md-column md-order-by="objet" title = "{{'Objet'}}">
                            <md-input-container style="width:100%;">
                                <input placeholder="Objet" md-colors="::{color: 'registre-background-50'}"
                                       type="text"
                                       ng-model="objetSearch"
                                       onclick="event.stopPropagation()"
                                       ng-keydown="$event.keyCode === 13 && callSearch('objet')"
                                >
                            </md-input-container>
                        </th>

                        <th md-colors="::{color: 'registre-background-50'}" class="center" md-column md-order-by="note" >Note</th>

                        <th md-colors="::{color: 'registre-background-50'}" class="center" md-column md-order-by="coefficientConfiance" >Coefficient de confiance</th>

                    </tr>
                    </thead>
                    <tbody md-body>
                    <tr md-row
                        ng-repeat="e in objets | orderBy: objetsTableOptions.order | filter: objetsTableOptions.filter"
                        ng-click="accessDetails($event, e)" class="back-office">
                        <td md-cell style ="padding:0 25px">{{e.enregistrementDate}}</td>
                        <td md-cell style ="padding:0 50px">{{e.nomUsage ? e.nomUsage : e.denomination}}</td>
                        <td md-cell style ="padding:0 25px">{{e.idOrganisation}}</td>
                        <td md-cell style ="padding:0 25px">{{e.idFiche }}</td>
                        <td md-cell style ="padding:0 50px">{{e.objet}}</td>
                        <td md-cell style ="padding:0 25px">{{e.note}}</td>
                        <td md-cell style ="padding:0 50px">{{e.coefficientConfiance}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <md-table-pagination md-label="{{objetsTableOptions.labels}}"
                                 md-page="objetsTableOptions.page" md-limit="objetsTableOptions.limit"
                                 md-total="{{objets.totalNumber}}"
                                 md-limit-options="objetsTableOptions.limitOptions"
                                 md-on-paginate="search ? onPaginateSearch : onPaginate"
                                 md-page-select></md-table-pagination>
        </md-table-container>
            <md-button export-antoinette>Télécharger</md-button>
    </md-content>
</md-content>