<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<fieldset  style="border: 0">
    <md-content layout="column" layout-margin layout-padding>
        <fieldset class="pad-h-5 pad-v-5 paragraph">
            La loi prévoit que tout représentant d'intérêts communique à la Haute Autorité le champ de ses activités de représentation d'intérêts.
            <br/><br/>
            Dans cette rubrique, vous devez sélectionner un ou plusieurs niveaux d’intervention auxquels
            vous conduisez des actions de représentation d’intérêts, ainsi qu’entre un et cinq champs qui correspondent, selon vous,
            aux principaux secteurs dans lesquels vous réalisez des actions de représentation d’intérêts.
            Pour en savoir plus, vous pouvez consulter
            <a class="link" ng-href="{{lien_lignes_directrices}}" target="_blank">les lignes directrices de la Haute Autorité</a>.
        </fieldset>
    </md-content>

    <form name="cardForm" ng-submit="submitCorporateData($event, cardForm.$valid, 'PRESENTATION_INTERET')" id="cardForm">
        <md-content layout="column" layout-margin layout-padding>
            <fieldset class="standard">
                <legend>Niveaux d'intervention tous secteurs confondus</legend>
                <div layout="row" layout-wrap flex>
                    <div flex="25" ng-repeat="item in niveauIntervention">
                        <md-checkbox ng-disabled="!(isContributor() && canUpdateAndPublish())" ng-model="item.value" ng-change="updateCountNiveauIntervention()">
                            {{ item.ordre + ". " + item.label }}
                        </md-checkbox>
                    </div>
                </div>
            </fieldset>
        </md-content>
        <md-content layout="column" layout-margin layout-padding>
            <fieldset class="standard">
                <legend>Principaux secteurs d'activités</legend>
                <div layout="row" layout-wrap flex>
                    <div flex="30" ng-repeat="item in secteurActivite">
                        <md-checkbox ng-disabled="!(isContributor() && canUpdateAndPublish())" ng-model="item.value">
                            {{ item.ordre + ". " + item.label }}
                        </md-checkbox>
                    </div>
                </div>
            </fieldset>
        </md-content>

        <md-content layout="row" layout-align="center center">
            <md-button type="submit" ng-if="isContributor() && canUpdateAndPublish()"
                       class="md-primary md-raised"
                       md-colors="::{background: 'registre-primary-400', color: 'registre-background-50'}">Enregistrer
            </md-button>
        </md-content>
        </md-card>
    </form>
</fieldset>