<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<style>
    .usersEditForm {
        height: 50px;
        width: 50px;
        cursor: pointer;
    }
</style>
<md-dialog aria-label="Modification du compte utilisateur" flex="70">

    <md-dialog-content>
        <div class="md-dialog-header" md-colors="::{background: 'registre-background-50'}" layout="row"
             layout-align="space-between start">
                <span class="md-title"
                      md-colors="::{color: 'registre-primary-100'}">Modification du compte utilisateur</span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-icon="{{images_dir}}/icons/cross.svg" aria-label="Close dialog"></md-icon>
                <md-tooltip md-direction="bottom">Fermer</md-tooltip>
            </md-button>
        </div>
        <md-content style="overflow-x: hidden">
            <h3>Ce compte utilisateur est {{userData.verrouille ? 'désactivé' : 'activé'}}
                <md-icon class="md-icon-lock"
                         md-svg-icon="{{images_dir}}/icons/{{userData.verrouille ? 'locked' : 'unlocked'}}.svg">
                </md-icon></h3>
            <form name="usersEditForm" ng-submit="submit(item, declarantEditForm.$dirty)">
                <fieldset class="standard">
                    <legend>Informations du compte</legend>
                    <div layout-wrap layout-gt-sm="row">
                        <div flex-gt-sm="33">
                            <md-input-container flex-gt-sm="100" flex-sm="100" flex-xs="100">
                                <label>Nom</label>
                                <input name="nom" ng-model="userData.nom" ng-required="!isEditMode">
                            </md-input-container>
                        </div>
                        <div flex-gt-sm="33">
                            <md-input-container flex-gt-sm="100" flex-sm="100" flex-xs="100">
                                <label>Prénom</label>
                                <input name="prenom" ng-model="userData.prenom" ng-required="!isEditMode">
                            </md-input-container>
                        </div>
                        <div flex-gt-sm="33">
                            <div layout="row" layout-align="start center">
                                <md-input-container class="md-block" flex-gt-sm="100" flex-sm="100" flex-xs="100">
                                    <label><i class="material-icons">email</i> Email</label>
                                    <input type="email" name="email" ng-model="userData.email"
                                           ng-required="!isEditMode"/>
                                </md-input-container>
                            </div>
                        </div>
                    </div>

                    <md-content>
                        <h3>Gestion des roles</h3>
                        <div layout="row" style="padding: 0px 10px;">
                            <div flex-gt-sm="50">
                                <md-checkbox ng-model="userData.gestionComptesDclarants"
                                             layout-align="center end">
                                    {{ roles.GESTION_COMPTES_DECLARANTS }}
                                </md-checkbox>

                                <md-checkbox ng-model="userData.gestionPublications">
                                    {{ roles.GESTION_CONTENUS_PUBLIES }}
                                </md-checkbox>

                                <md-checkbox ng-model="userData.gestionReferentielOrganisations">
                                    {{ roles.GESTION_REFERENTIEL_ORGANISATIONS }}
                                </md-checkbox>
                                <md-checkbox ng-model="userData.gestionEspaceCollaboratifs">
                                    {{ roles.GESTION_ESPACES_COLLABORATIFS_VALIDES }}
                                </md-checkbox>

                                <md-checkbox ng-model="userData.etatActivites">
                                    {{ roles.ETAT_ACTIVITES }}
                                </md-checkbox>


                            </div>
                            <div flex-gt-sm="50">
                                <md-checkbox ng-model="userData.administrateur" style="margin-right: 20%;">
                                    {{ roles.ADMINISTRATEUR }}
                                </md-checkbox>

                                <md-checkbox ng-model="userData.manager">
                                    {{ roles.MANAGER }}
                                </md-checkbox>

                                <md-checkbox ng-model="userData.modificationRaisonsSociales">
                                    {{ roles.MODIFICATION_DES_RAISONS_SOCIALES }}
                                </md-checkbox>

                                <md-checkbox ng-model="userData.traitementMandatDeGestion">
                                    {{ roles.GESTION_MANDATS }}
                                </md-checkbox>

                                <md-checkbox ng-model="userData.modificationEmails">
                                    {{ roles.MODIFICATION_EMAIL_DECLARANT }}
                                </md-checkbox>
                                <br/>
                                <md-checkbox ng-model="userData.restrictionAcces">
                                    {{ roles.RESTRICTION_ACCES }}
                                </md-checkbox>

                                <md-checkbox ng-model="userData.dataDownloader">
                                    {{ roles.DATA_DOWNLOADER }}
                                </md-checkbox>
                            </div>
                        </div>
                    </md-content>

                    <md-dialog-actions layout="row" layout="center center">
                        <md-button flex="50"
                                   md-colors="::{background: 'registre-background-50', color: 'registre-primary-400'}"
                                   type="submit" layout="row" layout-align="center center" class="md-raised md-primary"
                                   ng-click="cancel()">
                            Annuler
                        </md-button>
                        <md-button flex="50" ng-click="isEditMode ?  submitEditUser($event) : submitAddUser(c)"
                                   md-colors="::{background: 'registre-primary-400', color: 'registre-background-50'}"
                                   type="submit" layout="row" layout-align="center center" class="md-raised md-primary"
                                   ng-disabled="usersEditForm.$invalid">
                            Enregistrer
                        </md-button>
                    </md-dialog-actions>
                </fieldset>
            </form>
            <fieldset class="standard" ng-if="isEditMode">
                <legend>Action sur le compte</legend>
                <div layout-wrap layout-gt-sm="row" class="center_fieldset">
                    <div flex-gt-sm="33">
                        <md-icon class="md-icon-lock usersEditForm"
                                 ng-click="switchAccountState($event, userData.id)"
                                 md-svg-icon="{{images_dir}}/icons/{{userData.verrouille ? 'locked' : 'unlocked'}}.svg"
                                 aria-label="{{userData.verrouille ? 'Compte inactif' : 'Compte inactif'}}"
                                 >
                            <md-tooltip>Cliquez pour {{userData.verrouille ? 'activer' : 'désactiver'}} le compte
                            </md-tooltip>
                            
                        </md-icon>
                    </div>
                    <div flex-gt-sm="33">
                        <md-icon class="md-icon-lock usersEditForm"
                                 ng-click="deleteUserAccount($event, userData.id)"
                                 md-svg-icon="{{images_dir}}/icons/delete_poubelle.svg"
                                 aria-label="delete_poubelle">
                            <md-tooltip>Cliquer pour supprimer le compte
                            </md-tooltip>
                        </md-icon>
                    </div>
                    <div flex-gt-sm="33">
                        <md-icon class="md-icon-lock usersEditForm"
                                 ng-click="generateNewPassword($event, userData.id)"
                                 md-svg-icon="{{images_dir}}/icons/hanging-over-the-key.svg"
                                 aria-label="delete_poubelle">
                            <md-tooltip>Cliquer regénérer un nouveau mot de passe
                            </md-tooltip>
                        </md-icon>
                    </div>
                </div>
            </fieldset>
        </md-content>

    </md-dialog-content>

</md-dialog>