<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<md-content>
    <div layout="row" class="pad-h-30 pad-v-45">
        <h1 md-colors="::{color : 'registre-primary-400'}" class="md-title md-title-big" flex="40">
            Votre espace de gestion des comptes utilisateurs
        </h1>
    </div>
    <md-content layout="row" style="padding-left: 20px; padding-right: 12px">
        <div layout="column" layout-align="center end" flex="90">
            <md-button flex="50" ng-click="addAccount($event)"
                       md-colors="::{background: 'registre-primary-400', color: 'registre-background-50'}"
                       type="submit" layout="row" layout-align="center center" class="md-raised md-primary">
                Ajouter un nouveau utilisateur
                <md-icon class="md-icon-lock" md-svg-icon="{{images_dir}}/icons/plus.svg"
                         style="position: relative; left: 5%;"></md-icon>
            </md-button>
        </div>
    </md-content>
    <md-content style="padding: 20px;">
        <md-button md-no-ink class="md-primary" ng-click="reset()" ng-if="search" >Effacer les filtres</md-button>
        <md-subheader class="md-no-sticky" ng-hide="utilisateurs.length > 0">Aucun utilisateur enregistré.
        </md-subheader>
        <md-table-container>
            <table md-table md-progress="utilisateursTableOptions.promise">
                <thead md-head md-order="utilisateursTableOptions.order" class="md-table-head"
                       md-colors="::{color: 'registre-background-50',background: 'registre-primary-400'}">
                <tr md-row>
                    <th md-column md-order-by="name">
                        <md-input-container>
                            <input placeholder="Identifiant" md-colors="::{color: 'registre-background-50'}" type="text"
                                   ng-model="utilisateursIdentifiantKeywords" onclick="event.stopPropagation()"
                                   ng-keydown="$event.keyCode === 13 && callSearch('identifiant')"
                            >
                        </md-input-container>
                    </th>
                    <th md-column md-order-by="email">
                        <md-input-container>
                            <input placeholder="Email" md-colors="::{color: 'registre-background-50'}" type="text"
                                   ng-model="utilisateursEmailKeywords" onclick="event.stopPropagation()"
                                   ng-keydown="$event.keyCode === 13 && callSearch('email')"
                            >
                        </md-input-container>
                    </th>
                    <th md-colors="::{color: 'registre-background-50'}" md-column class="center"></th>
                    <th md-colors="::{color: 'registre-background-50'}" md-column class="center"></th>
                    <th md-colors="::{color: 'registre-background-50'}" md-column class="center"></th>
                    <th md-colors="::{color: 'registre-background-50'}" md-column class="center"></th>
                    <th md-colors="::{color: 'registre-background-50'}" md-column class="center"></th>
                    <th md-colors="::{color: 'registre-background-50'}" md-column class="center"></th>
                    <th md-colors="::{color: 'registre-background-50'}" md-column class="center"></th>
                    <th md-colors="::{color: 'registre-background-50'}" md-column class="center"></th>
                    <th md-colors="::{color: 'registre-background-50'}" md-column class="center"></th>
                    <th md-colors="::{color: 'registre-background-50'}" md-column class="center"></th>
                    <th md-colors="::{color: 'registre-background-50'}" md-column class="center"></th>
                    <th md-colors="::{color: 'registre-background-50'}" md-column class="center"></th>

                    <th md-colors="::{color: 'registre-background-50'}" md-column md-order-by="verrouille" class="center">Verrouillé</th>
                </tr>
                </thead>
                <tbody md-body>
                <tr md-row
                    ng-repeat="d in utilisateurs |
            orderBy: utilisateursTableOptions.order |
            filter: utilisateursTableOptions.filter |
            limitTo: utilisateursTableOptions.limit: (utilisateursTableOptions.page - 1) * utilisateursTableOptions.limit |
            filter:{verrouille:showLockedUsers}
            " ng-click="editAccount($event, d)" class="back-office">
                    <td md-cell>{{d.name}}</td>
                    <td md-cell>{{d.email}}</td>

                    <td md-cell class="center">
                        <md-icon class="md-icon-lock back-office"
                                 md-svg-icon="{{images_dir}}/icons/bo_roles/compte_declarant.svg"
                                 aria-label="" ng-class="d.gestionComptesDclarants && !d.verrouille ? '' : 'disabled_icon' ">
                            <md-tooltip>Gestion des comptes déclarants</md-tooltip>
                        </md-icon>
                    </td>
                    <td md-cell class="center">
                        <md-icon class="md-icon-lock back-office"
                                 md-svg-icon="{{images_dir}}/icons/bo_roles/publication.svg"
                                 aria-label="" ng-class="d.gestionPublications && !d.verrouille ? '' : 'disabled_icon' ">
                            <md-tooltip>Gestion des contenus publiés</md-tooltip>
                        </md-icon>
                    </td>
                    <td md-cell class="center">
                        <md-icon class="md-icon-lock back-office"
                                 md-svg-icon="{{images_dir}}/icons/ic_view_list_black_24px.svg"
                                 aria-label="" ng-class="d.gestionReferentielOrganisations && !d.verrouille ? '' : 'disabled_icon' ">
                            <md-tooltip>Gestion du référentiel des organisations</md-tooltip>
                        </md-icon>
                    </td>
                    <td md-cell class="center">
                        <md-icon class="md-icon-lock back-office"
                                 md-svg-icon="{{images_dir}}/icons/bo_roles/espace_colaboratif.svg"
                                 aria-label="" ng-class="d.gestionEspaceCollaboratifs && !d.verrouille ? '' : 'disabled_icon' ">
                            <md-tooltip>Gestion des espaces collaboratifs</md-tooltip>
                        </md-icon>
                    </td>
                    <td md-cell class="center">
                        <md-icon class="md-icon-lock back-office"
                                 md-svg-icon="{{images_dir}}/icons/bo_roles/raison_sociale.svg"
                                 aria-label="" ng-class="d.modificationRaisonsSociales && !d.verrouille ? '' : 'disabled_icon' ">
                            <md-tooltip>Modification des raisons sociales</md-tooltip>
                        </md-icon>
                    </td>

                    <td md-cell class="center">
                        <md-icon class="md-icon-lock back-office"
                                 md-svg-icon="{{images_dir}}/icons/bo_roles/mandat_gestion.svg"
                                 aria-label="" ng-class="d.traitementMandatDeGestion && !d.verrouille ? '' : 'disabled_icon' ">
                            <md-tooltip>Traitement des mandats de gestion</md-tooltip>
                        </md-icon>
                    </td>

                    <td md-cell class="center">
                        <md-icon class="md-icon-lock back-office"
                                 md-svg-icon="{{images_dir}}/icons/bo_roles/edit_email.svg"
                                 aria-label="" ng-class="d.modificationEmails && !d.verrouille ? '' : 'disabled_icon' ">
                            <md-tooltip>Modification d'email déclarant</md-tooltip>
                        </md-icon>
                    </td>
                    <td md-cell class="center">
                        <md-icon class="md-icon-lock back-office"
                                 md-svg-icon="{{images_dir}}/icons/bo_roles/restriction_acces.svg"
                                 aria-label="" ng-class="d.restrictionAcces && !d.verrouille ? '' : 'disabled_icon' ">
                            <md-tooltip>Restriction d'accèes</md-tooltip>
                        </md-icon>
                    </td>
                    <td md-cell class="center">
                        <md-icon class="md-icon-lock back-office"
                                 md-svg-icon="{{images_dir}}/icons/bo_roles/manager.svg"
                                 aria-label="" ng-class="d.manager && !d.verrouille ? '' : 'disabled_icon' ">
                            <md-tooltip>Manager</md-tooltip>
                        </md-icon>
                    </td>
                    <td md-cell class="center">
                        <md-icon class="md-icon-lock md-48 back-office"
                                 md-svg-icon="{{images_dir}}/icons/bo_roles/admin.svg"
                                 aria-label="" ng-class="d.administrateur && !d.verrouille ? '' : 'disabled_icon' ">
                            <md-tooltip>Administrateur</md-tooltip>
                        </md-icon>
                    </td>

                    <td md-cell class="center">
                        <md-icon class="md-icon-lock md-48 back-office"
                                 md-svg-icon="{{images_dir}}/icons/assessment.svg"
                                 aria-label="" ng-class="d.dataDownloader && !d.verrouille ? '' : 'disabled_icon' ">
                            <md-tooltip>Data Downloader</md-tooltip>
                        </md-icon>
                    </td>

                    <td md-cell class="center">
                        <md-icon class="md-icon-lock md-48 back-office"
                                 md-svg-icon="{{images_dir}}/icons/publi.svg"
                                 aria-label="" ng-class="d.etatActivites && !d.verrouille ? '' : 'disabled_icon' ">
                            <md-tooltip>État des activités</md-tooltip>
                        </md-icon>
                    </td>

                    <td md-cell class="center">
                        <md-icon class="md-icon-lock back-office"
                                 md-svg-icon="{{images_dir}}/icons/{{d.verrouille?'lock':'unlock'}}.svg"
                                 aria-label="verrouillé">
                            <md-tooltip>{{d.verrouille?'Compte inactif':'Compte actif'}}</md-tooltip>
                        </md-icon>
                    </td>
                </tr>
                </tbody>
            </table>
            <md-table-pagination md-label="{{utilisateursTableOptions.labels}}"
                                 md-page="utilisateursTableOptions.page" md-limit="utilisateursTableOptions.limit"
                                 md-total="{{utilisateurs.totalNumber}}"
                                 md-limit-options="utilisateursTableOptions.limitOptions"
                                 md-on-paginate="search ? onPaginateSearch : onPaginate"
            ></md-table-pagination>
        </md-table-container>
        <div layout="column" layout-align="center start" flex="90">
            <md-checkbox ng-model="showLockedUsers">Afficher la liste des utilisateurs inactifs</md-checkbox>
        </div>
    </md-content>
</md-content>