<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<md-toolbar style="padding: 6px 48px;" md-colors="::{background: 'registre-background-50'}" layout="row"
            layout-align="space-between center">

    <div class="md-toolbar-tools">
        <ng-include src="menuBarActionsTemplateUrl" flex="100"></ng-include>
    </div>
</md-toolbar>
<md-divider></md-divider>