<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<md-content layout="column" layout-padding>
    <div layout="row" class="pad-h-30 pad-v-45">
        <h1 md-colors="::{color : 'registre-primary-400'}" class="md-title md-title-big" flex="40">
            Gestion des espaces à valider
        </h1>
    </div>

    <md-content>
        <md-button md-no-ink class="md-primary" ng-click="reset()" ng-if="search" >Effacer les filtres</md-button>
        <md-subheader class="md-no-sticky" ng-hide="validations.length > 0">Aucune demande de validation d'espace
            enregistrée.
        </md-subheader>
        <md-table-container ng-show="validations.length > 0">
            <table md-table md-progress="validationsTableOptions.promise">
                <thead md-head md-order="validationsTableOptions.order" class="md-table-head"
                       md-colors="::{color: 'registre-background-50',background: 'registre-primary-400'}">
                <tr md-row>
                    <th md-column md-order-by="raisonSociale">
                        <md-input-container>

                            <input placeholder="Raison sociale" md-colors="::{color: 'registre-background-50'}"
                                   type="text"
                                   ng-model="raisonSocialeKeywords"
                                   onclick="event.stopPropagation()"
                                   ng-keydown="$event.keyCode === 13 && callSearch('denomination')"
                            >
                        </md-input-container>
                    </th>
                    <th md-column md-order-by="identifantDeclarant">
                        <md-input-container>

                            <input placeholder="Demandeur" md-colors="::{color: 'registre-background-50'}" type="text"
                                   ng-model="identifantDeclarantKeywords"
                                   onclick="event.stopPropagation()"
                                   ng-keydown="$event.keyCode === 13 && callSearch('demandeur')"
                            >
                        </md-input-container>
                    </th>
                    <th md-colors="::{color: 'registre-background-50'}" md-column md-order-by="dateDemande"
                        class="center">
                        <md-input-container>

                            <input placeholder="Date demande" md-colors="::{color: 'registre-background-50'}" md-colors="::{color: 'registre-background-50'}" type="text"
                                   ui-mask="99/99/9999" ui_mask_placeholder="__/__/____" ui-mask-placeholder-char="space"
                                   ng-pattern="/^((0[1-9]|[12][0-9]|3[01])[\/](0[1-9]|1[012])[\/](19|20)[0-‌​9]{2})$/"
                                   ng-model="dateKeywords"
                                   onclick="event.stopPropagation()"
                                   ng-keydown="$event.keyCode === 13 && callSearch('dateDemande')"
                            >
                        </md-input-container>
                    </th>
                    <th md-column md-order-by="etat">
                        <md-input-container>

                            <md-select style="background-color: white;" md-colors="::{color: 'grey-A100'}" ng-model="statutRecherche" placeholder="Statut" ng-change="statutChanged(statutRecherche)" class="md-no-underline">
                                <md-option md-colors="::{color: 'grey-A200'}" ng-value="statut.id" ng-repeat="statut in statuts">{{statut.label}}</md-option>
                            </md-select>
                        </md-input-container>
                    </th>
                    <th md-colors="::{color: 'registre-background-50'}" md-column class="center"></th>
                    <th md-colors="::{color: 'registre-background-50'}" md-column class="center"></th>
                </tr>
                </thead>
                <tbody md-body>
                <tr md-row
                    ng-repeat="v in validations |
            orderBy: validationsTableOptions.order |
            filter: validationsTableOptions.filter"
                    ng-click="editValidationEspace(v)"  class="back-office">
                    <td md-cell>{{v.raisonSociale}}</td>
                    <td md-cell>{{v.identifantDeclarant}}</td>
                    <td md-cell class="center">{{v.dateDemande}}</td>
                    <td md-cell>{{v.etat}}</td>

                    <td md-cell class="center">
                        <i class="material-icons" ng-if="v.locked">lock
                            <md-tooltip>verrouillé</md-tooltip>
                        </i>
                    </td>
                    <td md-cell class="center">
                        <i class="material-icons" ng-if="v.comment && v.comment.length > 0">comment
                            <md-tooltip>{{v.comment}}</md-tooltip>
                        </i>
                    </td>
                </tr>
                </tbody>
            </table>
            <md-table-pagination md-label="{{validationsTableOptions.labels}}"
                                 md-page="validationsTableOptions.page" md-limit="validationsTableOptions.limit"
                                 md-total="{{validations.totalNumber}}"
                                 md-limit-options="validationsTableOptions.limitOptions"
                                 md-on-paginate="search ? onPaginateSearch : onPaginate"
                                 md-page-select></md-table-pagination>
        </md-table-container>
    </md-content>
</md-content>