<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<style>
    .usersEditForm {
        height: 50px;
        width: 50px;
        cursor: pointer;
    }
</style>
<md-dialog aria-label="Modification du groupe d'utilisateurs" flex="70">

    <md-dialog-content>
        <div class="md-dialog-header" md-colors="::{background: 'registre-background-50'}" layout="row"
             layout-align="space-between start">
                <span class="md-title"
                      md-colors="::{color: 'registre-primary-100'}">Modification d'un groupe d'utilisateurs</span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-icon="{{images_dir}}/icons/cross.svg" aria-label="Close dialog"></md-icon>
                <md-tooltip md-direction="bottom">Fermer</md-tooltip>
            </md-button>
        </div>
        <md-content style="overflow-x: hidden">
            <form name="groupEditForm">
                <fieldset class="standard">
                    <legend>Informations du groupe</legend>
                    <div layout-wrap layout-gt-sm="row">
                        <md-input-container flex-gt-sm="100">
                            <label>Libelle</label>
                            <textarea name="nom" ng-model="groupData.libelle" ng-required="!isEditMode"></textarea>
                        </md-input-container>
                        <md-input-container flex-gt-sm="100">
                            <label>Liste des utilistateurs du groupe</label>
                            <md-select ng-model="groupData.utilisateurBoDto" multiple>
                                <md-optgroup label = "Utilisateurs">
                                    <md-option ng-repeat="u in usersList" ng-value="u">
                                        {{u.nom}}
                                    </md-option>
                                </md-optgroup>
                            </md-select>
                        </md-input-container>
                        <div flex-gt-sm="100" ng-if="isEmpty(groupData.utilisateurBoDto)">
                            <p>
                                Les utilisateurs du groupe sont {{printUsers()}}.
                            </p>
                        </div>
                    </div>

                    <md-dialog-actions layout="row" layout="center center">
                        <div ng-if="isEditMode">
                            <md-icon class="md-icon-lock groupEditForm"
                                     ng-click="deleteUserGroup($event, groupData.id)"
                                     md-svg-icon="{{images_dir}}/icons/delete_poubelle.svg"
                                     aria-label="delete_poubelle">
                                <md-tooltip>Cliquer pour supprimer le groupe
                                </md-tooltip>
                            </md-icon>
                        </div>
                        <md-button flex="50"
                                   md-colors="::{background: 'registre-background-50', color: 'registre-primary-400'}"
                                   type="submit" layout="row" layout-align="center center" class="md-raised md-primary"
                                   ng-click="cancel()">
                            Annuler
                        </md-button>
                        <md-button flex="50" ng-click="isEditMode ?  submitEditGroup($event) : submitAddGroup(c)"
                                   md-colors="::{background: 'registre-primary-400', color: 'registre-background-50'}"
                                   type="submit" layout="row" layout-align="center center" class="md-raised md-primary"
                                   ng-disabled="groupEditForm.$invalid">
                            Enregistrer
                        </md-button>
                    </md-dialog-actions>
                </fieldset>
            </form>
        </md-content>
    </md-dialog-content>
</md-dialog>