<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<md-content>
    <div layout="row" class="pad-h-30 pad-v-45">
        <h1 md-colors="::{color : 'registre-primary-400'}" class="md-title md-title-big" flex="40">
            gestion des groupes utilisateurs du BO
        </h1>
    </div>

    <md-content layout="column" layout-align="center end" flex="90">
        <md-button flex="50" ng-click="addUserGroup($event)"
                   md-colors="::{background: 'registre-primary-400', color: 'registre-background-50'}"
                   type="submit" layout="row" layout-align="center center" class="md-raised md-primary">
            Ajouter un nouveau groupe
            <md-icon class="md-icon-lock" md-svg-icon="{{images_dir}}/icons/plus.svg"
                     style="position: relative; left: 5%;"></md-icon>
        </md-button>
    </md-content>
    <md-content style="padding: 20px;">
        <md-button md-no-ink class="md-primary" ng-click="initTable()" ng-if="search" >Effacer les filtres</md-button>
        <md-subheader class="md-no-sticky" ng-hide="group.length > 0">Aucun groupe d'utilisateur enregistré.
        </md-subheader>
        <md-table-container>
            <div class="table-wrapper">
                <table md-table md-progress="groupTableOptions.promise">
                    <thead md-head md-order="groupTableOptions.order" class="md-table-head"
                           md-colors="::{color: 'registre-background-50',background: 'registre-primary-400'}">
                    <tr md-row>
                        <th md-column md-order-by="libelle">
                            <md-input-container>
                                <input placeholder="Libellé" md-colors="::{color: 'registre-background-50'}" type="text"
                                       ng-model="libelleSearch"
                                       ng-keydown="$event.keyCode === 13 && callSearch('libelle')"
                                >
                            </md-input-container>
                        </th>
                        <th md-column>
                            <md-input-container>
                                <input placeholder="Utilisateurs BO" md-colors="::{color: 'registre-background-50'}" type="text"
                                       ng-model="utilisateurBoDtoSearch"
                                       ng-keydown="$event.keyCode === 13 && callSearch('utilisateurBoDto')"
                                >
                            </md-input-container>
                        </th>
                    </tr>
                    </thead>
                    <tbody md-body>
                        <tr md-row ng-repeat="g in group |orderBy: groupTableOptions.order | filter: groupTableOptions.filter "
                            ng-click="editGroup($event, g)" class="back-office">
                            <td md-cell>{{g.libelle}}</td>
                            <td md-cell><span ng-repeat="u in g.utilisateurBoDto">{{u.nom}}<span ng-if="!$last">, </span></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <md-table-pagination md-label="{{groupTableOptions.labels}}"
                                 md-page="groupTableOptions.page" md-limit="groupTableOptions.limit"
                                 md-total="{{group.totalNumber}}"
                                 md-limit-options="groupTableOptions.limitOptions"
                                 md-on-paginate="search ? onPaginateSearch : onPaginate"
            ></md-table-pagination>
        </md-table-container>
    </md-content>
</md-content>