<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<md-content class="pad-h-30 pad-v-45">
    <p md-colors="::{color: 'registre-primary-400'}" class="md-title md-title-big" flex="40">
        Création d'un espace collaboratif
    </p>
</md-content>
<section ng-controller="UploadMandatCtrl">
    <form name="uploadForm" ng-submit="submit(uploadForm.files01.$valid && (uploadForm.files02.$valid || representantLegal), representantLegal)">
        <md-content class="pad-h-100" layout="row" class="section" layout-align="start start">
            <md-content layout="row" flex="40">
                <div flex="100">
                    <md-list class="md-dense" flex="100" layout="column">
                        <md-list-item class="md-8-line add_corporate_denomination" flex="100">
                            <div class="md-list-item-text" layout="column" flex="50">
                                <p><b>Dénomination</b></p>
                            </div>
                            <div class="md-list-item-text" layout="column" flex="50">
                                <p>{{selectedOrganization.data.denomination}}</p>
                            </div>
                        </md-list-item>
                        <md-divider></md-divider>
                        <md-list-item class="md-8-line" flex="100">
                            <div class="md-list-item-text" layout="column" flex="50">
                                <p><b>Type</b></p>
                            </div>
                            <div class="md-list-item-text" layout="column" flex="50">
                                <p>{{selectedOrganization.type}}</p>
                            </div>
                        </md-list-item>
                        <md-divider></md-divider>
                        <md-list-item class="md-8-line" flex="100">
                            <div class="md-list-item-text" layout="column" flex="50">
                                <p><b>Identifiant</b></p>
                            </div>
                            <div class="md-list-item-text" layout="column" flex="50">
                                <p>{{selectedOrganization.code}}</p>
                            </div>
                        </md-list-item>
                        <md-divider></md-divider>
                        <md-list-item class="md-8-line add_corporate_adress" flex="100">
                            <div class="md-list-item-text" layout="column" flex="50">
                                <p><b>Adresse</b></p>
                            </div>
                            <div class="md-list-item-text" layout="column" flex="50">
                                <pre class="md-list-item-text">{{selectedOrganization.data.adresse != undefined &&
                                    selectedOrganization.data.adresse != '' ? selectedOrganization.data.adresse :
                                    'Indisponible'}}</pre>
                            </div>
                        </md-list-item>
                        <md-divider></md-divider>
                        <md-list-item class="md-8-line" flex="100">
                            <div class="md-list-item-text" layout="column" flex="50">
                                <p><b>Code postal</b></p>
                            </div>
                            <div class="md-list-item-text" layout="column" flex="50">
                                <p>{{selectedOrganization.data.codePostal != undefined &&
                                    selectedOrganization.data.codePostal != '' ? selectedOrganization.data.codePostal :
                                    'Indisponible'}}</p>
                            </div>
                        </md-list-item>
                        <md-divider></md-divider>
                        <md-list-item class="md-8-line" flex="100">
                            <div class="md-list-item-text" layout="column" flex="50">
                                <p><b>Ville</b></p>
                            </div>
                            <div class="md-list-item-text" layout="column" flex="50">
                                <p>{{selectedOrganization.data.ville != undefined && selectedOrganization.data.ville != '' ?
                                    selectedOrganization.data.ville : 'Indisponible'}}</p>
                            </div>
                        </md-list-item>
                        <md-divider></md-divider>
                        <md-list-item class="md-8-line" flex="100">
                            <div class="md-list-item-text" layout="column" flex="50">
                                <p><b>Pays</b></p>
                            </div>
                            <div class="md-list-item-text" layout="column" flex="50">
                                <p>{{selectedOrganization.data.pays != undefined && selectedOrganization.data.pays != '' ?
                                    selectedOrganization.data.pays : 'Indisponible'}}</p>
                            </div>
                        </md-list-item>
                        <md-divider></md-divider>
                        <md-list-item class="md-8-line" flex="100"
                                    ng-show="selectedOrganization.data.siteWeb != '' && selectedOrganization.data.siteWeb != null">
                            <div class="md-list-item-text" layout="column" flex="50">
                                <p><b>Site internet</b></p>
                            </div>
                            <div class="md-list-item-text" layout="column" flex="50">
                                <p>{{ selectedOrganization.data.siteWeb}}</p>
                            </div>
                        </md-list-item>
                    </md-list>
                </div>
            </md-content>

            <md-content flex="60" class="section pad-l-50">
                <h3>Attention</h3>
                <p class="notice">Vous vous apprêtez à créer un espace collaboratif pour votre
                    organisation au sein de notre téléservice et à en devenir le contact
                    opérationnel.<br/><br/>Cela signifie que, lorsque la Haute
                    Autorit&eacute; pour la transparence de la vie publique aura valid&eacute; cette cr&eacute;ation,
                    vous aurez la possibilit&eacute; de :</p>
                <ul class="wiki-list0 notice m-b-0">
                    <li>D&eacute;clarer les informations relatives &agrave; la repr&eacute;sentation d'int&eacute;r&ecirc;ts
                        de votre organisation, notamment celles qui sont exigibles au titre de la loi ;
                    </li>
                    <li>Publier ces informations sur le site de la Haute Autorit&eacute;;</li>
                    <li>D&eacute;l&eacute;guer &agrave; d'autres le droit d'effectuer ces m&ecirc;mes actions.</li>
                </ul>
                <br/>
                <p class="notice m-t-0">
                    Si vous êtes le représentant légal de votre organisation, merci de verser toute
                    pièce justifiant de votre qualité de représentant légal ainsi qu’une copie de
                    votre pièce d’identité.
                </p>
                <p class="notice m-t-0">
                    Si vous n’êtes pas le représentant légal de votre organisation, merci de verser
                    un mandat du représentant légal conforme au modèle annexé à la délibération de
                    la Haute Autorité relative au fonctionnement de ce téléservice (<a class="link" ng-href="{{lien_mandats}}" target="_blank">disponible ici</a>),
                    une copie de sa pièce d’identité ainsi que toute pièce justifiant de sa qualité de représentant légal.
                </p>
                <p class="notice m-t-0">
                    En cas de difficulté, nous vous invitons à contacter les services de la Haute Autorité par courriel à l'adresse <a ng-href="mailto:{{email_contact_repertoire}}" class="link">{{email_contact_repertoire}}</a>.
                </p>
                <md-content layout="column" flex="100">
                    <md-checkbox ng-model="representantLegal" aria-label="Représentant Légal">
                        Cochez cette case si vous êtes le représentant légal de cette organisation.
                    </md-checkbox>
                    <md-table-container>
                        <table>
                            <tr>
                                <td>Justificatif de la qualité de représentant légal (taille maximale {{maxFileSizeInMB}} Mo) *</td>
                                <td>
                                    <lf-ng-md-file-input name="files03"
                                                        lf-files="files03"
                                                        lf-required
                                                        accept="image/jpg,image/jpeg,image/png,application/pdf"
                                                        lf-mimetype="image/jpg,image/jpeg,image/png,application/pdf"
                                                        lf-placeholder=""
                                                        progress
                                                        lf-filesize="{{maxFileSizeInMB}}MB"
                                                        lf-browse-label="Joindre fichier"
                                                        lf-remove-label="Supprimer"
                                                        class="input-file">
                                    </lf-ng-md-file-input>
                                    <md-content ng-messages="uploadForm.files03.$error" class="paragraph">
                                        <span ng-message="required">Le versement du justificatif est obligatoire.</span>
                                        <span ng-message="filesize">La taille du justificatif ne peut excéder {{maxFileSizeInMB}} Mo.</span>
                                        <span ng-message="mimetype">Format du justificatif incorrect. Seuls les formats jpg, jpeg, png ou pdf sont acceptés.</span>
                                        &nbsp;
                                    </md-content>
                                </td>
                            </tr>

                            <tr>
                                <td>Pièce d'identité du représentant légal (taille maximale {{maxFileSizeInMB}} Mo) *</td>
                                <td>
                                    <lf-ng-md-file-input name="files01"
                                                        lf-files="files01"
                                                        lf-required
                                                        accept="image/jpg,image/jpeg,image/png,application/pdf"
                                                        lf-mimetype="image/jpg,image/jpeg,image/png,application/pdf"
                                                        lf-placeholder=""
                                                        progress
                                                        lf-filesize="{{maxFileSizeInMB}}MB"
                                                        lf-browse-label="Joindre fichier"
                                                        lf-remove-label="Supprimer"
                                                        class="input-file">
                                    </lf-ng-md-file-input>
                                    <md-content ng-messages="uploadForm.files01.$error" class="paragraph">
                                            <span ng-message="required">Le versement de la pièce d'identité est obligatoire.</span>
                                            <span ng-message="filesize">La taille de la pièce d'identité ne peut excéder {{maxFileSizeInMB}} Mo.</span>
                                            <span ng-message="mimetype">Format de la pièce d'identité incorrect. Seuls les formats jpg, jpeg, png ou pdf sont acceptés.</span>
                                            &nbsp;
                                    </md-content>
                                </td>
                            </tr>

                            <tr ng-hide="representantLegal">
                                <td>Mandat du représentant légal (taille maximale {{maxFileSizeInMB}} Mo) *</td>
                                <td>
                                    <lf-ng-md-file-input name="files02"
                                                        lf-files="files02"
                                                        lf-required
                                                        accept="image/jpg,image/jpeg,image/png,application/pdf"
                                                        lf-mimetype="image/jpg,image/jpeg,image/png,application/pdf"
                                                        lf-placeholder=""
                                                        progress
                                                        lf-filesize="{{maxFileSizeInMB}}MB"
                                                        lf-browse-label="Joindre fichier"
                                                        lf-remove-label="Supprimer"
                                                        class="input-file">
                                    </lf-ng-md-file-input>
                                    <md-content ng-messages="uploadForm.files02.$error" class="paragraph">
                                            <span ng-message="required">Le versement du mandat est obligatoire.</span>
                                            <span ng-message="filesize">La taille du mandat ne peut excéder {{maxFileSizeInMB}} Mo.</span>
                                            <span ng-message="mimetype">Format du mandat incorrect. Seuls les formats jpg, jpeg, png ou pdf sont acceptés.</span>
                                            &nbsp;
                                    </md-content>
                                </td>
                            </tr>
                            <tr ng-hide="selectedOrganization.type !== 'RNA'">
                                <td>Statuts de votre organisation (taille maximale {{maxFileSizeInMB}} Mo) *</td>
                                <td>
                                    <lf-ng-md-file-input name="files04"
                                                            lf-files="files04"
                                                            lf-required
                                                            accept="image/jpg,image/jpeg,image/png,application/pdf"
                                                            lf-mimetype="image/jpg,image/jpeg,image/png,application/pdf"
                                                            lf-placeholder=""
                                                            progress
                                                            lf-filesize="{{maxFileSizeInMB}}MB"
                                                            lf-browse-label="Joindre fichier"
                                                            lf-remove-label="Supprimer"
                                                            class="input-file">
                                    </lf-ng-md-file-input>
                                    <md-content ng-messages="uploadForm.files04.$error" class="paragraph">
                                        <span ng-message="required">Le versement des statuts de votre organisation est obligatoire.</span>
                                        <span ng-message="filesize">La taille des statuts de votre organisation ne peut excéder {{maxFileSizeInMB}} Mo.</span>
                                        <span ng-message="mimetype">Format des statuts de votre organisation incorrect. Seuls les formats jpg, jpeg, png ou pdf sont acceptés.</span>
                                        &nbsp;
                                    </md-content>
                                </td>
                            </tr>
                        </table>                        
                    </md-table-container>                    
                </md-content>
            </md-content>
        </md-content>

        <md-content layout="row" layout-align="center center" class="pad-v-30" layout-wrap>
            <md-button layout="row" layout-align="center center"
                    class="md-primary md-button md-raised md-button-step"
                    md-colors="::{background: 'registre-primary-400', color: 'registre-background-50'}"
                    ng-click="goBackToChangeOrganization($event)">
                <i class="material-icons">reply</i> Revenir à l'ecran précédent
            </md-button>
            <md-button layout="row" layout-align="center center" type="submit"
                    class="md-primary md-button md-raised md-button-step"
                    md-colors="::{background: 'registre-primary-400', color: 'registre-background-50'}"
                    ng-disabled="uploadForm.files01.$invalid || uploadForm.files03.$invalid || (uploadForm.files02.$invalid && !representantLegal) || (uploadForm.files04.$invalid && selectedOrganization.type === 'RNA')">
                Je confirme ma demande de création
            </md-button>
        </md-content>
    </form>
</section>