<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<md-content layout="column" class="section" flex="100" style="display: block">

    <md-content layout="column" class="pad-t-30 ovh">
        <p md-colors="::{color: 'registre-primary-400'}" class="md-title md-title-small">
            Organisation sélectionnée
        </p>
    </md-content>

    <md-content layout="row" flex="100">
        <md-list class="md-dense" flex>
            <md-list-item class="md-8-line">
                <div class="md-list-item-text" layout="column" flex="50">
                    <p><b>Dénomination</b></p>
                </div>
                <div class="md-list-item-text" layout="column" flex="50">
                    <p>{{ selectedOrganization.data.denomination }}</p>
                </div>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item class="md-8-line">
                <div class="md-list-item-text" layout="column" flex="50">
                    <p><b>Nom d'usage</b></p>
                </div>
                <div class="md-list-item-text" layout="column" flex="50">
                    <p>{{ selectedOrganization.data.nomUsage }}</p>
                </div>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item class="md-8-line">
                <div class="md-list-item-text" layout="column" flex="50">
                    <p><b>Type</b></p>
                </div>
                <div class="md-list-item-text" layout="column" flex="50">
                    <p>{{selectedOrganization.type}}</p>
                </div>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item class="md-8-line">
                <div class="md-list-item-text" layout="column" flex="50">
                    <p><b>Identifiant</b></p>
                </div>
                <div class="md-list-item-text" layout="column" flex="50">
                    <p>{{selectedOrganization.code}}</p>
                </div>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item class="md-8-line">
                <div class="md-list-item-text" layout="column" flex="50">
                    <p><b>Adresse</b></p>
                </div>
                <div class="md-list-item-text" layout="column" flex="50">
                    <pre class="md-list-item-text">{{selectedOrganization.data.adresse != undefined &&
                        selectedOrganization.data.adresse != '' ? selectedOrganization.data.adresse :
                        'Indisponible'}}</pre>
                </div>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item class="md-8-line">
                <div class="md-list-item-text" layout="column" flex="50">
                    <p><b>Code postal</b></p>
                </div>
                <div class="md-list-item-text" layout="column" flex="50">
                    <p>{{selectedOrganization.data.codePostal != undefined && selectedOrganization.data.codePostal
                        != '' ? selectedOrganization.data.codePostal : 'Indisponible'}}</p>
                </div>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item class="md-8-line">
                <div class="md-list-item-text" layout="column" flex="50">
                    <p><b>Ville</b></p>
                </div>
                <div class="md-list-item-text" layout="column" flex="50">
                    <p>{{selectedOrganization.data.ville != undefined && selectedOrganization.data.ville != '' ?
                        selectedOrganization.data.ville : 'Indisponible'}}</p>
                </div>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item class="md-8-line">
                <div class="md-list-item-text" layout="column" flex="50">
                    <p><b>Pays</b></p>
                </div>
                <div class="md-list-item-text" layout="column" flex="50">
                    <p>{{selectedOrganization.data.pays != undefined && selectedOrganization.data.pays != '' ?
                        selectedOrganization.data.pays : 'Indisponible'}}</p>
                </div>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item class="md-8-line">
                <div class="md-list-item-text" layout="column" flex="50">
                    <p><b>Site internet</b></p>
                </div>
                <div class="md-list-item-text" layout="column" flex="50">
                    <p>{{selectedOrganization.data.siteWeb}}</p>
                </div>
            </md-list-item>
        </md-list>
    </md-content>
</md-content>