<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<md-content class="pad-h-30 pad-v-45">
    <p md-colors="::{color: 'registre-primary-400'}" class="md-title md-title-big">
        Rejoindre un espace collaboratif
    </p>
</md-content>

<section flex="100" layout-padding layout="row" layout-wrap class="pad-h-100">
    <md-content layout-wrap layout="row" layout-align="center center" flex="40">

        <div layout="column" flex="100" style="display: block">
            <md-list class="md-dense" flex>
                <md-list-item class="md-8-line fx-zoom-normal fx-dur-500 fx-ease-expo">
                    <div class="md-list-item-text" layout="column" flex="50">
                        <p><b>Dénomination</b></p>
                    </div>
                    <div class="md-list-item-text" layout="column" flex="50">
                        <p>{{selectedOrganization.data.denomination}}</p>
                    </div>
                </md-list-item>
                <md-divider></md-divider>
                <md-list-item class="md-8-line fx-zoom-normal fx-dur-500 fx-ease-expo">
                    <div class="md-list-item-text" layout="column" flex="50">
                        <p><b>Type</b></p>
                    </div>
                    <div class="md-list-item-text" layout="column" flex="50">
                        <p>{{selectedOrganization.type}}</p>
                    </div>
                </md-list-item>
                <md-divider></md-divider>
                <md-list-item class="md-8-line fx-zoom-normal fx-dur-500 fx-ease-expo">
                    <div class="md-list-item-text" layout="column" flex="50">
                        <p><b>Identifiant</b></p>
                    </div>
                    <div class="md-list-item-text" layout="column" flex="50">
                        <p>{{ selectedOrganization.code}}</p>
                    </div>
                </md-list-item>
                <md-divider></md-divider>
                <md-list-item class="md-8-line fx-zoom-normal fx-dur-500 fx-ease-expo">
                    <div class="md-list-item-text" layout="column" flex="50">
                        <p><b>Adresse</b></p>
                    </div>
                    <div class="md-list-item-text" layout="column" flex="50">
                        <pre class="md-list-item-text">{{selectedOrganization.data.adresse != undefined &&
                            selectedOrganization.data.adresse != '' ? selectedOrganization.data.adresse :
                            'Indisponible'}}</pre>
                    </div>
                </md-list-item>
                <md-divider></md-divider>
                <md-list-item class="md-8-line fx-zoom-normal fx-dur-500 fx-ease-expo">
                    <div class="md-list-item-text" layout="column" flex="50">
                        <p><b>Code postal</b></p>
                    </div>
                    <div class="md-list-item-text" layout="column" flex="50">
                        <p>{{selectedOrganization.data.codePostal != undefined && selectedOrganization.data.codePostal
                            != '' ? selectedOrganization.data.codePostal : 'Indisponible'}}</p>
                    </div>
                </md-list-item>
                <md-divider></md-divider>
                <md-list-item class="md-8-line fx-zoom-normal fx-dur-500 fx-ease-expo">
                    <div class="md-list-item-text" layout="column" flex="50">
                        <p><b>Ville</b></p>
                    </div>
                    <div class="md-list-item-text" layout="column" flex="50">
                        <p>{{selectedOrganization.data.ville != undefined && selectedOrganization.data.ville != '' ?
                            selectedOrganization.data.ville : 'Indisponible'}}</p>
                    </div>
                </md-list-item>
                <md-divider></md-divider>
                <md-list-item class="md-8-line fx-zoom-normal fx-dur-500 fx-ease-expo"
                              ng-show="selectedOrganization.data.siteWeb != '' && selectedOrganization.data.siteWeb != null">
                    <div class="md-list-item-text" layout="column" flex="50">
                        <p><b>Site internet</b></p>
                    </div>
                    <div class="md-list-item-text" layout="column" flex="50">
                        <p>{{selectedOrganization.data.siteWeb}}</p>
                    </div>
                </md-list-item>
            </md-list>
        </div>
    </md-content>
    <md-content layout-wrap layout="column" class="section pad-l-50" flex="60">
        <h3>Attention</h3>
        <p class="notice">Vous vous appr&ecirc;tez &agrave; demander &agrave; rejoindre un espace collaboratif d&eacute;j&agrave;
            cr&eacute;&eacute;. Si vous confirmez cette demande, elle sera transmise au contact op&eacute;rationnel
            de cet espace collaboratif, qui est seul habilit&eacute; &agrave; accepter votre demande.<br/><br/>Nous
            vous remercions de vous assurer, &agrave; l'aide des informations g&eacute;n&eacute;rales pr&eacute;sent&eacute;es
            sur la gauche de cet &eacute;cran, que la demande que vous formulez s'adresse bien &agrave;
            l'organisation pour laquelle vous devez rapporter des activit&eacute;s de repr&eacute;sentation d'int&eacute;r&ecirc;ts.<br/><br/>En
            cas de difficult&eacute;, nous vous invitons &agrave; contacter les services de la Haute Autorit&eacute;
            par courriel &agrave; l'adresse <a ng-href="mailto:{{email_contact_repertoire}}"
                                                class="link">{{email_contact_repertoire}}</a>.</p>
    </md-content>
</section>

<md-content layout="row" layout-align="center center" class="pad-v-30" layout-wrap>
    <md-button type="submit" layout="row" layout-align="center center"
               class="md-primary md-button md-raised md-button-step"
               md-colors="::{background: 'registre-primary-400', color: 'registre-background-50'}"
               ng-click="goBackToChangeOrganization($event)"
               ng-disabled="dataForm.$invalid">
        <i class="material-icons">reply</i> Revenir à l'ecran précédent
    </md-button>
    <md-button layout="row" layout-align="center center"
               class="md-primary md-button md-raised  md-button-step"
               md-colors="::{background: 'registre-primary-400', color: 'registre-background-50'}"
               ng-click="confirmJoinOrganizationSpace($event)"
               ng-disabled="dataForm.$invalid">
        Je confirme ma demande d'inscription
    </md-button>
</md-content>