<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<md-content layout="column">
    <div class="pad-h-30 pad-v-45" layout="row">
        <h1 md-colors="::{color : 'registre-primary-400'}" class="md-title md-title-big text-center" flex="40">
            Choisir une organisation
        </h1>
    </div>
    <md-content class="pad-h-100 pad-h-10p pad-b-30" layout="row" layout-align="center center" layout-wrap>
        <md-content layout="column" flex="70">

            <ng-include src="add_corporate.SEARCH_TEMPLATE"></ng-include>


            <md-content layout="row" layout-margin ng-include="add_corporate.STEP1B"
                        ng-show="selectedOrganization != null"></md-content>

            <md-content layout="row" class="pad-v-15">
                <md-button flex="50" ng-click="contact($event)" class="no-margin">Je ne trouve pas mon organisation</md-button>
                <md-button flex="50" ng-disabled="!showDetails" type="submit"
                        class="md-primary md-raised fx-zoom-normal fx-dur-500 fx-ease-expo no-margin"
                        md-colors="::{background: 'registre-primary-400', color: 'registre-background-50'}"
                        ng-click="createOrJoinOrganizationSpace($event)">
                    Continuer avec cette organisation
                </md-button>
            </md-content>
        </md-content>
    </md-content>
</md-content>
