<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<md-content ng-controller="SignupCtrl" ng-if="!loginView">
    <form class="pad-h-100" name="dataForm" ng-submit="signup($event, dataForm.$valid, dataForm)" novalidate>
        <md-content layout="column">
            <md-input-container class="md-block" layout="row">
                <md-content flex="100" layout="row" layout-align="start center">
                    <label class="md-container-ignore">Civilité</label>
                    <md-radio-group ng-required="true" name="civil" ng-model="user.civilite" layout="row"
                                    layout-align="center center" class="pad-h-50">
                        <md-radio-button value="M" class="md-primary">M.</md-radio-button>
                        <md-radio-button value="MME" class="md-primary">Mme</md-radio-button>
                    </md-radio-group>
                    <ng-messages for="dataForm.civil.$error">
                        <ng-message when="required">Ce champ est obligatoire.</ng-message>
                    </ng-messages>
                </md-content>
            </md-input-container>

            <md-input-container class="md-block">
                <label>Nom</label>
                <input required name="nom" ng-model="user.nom">
                <ng-messages for="dataForm.nom.$error">
                    <ng-message when="required">Ce champ est obligatoire.</ng-message>
                </ng-messages>
            </md-input-container>

            <md-input-container class="md-block">
                <label>Prénom</label>
                <input required name="prenom" ng-model="user.prenom">
                <ng-messages for="dataForm.prenom.$error">
                    <ng-message when="required">Ce champ est obligatoire.</ng-message>
                </ng-messages>
            </md-input-container>

            <md-input-container class="md-block">
                <label>Date de naissance</label>
                <input required name="birthday" ng-model="user.date_naissance" required ui-mask="99/99/9999"
                       ui_mask_placeholder="__/__/____" ui-mask-placeholder-char="space"
                       ng-pattern="/^((0[1-9]|[12][0-9]|3[01])[\/](0[1-9]|1[012])[\/](19|20)[0-‌​9]{2})$/">

                <ng-messages for="dataForm.birthday.$error">
                    <ng-message when="required">Ce champ est obligatoire.</ng-message>
                    <ng-message when="pattern">Veuillez modifier votre date de naissance.</ng-message>
                </ng-messages>
            </md-input-container>

            <md-input-container class="md-block">
                <md-content flex>
                    <label>Adresse courriel principale</label>
                    <input type="email" name="email" ng-model="user.email" ng-pattern="/^.+@.+\..+$/" required/>
                    <ng-messages for="dataForm.email.$error" role="alert">
                        <ng-message when="required">Ce champ est obligatoire.</ng-message>
                        <ng-message when="pattern">Le format de l'adresse courriel saisie est incorrect.</ng-message>
                    </ng-messages>
                </md-content>
            </md-input-container>

            <md-input-container class="md-block">
                <md-content flex>
                    <label>Numéro de téléphone principal</label>
                    <input name="telephone" ng-model="user.telephone" md-maxlength="15"
                           ng-pattern="/^\+?[\(\)0-9 \-]+$/" required/>
                    <ng-messages for="dataForm.telephone.$error">
                        <ng-message when="required">Ce champ est obligatoire.</ng-message>
                        <ng-message when="pattern">Le format du numéro de téléphone saisi est incorrect.</ng-message>
                        <ng-message when="md-maxlength">La longueur du numéro de téléphone doit être inférieure à 15
                            caractères.
                        </ng-message>
                    </ng-messages>
                </md-content>
            </md-input-container>

        </md-content>

        <md-content>
            <md-input-container class="md-block">
                <md-content flex>
                    <label>Mot de passe</label>
                    <input minlength="8" required name="password" ng-model="user.password"
                           type="password" ng-pattern="/^(?=.*?[a-zA-Z])(?=.*?[0-9]).{8,}$/">
                    <ng-messages for="dataForm.password.$error" ng-show='dataForm.password.$untouched'>
                        <ng-message when="required">Ce champ est obligatoire.</ng-message>
                        <ng-message when="minlength">Le mot de passe doit contenir au moins 8 caractères, dont au moins
                            un chiffre et une lettre.
                        </ng-message>
                        <ng-message when="pattern">Le format votre mot de passe est incorrect. Il doit contenir au moins
                            un chiffre et une lettre.
                        </ng-message>
                    </ng-messages>
                </md-content>
            </md-input-container>

            <md-input-container class="md-block">
                <md-content flex>
                    <label>Confirmation du mot de passe</label>
                    <input name="password2" ng-model="password2"
                           type="password" required password-verify="user.password">
                    <ng-messages for="dataForm.password2.$error">
                        <ng-message when="required">Ce champ est obligatoire.</ng-message>
                        <ng-message when="passwordVerify">Les deux mots de passes ne sont pas identiques!
                        </ng-message>
                    </ng-messages>
                </md-content>
            </md-input-container>

            <md-content class="md-block" flex>
                <div flex="90">
                    <lf-ng-md-file-input name="files01"
                                         lf-files="files01"
                                         lf-required
                                         accept="image/jpg,image/jpeg,image/png,application/pdf"
                                         lf-mimetype="image/jpg,image/jpeg,image/png,application/pdf"
                                         lf-placeholder="Pièce d'identité *"
                                         progress
                                         lf-filesize="{{maxFileSizeInMB}}MB"
                                         lf-browse-label="Joindre fichier"
                                         lf-remove-label="Supprimer"
                                         class="input-file">
                    </lf-ng-md-file-input>
                </div>
            </md-content>

            <md-content class="md-block" flex style="padding-bottom: 20px;">
                <div ng-messages="dataForm.files01.$error"  >
                    <span ng-message="filesize">La taille de la pièce d'identité ne peut excéder {{maxFileSizeInMB}} Mo.</span>
                    <span ng-message="mimetype">Format de la pièce d'identité incorrect. Seuls les formats jpg, jpeg, png ou pdf sont acceptés.</span>
                    &nbsp;
                </div>
            </md-content>

            <md-content class="md-block" flex style="padding-bottom: 20px;">
                <div layout="row" layout-wrap flex>
                    <md-checkbox ng-model="checked">
                        Je confirme ne pas avoir déjà créé un compte sur AGORA
                    </md-checkbox>
                </div>
            </md-content>
        </md-content>

        <div layout="row" layout-align="center">
            <button md-button md-colors="::{background: 'registre-primary-400', color: 'registre-background-50'}"
                    type="submit" class="md-raised" flex="90" ng-disabled="!checked">
                S'enregistrer
            </button>
        </div>
    </form>
</md-content>