<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title th:remove="all">Répertoire</title>
<style>
body {
	font-family: Arial, Helvetica, Tahoma, sans-serif;
	font-size: 16px;
}

pre {
	font-family: Arial, Helvetica, Tahoma, sans-serif;
	font-size: 12px;
}
</style>
</head>

<body style="line-height: 1.2">
	<table width="780" border="0" align="center" cellpadding="0" cellspacing="0">
		<tbody>
			<tr>
				<td align="left" valign="top" style="background: rgb(27, 43, 75); height: 6px;"></td>
			</tr>
			<tr>
				<td align="center" valign="top" bgcolor="#f1f69d"
					style="background-color: rgb(250, 250, 250); color: #000000; padding: 10px; border-left: 4px solid rgb(27, 43, 75); border-right: 4px solid rgb(27, 43, 75);">
					<table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-size: 12px; margin-top: 10px;">
						<tbody>
							<tr>
								<td align="left" valign="top" style="color: #525252;"><img src="../logo.png" th:src="|cid:${imageResourceName}|" style="margin-left: 10px; padding: 20px;"
									align="right" />
									<div style="width: 75%; text-align: justify;">
										<p style="margin-bottom: 25px">
											Bonjour,
										</p>

										<p>
											Nous sommes le <span th:text="${date}">JJ-MM-AAAA</span>, il est <span th:text="${heure}">HH:MM</span>.
										</p>
										
										<p>
											Créations d'espaces collaboratifs</br>
											<span th:text="${creationEC}">CREATION_EC</span> demandes de création d'espaces collaboratifs et <span th:text="${complementEC}">COMPLEMENT_EC</span> réponses à des demandes de compléments pour des créations d'espaces sont à traiter.
										</p>
										
										<p>
											Mandats de gestion</br>
											<span th:text="${demandeMandat}">DEMANDE_MANDAT</span> demandes de changements de mandats de gestion et <span th:text="${complementMandat}">COMPLEMENT_MANDAT</span> réponses à des demandes de compléments pour des changements de mandats de gestion sont à traiter.
										</p>

										<p>
											Gestion du référentiel</br>
											<span th:text="${demandeOrga}">DEMANDE_ORGA</span> demandes de création d'entités au référentiel des organisation sont à traiter.
										</p>
										
										<p>
											Chiffres globaux</br>
											Le répertoire compte <span th:text="${today}">INSCRIT</span> inscrits, soit une différence de <span th:text="${yesterday}">HIER</span> par rapport à hier, <span th:text="${oneWeekAgo}">+X</span> par rapport au <span th:text="${minusOneWeek}">SEMAINE</span>, <span th:text="${oneMonthAgo}">+X</span> par rapport au <span th:text="${minusOneMonth}">MOIS</span>.<br/>
											Au total, <span th:text="${espace}">ESPACE</span> organisations ont engagé des démarches sur AGORA.
										</p>
										
										<p>
											L'automate vous souhaite une excellente journée.
										</p>

									</div>
									<div style="width: 25%">&nbsp;</div></td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
			<tr>
				<td align="left" valign="top" bgcolor="#478730" style="background-color: rgb(27, 43, 75);">
					<table width="100%" border="0" cellspacing="0" cellpadding="15">
						<tbody>
							<tr style="text-align: center">
								<td align="left" valign="top" style="text-align: center; color: #ffffff;"></td>
								<td>&nbsp;</td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>
