<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title th:remove="all">Répertoire</title>
<style>
body {
	font-family: Arial, Helvetica, Tahoma, sans-serif;
	font-size: 16px;
}

pre {
	font-family: Arial, Helvetica, Tahoma, sans-serif;
	font-size: 12px;
}
</style>
</head>

<body style="line-height: 1.2">
	<table width="780" border="0" align="center" cellpadding="0" cellspacing="0">
		<tbody>
			<tr>
				<td align="left" valign="top" style="background: rgb(27, 43, 75); height: 6px;"></td>
			</tr>
			<tr>
				<td align="center" valign="top" bgcolor="#f1f69d"
					style="background-color: rgb(250, 250, 250); color: #000000; padding: 10px; border-left: 4px solid rgb(27, 43, 75); border-right: 4px solid rgb(27, 43, 75);">
					<table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-size: 12px; margin-top: 10px;">
						<tbody>
							<tr>
								<td align="left" valign="top" style="color: #525252;"><img src="../logo.png" th:src="|cid:${imageResourceName}|" style="margin-left: 10px; padding: 20px;"
									align="right" />
									<div style="width: 75%; text-align: justify;">
										<p style="margin-bottom: 25px">
											<span th:text="${civilite}">Civilité</span>,
										</p>

										<th:block th:switch="${niveauRappel}">
											<p th:case="'P'">
												<span th:if="${typeRappel} == 'FAMA'">
													Nous vous rappelons que vous devez communiquer à la Haute Autorité pour la transparence de la vie publique, avant le <span th:text="${dateLimite}">Date limite</span>
<!-- 													<ul> -->
														<br/>- les activités de représentation d’intérêts effectuées durant la période du <span th:text="${dateDebut}">Date début</span> au <span th:text="${dateFin}">Date fin</span> ;
														<br/>- les moyens alloués par <span th:text="${denomination}">Raison sociale</span> à la représentation d’intérêts pour la période du <span th:text="${dateDebut}">Date début</span> au <span th:text="${dateFin}">Date fin</span>.
<!-- 													</ul>	 -->
													Cette communication s’effectue depuis votre espace collaboratif sur notre téléservice AGORA, à l’adresse : <a href="https://repertoire.hatvp.fr/" style="font-size: 13px; text-decoration: none;">repertoire.hatvp.fr</a>.
												</span>
												<span th:if="${typeRappel} == 'FA'">
<!-- 													<ul> -->
														<br/>- les activités de représentation d’intérêts effectuées durant la période du <span th:text="${dateDebut}">Date début</span> au <span th:text="${dateFin}">Date fin</span> ;
<!-- 													</ul>	 -->
													Cette communication s’effectue depuis votre espace collaboratif sur notre téléservice AGORA, à l’adresse : <a href="https://repertoire.hatvp.fr/" style="font-size: 13px; text-decoration: none;">repertoire.hatvp.fr</a>.
												</span>
												<span th:if="${typeRappel} == 'MA'">
<!-- 													<ul> -->
														<br/>- les moyens alloués par <span th:text="${denomination}">Raison sociale</span> à la représentation d’intérêts pour la période du <span th:text="${dateDebut}">Date début</span> au <span th:text="${dateFin}">Date fin</span>.
<!-- 													</ul>	 -->
													Cette communication s’effectue depuis votre espace collaboratif sur notre téléservice AGORA, à l’adresse : <a href="https://repertoire.hatvp.fr/" style="font-size: 13px; text-decoration: none;">repertoire.hatvp.fr</a>.
												</span>
												<br/><br/>
												Dans le cas où vous n'auriez pas conduit d'activités de représentation d'intérêts sur cette période, merci de nous l'indiquer dans les mêmes conditions.
												<br/><br/>
												<span th:if="${typeRappel} != 'MA'">Important</span>
												<br/><br/>
												<span th:if="${typeRappel} != 'MA'">
													<span th:if="${nombreActivite} == '0'">Après avoir rempli une fiche d’activité, n’oubliez pas de cliquer sur le bouton « Communiquer ma fiche » depuis le formulaire de saisie. Votre
														fiche sera alors rendue publique dans un délai maximal de 60 minutes.
													</span>
													<span th:if="${nombreActivite} != '0'">
														Nous avons noté que vous aviez saisi <span th:text="${nombreActivite}">Nombre de fiche</span> fiche(s) d’activité(s) pour la période, mais sans nous les communiquer.
														N’oubliez pas, dès lors que votre saisie sera terminée, de cliquer sur le bouton « Communiquer ma fiche » depuis le formulaire : votre fiche sera alors rendue publique
														dans un délai maximal de 15 minutes.
													</span>
												</span>
											</p>
											<p th:case="'R1'">
												<span th:if="${typeRappel} == 'FAMA'">
													L’organisation <span th:text="${denomination}">Raison sociale</span>, dont vous êtes le contact opérationnel sur notre service de télédéclaration Agora, 
													n'a déclaré auprès de la Haute Autorité pour la transparence de la vie publique ni fiche d’activités ni moyens alloués à la représentation d'intérêts 
													pour la période du <span th:text="${dateDebut}">Date début</span> au <span th:text="${dateFin}">Date fin</span>.
												</span>
												<span th:if="${typeRappel} == 'FA'">
													L’organisation <span th:text="${denomination}">Raison sociale</span>, dont vous êtes le contact opérationnel sur notre service de télédéclaration Agora, 
													n'a déclaré auprès de la Haute Autorité pour la transparence de la vie publique aucune fiche d’activités de représentation d'intérêts 
													pour la période du <span th:text="${dateDebut}">Date début</span> au <span th:text="${dateFin}">Date fin</span>.
												</span>
												<span th:if="${typeRappel} == 'MA'">
													L’organisation <span th:text="${denomination}">Raison sociale</span>, dont vous êtes le contact opérationnel sur notre service de télédéclaration Agora, 
													n'a déclaré auprès de la Haute Autorité pour la transparence de la vie publique aucun moyens alloués à la représentation d'intérêts 
													pour la période du <span th:text="${dateDebut}">Date début</span> au <span th:text="${dateFin}">Date fin</span>.
												</span>
												<br/><br/>
												Nous vous invitons à régulariser cette situation dans les plus brefs délais depuis votre espace collaboratif.
												<br/><br/>
												Dans le cas où vous n'auriez pas conduit d'activité de représentation d'intérêts sur cette période, merci de nous l'indiquer également via notre téléservice.
											</p>
											<p th:case="'R2'">
												<span th:if="${typeRappel} == 'FAMA'">
													Malgré notre relance effectuée par courriel le <span th:text="${dateRelance}">Date Relance</span>, l’organisation <span
													th:text="${denomination}">Raison sociale</span>, pour laquelle vous êtes contact opérationnel de l’espace collaboratif sur le service de télédéclaration AGORA, n'a
													toujours pas communiqué à la Haute Autorité pour la transparence de la vie publique de fiche d’activités ni de moyens alloués à la représentation d'intérêts pour la
													période allant du <span th:text="${dateDebut}">Date début</span> au <span th:text="${dateFin}">Date fin</span>.
												</span>
												<span th:if="${typeRappel} == 'FA'">
													Malgré notre relance effectuée par courriel le <span th:text="${dateRelance}">Date Relance</span>, l’organisation <span
													th:text="${denomination}">Raison sociale</span>, pour laquelle vous êtes contact opérationnel de l’espace collaboratif sur le service de télédéclaration AGORA, n'a
													toujours pas communiqué à la Haute Autorité pour la transparence de la vie publique ses activités de représentation d'intérêts pour la période allant du <span
													th:text="${dateDebut}">Date début</span> au <span th:text="${dateFin}">Date fin</span>.
												</span>
												<span th:if="${typeRappel} == 'MA'">
													Malgré notre relance effectuée par courriel le <span th:text="${dateRelance}">Date Relance</span>, l’organisation <span
													th:text="${denomination}">Raison sociale</span>, pour laquelle vous êtes contact opérationnel de l’espace collaboratif sur le service de télédéclaration AGORA, n'a
													toujours pas communiqué à la Haute Autorité pour la transparence de la vie publique ses moyens alloués à la représentation d'intérêts pour la période allant du <span
													th:text="${dateDebut}">Date début</span> au <span th:text="${dateFin}">Date fin</span>.
												</span>
												<br/><br/>
												Nous vous rappelons que le fait de ne pas communiquer à la Haute Autorité les informations que votre entité est tenue de lui communiquer en application de l'article 18-3 
												de la loi n° 2013-907 du 11 octobre 2013 est puni d'un an d'emprisonnement et de 15 000 € d'amende.
												<br/><br/>
												Dans le cas où vous n'auriez pas conduit d'activités de représentation d'intérêts sur cette période, merci de nous l'indiquer également via notre téléservice.
											</p>
											<p th:case="'NBL'">
												<span th:if="${typeRappel} == 'FAMA'">
													En dépit de nos précédentes relances, l’organisation <span th:text="${denomination}">Raison sociale</span>, pour laquelle
													vous êtes contact opérationnel de l’espace collaboratif sur le service de télédéclaration AGORA, n'a toujours pas communiqué à la Haute Autorité pour la transparence
													de la vie publique de fiche d’activités ni de moyens alloués à la représentation d'intérêts pour la période allant du <span th:text="${dateDebut}">Date début</span> au
													<span th:text="${dateFin}">Date fin</span> ; il ne nous a pas non plus été communiqué que votre organisation n'avait pas effectué de représentation d'intérêts sur cette période.
												</span>
												<span th:if="${typeRappel} == 'FA'">
													En dépit de nos précédentes relances, l’organisation <span th:text="${denomination}">Raison sociale</span>, pour laquelle
													vous êtes contact opérationnel de l’espace collaboratif sur le service de télédéclaration AGORA, n'a toujours pas communiqué à la Haute Autorité pour la transparence
													de la vie publique ses activités de représentation d'intérêts pour la période allant du <span th:text="${dateDebut}">Date début</span> au <span
													th:text="${dateFin}">Date fin</span> ; il ne nous a pas non plus été communiqué que votre organisation n'avait pas effectué de représentation d'intérêts sur cette période.
												</span>
												<span th:if="${typeRappel} == 'MA'">
													En dépit de nos précédentes relances, l’organisation <span th:text="${denomination}">Raison sociale</span>, pour laquelle
													vous êtes contact opérationnel de l’espace collaboratif sur le service de télédéclaration AGORA, n'a toujours pas communiqué à la Haute Autorité pour la transparence
													de la vie publique ses moyens alloués à la représentation d'intérêts pour la période allant du <span th:text="${dateDebut}">Date début</span> au <span
													th:text="${dateFin}">Date fin</span> ; il ne nous a pas non plus été communiqué que votre organisation n'avait pas de moyens alloués à la représentation d'intérêts sur cette période.
												</span>
												<br/><br/>
												En conséquence, le nom de votre organisation apparaît désormais dans la partie <i>« Représentants d’intérêts n'ayant pas communiqué à la Haute Autorité tout ou partie des informations exigibles
												par la loi »</i> du répertoire numérique des représentants d’intérêts, consultable sur <a href="www.hatvp.fr/" style="font-size: 13px; text-decoration: none;">www.hatvp.fr</a>.
												Vous pouvez à tout moment en être retiré en régularisant votre situation.
												<br/> <br/>
												En complément,
												nous vous rappelons que le fait de ne pas communiquer à la Haute Autorité pour la transparence de la vie publique les informations que vous êtes tenu de lui communiquer
												en application de l'article 18-3 de la loi n° 2013-907 du 11 octobre 2013 est puni d'un an d'emprisonnement et de 15 000 € d'amende.
											</p>
										</th:block>
										<p>
											La direction des publics, de l’information et de la communication demeure à votre disposition par courriel à l’adresse <a href="mailto:repertoire@hatvp.fr" style="text-decoration: none">repertoire@hatvp.fr</a>
											ou par téléphone, du lundi au vendredi entre 9h00 et 12h30 et 14h00 et 17h00 au 01 86 21 92 29.
										</p>
										<p>
											Par ailleurs, dans le cas où vous auriez été destinataire d’un courrier ou d’un courriel de contrôle adressé par la direction du contrôle des représentants d’intérêts, 
											vous restez dans l’obligation d’y répondre. Les procédures engagées par ces deux directions demeurent distinctes.
										</p>
										<p style="margin-top: 25px">Les services de la Haute Autorité pour la transparence de la vie publique</p>
									</div>
									<div style="width: 25%">&nbsp;</div></td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
			<tr>
				<td align="left" valign="top" bgcolor="#478730" style="background-color: rgb(27, 43, 75);">
					<table width="100%" border="0" cellspacing="0" cellpadding="15">
						<tbody>
							<tr style="text-align: center">
								<td align="left" valign="top" style="text-align: center; color: #ffffff;"><a href="https://repertoire.hatvp.fr/"
									style="font-size: 13px; color: #ffffff; text-decoration: none;">repertoire.hatvp.fr</a></td>
								<td>&nbsp;</td>
								<td><a href="mailto:repertoire@hatvp.fr" style="color: #ffffff; font-size: 13px; text-decoration: none">repertoire@hatvp.fr</a></td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>
