<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<md-content>

    <div layout="row" class="pad-h-30 pad-v-45">
        <h1 md-colors="::{color : 'registre-primary-400'}" class="md-title md-title-big" flex="40">
            Gestion de la blacklist
        </h1>
    </div>
    <md-content style="padding: 20px;">

        <md-button md-no-ink class="md-primary" ng-click="initTable()" ng-if="search" >Effacer les filtres</md-button>
        <md-subheader class="md-no-sticky" ng-hide="blacklist.length > 0">Aucun espace organisation enregistré.
        </md-subheader>
        <md-table-container>
            <div class="table-wrapper">
                <table md-table md-progress="blacklistTableOptions.promise" >
                    <thead md-head  class="md-table-head" md-order="blacklistTableOptions.order"
                           md-colors="::{color: 'registre-background-50',background: 'registre-primary-400'}">
                    <tr md-row>
                        <th md-column md-order-by="denomination" title = "{{'Dénomination'}}">
                            <md-input-container style="width:100%;">
                                <input placeholder="Dénomination ou nom d'usage" md-colors="::{color: 'registre-background-50'}"
                                       type="text"
                                       ng-model="denominationSearch"
                                       onclick="event.stopPropagation()"
                                       ng-keydown="$event.keyCode === 13 && callSearch('denomination')"
                                >
                            </md-input-container>
                        </th>
                        <th md-column md-order-by="identifiant" title = "{{'Identifiant'}}">
                            <md-input-container style="width:100%;">
                                <input placeholder="Identifiant" md-colors="::{color: 'registre-background-50'}" type="text"
                                       ng-model="identifiantSearch" onclick="event.stopPropagation()"
                                       ng-keydown="$event.keyCode === 13 && callSearch('identifiant')"
                                >
                            </md-input-container>
                        </th>

                         <th md-colors="::{color: 'registre-background-50'}" class="center" md-column md-order-by="nbJoursBlacklist" >Date d' introduction</th>
                         <th md-colors="::{color: 'registre-background-50'}" class="center" md-column md-order-by="nbJoursBlacklist" >Date de publication</th>
                         <th md-colors="::{color: 'registre-background-50'}" class="center" md-column md-order-by="nbJoursBlacklist" >Dates de l'exercice blacklisté</th>

                        <th md-colors="::{color: 'registre-background-50'}" class="center" md-column md-order-by="nbJoursBlacklist" >Nombre de jours blacklisté</th>
                        <th md-column title = "{{'Raison du blacklistage'}}">
                            <md-input-container style="width:100%;">
                                <md-select style="background-color: white;" md-colors="::{color: 'grey-A100'}" ng-model="raisonBlacklistSearch" placeholder="Raison du blacklistage" ng-change="raisonChanged(raisonBlacklistSearch)" class="md-no-underline">
                                    <md-option md-colors="::{color: 'grey-A200'}" ng-repeat="raison in raisonBlacklist track by $index">{{raison}}</md-option>
                                </md-select>
                            </md-input-container>
                        </th>
                        <th md-colors="::{color: 'registre-background-50'}" class="center" md-column md-order-by="nbJoursBlacklist" >Date de l'exercice précédent</th>
						<th md-colors="::{color: 'registre-background-50'}" class="center" md-column md-order-by="nbJoursBlacklist" >Nombre de jours blacklisté dans l'exercice précédent pour fiche d'activité</th>
						<th md-colors="::{color: 'registre-background-50'}" class="center" md-column md-order-by="nbJoursBlacklist" >Nombre de jours blacklisté dans l'exercice précédent pour moyens alloués</th>
						<th md-colors="::{color: 'registre-background-50'}" class="center" md-column md-order-by="nbJoursBlacklist" >Nombre de jours blacklisté total pour fiche d'activité</th>
						<th md-colors="::{color: 'registre-background-50'}" class="center" md-column md-order-by="nbJoursBlacklist" >Nombre de jours blacklisté total pour moyens alloués</th>

                    </tr>
                    </thead>
                    <tbody md-body>
                    <tr md-row
                        ng-repeat="e in blacklist | orderBy: blacklistTableOptions.order | filter: blacklistTableOptions.filter"
                        ng-click="accessDetails($event, e)" class="back-office">
                        <td md-cell>{{e.nomUsage ? e.nomUsage : e.nomUsageHatvp ? e.nomUsageHatvp : e.denomination}}</td>
                        <td md-cell style ="padding:0 100px">{{e.identifiant}}</td>
                        <td md-cell style ="padding:0 100px">{{e.creationDate }}</td>
                        <td md-cell style ="padding:0 100px">{{e.validationDate != null ? e.validationDate : "Pas de publications"}}</td>
                        <td md-cell style ="padding:0 100px">{{e.dateExCourant}}</td>
                        <td md-cell style ="padding:0 100px">{{e.nbJoursBlacklist}}</td>
                        <td md-cell style ="padding:0 100px">{{e.raisonBlacklist ? e.raisonBlacklist : "Non spécifié dans l'exercice courant"}}</td>
                        <td md-cell style ="padding:0 100px">{{e.dateExPrecedent}}</td>
                        <td md-cell style ="padding:0 100px">{{e.nbJoursBlacklistExPrecedentFA}}</td>
                        <td md-cell style ="padding:0 100px">{{e.nbJoursBlacklistExPrecedentMA}}</td>
                        <td md-cell style ="padding:0 100px">{{e.nbJoursBlacklistTotalFA}}</td>
                        <td md-cell style ="padding:0 100px">{{e.nbJoursBlacklistTotalMA}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <md-table-pagination md-label="{{blacklistTableOptions.labels}}"
                                 md-page="blacklistTableOptions.page" md-limit="blacklistTableOptions.limit"
                                 md-total="{{blacklist.totalNumber}}"
                                 md-limit-options="blacklistTableOptions.limitOptions"
                                 md-on-paginate="search ? onPaginateSearch : onPaginate"
                                 md-page-select></md-table-pagination>
        </md-table-container>
            <md-button export-to-csv>Télécharger</md-button>
    </md-content>
</md-content>