<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<div ng-cloak layout="column" layout-align="start center" flex="100" style="height: 100%;">

    <md-content layout="column" layout-wrap layout-align="center center" flex="100" style="width: 90%">

        <md-content layout="column" flex="100" style="width: 100%; margin-bottom: 155px;">
            <md-list flex>
                <md-subheader class="md-no-sticky" ng-hide="comments.length > 0">Aucun commentaire trouvé.
                </md-subheader>
                <md-subheader class="md-no-sticky" ng-hide="comments.length == 0">{{comments.length}} commentaires
                    trouvé(s)
                </md-subheader>
                <md-list-item class="md-3-line" ng-repeat="item in comments">
                    <div class="md-list-item-text" layout="column" flex="100" id="anchor_bottom{{item.id}}">
                        <h4>Créé par {{ item.auteur }}</h4>
                        <h4>le {{ item.dateCreation }}</h4>
                        <h4 ng-if="item.modificateur">Modifié par {{ item.modificateur }}</h4>
                        <h4 ng-if="item.modificateur">le {{ item.dateModification }}</h4>
                        <p>{{ item.message }}</p>
                        <div layout="row" layout-align="end center" ng-if="!locked">
                            <md-button class="md-fontsizeoverride" ng-click="modifyComment($event, item)">modifier</md-button>
                            <md-button class="md-fontsizeoverride" ng-click="deleteComment(item.id)">supprimer</md-button>
                        </div>
                    </div>
                </md-list-item>
            </md-list>
        </md-content>

        <md-content layout="column" class="comment-footer" ng-if="!locked">
            <md-input-container flex-gt-sm="100" flex-sm="100" flex-xs="100" my-enter="addComment()">
                <label>Ajouter un commentaire</label>
                <input ng-model="comment.message">
            </md-input-container>

            <md-button ng-click="addComment()"
                       md-colors="::{background: 'registre-primary-400', color: 'registre-background-50'}"
                       layout="row" layout-align="center center" class="md-raised md-primary">
                Enregistrer
            </md-button>
        </md-content>

    </md-content>
</div>