<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<md-dialog aria-label="Modification d'un commentaire" flex="50">
    <md-dialog-content flex="100" layout="column">
        <span class="md-title" md-colors="::{color: 'registre-primary-100'}">Modification d'un commentaire</span>
            <md-input-container flex>
                <label>Commentaire</label>
            <textarea ng-model="ctrl.parent.update.message" md-resize-textarea></textarea>
                <br/>
                <div layout="row" layout-align="center center">
                    <md-button flex="50" ng-click="ctrl.parent.closeModal($event)" md-colors="::{background: 'registre-primary-400', color: 'registre-background-50'}" type="submit" layout="row"
                               layout-align="center center" class="md-raised md-primary">Annuler
                    </md-button>
                    <md-button flex="50" ng-click="ctrl.parent.updateComment($event, ctrl.parent.update)" md-colors="::{background: 'registre-primary-400', color: 'registre-background-50'}" type="submit" layout="row"
                               layout-align="center center" class="md-raised md-primary">Modifier
                    </md-button>
                </div>
            </md-input-container>
    </md-dialog-content>
</md-dialog>