#header {
	position: running(header);
	text-align: center;
}

.logo {

	width: 170px;
}

#footer {
	position: running(footer);

}
#footer .page_number{
		float: right;
}

@page {

    @top-right {
        content: element(header);
    }
    
    @bottom-right {
        content: element(footer);
    }

    margin-top: 3.3cm;

}

#pagenumber:before {
	content: counter(page);
}

#pagecount:before {
	content: counter(pages);
}

.right {
	text-align: right;
}

.left {
	text-align: left;
}

.activite {
	
}

.action {
	
}

.odd {
	padding: 10px 10px 10px 10px;
	background-color: #e6e6e6;
}

.even {
	padding: 10px 10px 10px 10px;
}

.category {
	padding: 2px 2px 2px 2px;
	text-decoration: underline;
}

.right {
	text-align: right;
}

.left {
	text-align: left;
}

table {
	width: 100%;
}

hr {
	background-color: #000000;
	border: dashed #000000 0.5px;
	height: 1px;
}

li {
	text-align: justify;
	margin-top: 1em;
}
/* ex attestationpdf.html */
.referenceFooter{
	text-align: justify;
	font-size: 10px;
	border-top: solid black;
	margin-top: 50%;	
}


