<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->
 <style>
    .center {
        text-align: center;
    }
</style>
<md-dialog aria-label="Détails d'une fiche d'activite" flex="75">
    <md-dialog-content layout="column">
        <md-content class="md-dialog-header" md-colors="::{background: 'registre-background-50'}" layout="row"
                    layout-align="space-between start" style="height: 100px; padding: 0; overflow-y: hidden;">
            <span class="md-title"
                  md-colors="::{color: 'registre-primary-100'}">Période d'activité</span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-icon="{{images_dir}}/icons/cross.svg" aria-label="Close dialog"></md-icon>
                <md-tooltip md-direction="bottom">Fermer</md-tooltip>
            </md-button>
        </md-content>
        <md-table-container>
            <table md-table>
                <thead md-head class="md-table-head"
                       md-colors="::{color: 'registre-background-50',background: 'registre-primary-400'}">
                <tr md-row>
                    <th md-column>
                        <md-input-container>
                            <input placeholder="Date d'activation" md-colors="::{color: 'registre-background-50'}"
                                   type="text">
                        </md-input-container>
                        <md-tooltip class="custom-tooltip">Date d'activation</md-tooltip>
                    </th>
                    <th md-column >
                        <md-input-container>
                            <input placeholder="Publication activation" md-colors="::{color: 'registre-background-50'}"
                                   type="text">
                        </md-input-container>
                        <md-tooltip class="custom-tooltip">Publication activation</md-tooltip>
                    </th>
                    <th md-column >
                        <md-input-container>
                            <input placeholder="Date de<br />désactivation" md-colors="::{color: 'registre-background-50'}"
                                   type="text">
                        </md-input-container>
                        <md-tooltip class="custom-tooltip">Date de désactivation</md-tooltip>
                    </th>
                    <th md-column >
                        <md-input-container>
                            <input placeholder="Publication désactivation" md-colors="::{color: 'registre-background-50'}"
                                   type="text">
                        </md-input-container>
                        <md-tooltip class="custom-tooltip">Publication désactivation</md-tooltip>
                    </th>
                    <th md-column >
                        <md-input-container>
                            <input placeholder="Date de<br />fin contrat" md-colors="::{color: 'registre-background-50'}"
                                   type="text">
                        </md-input-container>
                        <md-tooltip class="custom-tooltip">Date de fin contrat</md-tooltip>
                    </th>
                    <th md-column >
                        <md-input-container>
                            <input placeholder="Commentaire" md-colors="::{color: 'registre-background-50'}"
                                   type="text">
                        </md-input-container>
                        <md-tooltip class="custom-tooltip">Commentaire</md-tooltip>
                    </th>
                    <th md-column >
                        <md-input-container>
                            <input placeholder="Statut" md-colors="::{color: 'registre-background-50'}"
                                   type="text">
                        </md-input-container>
                        <md-tooltip class="custom-tooltip">Statut</md-tooltip>
                    </th>                   
                                       
                </tr>
                </thead>
                <tbody md-body>
                <tr md-row ng-repeat="c in periodeActiviteClientList" class="back-office">
                    <td md-cell>{{c.dateAjout ? (c.dateAjout | date: 'dd/MM/yyyy') : "-"}}</td>
                    <td md-cell>{{c.datePublicationActivation ? (c.datePublicationActivation | date: 'dd/MM/yyyy') : "-"}}</td>  
                    <td md-cell>{{c.dateDesactivation ? (c.dateDesactivation | date: 'dd/MM/yyyy') : "-"}}</td>
                    <td md-cell>{{c.datePublicationDesactivation ? (c.datePublicationDesactivation | date: 'dd/MM/yyyy') : "-"}}</td>  
                    <td md-cell>{{c.dateFinContrat ? (c.dateFinContrat | date: 'dd/MM/yyyy') : "-"}}</td>
                    <td md-cell>{{c.commentaire ? c.commentaire : "-"}}</td>
                    <td md-cell ng-if="c.statut.label=='Non publiée' || c.statut.label=='Mise à jour non publiée' " style="color:red;">{{c.statut.label}}</td>
                    <td md-cell ng-if="c.statut.label!='Non publiée' && c.statut.label!='Mise à jour non publiée' " style="color:green;">{{c.statut.label}}</td>            
                </tr>
                </tbody>
            </table>
        </md-table-container>
    </md-dialog-content>
</md-dialog>