<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<md-content  layout-gt-sm="row" flex>
    <md-input-container flex>
        <label>Période concernée</label>
        <md-select ng-model="rapport.exercice">
            <md-option>
                01-07-2017 au 31-12-2017
            </md-option>
            <md-option>
                01-01-2018 au 31-12-2018
            </md-option>
            <md-option>
                01-01-2019 au 31-12-2019
            </md-option>
            <md-option>
                01-01-2020 au 31-12-2020
            </md-option>
            <md-option>
                01-01-2021 au 31-12-2021
            </md-option>
        </md-select>
    </md-input-container>
    <p class="pad-h-10p" flex>Sélectionnez l’exercice auquel se réfèrent les éléments déclarés dans ce formulaire</p>
</md-content>
<br><br>
<md-card-title>
    <md-card-title-text>
            <span md-colors="::{color: 'registre-primary-500'}"
                  class="md-title md-title-small">Moyens alloués pour la période </span>
    </md-card-title-text>
</md-card-title>
<form name="moyensForm" ng-submit="submitMoyens()" novalidate>

    <div layout-gt-xs="row" flex>
        <md-input-container flex>
            <label>Chiffre d'affaires</label>
            <md-select ng-model="rapport.exercice.chiffreAffaire">
                <md-option>
                    < 100 000 euros
                </md-option>
                <md-option>
                    > = 100 000 euros et < 500 000 euros
                </md-option>
                <md-option>
                    > = 500 000 euros et < 1 000 000 euros
                </md-option>
                <md-option>
                    > = 1 000 000 euros
                </md-option>
            </md-select>
            <br/>
            <md-checkbox ng-model="rapport.exercice.hasNotChiffreAffaire" ng-disabled="true">
                Organisation sans chiffre d'affaires.
            </md-checkbox>
        </md-input-container>
        <p class="pad-h-10p" flex>Sélectionnez la tranche correspondant au chiffre d’affaires réalisé en France
            pour l’exercice sélectionné</p>
    </div>
    <div layout-gt-xs="row" flex>
        <md-input-container flex>
            <label>Montant des dépenses</label>
            <md-select ng-model="rapport.exercice.montantDepense">
                <md-option>
                    < 10 000 euros
                </md-option>
                <md-option>
                    > = 10 000 euros et < 25 000 euros
                </md-option>
                <md-option>
                    > = 25 000 euros et < 50 000 euros
                </md-option>
                <md-option>
                    > = 50 000 euros et < 75 000 euros
                </md-option>
                <md-option>
                    > = 75 000 euros et < 100 000 euros
                </md-option>
            </md-select>
        </md-input-container>
        <p class="pad-h-10p" flex>Sélectionnez la tranche correspondant au montant des dépenses liées aux
            actions de représentation d’intérêts réalisées pendant
            l’exercice sélectionné</p>
    </div>
    <div layout-gt-xs="row" flex>
        <md-input-container flex>
            <label>Nombre de personnes physiques chargées des activités de représentation d'intérêts</label>
            <input ng-model="rapport.exercice.nombreSalaries"
                   ng-disabled="true"
                   ng-required="true">
        </md-input-container>
        <p class="pad-h-10p" flex>Précisez le nombre maximum de personnes physiques chargées des activités de représentation d'intérêts atteint durant l’exercice sélectionné</p>
    </div>
</form>