<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<fieldset  style="border: 0">
    <md-content layout="column" layout-margin layout-padding>
        <fieldset class="pad-h-5 pad-v-5 paragraph">
            La loi prévoit que tout représentant d'intérêts communique à la Haute Autorité les organisations professionnelles ou syndicales ou les associations en lien avec les intérêts représentés auxquelles il appartient.
            <br/><br/>
            Vous devez mentionner dans cette rubrique tous les organismes auxquels vous êtes directement affilié, quelles que soient les modalités de cette affiliation (membre, adhérent, donateur, bienfaiteur, etc.), en lien avec votre activité principale ou les intérêts que vous défendez. Sont concernés uniquement les organismes implantés en France ou, s’ils sont implantés à l’étranger, inscrits sur le répertoire.  Pour en savoir plus, vous pouvez consulter <a class="link" ng-href="{{lien_lignes_directrices}}" target="_blank">les lignes directrices de la Haute Autorité</a>.
            <br/><br/>
            Lorsque votre organisation rejoint une nouvelle entité, ou lorsqu'elle quitte une entité, elle doit en faire la déclaration à la Haute Autorité dans le mois qui suit ce changement.
        </fieldset>
    </md-content>
    <md-content layout="column" style="padding-bottom: 0;">
        <br/>
        <div class="copy-md-checkbox" style="margin: auto;" ng-if="isContributor() && canUpdateAndPublish()">
            <label layout="center" layout-align="center center">
                <input type="checkbox" id="check" ng-model="corporate.nonDeclarationOrgaAppartenance" ng-click="toggleAttestationClient($event, corporate.nonDeclarationOrgaAppartenance)">
                <span class="checkbox"></span>
                Mon organisation n'appartient à aucune organisation professionnelle ou syndicale ou association en lien avec
                les intérêts qu'elle représente.
            </label>
        </div>
        <br/>
        <p ng-if="!corporate.nonDeclarationOrgaAppartenance">Votre organisation déclare appartenir à au moins une
            organisation professionnelle ou syndicale ou association en lien avec les intérêts qu'elle représente.
            Si votre organisation n'appartient à aucune organisation professionnelle ou syndicale ou association en lien
            avec
            les intérêts qu'elle représente, vous pouvez modifier son statut en cochant la case ci-dessus.</p>
        <p ng-if="!corporate.nonDeclarationOrgaAppartenance">Merci de déclarer vos organisations et associations d'appartenance à l'aide du champ ci-dessous. Lorsque vous aurez choisi une organisation, merci de cliquer sur le bouton " + " afin de l'ajouter à votre liste.</p>

        <p style="padding-bottom: 0;" ng-if="corporate.nonDeclarationOrgaAppartenance">
            Votre organisation déclare n'appartenir à aucune organisation professionnelle ou syndicale ou association en
            lien avec les intérêts qu'elle représente. Si votre organisation appartient à au moins une organisation
            professionnelle ou syndicale ou association en lien avec
            les intérêts qu'elle représente, vous pouvez modifier son statut en décochant la case ci-dessus.</p>
    </md-content>

    <md-content ng-if="!corporate.nonDeclarationOrgaAppartenance">
        <md-content ng-if="isContributor() && canUpdateAndPublish()" layout="row" layout-align="center"
                    layout-gt-sm="row" class="pad-v-30">
            <ng-include src="searchTemplate" layout="column" flex="50"></ng-include>

            <md-button class="md-fab md-mini md-primary" aria-label="Ajouter"
                       ng-click="showConfirmAddOrganization($event)"
                       ng-disabled="!validOrganization" title="Ajouter une affiliation" style="margin-top: -2px">
                <md-icon md-svg-src="{{images_dir}}/icons/ic_add_black_24px.svg">
                </md-icon>
            </md-button>
        </md-content>
        <md-content layout="row" layout-align="center" class="no-margin" ng-if="isContributor() && canUpdateAndPublish()">
            <md-button ui-sref="identite.associationBatchImport" class="link" >Je souhaite déclarer une liste d'organisations
            </md-button>
        </md-content>
        <md-content layout="row" layout-align="center" class="no-margin" ng-if="isContributor() && canUpdateAndPublish()">
            <md-button ng-click="contact($event)" class="link" >Je ne trouve pas mon organisation ou association
                d'appartenance
            </md-button>
        </md-content>
        <md-subheader class="md-no-sticky" ng-hide="asso.length > 0">Aucune organisation ou association déclarée.
        </md-subheader>
        <md-table-container ng-show="asso.length > 0">
            <table md-table md-progress="assoTableOptions.promise">
                <thead md-head md-order="assoTableOptions.order" class="md-table-head"
                       md-colors="::{color: 'registre-background-50',background: 'registre-primary-400'}">
                <tr md-row>
                    <th md-column md-order-by="denomination">
                        <md-input-container>
                            <input placeholder="Raison sociale" md-colors="::{color: 'registre-background-50'}"
                                   type="text"
                                   ng-model="assoTableOptions.filter.denomination"
                                   onclick="event.stopPropagation()">
                        </md-input-container>
                    </th>
                    <th md-column md-order-by="nationalId">
                        <md-input-container>
                            <input placeholder="Identifiant" md-colors="::{color: 'registre-background-50'}"
                                   type="text"
                                   ng-model="assoTableOptions.filter.nationalId" onclick="event.stopPropagation()">
                        </md-input-container>
                    </th>
                    <th md-column md-colors="::{color: 'registre-background-50'}" class="center">Action</th>
                </tr>
                </thead>
                <tbody md-body>
                <tr md-row
                    ng-repeat="c in asso |
                orderBy: assoTableOptions.order |
                filter: assoTableOptions.filter">
                    <td md-cell>{{c.denomination}}</td>
                    <td md-cell>{{c.nationalId}}</td>
                    <td md-cell class="center">
                        <md-button ng-click="deleteOrganizationConfirmation($event, c)" class="md-icon-button"
                                   ng-disabled="!(isContributor() && canUpdateAndPublish())" title="Retirer l'affiliation">
                            <md-icon md-svg-src="{{images_dir}}/icons/ic_delete_black_24px.svg"
                                     style="color: darkred">
                            </md-icon>
                        </md-button>
                    </td>
                </tr>
                </tbody>
            </table>
            <md-table-pagination md-label="{{assoTableOptions.labels}}"
                                 md-page="assoTableOptions.page" md-limit="assoTableOptions.limit"
                                 md-total="{{asso.totalNumber}}"
                                 md-limit-options="assoTableOptions.limitOptions"
                                 md-on-paginate ="onPaginate"
                                 md-page-select></md-table-pagination>
        </md-table-container>
    </md-content>
</fieldset>