<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<md-content layout="column" flex layout-margin layout-padding>
    <md-content ng-if="data.invalidList" layout="column" flex>
        <label md-colors="::{color: 'registre-accent-A700'}"><i class="material-icons">warning</i> ATTENTION ! Les
            organisations suivantes n’ont pas pu être identifiées par AGORA et ne pourront être ajoutées à votre liste
            d’organisations et associations d’appartenance. Merci de vérifier les informations
            que vous avez saisies. En particulier, AGORA ne reconnait que les numéros SIREN (9 chiffres), SIRET (14
            chiffres) ou RNA (W suivi de 9 chiffres). </label>
        <md-content layout="row" flex="100">
            <md-list layout="column" flex>

                <md-list-item style="min-height:31px;height:31px;" class="md-2-line"
                              ng-repeat="(providedId,errorMessage) in data.clientBatchReport.errorMessages">
                    <div class="md-list-item-text" layout="row" layout-align="center center">
                        <span flex="10">{{ providedId }}:</span>
                        <span flex="3"></span>
                        <span flex="60">{{ errorMessage }}</span>
                    </div>
                </md-list-item>
            </md-list>
        </md-content>
    </md-content>

    <md-content layout="column" flex>
        <label><i class="material-icons">info</i>Nous avons identifié les organisations suivantes qui seront ajoutées à
            votre liste après confirmation de votre part ({{data.validEntitiesLength}}) éléments</label>
        <md-content layout="row" flex="100">
            <md-list layout="column" flex>
                <md-list-item style="min-height:31px;height:31px;" class="md-2-line"
                              ng-repeat="validEntity in data.clientBatchReport.validEntities">
                    <div class="md-list-item-text" layout="row" layout-align="center center">
                        <span flex="40">{{ validEntity.denomination }}</span>
                        <span flex="10">{{ validEntity.originNationalId }}</span>
                        <span flex="10">{{ validEntity.nationalId }}</span>
                    </div>
                </md-list-item>
            </md-list>
        </md-content>
    </md-content>

    <md-content layout="row" layout-align="center center">
        <md-button layout="row" layout-align="center center" layout-wrap
                   ui-sref="identite.associationBatchImport({clear:false})" ng-if="isContributor()"
                   ng-disabled="dataForm.$invalid"
                   class="md-primary md-button md-raised md-button-step"
                   md-colors="::{background: 'registre-primary-400', color: 'registre-background-50'}">
            <i class="material-icons">reply</i> Revenir à l'ecran précédent
        </md-button>
        <md-button ng-click="showConfirmAddOrganizations()" ng-if="isContributor()"
                   class="md-primary md-raised"
                   md-colors="::{background: 'registre-primary-400', color: 'registre-background-50'}">Confirmer l’ajout
            des organisations identifiées
        </md-button>
    </md-content>
</md-content>




