<!-- Copyright (c) 2019-2020 HATVP <https://hatvp.fr>
 * SPDX-License-Identifier: MIT -->

<md-content layout="column" layout-padding>
    <div layout="row" class="pad-h-30 pad-v-45">
        <h1 md-colors="::{color : 'registre-primary-400'}" class="md-title md-title-big" flex="40">
            Espace Collaboratif inaccessible
        </h1>
    </div>

    <md-content layout="column" layout-align="center center">
        <div layout="row" layout-align="center">
            <md-icon md-svg-icon="{{images_dir}}/problem.svg" class="md-24"></md-icon>
            <span ng-if="espaceInactif" class="pad-h-30">
                L'espace collaboratif de {{denomination}} a été désactivé par la Haute Autorité.
            </span>
            <span ng-if="inscriptionInvalide" class="pad-h-30">
                Le contact opérationnel de {{denomination}} n'a pas validé votre inscription.
            </span>
            <span ng-if="inscriptionVerrouille" class="pad-h-30">
                L'espace collaboratif de {{denomination}} a été verrouillé par votre contact opérationnel.
            </span>
            <span ng-if="rolesInsuffisants" class="pad-h-30">
                Vous n'avez pas les droits nécessaires pour accéder à l'espace collaboratif de {{denomination}}.
            </span>
        </div>

        <div ng-if="espaceInactif" layout="row" layout-align="center" layout-margin>
            <a ng-href="mailto:{{email_contact_repertoire}}">Contactez-nous</a>
        </div>
    </md-content>
</md-content>
