
// -------------------------------
// Footer
// -------------------------------

.footer {
  padding: 20px 50px;
}

.footer a {
    font-size: 13px;
    font-family: $base-font-book;
    display: block;
    line-height: 1;
    text-decoration: none;
    margin: 0 65px;
    position: relative;

    // Line decoration under links
    &:before {
        content: '';
        background: white;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -5px;
        height: 1px;
        margin: 0 50%;
        transition: margin 350ms ease;
    }

    // On hover, focus display the line
    // with a transition
    @include on-event() {

        &:before {
            margin: 0;
        }
    }

    // Remove the left margin for the
    // first element
    &:first-child {
        margin-left: 0;
    }
}