
// -------------------------------
// Header
// -------------------------------

.header {
    padding: 12px 20px;
    border-radius: 2px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 3;
}

.header-logo {
    text-decoration: none;  }
    .header-logo img{
      width:50px;
    }

.header-title {
  max-width: 210px;
    margin: 0 0 0 10px;
    font-size: 16px;
    font-weight: bolder;
    letter-spacing: 0.7px;
}

.header-name {
    font-size: 16px;
    color: $night-blue;
    text-transform: none;
    margin-left: 10px;
}

// Navigation
.header-nav {

  .md-button {
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    -ms-transition: all 200ms;
    -o-transition: all 200ms;
    transition: all 200ms;

    padding: 10px 15px;
    margin: 0;
    min-width: inherit;

    md-icon {
        min-width: 0;
        min-height: 0;
        width: 19px;
        height: 20px;
    }

    .md-list-item-text md-icon {
        width: 10px;
        height: 10px;
        vertical-align: baseline;
        margin-right: 6px;
    }

    .md-button-label {
        font-size: 13px;
        line-height: 1;
        font-family: $base-font-book;
        text-transform: none;
        padding-top: 8px;
    }
  }

  .md-button.active {

    .md-button-label {
      font-weight: bold;
      color: $sky-blue;
    }

    md-icon {
      color: $sky-blue;
      fill: $sky-blue;
    }
  }

    md-divider {
        height: 40px;
        margin: 0 15px;
    }

    .header-report-button {
        height: 50px;
        padding-left: 34px;
        padding-right: 34px;
        margin-left: 15px;
        align-items: center;

        md-icon {
            width: 13px;
            height: 13px;
            margin: -2px 18px 0 0;
        }

        span {
            font-family: $base-font-book;
            font-size: 20px;
            line-height: 1;
            text-transform: none;
        }
    }
}

.pieces-complementaires-button {
    height: 50px;
    padding-left: 34px;
    padding-right: 34px;
    margin-left: 15px;
    align-items: center;

    md-icon {
        min-height: 0px;
        min-width: 0px;
        width: 13px;
        height: 13px;
        margin: -2px 18px 0 0;
    }

    span {
        font-family: $base-font-book;
        font-size: 20px;
        line-height: 1;
        text-transform: none;
    }
}

.alert-news {
    background-color: #1B2B4B;
    padding: 10px;
    position:relative;

    top: 0;
    left: 0;
    z-index: 10000;
    overflow: hidden;
    display: none;
    }
    
.alert-news md-icon{
color:white;
}
    .alert-news .close {
    font-size: 0;
    letter-spacing: -1000em;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100000;
}
.alert-news .text {
    float: left;
    color: white;
    }